body
{
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
    /* background-color: #FAFAFA; */
}
@media (max-width: 992px) {
    body {
        padding-top: 66px;
    }
}
@media (min-width: 992px) {
    /* body {
        padding-bottom: 37px;
    } */
}
::selection, ::-moz-selection {
	background-color: #b9e3fe;
	color: #395286;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100px white inset !important;
    box-shadow: 0 0 0px 100px white inset !important;
}
* {
    outline: none !important;
}
.floating-label {
    pointer-events: none;
}
.transition {
	-webkit-transition: .3s all;
	   -moz-transition: .3s all;
		-ms-transition: .3s all;
		 -o-transition: .3s all;
			transition: .3s all;
}
h1, h2, h3, h4, h5, h6 {
    color: #002855;
}
p, li {
    font-weight: 500;
}

/*-- Margins --*/
.mt-0 {
    margin-top: 0;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mr-0 {
    margin-right: 0;
}
.mr-10 {
    margin-top: 10px;
}
.mr-20 {
    margin-top: 20px;
}
.mr-30 {
    margin-top: 30px;
}
.mr-40 {
    margin-top: 40px;
}
.mr-50 {
    margin-top: 50px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.ml-0 {
    margin-left: 0;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-30 {
    margin-left: 30px;
}
.ml-40 {
    margin-left: 40px;
}
.ml-50 {
    margin-left: 50px;
}
/*-- Paddings --*/
.pt-0 {
    padding-top: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-50 {
    padding-top: 50px;
}
.pr-0 {
    padding-right: 0;
}
.pr-10 {
    padding-top: 10px;
}
.pr-20 {
    padding-top: 20px;
}
.pr-30 {
    padding-top: 30px;
}
.pr-40 {
    padding-top: 40px;
}
.pr-50 {
    padding-top: 50px;
}
.pb-0 {
    padding-bottom: 0;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pl-0 {
    padding-left: 0;
}
.pl-10 {
    padding-left: 10px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-40 {
    padding-left: 40px;
}
.pl-50 {
    padding-left: 50px;
}
/*-- //Margins --*/

strike {
    color: red;
}
strike span {
    color: #757575;
}

p {
    line-height: 1.8em;
}

/*.nav, .pagination, .carousel, .panel-title a,*/ a[role="tab"] {
    cursor: pointer;
}

/* Navbar */
.nav-skew {
    background-color: #fff;
    height: 50px;
    min-width: 100%;
    width: 275%;
    left: -230px;
    top: 0;
    position: absolute;
    transform: skew(-30deg);
    z-index: -1;
}
.navbar-fixed-top {
    border: 0;
}
.navbar-custom {
    background-color: #002855;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.4);
}
.navbar-brand {
    padding: 7px 5px 5px 5px;
    display: inline-block;
    position: relative;
}
.navbar-brand>img {
    max-height: 100%;
}
.navbar a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav.navbar-nav > li > a {
    color: #fff;
}
.nav.navbar-nav li a.active {
    background-color: #0077ff;
    color: #fff;
}
.nav.navbar-nav>li>a {
    border-radius: 20px;
}
.nav.navbar-nav>li>a:focus, .nav.navbar-nav>li>a:hover {
    background-color: #0077ff;
}
.nav.navbar-nav .open>a, .nav.navbar-nav .open>a:focus, .nav.navbar-nav .open>a:hover {
    background-color: #0077ff;
}
.dropdown-menu {
    padding: 0;
    min-width: 240px;
    border: 0;
    border-radius: 0;
}
.dropdown-menu>li>a {
    color: #002855;
    padding: 6px 20px;
    font-weight: 600;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #0077ff;
    color: #fff;
    text-decoration: none;
}
.dropdown-menu .dropdown .fa.fa-angle-right {
    position: absolute;
    right: 15px;
}
.dropdown-menu > li.open > a {
    color: #fff;
}
.dropdown-menu .dropdown-menu {
    top: 0;
}
.nav.navbar-nav > .dropdown > .dropdown-menu > .dropdown {
    position: static;
}
.dropdown-menu .dropdown-menu {
    height: 100%;
}
.btn-free-demo {
    background-color: #0cb0a0;
    color: #fff !important;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-radius: 40px;
    animation-duration: 3s;
    text-transform: uppercase;
    font-size: 12px;
}
.btn-free-demo:hover, .btn-free-demo:active, .btn-free-demo:focus {
    background-color: #fff !important;
    color: #0cb0a0 !important;
}
.navbar-toggle .icon-bar {
    background-color: #0077ff;
}
.navbar-toggle .icon-bar {
	transition: all 0.2s;
}
.navbar-toggle .icon-bar-top {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggle .icon-bar-middle {
	opacity: 0;
}
.navbar-toggle .icon-bar-bottom {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .icon-bar-top {
	transform: rotate(0);
}
.navbar-toggle.collapsed .icon-bar-middle {
	opacity: 1;
}
.navbar-toggle.collapsed .icon-bar-bottom {
	transform: rotate(0);
}
@media (min-width: 768px) {
    .container>.navbar-header {
        margin-right: 50px;
    }
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    .navbar-header {
        background-color: #fff;
    }
    .navbar-collapse {
        background-color: #002855;
    }
}
@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }
}

/* Footer Styles Start */
footer {
    background-color: #002855; /* Fallback Color */
    background: #002855 url(../images/bg-images/footer-bg.png) center;
}
footer hr {
    border-top: 0;
}
.footer-main .contactus div i {
    font-size: 38px;
}
.footer-main .contactus div h2 a {
	text-decoration: none;
    color: #ccc;
    font-weight: 300;
}
.footer-main .contactus div h2 a:hover, .footer-main .contactus div h2 a:focus, .footer-main .contactus div h2 a:active, .contactus div i {
	color: #fff;
}
.footer-main .contactus {
    margin-top: 20px;
}
.footer-main .contactus .contact-text h2 {
    font-weight: 300;
}
.footer-menu {
	list-style-type: none;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .footer-menu {
        margin-top: 0;
        margin-bottom: 0;
        display: table;
    }
    .footer-menu li a {
        margin-top: 0;
        margin-bottom: 0;
        display: table;
    }
}
.footer-about {
    text-align: justify;
}
.footer-menu-title {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 300;
}
.footer-menu li a {
	color: #ccc;
    margin: 10px 15px;
    padding: 0;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
}
.footer-menu li a:hover, .footer-menu li a:focus, .footer-menu li a:active, .copyright h5 a:hover, .copyright h5 a:focus, .copyright h5 a:active {
    background-color: transparent;
    color: #fff;
}
.we-hire {
	position: absolute;
	left: 130px;
}
/* Social Icons */
.copyright {
    padding-left: 15px;
}
.copyright h5 {
    color: #ccc;
    font-size: 14px;
}
.copyright h5 a {
    color: #ccc;
	text-decoration: none;
}
.social-list {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
}
.social-list li {
    float: left;
    margin: 0 10px;
}
.social-list .fa {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}
@media (max-width: 768px) {
    .social-list {
        float: left;
    }
    
}
@media (min-width: 768px) {
    .social-list {
        float: right;
    }
}
.social-list .fa {
    color: #ccc;
}
.social-list .fa:hover {
    color: #fff;
}
/* Footer Styles End */

/* Bottom To Top Button Start */
.bottom-to-top
{
	background: #8bc34a none repeat scroll 0 0;
    left: 20px;
    bottom: 20px;
    transform: scale(0,0);
	font-size: 28px;
	padding: 0px 12px 2px 12px;
	border-radius: 50%;
    border-style: none;
    outline: none;
	position: fixed;
    z-index: 999;
    /* box-shadow: 0 6px 6px -5px #777777; */
}
@media (min-width: 992px) {
    .bottom-to-top {
        left: 10px;
        bottom: 50px;
    }
}
.bottom-to-top i
{
	color: #ffffff;
}
.bottom-to-top:before
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #689F38;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
		-ms-transform: scale(0);
		 -o-transform: scale(0);
			transform: scale(0);
	-webkit-transition-property: transform;
	   -moz-transition-property: transform;
		-ms-transition-property: transform;
		 -o-transition-property: transform;
			transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	border-radius: 50%;
}
.bottom-to-top:hover:before, .bottom-to-top:hover:focus, .bottom-to-top:hover:active
{
	transform: scale(1);
}
/* Bottom To Top Button End */

/* Home Page Content Start */
.bg-color {
    background-color: #f2f2f2;
}

/* Carousel */
.carousel-control .fa.fa-angle-left, .carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .fa.fa-angle-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
}
.carousel-control .fa.fa-angle-left, .carousel-control .fa.fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
@media screen and (min-width: 768px) {
    .carousel-control .fa.fa-angle-left, .carousel-control .fa.fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }
    .carousel-control .fa.fa-angle-left, .carousel-control .icon-prev {
        margin-left: -10px;
    }
    .carousel-control .fa.fa-angle-right, .carousel-control .icon-next {
        margin-right: -10px;
    }
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.carousel-caption {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
}
.carousel-caption h1, .carousel-caption h4, .carousel-caption p {
    color: #fff;
}
@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 12%;
        left: 12%;
    }
}

.para-desc {
    font-size: 1.0em;
    color:dimgray;
}

/*-- Overview Section - Home --*/
.training-overview {
    background-color: #fff;
}
.tree-container {
    width: 66.6%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 120px;
    top: 65px;
}
.overview-tree-1 {
    height: 60px;
    border-top: 1px dashed silver;
    border-right: 1px dashed silver;
    border-left: 1px dashed silver;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.overview-tree-2 {
    height: 120px;
    width: 1px;
    margin-left: 50%;
    margin-right: 50%;
    border-left: 1px dashed silver;
    position: absolute;
    top: -60px;
}
.overview-grid {
    padding: 20px 30px;
}
.overview-title {
    color: #8bc34a;
}
/*-- //Overview Section - Home --*/

/* Home Courses */
.owl-carousel .item > a {
    color: transparent;
    display: inline-block;
    text-decoration: none;
}
.course-category .course-title, .course-category .course-readmore {
    padding-left: 21px;
}
.course-category div .course-thumbnail {
    background-color: #fff;
    width: 216px;
    height: 265px;
    border: none;
    box-shadow: 0 0 8px 0px #ddd;
}

.course-category div .thumbnail img {
    width: 100% !important;
    height: auto;
}
.course-caption {
    padding:10px;
}
.course-caption h4 {
    color: #444;
    font-weight: 600;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.course-caption p {
    color: dimgrey;
}
.price-slider {
    color: #111 !important;
    float: right;
    font-size: 18px;
    font-weight: 600;
}

/* OwlCarousel CSS */
@media (min-width: 1441px) {
    #latestTechnologies.owl-carousel {
        width: 1371px !important;
    }
}
@media (max-width: 1440px) {
    #latestTechnologies.owl-carousel {
        width: 1140px !important;
    }
}
@media (max-width: 1200px) {
    #latestTechnologies.owl-carousel {
        width: 909px !important;
    }
}
@media (max-width: 992px) {
    #latestTechnologies.owl-carousel {
        width: 678px !important;
    }
}
@media (max-width: 768px) {
    #latestTechnologies.owl-carousel {
        width: 442px !important;
    }
}
@media (max-width: 500px) {
    #latestTechnologies.owl-carousel {
        width: 216px !important;
    }
}
#latestTechnologies.owl-carousel {
    margin-bottom: 15px;
}
#latestTechnologies .owl-stage {
    padding-top: 1px;
    height: 275px;
}
#latestTechnologies.owl-carousel .item .course-thumbnail:hover {
    box-shadow: 0px 0px 10px 2px #ddd;
}

.owl-nav {
    position: absolute;
    width: 100%;
    height: 46px;
    top: 47%;
    transform: translateY(-45%);
    z-index: -1;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    background-color: #fff !important;
    border-radius: 50% !important;
    box-shadow: 0.4px 1px 4px #999;
    padding: 7px 0;
    text-align: center;
    transition: .3s all;
    width: 44px;
    height: 44px;
}
.owl-prev .fa.fa-angle-left {
    position: relative;
    left: -1px;
}
.owl-next .fa.fa-angle-right {
    position: relative;
    right: -1px;
}
.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
    box-shadow: 0.6px 1px 8px #999;
    border-radius: 5% !important;
}
.owl-nav .owl-prev:hover .fa, .owl-nav .owl-next:hover .fa {
    color: #8bc34a;
    transition: .3s all;
}
.owl-nav .owl-prev .fa, .owl-nav .owl-next .fa {
    color: #333;
    font-size: 29px;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
}
.owl-nav .owl-prev {
    left: -55px;
    position: absolute;
    padding-right: 3px;
    float: left;
}
.owl-nav .owl-next {
    right: -55px;
    padding-left: 3px;
    position: absolute;
}
.owl-nav .owl-prev.disabled, .owl-nav .owl-next.disabled {
    display: none;
    /* background-color: #eee !important; */
    /* box-shadow: 0.4px 1px 1px #999; */
}
.owl-nav .owl-prev.disabled .fa, .owl-nav .owl-next.disabled .fa {
    color: grey !important;
}
.demos {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 0 8px 0px #ddd;
}
.demos:hover {
    box-shadow: 0.6px 1px 8px #999;
}
.demos a {
    padding: 20px 15px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}
.demos a h4 {
    margin: 0;
}
.demos .fa {
    color: #0077ff;
    margin-right: 30px;
    font-size: 40px;
    vertical-align: middle;
}
.suggestion {
    background-color: #f5f8fa;
}
.contact-link-text {
    padding: 50px 0;
}
.contact-link-text h1 {
    margin-bottom: 20px;
    margin-top: 0;
}
.contact-link-text p {
    margin: 0;
    font-size: 16px;
    color: dimgrey;
}
.contact-link-text .paper-pl-fly {
    width: 300px;
    height: auto;
    position: absolute;
    right: 0;
    top: 45%;
}
.contact-link-btn {
    padding: 76px 0;
    text-align: center;
}
/* Home Page Content End */

/* Home Registration Panel */
.home-reg {
    height: 250px;
}
.home-reg-panel {
    color: #ffffff;
}
.home-reg-panel .btn.btn-empty {
    border: 2px solid white;
    color: #ffffff;
    background-color: transparent;
}
.home-reg-panel .btn.btn-empty:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: none;
    -webkit-transition: .4s all;
	   -moz-transition: .4s all;
		-ms-transition: .4s all;
		 -o-transition: .4s all;
			transition: .4s all;
}
.home-reg-panel-content {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.home-reg-panel-content p {
    font-size: 1.15em;
    margin-bottom: 22px;
}
.home-reg-panel-content h2 {
    color: #fff;
    margin-top: 0;
}
.home-reg-panel .grid1, .home-reg-panel .grid2 {
    margin: 65px 0;
}

/*-- Home Page Statistics --*/
.r-stats {
    background-color: #eef;
}
.stats-title {
    color: #8bc44a;
}
.stats-num {
    font-size: 40px;
}
/*-- Home Page Statistics --*/

/* Registration Page */
.reg-form {
    padding-top: 50px;
    padding-bottom: 50px;
}
form label i {
    color: red;
    font-size: 5px;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #8bc34a;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
    background-color: #8bc34a;
    color: #fff;
}
.nav-tabs.nav-justified>li>a {
    border: 1px solid #ddd;
}
a[role="tab"] {
    color: #8bc34a;
}
a[role="tab"]:hover {
    color: #8bc34a;
}
/* Nav-Tabs */
.nav-tabs {
    margin-bottom: 40px !important;
}
.reg-benefits {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 20px;
}
.reg-benefits .reg-benefits-title h3 {
    margin-top: 0;
}

/* Contact Page */
.social-contact-list {
    padding-left: 0;
    display: inline-block;
    list-style-type: none;
}
.social-contact-list li {
    float: left;
    margin: 10px;
}
.social-contact-list li a .fa-facebook {
    color: #3b5999;
}
.social-contact-list li a .fa-linkedin {
    color: #0077B5;
}
.social-contact-list li a .fa-google-plus {
    color: #dd4b39;
}
.social-contact-list li a .fa-twitter {
    color: #55acee;
}
.social-contact-list li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-contact-list li:nth-child(2) a:hover {
    background-color: #0077B5;
}
.social-contact-list li:nth-child(3) a:hover {
    background-color: #dd4b39;
}
.social-contact-list li:nth-child(4) a:hover {
    background-color: #55acee;
}
.social-contact-list li a:hover .fa {
    color: #fff;
}
.social-contact-list li a {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    box-shadow: 0px 0px 10px 5px #eee;
    border-radius: 50%;
    text-decoration: none;
}
.social-contact-list li a .fa {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
span.validation_styles {
    color: red;
    font-size: 11px;
    font-style: italic;
}

.contact-form div h2, .contact-map h2 {
    margin-bottom: 60px;
}
.contact-form .alert {
    padding: 15px;
}
.alert.alert-dismissible, .alert.alert-dismissable {
    position: fixed;
    margin-bottom: 0;
    left: 30px;
    bottom: 70px;
    z-index: 99;
}

@media (max-width: 992px) {
    .contact-form div {
        padding: 0;
    }
    #contact-form h4 {
        padding: 0;
    }
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 768px) {
    .home-reg {
        height: 500px;
    }
    .home-reg-panel div {
        margin-bottom: 25px;
    }
}

/* Form Elements */
.login_form_msg {
    color: red;
    font-style: italic;
}

.btn, .form-control {
    border-radius: 0 !important;
}
.form-control {
    padding: 6px 0;
    border: 0;
    border-bottom: 1px solid #757575;
}
.form-control[disabled], fieldset[disabled] .form-control {
    border-bottom: 1px solid #ccc;
}
textarea {
    resize: vertical;
}

.table thead {
    background-color: #0077ff;
    color: #fff;
}
.table th {
    position: relative;
    padding: 8px 5px;
    color: #fff;
}

.table tr td {
    font-size: 12px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e8f7f4;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0;
}

.table thead tr th, .table tbody tr td {
    vertical-align: middle !important;
}
.filterRow th {
    color: #333 !important;
}
.searchFilterBox {
    width: 100%;
    border: 1px solid transparent;
}
.filterRow th select {
    padding: 2px;
    width: 100%;
    border: 1px solid transparent;
}

/* Contact Addresses */
input, select, textarea {
    box-shadow: none !important;
}
.contact-form div p {
    font-size: 18px;
}
.address {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #eaeaea;
}
@media (min-width: 768px) {
    .address {
        height: 243px;
    }
}
.address.text-center h2 {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 5px solid #4ec6ba;
}

/* Testimonials Slider */
.testimonials {
    background-color: #eee;    /* Fallback color */
    background-image: url("../images/bg-images/memphis-colorful.png");
    background-repeat: repeat;
}
#testimonials-slider {
    padding: 0 10px 30px 10px;
    text-align:center;
    min-height: 400px;
    /*color: white;*/
}

#testimonials-slider .carousel-inner .item img {
    width: 80px;
    height: auto;
    margin: 20px 0;
    border-radius: 50%;
    background-color: white;
}

#testimonials-slider .carousel-inner .item p {
    margin: 0 40px;
}

#testimonials-slider .carousel-inner .item .testimonial-quote {
    font-size: 1.1em;
    font-style: italic;
}

#testimonials-slider .carousel-inner .item .testimonial-quote:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    /*float: left;*/
    margin-right: 10px;
}

#testimonials-slider .carousel-inner .item .testimonial-quote:after {
    content: "\f10e";
    font-family: 'Fontawesome';
    /*float: right;*/
    margin-left: 10px;
}

#testimonials-slider .carousel-inner .item .testimonial-person {
    margin-top: 20px;
}

#testimonials-slider .carousel-inner .item p .testimonial-name {
    font-size: 20px;
    font-weight: 600px;
}
#testimonials-slider .carousel-inner .item p .testimonial-company {
    font-size: 14px;
}

/* indicator color */
.carousel-indicators li {
    background: #ffffff;
}

/* active indicator */
.carousel-indicators .active {
    background: #8bc34a;
    margin: 0 3px;
    border-color: #8bc34a;
}

.carousel-indicators li {
    width: 25px;
    height: 6px;
    margin: 0 3px;
    border: 1px solid #8bc34a;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
}

.bgStyles {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.bgStyles h1 {
    margin: 0;
}
#home_st_tr_bg {
    background-image: url("../images/parallax-images/home_st_tr_bg.jpg");
}

/*-- thumbnails --*/
.thumbnail {
    width: 215px;
    height: 270px;
    padding: 0;
    border-radius: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail img {
    cursor: pointer;
}
/*-- //thumbnails --*/

.course-desc p {
    text-align: justify;
}

.detail-cards-desc {
    background-color: #d7d7f6;
    text-align: center;
    padding: 20px;
}
.detail-cards-desc p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.8em;
}
/*-- Discounts --*/
.offer-scroll {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    text-align: center;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 34px 10px #f1f1f1;
}
.d-percent {
    background-color: #E91E63;
    color: #fff;
    font-size: 50px;
    left: 30%;
    width: 120px;
    height: 120px;
    top: -60px;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
}
.d-number {
    padding: 20px 0;
}
.d-text {
    text-align: center;
    color: darkgray;
    margin-top: 70px;
    margin-bottom: 30px;
}
/*-- //Discounts --*/

.timing-schedule {
    background-color: #fbfbfb;
    padding: 30px;
}
.timing-schedule table td {
    text-align: center;
}
.contents-heading {
    font-size: 20px;
    font-weight: 400;
}
.list-none {
    list-style-type: none;
}

/*-- Custom Buttons --*/
.btn-custom {
    background-color: #8bc44a;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: 1px solid #8bc44a;
    border-radius: 4px;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    background-color: #689F38;
    color: #fff;
    text-decoration: none;
    border: 1px solid #689F38;
    cursor: pointer;
}
.btn-custom-inverse {
    background-color: transparent;
    color: #8bc34a;
    font-weight: 500;
    display: inline-block;
    border: 1px solid #8bc34a;
    border-radius: 4px;
}
.btn-custom-inverse:hover, .btn-custom-inverse:focus, .btn-custom-inverse:active {
    background-color: #8bc34a;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.btn-custom-md {
    padding: 6px 12px;
}
.btn-custom-lg {
    padding: 10px 20px;
}
.btn-custom[disabled] {
    background-color: #8bc44a;
    color: #fff;
    border: 1px solid #8bc44a;
    opacity: .65;
}
.btn-custom[disabled]:hover {
    cursor: not-allowed;
}

/*-- Responsive Designs --*/
@media (max-width: 768px) {
    .navbar-toggle {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .navbar-brand {
        height: 46px;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 35px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    p, .para-desc {
        font-size: 12px;
    }
    .carousel-caption {
        bottom: 0;
    }
    .home-reg.bgStyles {
        height: 568px;
    }
    .home-reg-panel .grid2 {
        margin-top: 0;
    }
}
/*-- //Responsive Designs --*/

/*-- Login Page --*/
.bg-img {
    background-image: url("../../images/parallax-images/home_st_tr_bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-panel {
    background-color: #fff;
    width: 300px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#loginForm label {
    font-weight: 100;
}
/*-- //Login Page --*/

/***** Course Pages *****/
.breadcrumb>li {
    font-size: 12px;
}
.breadcrumb>li+li:before {
    content: "\279c";
}
.courseDetailsStrip {
    background: #f5f5f5;
    border-radius: 4px;
}
.courseDetailsGrid {
    padding: 15px 10px;
}
.courseDetailsGrid .media {
    float: left;
}
@media (min-width: 992px) {
    .courseDetailsGrid .media, .courseDetailsGrid .media:first-child {
        margin-top: 0;
    }
}
.courseDetailsGrid .media-left, .courseDetailsGrid .media>.pull-left {
    padding-right: 20px;
}
.media-left .fa {
    color: #0077ff;
    font-size: 30px;
}
.media-heading {
    font-size: 20px;
    margin-bottom: 8px;
}
.media-body p {
    margin-bottom: 0;
}
.media-body p a {
    color: inherit;
}
.training-modes-icon img {
    width: auto;
    height: 80px;
    margin-bottom: 20px;
}
/* Course Left Side Pane */
/* Slide Toggle */
.slide-toggler {
    background: linear-gradient(rgba(255, 255, 255, 0.4) 25%, #fff 75%);
    position: relative;
    top: -40px;
}
.slide-toggler-icon-wrap {
    background-color: #0077ff;
    padding: 10px 14px;
    display: inline-block;
    box-shadow: 0 0 10px 0 #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.slide-toggler-icon-wrap:hover {
    background-color: #fff;
    box-shadow: 0 0 10px 2px #ccc;
}
.slide-toggler-icon-wrap:hover .slide-toggler-icon {
    color: #0077ff;
}
.slide-toggler-icon {
    color: #fff;
    display: inherit;
    transform: rotateZ(45deg);
}
@media (min-width: 992px) {
    .course-left-pane {
        padding-left: 0;
    }
    .course-right-pane {
        padding-right: 0;
    }
}
/* Course Right Side Pane */
.course-right-pane > div {
    background-color: #f5f5f5;
    margin-bottom: 30px;
    display: block;
    border-radius: 4px;
}
/* Course Testimonials */
.testimonials-grid {
    padding: 20px;
}
.testimonials-grid .testimonials-heading {
    padding-bottom: 30px;
    margin: 0;
}
.testimonials-grid .owl-carousel .item h4 {
    margin-top: 0;
}
.testimonials-grid .owl-dots {
    text-align: center;
}
.testimonials-grid .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.testimonials-grid .owl-dots .owl-dot.active span, .testimonials-grid .owl-dots .owl-dot:hover span {
    background: #0077ff;
}
.testimonials-grid .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
/* Phone Number */
.call-grid {
    padding: 20px 40px;
    position: relative;
}
.call-text {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: .5px;
    color: rgba(0,0,0,.8);
}
.call-grid h3 {
    color: #333;
    margin: 0;
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
}
.sm-meta-txt {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.7;
    color: rgba(0,0,0,.6);
}
.call-grid span .fa {
    color: #333;
    font-size: 30px;
}
@media (min-width: 1200px) {
    .call-grid span {
        right: 25px;
    }
}
.call-grid span {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 40px;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.call-grid span:before {
    content: "";
    width: 2px;
    height: 30px;
    background: #d8d8d8;
    position: absolute;
    top: 0;
    left: -30px;
}
/* Contact Form */
@media (min-width: 768px) {
    .form-grp-left {
        float: left;
        width: 48%;
        clear: left;
    }
    .form-grp-right {
        float: right;
        width: 48%;
        clear: right;
    }
}
.contact-form-grid {
    padding: 30px 25px;
    position: relative;
}
.contact-form-grid .contact-form-heading {
    padding-bottom: 30px;
    margin: 0;
}
.form-control-wrapper {
    margin-bottom: 15px;
}
#contactForm .form-control-wrapper, .reg-form .form-control-wrapper, #courseSuggestion .form-control-wrapper {
    margin-bottom: 25px;
}
.placeholder-wrap {
    position: relative;
}
.form-lg-wrap .form-control, .form-lg-wrap input {
    background-color: transparent;
    border-bottom: 1px solid #d8d8d8;
}
.form-lg-wrap input[type="file"] {
    border: 0;
}
.floating-label {
    color: rgba(0,0,0,.4);
    position: absolute;
    top: 7px;
    left: 0;
    font-weight: 500;
    font-size: 14px;
    transition: .2s ease all;
}
.floating-label-border {
    border-bottom: 1px solid #0077ff;
    width: 0;
    height: 1px;
    margin: -1px auto auto;
    transition: width .5s ease, border-bottom .5s ease;
}
input:focus+.floating-label, textarea:focus+.floating-label, select:focus+.floating-label {
    top: -10px;
    font-size: 11px;
    color: #0077ff;
}
input:valid+.floating-label, textarea:valid+.floating-label, select:valid+.floating-label {
    top: -10px;
    font-size: 11px;
}
input:focus~.floating-label-border, textarea:focus~.floating-label-border, select:focus~.floating-label-border {
    width: 100%;
    border-bottom: 1px solid #0077ff;
}
.btn-plain, .btn-plain:active {
    box-shadow: none;
}
.btn-round {
    border-radius: 20px;
}
.btn-sm {
    padding: 5px 20px;
    font-size: 14px;
}
.btn-custom-form {
    background-color: #0077ff;
    color: #fff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: 500;
    border: 1px solid #0077ff;
}
.btn-custom-form:hover, .btn-custom-form:focus, .btn-custom-form:active {
    background-color: transparent;
    color: #0077ff;
}
#accfaq .panel-title .fa.fa-bolt {
    margin-right: 20px;
    color: coral;
}
/***** Course Pages *****/

/*-- About us Page --*/
.about p {
    text-align: justify;
}
.brochure-abt a {
    background-color: #8bc34a;
    color: #fff;
    padding: 20px 40px;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
}
.brochure-abt a:hover, .brochure-abt a:focus {
    background-color: #689f38;
}
.brochure-abt a:active {
    box-shadow: inset 0 0 20px 0px #666;
}
.brochure-abt a .fa.fa-download {
    /* color: #689f38; */
    font-size: 20px;
}
/*-- //About us Page --*/

/*-- Category Designs --*/
.course-strip a {
    text-decoration: none;
}
.course-strip h3, .course-strip ul {
    color: #444;
}
.course-strip-inner {
    padding: 20px 20px;
    /* box-shadow: 0px 0px 20px 0px #ccc; */
    border: 1px solid #ddd;
    border-radius: 4px;
}
.course-strip-inner:hover {
    background-color: #fff;
    box-shadow: 0px 0px 20px 2px #ccc;
}
.course-info {
    margin-left: 250px;
    display: block;
}
.course-info p {
    color: #999;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.c-d-l  {
    padding-left: 0;
    display: inline-block;
}
.c-d-l li  {
    display: inline-block;
    list-style-type: none;
}
.course-dtls-list-left li {
    padding: 0 20px 0 0;
}
.course-dtls-list-right li {
    font-size: 20px;
}
/*-- //Category Designs --*/

/*-- Accordion Designs --*/
.panel-group .panel+.panel {
    margin-top: 10px;
}
.panel-default {
    border-color: transparent;
}
.panel-default>.panel-heading {
    background-color: #fff;
    border: 0;
}
.panel-heading {
    padding: 0;
}
.panel-title>a {
    padding: 15px;
    display: block;
    position: relative;
}
.panel-title>a:hover {
    text-decoration: none;
}
.panel-title > a > span {
    background-color: #0077ff;
    color: #fff;
    width: 47px;
    height: 47px;
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    border-radius: 4px;
    border: 1px solid #0077ff;
}
.panel-title>a .fa.fa-angle-up {
    /* color: #0077ff; */
    position: absolute;
    /* right: 30px; */
    font-size: 22px;
    /* top: 13px; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.panel-title>a.collapsed span {
    background-color: #fff;
    color: #0077ff;
}
.panel-title>a.collapsed .fa.fa-angle-up {
    color: inherit;
    -webkit-transform: rotate(-180deg) translate(50%,50%);
    -moz-transform: rotate(-180deg) translate(50%,50%);
    -ms-transform: rotate(-180deg) translate(50%,50%);
    -o-transform: rotate(-180deg) translate(50%,50%);
    transform: rotate(-180deg) translate(50%,50%);
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-color: transparent;
}
.panel-body {
    position: relative;
}
.panel-body:after {
    border-left: 3px dashed #2c4b76;
    bottom: 0;
    content: "";
    right: 22px;
    position: absolute;
    top: 0;
    height: 100%;
    display: block;
}
/*-- //Accordion Designs --*/

/*-- Modal Designs --*/
.custom-modal {
    background: -webkit-linear-gradient(to bottom,#0077ff 60%,#001480 100%);
    background: -o-linear-gradient(to bottom,#0077ff 60%,#001480 100%);
    background: -ms-linear-gradient(to bottom,#0077ff 60%,#001480 100%);
    background: -moz-linear-gradient(to bottom,#0077ff 60%,#001480 100%);
    background: linear-gradient(to bottom,#0077ff 60%,#001480 100%);
    width: 730px;
    position: relative;
    height: auto;
    display: inline-block;
    border: 0;
    border-radius: 0;
}
/* Message Modal */
.msg-modal {
    width: 360px;
    position: relative;
    height: auto;
    display: inline-block;
    border: 0;
    border-radius: 0;
    border-radius: 20px;
}
.error-modal .message-icon {
    background-color: #f65656;
    border-radius: 20px 20px 0 0;
}
.success-modal .message-icon {
    background-color: #66BB6A;
    border-radius: 20px 20px 0 0;
}
.message-icon .fa {
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    font-size: 30px;
}
.message {
    color: #3b445f;
    padding: 20px 40px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}
.message .modal-title {
    font-size: 20px;
    font-weight: 700;
}
.message .btn-msg {
    padding: 2px 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: none;
}
.error-modal .message .btn-err-msg {
    background-color: #f65656;
    color: #fff;
    border: 1px solid #f65656;
}
.error-modal .message .btn-err-msg:hover, .error-modal .message .btn-err-msg:focus, .error-modal .message .btn-err-msg:active {
    background-color: #fff;
    color: #f65656;
    border: 1px solid #f65656;
}
.success-modal .message .btn-success-msg {
    background-color: #66BB6A;
    color: #fff;
    border: 1px solid #66BB6A;
}
.success-modal .message .btn-success-msg:hover, .success-modal .message .btn-success-msg:focus, .success-modal .message .btn-success-msg:active {
    background-color: #fff;
    color: #66BB6A;
    border: 1px solid #66BB6A;
}
/* Message Modal */
.modal-close {
    padding: 10px !important;
    position: absolute;
    right: 0;
    z-index: 1;
}
.custom-modal-left {
    width: 310px;
    float: left;
}
.custom-modal-txt {
    color: #fff;
    padding: 40px;
}
.custom-modal-img {
    padding: 20px;
}
.custom-modal-img img {
    width: auto;
    height: 240px;
}
.custom-modal-txt > div {
    margin-bottom: 30px;
    font-size: 24px;
}
.custom-modal-txt > div > span {
    color: rebeccapurple;
}
.custom-modal-right {
    background-color: #fff;
    width: 418px;
    padding: 30px;
    float: right;
}
.custom-modal-right .form-group {
    margin-bottom: 20px;
}
#subscribeModal .modal-title {
    font-size: 30px;
    font-weight: 600;
}
#subscribeModal p {
    margin-bottom: 30px;
}
#subscribeModal input {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px !important;
}
#subscribeModal .input-group-btn .btn {
    padding: 10px 20px;
    border-radius: 0 20px 20px 0 !important;
}
#subscribeModal .input-group-btn .btn-default {
    background-color: #0077ff;
    color: #fff;
    border-color: #0077ff;
}
#subscribeModal .input-group-btn .btn-default fa.fa-paper-plane {
    font-size: 18px;
}
.btn-m:hover {
    box-shadow: 0px 0px 5px 5px #eee;
}
.btn-modal {
    background-color: #8bc44a;
    color: #fff;
    padding: 5px 20px;
    width: 49%;
    border: 1px solid #8bc44a;
    border-radius: 30px;
}
.btn-modal[disabled] {
    opacity: .65;
    cursor: not-allowed;
    box-shadow: none;
}
.btn-modal-inverse {
    background-color: #fff;
    color: #8bc44a;
    padding: 5px 20px;
    width: 49%;
    border: 1px solid #8bc44a;
    border-radius: 30px;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 730px;
        margin: 0 auto;
    }
    .modal-dialog.modal-sm {
        width: 360px;
    }
    .modal.in .modal-dialog {
        top: 50%;
        -webkit-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
    }
}
/*-- //Modal Designs --*/

/*-- Bottom Bar --*/
.bottom-bar {
    background-color: #333;
    color: #fff;
    width: 100%;
    position: fixed;
    font-size: 14px;
    bottom: -41px;
    border-top: 1px solid #111;
    z-index: 1030;
}
.bottom-bar .nav li {
    float: left;
}
.bottom-bar .nav li a {
    color: #fff;
    padding: 0;
    margin: 8px;
    font-weight: 400;
}
.bottom-bar .nav li a .fa {
    margin-right: 5px;
}
.bottom-bar .nav li a:focus, .bottom-bar .nav li a:hover {
    text-decoration: underline;
    background-color: #333333;
}
.divider-v {
    margin: 8px 0;
}
.pull-center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}
/*-- //Bottom Bar --*/

/*-- Subscribe Home Page --*/
@media(min-width: 992px) {
    .subscribe-wrapper {
        background-image: url("../images/content-images/mail-box-small.png");
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
    }
}
.subscribe-form input {
    padding: 12px 10px;
    width: 100%;
    font-size: 17px;
    border: 1px dashed #ccc;
    border-right: 0;
}
.subscribe-form .btn-subscribe {
    background-color: #8bc34a;
    color: #fff;
    padding: 14px 20px;
    border-color: #8bc34a;
}
.subscribe-form .btn-subscribe:hover[disabled] {
    background-color: #8bc34a;
    color: #fff;
}
.subscribe-form .btn-subscribe:hover, .subscribe-form .btn-subscribe:focus, .subscribe-form .btn-subscribe:active {
    background-color: #fff;
    color: #8bc34a;
    padding: 14px 20px;
    border-color: #8bc34a;
    box-shadow: none;
}
/*-- //Subscribe Home Page --*/

/*-- Course Schedules page --*/
#course-schedules thead {
    background-color: #4077fe;
}
#course-schedules th {
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.table th i.fa {
    position: absolute;
    right: 10px;
    opacity: 0.4;
}
.table th:hover i.fa {
    opacity: 0.65;
}
.table th i.fa.fa-sort-asc {
    top: 10px;
}
.table th i.fa.fa-sort-desc {
    bottom: 10px;
}
.table th[ng-click] {
    cursor: pointer;
}
.th-title-wrap {
    display: block;
    margin-right: 20px;
}

/*-- Maps --*/
#map {
    width: 100%;
    height: 420px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
.country-title {
    background-color: #8bc34a;
    color: #fff;
    padding: 10px;
    display: inline-block;
    border: 0;
    border-top: 1px solid #8bc34a;
    font-weight: 600;
}
.country-title:hover, .country-title:focus, .country-title:active {
    background-color: #fff;
    color: #8bc34a;
    border: 0;
    border-top: 1px solid #8bc34a;
    text-decoration: none;
}