body
{
    font-family: 'Raleway', sans-serif;
    padding-top: 60px;
    padding-bottom: 41px;
    /* background-color: #FAFAFA; */
}
::selection, ::-moz-selection {
	background-color: #b9e3fe;
	color: #395286;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100px white inset !important;
    box-shadow: 0 0 0px 100px white inset !important;
}
* {
    outline: none !important;
}
.transition {
	-webkit-transition: .3s all;
	   -moz-transition: .3s all;
		-ms-transition: .3s all;
		 -o-transition: .3s all;
			transition: .3s all;
}
p, li {
    font-weight: 500;
}

/*-- Margins --*/
.mt-0 {
    margin-top: 0;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mr-0 {
    margin-right: 0;
}
.mr-10 {
    margin-top: 10px;
}
.mr-20 {
    margin-top: 20px;
}
.mr-30 {
    margin-top: 30px;
}
.mr-40 {
    margin-top: 40px;
}
.mr-50 {
    margin-top: 50px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.ml-0 {
    margin-left: 0;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-30 {
    margin-left: 30px;
}
.ml-40 {
    margin-left: 40px;
}
.ml-50 {
    margin-left: 50px;
}
/*-- Paddings --*/
.pt-0 {
    padding-top: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-50 {
    padding-top: 50px;
}
.pr-0 {
    padding-right: 0;
}
.pr-10 {
    padding-top: 10px;
}
.pr-20 {
    padding-top: 20px;
}
.pr-30 {
    padding-top: 30px;
}
.pr-40 {
    padding-top: 40px;
}
.pr-50 {
    padding-top: 50px;
}
.pb-0 {
    padding-bottom: 0;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pl-0 {
    padding-left: 0;
}
.pl-10 {
    padding-left: 10px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-40 {
    padding-left: 40px;
}
.pl-50 {
    padding-left: 50px;
}
/*-- //Margins --*/

strike {
    color: red;
}
strike span {
    color: #757575;
}

p {
    line-height: 1.8em;
}

/*.nav, .pagination, .carousel, .panel-title a,*/ a[role="tab"] {
    cursor: pointer;
}

/* Header Styles Start */
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-custom {
    background-color: #fff;
    box-shadow: 0px -1px 12px rgb(0,0,0);
}
.navbar-fixed-top {
    border: 0;
}
.navbar-brand {
    height: 60px;
    padding: 7px 15px;
}
.navbar-brand img {
    width: 170px;
	height: auto;
}

.navbar-nav li a
{
	letter-spacing: 0.02em;
	padding: 20px 15px;
    /* cursor: pointer; */
}
.navbar-form {
    padding-top: 33px;
    padding-bottom: 32px;
    margin: 0;
}
.dropdown-menu>li>a {
    font-weight: 500;
}

@media (min-width: 768px)
{
	.navbar-right .dropdown-menu {
		left: 0 !important;
		right: auto !important;
	}
	.navbar-right .dropdown-menu .dropdown-menu {
		left: 100% !important;
		right: auto !important;
	}
	.ic-iw {
		padding: 2px 2px;
	}
	
    .vline {
        border-right: 1px solid #ffffff;
    }
    .nav-tabs.nav-justified>li>a {
        border-radius: 0;
    }
}

.navbar-brand {
    display: inline-block;
}
.navbar-nav li a, .navbar-brand
{
	color: #333;
}

.navbar-nav li a:hover, .navbar-nav li a:focus, .navbar-nav li a:active, .navbar-nav li a:visited, .navbar-nav li a:link, .navbar-nav .dropdown .dropdown-menu li a:hover, .navbar-nav .dropdown .dropdown-menu li a:focus, .navbar-nav .dropdown .dropdown-menu li a:active, .navbar-nav .dropdown .dropdown-menu li a:visited {
	color: #333;
}

.navbar-nav .dropdown .dropdown-menu li a:link {
    color: black;
}

.navbar-nav > li > .dropdown-menu {
	border-radius: 0;
}
.navbar-nav .dropdown-menu > li > a {
	padding: 6px 15px;
}
.navbar-nav .dropdown a .fa-th {
    margin-right: 3px;
}
.navbar-form .form-control {
    width: 180px;
/*    border-radius: 5px 0 0 5px !important;*/
    box-shadow: none;
}
.navbar-form .form-control:focus {
    width: 450px;
    border: 1px solid #8bc34a;
}
.navbar-form .fa-search {
    font-size: 18px;
}
.navbar-form .btn-search {
    background-color: #8bc34a;
    color: #fff;
}
.navbar-form .btn {
    padding: 6px 15px;
/*    border-radius: 0 5px 5px 0 !important;*/
    left: -5px;
    position: relative;
}
.dropdown .chevron1 {
	transition: transform 0.3s;
	transition: transform 0.3s;
}
.dropdown:hover .chevron1, .dropdown:focus .chevron1, .dropdown:active .chevron1 {
	transform: rotate(-180deg);
}

.dropdown-menu
{
    padding: 0;
	font-size: 13px;
    border-radius: 0 !important;
}
.btn-free-demo {
    background-color: #0cb0a0;
    color: #fff !important;
    margin-top: 9px;
    margin-bottom: 9px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 40px;
    border: 1px solid #0cb0a0;
    animation-duration: 3s;
}
.btn-free-demo:hover, .btn-free-demo:active, .btn-free-demo:focus {
    background-color: #fff !important;
    color: #0cb0a0 !important;
}
/* Collapse Button icon-bar 'X' Animation */
.navbar-toggle .icon-bar
{
	background-color: #8bc34a;
}
.navbar-toggle .icon-bar
{
	transition: all 0.2s;
}
.navbar-toggle .icon-bar-top
{
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggle .icon-bar-middle
{
	opacity: 0;
}
.navbar-toggle .icon-bar-bottom
{
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .icon-bar-top
{
	transform: rotate(0);
}
.navbar-toggle.collapsed .icon-bar-middle
{
	opacity: 1;
}
.navbar-toggle.collapsed .icon-bar-bottom
{
	transform: rotate(0);
}

/* Menu on Hover Underline Effects */
.hvr-underline-from-center
{
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:after
{
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #8bc34a;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:after, .hvr-underline-from-center:focus:after, .hvr-underline-from-center:active:after
{
    left: 0;
    right: 0;
}

/* Footer Styles Start */
footer {
    background-color: #2e3a47; /* Fallback Color */
    background: #2e3a47 url(../images/bg-images/footer-bg.png) center;
    box-shadow: 0 -4px 8px -6px #777777;
}
footer hr {
    border-top: 0;
}
.footer-main .contactus div i {
    font-size: 38px;
}
.footer-main .contactus div h2 a {
	text-decoration: none;
    color: #fff;
    font-weight: 300;
}
.footer-main .contactus div h2 a:hover, .footer-main .contactus div h2 a:focus, .footer-main .contactus div h2 a:active, .contactus div i {
	color: #8bc34a;
}
.footer-main .contactus {
    margin-top: 20px;
}
.footer-main .contactus .contact-text {
    color: #fff;
}
.footer-main .contactus .contact-text h2 {
    font-weight: 300;
}
.footer-menu {
	list-style-type: none;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.footer-about {
    text-align: justify;
}
.footer-menu-title {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 300;
}
.footer-menu li a {
	text-decoration: none;
	color: #ccc;
    font-size: 14px;
    border-radius: 0;
    margin: 0 15px;
    padding: 0;
}
.footer-menu li a:hover, .footer-menu li a:focus, .footer-menu li a:active, .copyright h5 a:hover, .copyright h5 a:focus, .copyright h5 a:active {
    background-color: transparent;
    color: #fff;
}
.we-hire {
	position: absolute;
	left: 130px;
}
/* Social Icons */
.copy-social {
	margin-bottom: 20px;
}
.copyright {
    padding-left: 15px;
}
.copyright h5 {
    color: #ccc;
    font-size: 14px;
}
.copyright h5 a {
    color: #ccc;
	text-decoration: none;
}
.social-list {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
}
.social-list li {
    float: left;
    margin: 0 10px;
}
.social-list .fa {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}
@media (max-width: 768px) {
    .social-list {
        float: left;
    }
    
}
@media (min-width: 768px) {
    .social-list {
        float: right;
    }
}
.social-list .fa {
    color: #ccc;
}
.social-list .fa:hover {
    color: #fff;
}
/* Footer Styles End */

/* Bottom To Top Button Start */
.bottom-to-top
{
	background: #8bc34a none repeat scroll 0 0;
	left: 30px;
	bottom: 80px;
    transform: scale(0,0);
	font-size: 28px;
	padding: 0px 12px 2px 12px;
	border-radius: 50%;
    border-style: none;
    outline: none;
	position: fixed;
	z-index: 999;
	/* box-shadow: 0 6px 6px -5px #777777; */
}
.bottom-to-top i
{
	color: #ffffff;
}
.bottom-to-top:before
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #689F38;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
		-ms-transform: scale(0);
		 -o-transform: scale(0);
			transform: scale(0);
	-webkit-transition-property: transform;
	   -moz-transition-property: transform;
		-ms-transition-property: transform;
		 -o-transition-property: transform;
			transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	border-radius: 50%;
}
.bottom-to-top:hover:before, .bottom-to-top:hover:focus, .bottom-to-top:hover:active
{
	transform: scale(1);
}
/* Bottom To Top Button End */

/* Home Page Content Start */
.bg-color {
    background-color: #f2f2f2;
}

/* Carousel */
.carousel-control .fa.fa-angle-left, .carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .fa.fa-angle-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
}
.carousel-control .fa.fa-angle-left, .carousel-control .fa.fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
@media screen and (min-width: 768px) {
    .carousel-control .fa.fa-angle-left, .carousel-control .fa.fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }
    .carousel-control .fa.fa-angle-left, .carousel-control .icon-prev {
        margin-left: -10px;
    }
    .carousel-control .fa.fa-angle-right, .carousel-control .icon-next {
        margin-right: -10px;
    }
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.carousel-caption {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
}

.para-desc {
    font-size: 1.0em;
    color:dimgray;
}

/*-- Overview Section - Home --*/
.training-overview {
    background-color: #fff;
}
.tree-container {
    width: 66.6%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 120px;
    top: 65px;
}
.overview-tree-1 {
    height: 60px;
    border-top: 1px dashed silver;
    border-right: 1px dashed silver;
    border-left: 1px dashed silver;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.overview-tree-2 {
    height: 120px;
    width: 1px;
    margin-left: 50%;
    margin-right: 50%;
    border-left: 1px dashed silver;
    position: absolute;
    top: -60px;
}
.overview-grid {
    padding: 20px 30px;
}
.overview-title {
    color: #8bc34a;
}
/*-- //Overview Section - Home --*/

/* Home Courses */
.owl-carousel .item > a {
    color: transparent;
    display: inline-block;
    text-decoration: none;
}
.course-category .course-title, .course-category .course-readmore {
    padding-left: 21px;
}
.course-category div .course-thumbnail {
    background-color: #fff;
    width: 216px;
    height: 265px;
    border: none;
    box-shadow: 0 0 8px 0px #ddd;
}

.course-category div .thumbnail img {
    width: 100% !important;
    height: auto;
}
.course-caption {
    padding:10px;
}
.course-caption h4 {
    color: #444;
    font-weight: 600;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.course-caption p {
    color: dimgrey;
}
.price-slider {
    color: #111 !important;
    float: right;
    font-size: 18px;
    font-weight: 600;
}

/* OwlCarousel CSS */
@media (min-width: 1441px) {
    .owl-carousel {
        width: 1371px !important;
    }
}
@media (max-width: 1440px) {
    .owl-carousel {
        width: 1140px !important;
    }
}
@media (max-width: 1200px) {
    .owl-carousel {
        width: 909px !important;
    }
}
@media (max-width: 992px) {
    .owl-carousel {
        width: 678px !important;
    }
}
@media (max-width: 768px) {
    .owl-carousel {
        width: 442px !important;
    }
}
@media (max-width: 500px) {
    .owl-carousel {
        width: 216px !important;
    }
}
.owl-carousel {
    margin-bottom: 15px;
}
.owl-stage {
    padding-top: 1px;
    height: 275px;
}
.owl-carousel .item .course-thumbnail:hover {
    box-shadow: 0px 0px 10px 2px #ddd;
}

.owl-nav {
    position: absolute;
    width: 100%;
    height: 46px;
    top: 47%;
    transform: translateY(-45%);
    z-index: -1;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    background-color: #fff !important;
    border-radius: 50% !important;
    box-shadow: 0.4px 1px 4px #999;
    padding: 7px 0;
    text-align: center;
    transition: .3s all;
    width: 44px;
    height: 44px;
}
.owl-prev .fa.fa-angle-left {
    position: relative;
    left: -1px;
}
.owl-next .fa.fa-angle-right {
    position: relative;
    right: -1px;
}
.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
    box-shadow: 0.6px 1px 8px #999;
    border-radius: 5% !important;
}
.owl-nav .owl-prev:hover .fa, .owl-nav .owl-next:hover .fa {
    color: #8bc34a;
    transition: .3s all;
}
.owl-nav .owl-prev .fa, .owl-nav .owl-next .fa {
    color: #333;
    font-size: 29px;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
}
.owl-nav .owl-prev {
    left: -55px;
    position: absolute;
    padding-right: 3px;
    float: left;
}
.owl-nav .owl-next {
    right: -55px;
    padding-left: 3px;
    position: absolute;
}
.owl-nav .owl-prev.disabled, .owl-nav .owl-next.disabled {
    display: none;
    /* background-color: #eee !important; */
    /* box-shadow: 0.4px 1px 1px #999; */
}
.owl-nav .owl-prev.disabled .fa, .owl-nav .owl-next.disabled .fa {
    color: grey !important;
}
.demos {
    border: 1px solid lightgrey;
    border-radius: 4px;
}
#demos1 {
    background: linear-gradient(90deg, #B71C1C, #EF5350);
    background-image: url(../images/bg-images/bg-1.png);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}
#demos2 {
    background: linear-gradient(90deg, #3F51B5, #2196F3);
    background-image: url(../images/bg-images/bg-2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#demos3 {
    background: linear-gradient(90deg, #FF5722, #FFC107);
    background-image: url(../images/bg-images/bg-3.png);
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
}
.demos a {
    text-decoration: none;
}
.demos a h4 {
    color: #fff;
    margin: 0;
    padding: 30px 15px;
}
.demos a h4:hover {
    background-color: rgba(0,0,0,0.1);
}
.contact-link-text {
    padding: 50px 0;
}
.contact-link-text h1 {
    margin-bottom: 20px;
    margin-top: 0;
}
.contact-link-text p {
    margin: 0;
    font-size: 16px;
    color: dimgrey;
}
.contact-link-text .paper-pl-fly {
    width: 300px;
    height: auto;
    position: absolute;
    right: 0;
    top: 45%;
}
.contact-link-btn {
    padding: 76px 0;
    text-align: center;
}
/* Home Page Content End */

/* Home Registration Panel */
.home-reg {
    height: 250px;
}
.home-reg-panel {
    color: #ffffff;
}
.home-reg-panel .btn.btn-empty {
    border: 2px solid white;
    color: #ffffff;
    background-color: transparent;
}
.home-reg-panel .btn.btn-empty:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: none;
    -webkit-transition: .4s all;
	   -moz-transition: .4s all;
		-ms-transition: .4s all;
		 -o-transition: .4s all;
			transition: .4s all;
}
.home-reg-panel-content {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.home-reg-panel-content p {
    font-size: 1.15em;
    margin-bottom: 22px;
}
.home-reg-panel-content h2 {
    margin-top: 0;
}
.home-reg-panel .grid1, .home-reg-panel .grid2 {
    margin: 65px 0;
}

/*-- Home Page Statistics --*/
.r-stats {
    background-color: #eef;
}
.stats-title {
    color: #8bc44a;
}
.stats-num {
    font-size: 40px;
}
/*-- Home Page Statistics --*/

/* Registration Page */
.reg-form {
    padding-top: 50px;
    padding-bottom: 50px;
}
form label i {
    color: red;
    font-size: 5px;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #8bc34a;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
    background-color: #8bc34a;
    color: #fff;
}
.nav-tabs.nav-justified>li>a {
    border: 1px solid #ddd;
}
a[role="tab"] {
    color: #8bc34a;
}
a[role="tab"]:hover {
    color: #8bc34a;
}
/* Nav-Tabs */
.nav-tabs {
    margin-bottom: 40px !important;
}
.reg-benefits {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 20px;
}
.reg-benefits .reg-benefits-title h3 {
    margin-top: 0;
}

/* Contact Page */
input.ng-valid, textarea.ng-valid, select.ng-valid {
    border-bottom: 1px solid #8bc44a !important;
}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border-bottom: 1px solid red !important;
}
span.validation_styles {
    color: red;
    font-size: 11px;
    font-style: italic;
}

.contact-form div h2, .contact-map h2 {
    margin-bottom: 60px;
}
.contact-form .alert {
    padding: 15px;
}
.alert.alert-dismissible, .alert.alert-dismissable {
    position: fixed;
    margin-bottom: 0;
    left: 30px;
    bottom: 20px;
    z-index: 99;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

@media (max-width: 992px) {
    .contact-form div {
        padding: 0;
    }
    #contact-form h4 {
        padding: 0;
    }
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    #stud-registration h5, #instr-registration h5 {
        padding: 0 15px;
    }
}

@media (min-width: 992px) {
    .contact-form div {
        padding: 0 30px;
    }
    #contact-form h5 {
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    .home-reg {
        height: 500px;
    }
    .home-reg-panel div {
        margin-bottom: 25px;
    }
}

/* Form Elements */
.login_form_msg {
    color: red;
    font-style: italic;
}

.btn, .form-control, .btn {
    border-radius: 0 !important;
}
.form-control {
    border: 0;
    border-bottom: 1px solid #757575;
}
.form-control[disabled], fieldset[disabled] .form-control {
    border-bottom: 1px solid #ccc;
}
textarea {
    resize: vertical;
}

.table tr th {
    text-align: center;
}

.table thead tr th, .table tbody tr td {
    vertical-align: middle !important;
}

/* Contact Addresses */
input, select, textarea {
    box-shadow: none !important;
}
.contact-form div p {
    font-size: 18px;
}
.address {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #8bc34a;
}

/* Testimonials Slider */
.testimonials {
    background-color: #eee;    /* Fallback color */
    background-image: url("../images/bg-images/memphis-colorful.png");
    background-repeat: repeat;
}
#testimonials-slider {
    padding: 0 10px 30px 10px;
    text-align:center;
    min-height: 400px;
    /*color: white;*/
}

#testimonials-slider .carousel-inner .item img {
    width: 80px;
    height: auto;
    margin: 20px 0;
    border-radius: 50%;
    background-color: white;
}

#testimonials-slider .carousel-inner .item p {
    margin: 0 40px;
}

#testimonials-slider .carousel-inner .item .testimonial-quote {
    font-size: 1.1em;
    font-style: italic;
}

#testimonials-slider .carousel-inner .item .testimonial-quote:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    /*float: left;*/
    margin-right: 10px;
}

#testimonials-slider .carousel-inner .item .testimonial-quote:after {
    content: "\f10e";
    font-family: 'Fontawesome';
    /*float: right;*/
    margin-left: 10px;
}

#testimonials-slider .carousel-inner .item .testimonial-person {
    margin-top: 20px;
}

#testimonials-slider .carousel-inner .item p .testimonial-name {
    font-size: 20px;
    font-weight: 600px;
}
#testimonials-slider .carousel-inner .item p .testimonial-company {
    font-size: 14px;
}

/* indicator color */
.carousel-indicators li {
    background: #ffffff;
}

/* active indicator */
.carousel-indicators .active {
    background: #8bc34a;
    margin: 0 3px;
}

.carousel-indicators li {
    width: 25px;
    height: 6px;
    margin: 0 3px;
    border: 1px solid #8bc34a;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
}

/*-- parallax bg images --*/
.bgStyles {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.bgStyles h1 {
    margin: 0;
}
#home_st_tr_bg {
    background-image: url("../images/parallax-images/home_st_tr_bg.jpg");
}
#info_tech_banner {
    background-image: url("../images/parallax-images/information_technology_banner.jpg");
}
#reg_banner {
    background-image: url("../images/parallax-images/registration_banner.jpg");
}
#trainer_login_banner {
    background-image: url("../images/parallax-images/trainer_login.jpg");
}
#contact_banner {
    background-image: url("../images/parallax-images/contact_banner.jpg");
}
#wmb_banner {
    background-image: url("../images/parallax-images/devops-banner.jpg");
}
#oracle_banner {
    background-image: url("../images/parallax-images/oracle-banner.jpg");
}
#oracle_adf_banner {
    background-image: url("../images/parallax-images/oracle-banner.jpg");
}
#oracle_dba_banner {
    background-image: url("../images/parallax-images/oracle-banner.jpg");
}
#oracle_developer_banner {
    background-image: url("../images/parallax-images/oracle-banner.jpg");
}
#oracle_ebs_banner {
    background-image: url("../images/parallax-images/oracle-banner.jpg");
}
#oracle_golden_gate_banner {
    background-image: url("../images/parallax-images/oracle-banner.jpg");
}
#oracle_soa_banner {
    background-image: url("../images/parallax-images/oracle-banner.jpg");
}
#weblogic_banner {
    background-image: url("../images/parallax-images/oracle-banner.jpg");
}
#siebel_open_ui_banner {
    background-image: url("../images/parallax-images/oracle-banner.jpg");
}
#oracle_12c_banner {
    background-image: url("../images/parallax-images/oracle-banner.jpg");
}
/*-- //parallax bg images --*/

/*-- thumbnails --*/
.thumbnail {
    width: 215px;
    height: 270px;
    padding: 0;
    border-radius: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail img {
    cursor: pointer;
}
/*-- //thumbnails --*/

.course-desc-icon {
    float: right;
    padding: 0 0 20px 20px;
}
.course-desc-icon img {
    width: auto;
    height: 200px;
}
.course-highlights {
    background-color: #B2EBF2;
    padding: 20px 20px 20px 40px;
    border-radius: 4px;
}
.course-highlights h4 {
    margin-top: 15px !important;
}
.trainer-details {
    background-color: #FFF9C4;
    padding: 20px 20px 20px 40px;
    border-radius: 4px;
}
.trainer-details h4 {
    margin-top: 15px !important;
}

.detail-cards-desc {
    background-color: #d7d7f6;
    text-align: center;
    padding: 20px;
}
.detail-cards-desc p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.8em;
}
/*-- Discounts --*/
.offer-scroll {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    text-align: center;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 34px 10px #f1f1f1;
}
.d-percent {
    background-color: #E91E63;
    color: #fff;
    font-size: 50px;
    left: 30%;
    width: 120px;
    height: 120px;
    top: -60px;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
}
.d-number {
    padding: 20px 0;
}
.d-text {
    text-align: center;
    color: darkgray;
    margin-top: 70px;
    margin-bottom: 30px;
}
/*-- //Discounts --*/

.timing-schedule {
    background-color: #fbfbfb;
    padding: 30px;
}
.timing-schedule table td {
    text-align: center;
}
.contents-heading {
    font-size: 20px;
    font-weight: 400;
}
.list-la {
    list-style-type: lower-alpha;
}
.list-none {
    list-style-type: none;
}

/*-- Custom Buttons --*/
.btn-custom {
    background-color: #8bc44a;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: 1px solid #8bc44a;
    border-radius: 4px;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    background-color: #689F38;
    color: #fff;
    text-decoration: none;
    border: 1px solid #689F38;
    cursor: pointer;
}
.btn-custom-inverse {
    background-color: transparent;
    color: #8bc34a;
    font-weight: 500;
    display: inline-block;
    border: 1px solid #8bc34a;
    border-radius: 4px;
}
.btn-custom-inverse:hover, .btn-custom-inverse:focus, .btn-custom-inverse:active {
    background-color: #8bc34a;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.btn-custom-md {
    padding: 6px 12px;
}
.btn-custom-lg {
    padding: 10px 20px;
}
.btn-custom[disabled] {
    background-color: #8bc44a;
    color: #fff;
    border: 1px solid #8bc44a;
    opacity: .65;
}
.btn-custom[disabled]:hover {
    cursor: not-allowed;
}

/*-- Responsive Designs --*/
@media (max-width: 768px) {
    .navbar-toggle {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .navbar-brand {
        height: 46px;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 35px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    p, .para-desc {
        font-size: 12px;
    }
    .carousel-caption {
        bottom: 0;
    }
    .home-reg.bgStyles {
        height: 568px;
    }
    .home-reg-panel .grid2 {
        margin-top: 0;
    }
}
/*-- //Responsive Designs --*/

/*-- Login Page --*/
.bg-img {
    background-image: url("../../images/parallax-images/home_st_tr_bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-panel {
    background-color: #fff;
    width: 300px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#loginForm label {
    font-weight: 100;
}

/*-- //Login Page --*/

/*-- Courses Pages --*/
/*Avinash*/
.tile{
    padding: 25px;
}
.tla{
    background:#41fc1c4d;
}
.tlb{
    background:#fca21c4d;
}
.tlc{
    background:#1c2bfc4d;
}
/*//Avinash*/

.c-syllabus h1 {
    color: orangered;
}
.c-syllabus h3 {
    color: #F44336;
}
.c-syllabus > h4 {
    color: coral;
    margin-top: 30px;
    margin-bottom: 15px;
}
.c-syllabus ul {
    margin-bottom: 20px;
}
.c-syllabus ul li, .c-syllabus ol li {
    line-height: 1.8em;
}
.course-duration {
    color: #aaa;
}
.v-divider {
    margin-left: 5px;
    margin-right: 5px;
}
.section {
    color: mediumblue;
}
.prerequisite {
    font-size: 18px;
}
.c-syllabus .alert {
    display: inline-block;
}
/*-- //Courses Pages --*/

/*-- About us Page --*/
.about p {
    text-align: justify;
}
.brochure-abt a {
    background-color: #8bc34a;
    color: #fff;
    padding: 20px 40px;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
}
.brochure-abt a:hover, .brochure-abt a:focus {
    background-color: #689f38;
}
.brochure-abt a:active {
    box-shadow: inset 0 0 20px 0px #666;
}
.brochure-abt a .fa.fa-download {
    /* color: #689f38; */
    font-size: 20px;
}
/*-- //About us Page --*/







/*-- Category Designs --*/
.course-strip a {
    text-decoration: none;
}
.course-strip h3, .course-strip ul {
    color: #444;
}
.course-strip-inner {
    padding: 20px 20px;
    /* box-shadow: 0px 0px 20px 0px #ccc; */
    border: 1px solid #ddd;
    border-radius: 4px;
}
.course-strip-inner:hover {
    background-color: #fff;
    box-shadow: 0px 0px 20px 2px #ccc;
}
.course-info {
    margin-left: 250px;
    display: block;
}
.course-info p {
    color: #999;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.c-d-l  {
    padding-left: 0;
    display: inline-block;
}
.c-d-l li  {
    display: inline-block;
    list-style-type: none;
}
.course-dtls-list-left li {
    padding: 0 20px 0 0;
}
.course-dtls-list-right li {
    font-size: 20px;
}
/*-- //Category Designs --*/

/*-- Accordion Designs --*/
.panel-group .panel+.panel {
    margin-top: 10px;
}
.panel-heading {
    padding: 0;
}
.panel-title>a {
    padding: 15px;
    display: block;
}
.panel-title>a:hover {
    text-decoration: none;
}
/*-- //Accordion Designs --*/

/*-- Modal Designs --*/
.custom-modal {
    background: -webkit-linear-gradient(top,#9ddc53 0%,#689f38 100%);
    background: -o-linear-gradient(top,#9ddc53 0%,#689f38 100%);
    background: -ms-linear-gradient(top,#9ddc53 0%,#689f38 100%);
    background: -moz-linear-gradient(top,#9ddc53 0%,#689f38 100%);
    background: linear-gradient(to bottom,#9ddc53 0%,#689f38 100%);
    width: 730px;
    position: relative;
    height: auto;
    display: inline-block;
    border: 0;
    border-radius: 0;
}
/* Message Modal */
.msg-modal {
    width: 360px;
    position: relative;
    height: auto;
    display: inline-block;
    border: 0;
    border-radius: 0;
    border-radius: 20px;
}
.error-modal .message-icon {
    background-color: #f65656;
    border-radius: 20px 20px 0 0;
}
.success-modal .message-icon {
    background-color: #66BB6A;
    border-radius: 20px 20px 0 0;
}
.message-icon .fa {
    display: block;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 50px;
}
.message {
    color: #3b445f;
    padding: 20px 40px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}
.message .modal-title {
    font-size: 30px;
    font-weight: 700;
}
.message .btn-msg {
    padding: 2px 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: none;
}
.error-modal .message .btn-err-msg {
    background-color: #f65656;
    color: #fff;
    border: 1px solid #f65656;
}
.error-modal .message .btn-err-msg:hover, .error-modal .message .btn-err-msg:focus, .error-modal .message .btn-err-msg:active {
    background-color: #fff;
    color: #f65656;
    border: 1px solid #f65656;
}
.success-modal .message .btn-success-msg {
    background-color: #66BB6A;
    color: #fff;
    border: 1px solid #66BB6A;
}
.success-modal .message .btn-success-msg:hover, .success-modal .message .btn-success-msg:focus, .success-modal .message .btn-success-msg:active {
    background-color: #fff;
    color: #66BB6A;
    border: 1px solid #66BB6A;
}
/* Message Modal */
.modal-close {
    padding: 10px !important;
    position: absolute;
    right: 0;
    z-index: 1;
}
.custom-modal-left {
    width: 310px;
    float: left;
}
.custom-modal-txt {
    color: #fff;
    padding: 40px;
}
.custom-modal-txt > div {
    margin-bottom: 30px;
    font-size: 24px;
}
.custom-modal-txt > div > span {
    color: rebeccapurple;
}
.custom-modal-right {
    background-color: #fff;
    width: 418px;
    padding: 30px;
    float: right;
}
.custom-modal-right .form-group {
    margin-bottom: 20px;
}
#subscribeModal .modal-title {
    font-size: 30px;
    font-weight: 600;
}
#subscribeModal p {
    margin-bottom: 30px;
}
#subscribeModal input {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 24px !important;
    border-radius: 50px !important;
}
.btn-m:hover {
    box-shadow: 0px 0px 5px 5px #eee;
}
.btn-modal {
    background-color: #8bc44a;
    color: #fff;
    padding: 5px 20px;
    width: 49%;
    border: 1px solid #8bc44a;
    border-radius: 30px;
}
.btn-modal[disabled] {
    opacity: .65;
    cursor: not-allowed;
    box-shadow: none;
}
.btn-modal-inverse {
    background-color: #fff;
    color: #8bc44a;
    padding: 5px 20px;
    width: 49%;
    border: 1px solid #8bc44a;
    border-radius: 30px;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 730px;
    }
    .modal-dialog.modal-sm {
        width: 360px;
    }
}
/*-- //Modal Designs --*/

/*-- Bottom Bar --*/
.bottom-bar {
    background-color: #333;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: -41px;
    border-top: 1px solid #111;
    z-index: 1030;
}
.bottom-bar .nav li {
    float: left;
}
.bottom-bar .nav li a {
    color: #fff;
    padding: 0;
    margin: 10px;
}
.bottom-bar .nav li a .fa {
    margin-right: 5px;
}
.bottom-bar .nav li a:focus, .bottom-bar .nav li a:hover {
    text-decoration: underline;
    background-color: #333333;
}
.divider-v {
    margin: 10px 0;
}
/*-- //Bottom Bar --*/

/*-- Subscribe Home Page --*/
@media(min-width: 992px) {
    .subscribe-wrapper {
        background-image: url("../images/content-images/mail-box-small.png");
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
    }
}
.subscribe-form input {
    padding: 12px 10px;
    width: 100%;
    font-size: 17px;
    border: 1px dashed #ccc;
    border-right: 0;
}
.subscribe-form .btn-subscribe {
    background-color: #8bc34a;
    color: #fff;
    padding: 14px 20px;
    border-color: #8bc34a;
}
.subscribe-form .btn-subscribe:hover[disabled] {
    background-color: #8bc34a;
    color: #fff;
}
.subscribe-form .btn-subscribe:hover, .subscribe-form .btn-subscribe:focus, .subscribe-form .btn-subscribe:active {
    background-color: #fff;
    color: #8bc34a;
    padding: 14px 20px;
    border-color: #8bc34a;
    box-shadow: none;
}
/*-- //Subscribe Home Page --*/















