<div class="container-fluid">
    <div class="row mb-50">
        <div class="">
            <img class="img-responsive" src="./images/parallax-images/analytical-tools.jpg" alt="Analytical-Tools-Pro-eLearning">
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-50">
        <div class="page-title">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="text-center mt-0 mb-0">Analytical Tools</h1>
            </div>
        </div>
    </div>

    <!-- Courses List Display -->
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="course-strip mb-20">
                <a ng-href="analytical-tools/tableau">
                    <div class="course-strip-inner transition">
                        <div class="course-img pull-left">
                            <img class="img-responsive" src="./images/course-thumbnails/tableau.jpg">
                        </div>
                        <div class="course-info">
                            <h3 class="mt-10">Tableau</h3>
                            <p clamp="1">Tableau is a leading analytical tool.</p>
                            <div class="course-dtls">
                                <ul class="c-d-l course-dtls-list-left mb-0 pull-left">
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 45h</li>
                                    <!-- <li><i class="fa fa-users" aria-hidden="true"></i> Enrolled: 126</li> -->
                                </ul>
                                <!-- <ul class="c-d-l course-dtls-list-right mb-0 pull-right">
                                    <li><i class="fa fa-usd" aria-hidden="true"></i> 400</li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <div class="course-strip mb-20">
                <a ng-href="analytical-tools/remedy-ticketing-tool">
                    <div class="course-strip-inner transition">
                        <div class="course-img pull-left">
                            <img class="img-responsive" src="./images/course-thumbnails/remedy-ticketing-tool.jpg">
                        </div>
                        <div class="course-info">
                            <h3 class="mt-10">Remedy Ticketing Tool</h3>
                            <p clamp="1">Remedy Ticketing Tool is a hot cake in present market.</p>
                            <div class="course-dtls">
                                <ul class="c-d-l course-dtls-list-left mb-0 pull-left">
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 45h</li>
                                    <!-- <li><i class="fa fa-users" aria-hidden="true"></i> Enrolled: 126</li> -->
                                </ul>
                                <!-- <ul class="c-d-l course-dtls-list-right mb-0 pull-right">
                                    <li><i class="fa fa-usd" aria-hidden="true"></i> 400</li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <div class="course-strip mb-20">
                <a ng-href="analytical-tools/qlikview">
                    <div class="course-strip-inner transition">
                        <div class="course-img pull-left">
                            <img class="img-responsive" src="./images/course-thumbnails/qlikview.jpg">
                        </div>
                        <div class="course-info">
                            <h3 class="mt-10">QlikView</h3>
                            <p clamp="1">QlikView is a Cloud and Integration Tool.</p>
                            <div class="course-dtls">
                                <ul class="c-d-l course-dtls-list-left mb-0 pull-left">
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 45h</li>
                                    <!-- <li><i class="fa fa-users" aria-hidden="true"></i> Enrolled: 126</li> -->
                                </ul>
                                <!-- <ul class="c-d-l course-dtls-list-right mb-0 pull-right">
                                    <li><i class="fa fa-usd" aria-hidden="true"></i> 400</li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <div class="course-strip mb-20">
                <a ng-href="analytical-tools/tibco-spotfire">
                    <div class="course-strip-inner transition">
                        <div class="course-img pull-left">
                            <img class="img-responsive" src="./images/course-thumbnails/tibco-spotfire.jpg">
                        </div>
                        <div class="course-info">
                            <h3 class="mt-10">Tibco Spotfire</h3>
                            <p clamp="1">Tibco Spotfire is a smart, secure, governed, enterprise-class analytics platform with built-in data wrangling that delivers AI-driven, visual, geo, and streaming analytics.</p>
                            <div class="course-dtls">
                                <ul class="c-d-l course-dtls-list-left mb-0 pull-left">
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 45h</li>
                                    <!-- <li><i class="fa fa-users" aria-hidden="true"></i> Enrolled: 126</li> -->
                                </ul>
                                <!-- <ul class="c-d-l course-dtls-list-right mb-0 pull-right">
                                    <li><i class="fa fa-usd" aria-hidden="true"></i> 400</li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

    <!-- <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="analytical-tools/tableau">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/tableau.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>Tableau</h4>
                        <p clamp="2">Tableau is a leading analytical tool.</p>
                        <a ng-href="analytical-tools/tableau" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="analytical-tools/remedy-ticketing-tool">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/remedy-ticketing-tool.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>Remedy Ticketing Tool</h4>
                        <p clamp="2">Remedy Ticketing Tool is a hot cake in present market.</p>
                        <a ng-href="analytical-tools/remedy-ticketing-tool" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="analytical-tools/qlikview">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/qlikview.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>QlikView</h4>
                        <p clamp="2">QlikView is a Cloud and Integration Tool.</p>
                        <a ng-href="analytical-tools/qlikview" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="analytical-tools/tibco-spotfire">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/tibco-spotfire.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>Tibco Spotfire</h4>
                        <p clamp="2">Tibco Spotfire is a smart, secure, governed, enterprise-class analytics platform with built-in data wrangling that delivers AI-driven, visual, geo, and streaming analytics.</p>
                        <a ng-href="analytical-tools/tibco-spotfire" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-hidden col-xs-hidden">
            <h4 class="text-center">New Demos</h4>
        </div>
    </div> -->
        
