<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/android.jpg" alt="Android-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/dotnet.png" alt="Android Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Android Course Content</h1>
                        <hr>
                        <h4>Introduction</h4>
                        <ul>
                            <li>What is Android?</li>
                            <li>Features</li>
                            <li>Versions of Android</li>
                            <li>Application Framework</li>
                            <li>Sample programs</li>
                            <li>Database Concepts</li>
                            <li>Why Android?</li>
                        </ul>
                        <h4>Fundamentals</h4>
                        <ul>
                            <li>History</li>
                            <li>Different Versions</li>
                            <li>DVM</li>
                            <li>Packaging</li>
                            <li>APK</li>
                            <li>Folder Structure</li>
                            <li>Unpacking</li>
                            <li>Basic features of Android</li>
                        </ul>
                        <h4>Architecture of Android</h4>
                        <h4>Application Framework</h4>
                        <ul>
                            <li>Managers in Android</li>
                            <li>Activity Manager</li>
                            <li>Window Manager</li>
                            <li>Resource Manager</li>
                            <li>Package Manager</li>
                            <li>Telephony Manager</li>
                        </ul>
                        <h4>Building Blocks</h4>
                        <ul>
                            <li>Activity</li>
                            <li>Services</li>
                            <li>Content Providers</li>
                            <li>Broadcast Receivers</li>
                        </ul>
                        <h4>Widgets & Layouts</h4>
                        <ul>
                            <li>Layouts, Layouts Vs Widgets</li>
                            <li>Existing Framework Widgets</li>
                            <li>Animations</li>
                            <li>Menus, Dialogs, Notification</li>
                            <li>Toast</li>
                        </ul>
                        <h4>Advanced Misc</h4>
                        <ul>
                            <li>Bluetooth</li>
                            <li>Networks </li>
                            <li>Wi-Fi</li>
                            <li>Telephony & SMS</li>
                            <li>Audio & Video Players</li>
                            <li>Camera exposure</li>
                            <li>Debugging & Deployment</li>
                        </ul>
                        <h4>DataStorage</h4>
                        <ul>
                            <li>Files</li>
                            <li>Shared Preferences</li>
                            <li>Content Providers</li>
                            <li>SQLite3</li>
                        </ul>
                        <h4>Tools</h4>
                        <ul>
                            <li>DDMS</li>
                            <li>ADB</li>
                            <li>Hierarchy Viewer</li>
                            <li>Logcat</li>
                            <li>Monkey</li>
                            <li>Sqlite3</li>
                            <li>Draw 9- Patch</li>
                        </ul>
                        <h4>Add ons</h4>
                        <ul>
                            <li>Google API’s</li>
                            <li>Overlays</li>
                            <li>Concurrent Exceptions</li>
                            <li>MVC Architecture</li>
                            <li>Threads</li>
                            <li>Handlers</li>
                            <li>Process Vs Task</li>
                            <li>Supporting Multiple Screen Resulutions</li>
                            <li>Rooting Android Phone</li>
                        </ul>
                        <h4>Parsing</h4>
                        <ul>
                            <li>SAX</li>
                            <li>DOM</li>
                            <li>XML Parser</li>
                            <li>XML Pull Parser</li>
                            <li>JSON Parser</li>
                        </ul>
                        <h4>Student Attention</h4>
                        <ul>
                            <li>Regular Assignments</li>
                            <li>Online Work</li>
                            <li>Application Exposure</li>
                            <li>Live Project Explanation</li>
                            <li>Sample project assignments</li>
                        </ul>
                        <h4>WebServices</h4>
                        <ul>
                            <li>REST API</li>
                            <li>SOAP API</li>
                        </ul>
                        <h4>Along with these topics, 150+ Interview Questions also in Topics wise</h4>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <h1 class="text-center">Space<br>For<br>ADS</h1>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
