<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/sysops.png" alt="AWS-SysOps-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">AWS SysOps Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (1,874)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>The trainer for this AWS SysOps course has extensive experience in deploying and managing AWS Stack and carries years of experience mentoring professionals working with AWS.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>Amazon Web Service's core certifications span three key knowledge areas: architecture, development, and operations, and come in 2 skill levels - associate and professional. AWS also offers specialty certifications that prove advanced expertise in targeted IT domains, such as big data and networking.</p>
                    <p>AWS SysOps - Associate certification & validates your ability in deploying, scaling, migrating and managing AWS systems.SysOps certification exam candidates are recommended to have at least one year of hands-on experience managing cloud applications on the AWS platform.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖</span>
                    </div>
                </div>

                <!-- Course Overview -->
                
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. AWS infrastructure <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Amazon Virtual Private Cloud (VPC)</li>
                                    <li>Amazon Elastic Compute Cloud (EC2)</li>
                                    <li>Elastic Load Balancing</li>
                                    <li>Auto Scaling</li>
                                    <li>System Operations on AWS Overview</li>
                                    <li>Networking in the Cloud</li>
                                    <li>Computing in the Cloud</li>
                                    <li>Storage and Archiving in the Cloud</li>
                                    <li>Monitoring in the Cloud</li>
                                    <li>Managing Resource Consumption in the Cloud</li>
                                    <li>Configuration Management in the Cloud</li>
                                    <li>Creating Scalable Deployments in the Cloud</li>
                                    <li>Creating Automated and Repeatable Deployments</li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/qN_0FgZulmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>This is one of the great experience in my life, each & everything I learned  AWS SysOps.</p>
                            <h4 class="pull-right">&#x2015; Divit </h4>
                        </div>
                        <div class="item slide">
                            <p>Pro-elearning  providing good Faculty as well as good environment for learning here. I got practical knowledge of the subject.</p>
                            <h4 class="pull-right">&#x2015; Akash</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>