<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/azure.jpg" alt="Azure-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/azure.png" alt="Java Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Azure Course Content</h1>
                        <hr>
                        <h4>1. Introduction to Azure</h4>
                        <ul>
                            <li>Cloud technology overview</li>
                            <li>What is PaaS/ SaaS/ IaaS
                                <ul>
                                    <li>Overview of Azure</li>
                                </ul>
                            </li>
                            <li>Managing Azure with the Azure portal
                                <ul>
                                    <li>Demo: Azure Portal</li>
                                    <li>Overview of Azure Resource Manager</li>
                                </ul>
                            </li>
                            <li>Azure management services</li>
                            <li>Azure Architecture
                                <ul>
                                    <li>Development Tools</li>
                                </ul>
                            </li>
                            <li>Visual Studio tools</li>
                            <li>Demo: Visual Studio tools</li>
                        </ul>
                        <h4>2. Virtual Networks in Microsoft Azure</h4>
                        <ul>
                            <li>Creating a Virtual Network</li>
                            <li>Understand Point-to-Site Networks</li>
                            <li>Demo: Create Azure virtual networks</li>
                        </ul>
                        <h4>3. Virtual Machines in Microsoft Azure</h4>
                        <ul>
                            <li>Create and Configure Virtual Machines</li>
                            <li>Workloads on Azure Virtual Machines</li>
                            <li>Implement Images and Disks</li>
                            <li>VM Networking</li>
                            <li>Configure Disks</li>
                            <li>Monitor Vms</li>
                            <li>Demo: Create and Connect to Virtual Machines</li>
                            <li>Demo: Create an Azure Virtual Network</li>
                            <li>Demo: Configure Endpoints and Monitoring</li>
                        </ul>
                        <h4>4. Implementing Storage in Microsoft Azure</h4>
                        <ul>
                            <li>Understand Cloud Storage
                                <ul>
                                    <li>Blobs, Azure Files</li>
                                    <li>Storage Queues, Tables</li>
                                    <li>Managing Access</li>
                                </ul>
                            </li>
                            <li>Create and Manage Storage
                                <ul>
                                    <li>Configure Diagnostics and Monitoring</li>
                                    <li>Demo: Create and manage storage in Azure.</li>
                                </ul>
                            </li>
                        </ul>
                        <h4>5. Web Apps for Azure Infrastructure</h4>
                        <ul>
                            <li>Deploy & Configure Websites</li>
                            <li>Scaling</li>
                            <li>Web App Deployment Models and Methods
                                <ul>
                                    <li>Web Deploy Packages</li>
                                    <li>Deployment Slots</li>
                                </ul>
                            </li>
                            <li>Demo: Deploying Azure Web Apps from the Portal</li>
                            <li>Demo: Deploying Azure Web Apps from Visual Studio 2015</li>
                        </ul>
                        <h4>6. Cloud Services in Azure</h4>
                        <ul>
                            <li>Overview of Cloud Services</li>
                            <li>Cloud Service Web Roles</li>
                            <li>Customizing Cloud Service Configurations</li>
                            <li>Updating and Managing Cloud Service Deployments</li>
                            <li>Cloud Service Worker Role</li>
                            <li>Cloud Service Worker Role Processing</li>
                            <li>Analyzing Application Cloud Service Role Instances</li>
                            <li>Demo: WebRoles and Worker Roles</li>
                        </ul>
                        <h4>7. SQL Azure</h4>
                        <ul>
                            <li>Introduction</li>
                            <li>SQL Azure concepts</li>
                            <li>Demonstration: Working with SQL Azure</li>
                            <li>Data synchronization
                                <ul>
                                    <li>Migration methods</li>
                                    <li>Limitations</li>
                                </ul>
                            </li>
                            <li>Demo: Migration through SSMS and Visual Studio</li>
                        </ul>
                        <h4>8. Application Hosting Services</h4>
                        <ul>
                            <li>Service Plans</li>
                            <li>Hosting Databases</li>
                            <li>Hosting services on-premises vs Windows Azure</li>
                            <li>Demo: Managing Databases and Azure Subscriptions</li>
                        </ul>
                        <h4>9. Windows Azure Service Bus</h4>
                        <ul>
                            <li>Introduction Windows Azure Service Bus</li>
                            <li>MSMQ vs Azure Service Bus</li>
                            <li>Windows Azure Service Bus Relays</li>
                            <li>Windows Azure Service Bus Queues</li>
                            <li>Windows Azure Service Bus Topics</li>
                            <li>Demo: Windows Azure Service Bus Relays |Topics |Queues</li>
                        </ul>
                        <h4>10. Deploying Services</h4>
                        <ul>
                            <li>Creating and deploying Web Application packages</li>
                            <li>Command-line tools for web deployment packages</li>
                            <li>Deploying to Windows Azure Environments</li>
                            <li>Continuous delivery with TFS and GIT</li>
                            <li>Best practices for production deployment</li>
                            <li>Local Redundancy</li>
                            <li>Geo-Redundancy</li>
                            <li>Read-only Geo-Redundancy
                                <ul>
                                    <li>Demo: Deploying services</li>
                                </ul>
                            </li>
                        </ul>
                        <h4>11. Implementing Azure Active Directory</h4>
                        <ul>
                            <li>Creating and managing Azure AD tenants</li>
                            <li>Administering Active AD</li>
                            <li>Extending on-premises Active Directory domain to Azure</li>
                            <li>Implementing directory synchronization by using Azure AD Connect</li>
                            <li>Configuring directory synchronization</li>
                            <li>Federation Concepts
                                <ul>
                                    <li>Identity management and access control</li>
                                </ul>
                            </li>
                        </ul>
                        <h4>12. Identity Management and Access Control</h4>
                        <ul>
                            <li>Windows Azure Access Control Service</li>
                            <li>Azure Security Access Control</li>
                            <li>Shared Access Signatures with Azure Service Bus and Queue Storage Services</li>
                            <li>Shared Access Signatures Best Practices</li>
                        </ul>
                        <h4>13. No SQL in Azure</h4>
                        <ul>
                            <li>Azure Document DB</li>
                            <li>Other No-SQL Alternatives</li>
                            <li>Demo: SQL queries, expressions, Built in Functions</li>
                        </ul>
                        <h4>14. Advanced Topics</h4>
                        <ul>
                            <li>Introduction to Internet of Things - IoT</li>
                            <li>Event Hubs</li>
                        </ul>
                    
                    </div>
                    <button class="btn btn-custom" data-toggle="modal" data-target="#myModal">Download</button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    	<div class="modal-dialog">
                    		<div class="modal-content">
                            	<div class="modal-header">
                    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#10006;</button>
                    				<h4 class="modal-title align-center" id="myModalLabel">Please Enter Your Details</h4>
                    			</div> <!-- /.modal-header -->
                            	<div class="modal-body">
                        			<form class="form-horizontal" enctype="multiform/form-data" method="post" action=" ">
                            			<div class="form-group">
                                            <label class="col-xs-3 col-md-4 control-label">Name</label>
                                            <div class="col-xs-5 col-md-8">
                                                <input type="text" class="form-control" id="email10" name="name" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-3 col-md-4 control-label">Email</label>
                                            <div class="col-xs-5 col-md-8">
                                                <input type="email" class="form-control"   id="email10" name="email" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-3 col-md-4 control-label">Phone number</label>
                                            <div class="col-xs-5 col-md-8">
                                                <input type="tel" class="form-control"  id="email10" name="Number" />
                                            </div>
                                        </div>
                                        <button type="submit" name="attach12" class="info form-control btn btn-primary">Submit</button>
                    				</form>	
                                </div> <!-- /.modal-body -->
    				            <div class="progress">
    				            	<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
    				            		<span class="sr-only">progress</span>
    				            	</div>
    				            </div>
                            </div> <!-- /.modal-footer -->
                		</div><!-- /.modal-content -->
                	</div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
    
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>