<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/ba-bfsi.jpg" alt="BA-BFSI-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">BA - BFSI Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>12345</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>To learn this course, first you must have a good knowledge in basics of software</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>Banking BA - The Most Desired. ... The BFSI Business Analyst communicates with the client and ensures that the business requirements are met. A banking sector BAis the rainmaker. This is the reason that the Banking sector BA is the most desired role in the IT industry.</p>
                    <p>Indian IT industry has proved its value and utility to clients the world over. It earns hundreds of billions of dollars every year. Banking Financial Services, Securities and Insurance in short BFSI domain as we call it leads the pack. In fact it earns more than 50 % revenue for the IT companies in India. The clients are generous in shelling out top dollars but give business to those IT companies who can prove that their business requirements are understood and delivered comprehensively. The BFSI Business Analyst  communicates with the client and ensures that the business requirements are met. A banking sector BA is the rainmaker. This is the reason that the Banking sector BA is the most desired role in the IT industry.</p>
                    <p>These are the two words which define the BFSI Business analyst. His contribution has impact. The software a BFSI Business Analyst team will deliver will runs banks, stock exchanges. It  powers millions of banking transactions,  without glitches or errors. To  ensure this impact you are smart in your ways, methods and expertise. You are able to show to your team what is valuable to the client. You are also able to show to your clients what are their real requirements. All this requires training and experience which you posses. </p>
                 </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. Business Analyst Training <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Business Analysis</li>
									<li>Enterprise Analysis</li>
									<li>SDLC</li>
									<li>SDLC Methodologies </li>
									<li>Requirement Analysis & Process</li>
									<li>Templates</li>
									<li>Underling Competencies</li>
									<li>Unified Modeling Language (UML)</li>
									<li>Understanding Use Cases</li>
									<li>Requirement Gathering Tools</li>
									<li>Data Modeling & Techniques</li>
									<li>Responsibilities for Business Analyst on Software projects</li>
									<li>Resume Preparations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#two" aria-expanded="false" aria-controls="collapseTwo">2. BFSI Domain TRAINING <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
									<li>Business Analyst Domain Training</li>
									<li>Banking Financial Services Insurance (BFSI)</li>
									<li>Application Development and Management</li>
									<li>Exercises on templates, tools</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tmSwuQY5M8o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>I had joined here for BA-BFSI Course. I am very much satisfied with BA-BFSI training. He explains the topics with real-time examples. So, it is clear and easy to understand to everyone.</p>
                            <h4 class="pull-right">&#x2015; Sudhakar</h4>
                        </div>
                        <div class="item slide">
                            <p>I have completed BA-BFSI programming and my trainer they provide a very good real time training and lab facilities. Finally I got a good knowledge in BA-BFSI not only theoretical practical also. Thank you Pro-elearning.</p>
                            <h4 class="pull-right">&#x2015; Bhargavi</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>
                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>
        
        <!-- Certificate -->
        <div ng-include="'views/certificate.html'"></div>

    </div>
</div>
