<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/build-deployment-engineer.jpg" alt="Buid-and-Deployment-Engineer-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/dotnet.png" alt="Build and Deployment Engineer Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Build and Deployment Engineer Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 34h</p>
                        <hr>
                        <h3>Windows Build Engineer Concepts</h3>
                        <h4>Setting up the TFS</h4>
                        <ul>
                            <li>Installing the Team Foundation Server 2012</li>
                            <li>Configuring the Team Foundation Server</li>
                            <li>Creating the Team Project Collection</li>
                            <li>Creating the Team Project</li>
                            <li>Looking at the default databases and the default files in TFS</li>
                        </ul>
                        <h4>Introduction to MSBuild.exe</h4>
                        <ul>
                            <li>Building the C#.Net,VB.Net,ASP.Net solutions from VSTS IDE</li>
                            <li>Things that a Build Engineer to focus on while building?</li>
                            <li>Explaing the "Properties" tab of the Projects</li>
                            <li>Introduction to Parameters, ItemArrays, Targets in MSBuild.exe</li>
                        </ul>
                        <h4>Configuring the Build Controller</h4>
                        <ul>
                            <li>Creating the Build Agents</li>
                            <li>Creating a build definition with the default process template</li>
                            <li>Building C#.Net, VB.Net, ASP.NET solutions with Build definition</li>
                            <li>Role of Build Controller and Agents in Building the applications </li>
                            <li>Explaining all the tabs of a Build definition</li>
                            <li>Day-to-Day build issues </li>
                            <li>Special focus on Gated check-in builds</li>
                        </ul>
                        <h4>TFS Operations from IDE</h4>
                        <ul>
                            <li>Get Latest</li>
                            <li>Check Out Edit</li>
                            <li>Check In</li>
                            <li>Get Specific</li>
                            <li>Creating Labels</li>
                            <li>Rollback</li>
                            <li>Undo Pending Changes</li>
                            <li>Shelve Pending Changes</li>
                            <li>View History</li>
                            <li>Branching</li>
                            <li>Merging</li>
                            <li>Lock</li>
                            <li>ChangeSet</li>
                        </ul>
                        <h4>Accessing the TFS From Command Prompt</h4>
                        <ul>
                            <li>tf add</li>
                            <li>tf changeset</li>
                            <li>tfs checkin</li>
                            <li>tfs diff</li>
                            <li>tfs undo</li>
                        </ul>
                        <h4>Customizing the Build Process template</h4>
                        <ul>
                            <li>Explaining about WWF XAML default template</li>
                            <li>Explaining about how to pass parameters to template</li>
                            <li>Creating a custom activity</li>
                            <li>Integrating the custom activity with the template</li>
                        </ul>
                        <h4>Advanced Custom activities in XAML and TFS API</h4>
                        <ul>
                            <li>Invoking Powershell / custom Exe from template</li>
                        </ul>
                        <hr>
                        <h3>Windows Deployment Engineer Concepts</h3>
                        <h4>What is powershell? Why powershell is famour for scripting?</h4>
                        <ul>
                            <li>Powershell architecture? Powershell Operators?</li>
                            <li>Powershell cmdlets</li>
                            <li>Powershell Functions</li>
                        </ul>
                        <h4>Use of WMI and COM in Windows Power Shell Overview of Windows Power Shell</h4>
                        <ul>
                            <li>Overview of Objects</li>
                            <li>Working with Cmdlets</li>
                            <li>Tab Expansion, Aliases, and Hostory</li>
                            <li>Using Variable and Types</li>
                        </ul>
                        <h4>Building Pipelines for Assembly-Line Style Processing</h4>
                        <ul>
                            <li>Using Pipelines</li>
                            <li>Using Arrays</li>
                            <li>Filtering and Iterating Through the Pipeline</li>
                            <li>Recording Objects in a Pipeline</li>
                        </ul>
                        <h4>Introduction to Scripting With Windows Power Shell</h4>
                        <ul>
                            <li>Writing Windows PowerShell Scripts</li>
                            <li>Script Parameters</li>
                            <li>Security in Windows PowerShell</li>
                            <li>Customizing Windows PowerShell with Profiles</li>
                        </ul>
                        <h4>Implementing Flow Control and Functions</h4>
                        <ul>
                            <li>Controlling the Flow of Execution within Scripts</li>
                            <li>Iteration Flow Control</li>
                            <li>Developing and Using Functions</li>
                        </ul>
                        <h4>Working with Files, the Registery, and Certificate Stores</h4>
                        <ul>
                            <li>Using Data Stores</li>
                            <li>Using Providers</li>
                            <li>Filtering and Selecting with Regular Expressions</li>
                            <li>Implementing Event Log Management Persisting Object in Files</li>
                        </ul>
                        <h4>Managing the Windows Operating System Using Windows PowerShell and WMI</h4>
                        <ul>
                            <li>Introduction to WMI and WMI objects</li>
                            <li>Managing Disks and Disk Vloumes Using Windows PowerShell with WMI</li>
                            <li>Managing Shared Folders with Windows Powershell and WMI</li>
                        </ul>

                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <h1 class="text-center">Space<br>For<br>ADS</h1>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
