<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/business-analyst.jpg" alt="Business-Analyst-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Business Analyst Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>12345</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

       <div class="row">
            <div class="training-modes">
                <h3>Available Modes of Training</h3>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/online-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>Online Training</h4>
                            <p class="text-justify">Conducted through the virtual classroom also have the same program flow with theory and practical sessions. Our Labs can be accessed online from across the world allowing our online training student to make the best use of the infrastructure from the comfort of their home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/classroom-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-site Training</h4>
                            <p class="text-justify">Trainings will be conducted on a daily basis. Practical exercises are provided for the topics conducted on daily basis to be worked upon during the lab session.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/on-demand-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-demand Training</h4>
                            <p class="text-justify">Select your flexible timings at your convenience for one-to-one training. You individually will assigned a trainer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>To learn this course, first you must have a good knowledge in basics of software</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>A business analyst is someone who analyzes an organization or business domain and documents its business or processes or systems, assessing the business model or its integration with technology. The role of a systems analyst can also be defined as a bridge between the business problems and the technology solutions.</p>
                    <p>If you had a plot of land and wanted to build a house, we hope that you would first engage the services of an architect. The architect would ask you questions – what is your budget, what style of house, how many bedrooms, how much parking or garage space you need, etc. The architect would then draw up plans which they would agree with you before approaching builders to understand the cost of building the house. Once the build was underway the architect would monitor the build to make sure the house was built according to your needs. Occasionally problems might arise requiring the plans to be revised, or, you might want to make some modifications to the plans which would need to be agreed with the builder.</p>
                    <p>Being a business analyst is a bit like being an architect but instead of building a house, we are developing or updating a computer system. A business analyst takes responsibility for talking to the business users of the computer system to understand their needs. Instead of producing plans, the business analyst produces 'requirements' which clearly state the business needs and align with business processes. The requirements are then used by the IT team or an external supplier to build or modify the system. While the system is being built the business analyst is on hand to deal with issues and questions, and to support the business in implementing the required changes to make effective use of the new system.</p>
                 </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. Session 1 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Role of a Business Analyst (“BA”)</li>
									<li>Structure of Development Team(Business/IT) </li>
									<li>System Development Life Cycle (SDLC)
										<ul>
											<li><b>Requirement Gathering</b></li>
											<li><b>Analysis and Design</b></li>
											<li>Development/Implementation and <b>Testing/QA</b></li>
											<li>Deployment/Installation</li>
											<li>Production (Business Use) / Maintenance / Support / Enhancements / Change Requests</li>
											<li>Software Construction Methods</li>
										</ul>
									</li>
									<li>Software Development Processes:
										<ul>
											<li>Waterfall Method</li>
											<li>Rational Unified Process (RUP)</li>
											<li>Agile/SCRUM</li>
										</ul>
									</li>
									<li>Comparison between Waterfall & RUP & Agile</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#two" aria-expanded="false" aria-controls="collapseTwo">2. Session 2 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
									<li>Importance of Requirement gathering. </li>
									<li>Requirement Gathering Techniques </li>
									<li>JAD Session (“Joint Application Development”) </li>
									<li>Role of a BA in JAD Session </li>
									<li>How to conduct JAD session? </li>
									<li>Different Types of Requirements</li>
									<li>Project Charter</li>
									<li>Vision / Scope Document</li>
									<li>Understanding the concept of Business Modeling / Process Flows / Work Flows (AS-IS / Current State and TO-BE / Future State)</li>
									<li>Creating Business Requirement Document (BRD) / Functional Requirement Document (FRS)</li>
									<li>Understanding Use Cases </li>
									<li>Creating Use cases </li>
									<li>Creating Use Case Narratives/Scenarios </li>
									<li>Requirements Analysis/Use Case Realizations</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#three" aria-expanded="false" aria-controls="collapseThree">3. Session 3 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
									<li>UML(Unified Modeling Language) Methodology
										<ul>
											<li><b>Use Case Diagrams</b>
												<ul>
													<li><b>Basis Flow and Multiple Alternate Flows</b></li>
												</ul>
											</li>
											<li><b>Activity and Sequence Diagrams</b></li>
											<li>Collaboration Diagrams </li>
											<li>State Chart Diagrams </li>
											<li><b>Class and Component Diagrams</b></li>
											<li>Object Diagrams </li>
											<li>Deployment Diagrams </li>
										</ul>
									</li>
									<li>Artifacts Delivered at Each Phase of RUP </li>
									<li>Change Management & Version Control Using Rational Clear Case </li>
									<li>Build Management </li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#four" aria-expanded="false" aria-controls="collapseFour">4. Session 4 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
									<li>Requirement Gathering Tools
										<ul>
											<li>IBM Rational Requisite Pro / MS Share Point ( Document Management)</li>
											<li>Enterprise Architect (UML Modeling/ Requirements Management)</li>
										</ul>
									</li>
									<li>Business Modeling, Requirement Analysis & Designing Tools
										<ul>
											<li>IBM Rational Software Architect( RSA)  - Trail</li>
											<li>Enterprise Architect </li>
											<li>MS Visio ( UML, Process Flows, Any kind of general flow carts, data flows)</li>
										</ul>
									</li>
									<li>Introduction to QA Methodology
										<ul>
											<li>Role of BA in Testing </li>
											<li>Creating Test Cases </li>
											<li>Creating Test Scripts </li>
											<li>Creating Test Plans </li>
										</ul>
									</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#five" aria-expanded="false" aria-controls="collapseFive">5. Session 5 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Different Testing Methods
                                        <ul>
                                            <li>System/Functional and Regression testing </li>
                                            <li>White Box and Black Box Testing </li>
                                            <li>Positive and Negative Testing </li>
                                            <li>GUI and Unit Testing </li>
                                            <li>User Acceptance Testing </li>
                                        </ul>
                                    </li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#six" aria-expanded="false" aria-controls="collapseSix">6. Session 6 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                               <ul>
									<li>Technical Skills:
										<ul>
											<li>HTML, XML</li>
											<li>RDBMS, SQL, PL/SQL</li>
											<li>Data Mapping Documents</li>
										</ul>
									</li>
									<li>Review Session ( Mock Interview Sessions)</li>
							   </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#seven" aria-expanded="false" aria-controls="collapseSeven">7. Additional Sessions for Healthcare Domain Concepts <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
									<li>Intro to HIPPA, EDI</li>
									<li>Healthcare terminology </li>
									<li>Intro to EDI x12 msg format</li>
									<li>Transactions</li>
									<li>270/271</li>
									<li>276/277</li>
									<li>278</li>
									<li>834</li>
									<li>820</li>
									<li>837/835</li>
									<li>Facets / tibco / nasco processings</li>
									<li>Intro Medicare and Medicaid </li>
									<li>Part A, B, C and D</li>
									<li>ICD 9- ICD 10</li>
									<li>Claim types- host/ home </li>
									<li>CLAIMS ADJUDICATION (various adj systems like nasco, facets, tibco, in house)</li>
									<li>Benefits a.
										<ul>
											<li>Co pay</li>
											<li>Deductible etc</li>
											<li>out of pocket</li>
											<li>co insurance</li>
											<li>Holdcodes</li>
										</ul>
									</li>
									<li>Intro to pharmacy</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OOdKkkVp1s8?start=13" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>

                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>It is really interesting and I have learnt quite a lot with this course. So many things I have not done while preparing and getting through with interviews in the past. Really good to know how to do interview things the professional way.</p>
                            <h4 class="pull-right">&#x2015; Brenden</h4>
                        </div>
                        <div class="item slide">
                            <p>I loved the way tutor explained everything. I learned a lot. It gave me confidence to ace my performance for giving interview for the position of Business Analyst.</p>
                            <h4 class="pull-right">&#x2015; Sullivan</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>