<div class="container-fluid">
    <div class="row">
        <img class="img-responsive" src="./images/parallax-images/careers.jpg" alt="Careers-Training-Pro-eLearning">
    </div>
    
    <div class="container">
        <!-- Breadcrumbs -->
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50 text-center">Join Our Team</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="job-post-wrapper">
                    <h4>Business Development Executive (BDE)</h4>
                    <p><b>Posted Date:</b> 02 Dec 2018</p>
                    <p><b>Exp:</b> 2.5yrs</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-post-wrapper">
                    <h4>HR Manager</h4>
                    <p><b>Posted Date:</b> 15 Dec 2018</p>
                    <p><b>Exp:</b> 3.0yrs</p>
                </div>
            </div>
        </div>

    </div>
</div>
