<div class="container-fluid">
    <div class="row">
        <img class="img-responsive" src="./images/parallax-images/careers.jpg" alt="Careers-Training-Pro-eLearning">
    </div>
    
    <div class="container">

        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50 text-center">Join Our Team</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            
        </div>

        
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h3 class="card-title">Full Stack Developer</h3> 
                            <h5 style="text-align:right"> posted on: 20th oct</h5>
                            <br>
                            <p style="text-align:right; position:relative; bottom: 20px;">
                                <button href="#" type="button" class="btn btn-primary">Details</button>
                                <button type="button" class="btn btn-success">Apply</button>
                            </p>
                        </div>
                        <div style="position: relative; bottom:80px;">
                            <p class="card-text">
                                <b>Exp:</b> 3 Years
                            </p>
                            <p class="card-text">
                                <b>Key Skills:</b> Angular, SQL, Java, TypeScript
                            </p>
                            <p class="card-text">
                                <b>Job Description: </b>
                                <br>
                                Building products, dealing with streaming big data to be used for automotive application Hands-on Experience with Spring, iBATIS or related frameworks.Good command on Javascript and frameworks like AngularJS. Understanding of Responsive design frameworks like Bootstrap. Strong experience designing high performance, highly scalable, multi-tenant solutions. Strong handle on various networking protocols, and Unix tools. Strong knowledge of OOPs Concepts, data structures and algorithms. Strong knowledge of database internals RDBMS and NoSQL. Experience building products using distributed computing platforms like Apache Spark and/or Storm is desirable.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card1">
                    <div class="card-body">
                        <h5 class="card-title"> </h5>
                        <p class="card-text">
                            <img class="img-responsive" src="https://image.ibb.co/eGx7yp/sidepannel.png">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    

<style>
    .card{
        margin: 4px;
        padding: 10px;
        max-height: 340px;
    }
    .card:hover{
        -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
        box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    }
    .collapsible {
        background-color: transparent;
        color: black;
        cursor: pointer;
        padding: 3px;
        width: 100px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }
    .active, .collapsible:hover {
        background-color:transparent;
    }
    .content {
        padding: 0 4px;
        display: none;
        overflow: hidden;
        background-color:white;
    }
</style>
