<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/ccna.jpg" alt="CCNA-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">CCNA Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>Basic understanding of computer Networks, understanding of OSI model, basic networking commands.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>CCNA Routing and Switching Training is an Associate level training that enables the learner for performing network related routed and switched tasks such as installation, operations and troubleshooting.</p>
                    <p>The training imparts the skills to protect the integrity of the networks. This training makes the candidates proficient to take the job roles of Network Administrators, Network Specialists, and Network Support Engineers.</p>
                    <p>CCNA is a popular certification among computer network engineers. Full Form of CCNA is Cisco Certified Network Associate. It is a certification program valid for all type of engineers. It includes entry-level network engineers, Network Administrators, Network Support Engineers and Network Specialists.</p>
                    <p>It is estimated that more than 1 million CCNA certificates have been awarded since it was first launched in 1998.</p>
                    <p>The CCNA certificate covers a broad range of networking concepts. It helps candidates to prepare for the latest network technologies they are likely to work on.</p>
                    <p>Some of the common topics covered under CCNA certification include:
                        <ul>
                            <li>IP addressing</li>
                            <li>WLAN and VLAN</li>
                            <li>Network security and management (ACL included)</li>
                            <li>Routers / routing protocols ( EIGRP, OSPF, and RIP)</li>
                            <li>IP Routing</li>
                            <li>Network Device Security</li>
                            <li>Troubleshooting</li>
                            <li>The certificate validates a professional's ability to understand, operate, configure and troubleshoot medium-level switched and routed networks.It also includes the verification and implementation of connections via remote sites using WAN.</li>
                            <li>It teaches the candidate how to create point-to-point network</li>
                            <li>It teaches about how to meet users requirement by determining the network topology</li>
                            <li>It imparts on how to route protocols in order to connect networks</li>
                            <li>It explains about how to construct network addresses</li>
                            <li>It explains on how to establish a connection with remote networks.</li>
                        </ul>
                    </p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖</span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Introduction <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Networking</li>
                                    <li>OSI Reference Model</li>
                                    <li>Ethernet Technologies</li>
                                    <li>Hubs vs. Switches vs. Routers</li>
                                    <li>STP</li>
                                    <li>IPv4 Addressing and Subnetting</li>
                                    <li>TCP and UDP</li>
                                    <li>IPv6 Addressing</li>
                                    <li>Introduction to 802.11 Wireless Part II – The Cisco IOS</li>
                                    <li>Router Components</li>
                                    <li>Introduction to the Cisco IOS</li>
                                    <li>Advanced IOS Functions Part III - Routing</li>
                                    <li>The Routing Table</li>
                                    <li>Static vs. Dynamic Routing</li>
                                    <li>Classful vs. Classless Routing</li>
                                    <li>Configuring Static Routes</li>
                                    <li>RIPv1 & RIPv2</li>
                                    <li>IGRP</li>
                                    <li>EIGRP</li>
                                    <li>OSPF Part IV – VLANs, Access-Lists, and Services</li>
                                    <li>VLANs and VTP</li>
                                    <li>Access-Lists</li>
                                    <li>DNS and DHCP Part V - WANs</li>
                                    <li>Basic WAN Concepts</li>
                                    <li>PPP</li>
                                    <li>Frame-Relay</li>
                                    <li>NAT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Networking Fundamentals <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Exploring the Network Layers</li>
                                    <li>Ethernet Physical and Data Link Layers</li>
                                    <li>Physical Layer</li>
                                    <li>Ethernet Mechanical Properties—The Media</li>
                                    <li>Ethernet Electrical Properties—The Signaling</li>
                                    <li>Data Link Layer</li>
                                    <li>Internet Protocol</li>
                                    <li>Address Resolution Protocol</li>
                                    <li>Internet Control Message Protocol</li>
                                    <li>Layer 3 Connectivity Determination</li>
                                    <li>Unavailable Port Errors</li>
                                    <li>Announcement of New Default Routers</li>
                                    <li>Internet Group Management Protocol and Protocol Independent Multicast</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. Transport Layer <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Transmission Control Protocol</li>
                                    <li>TCP Three-Way Handshake</li>
                                    <li>TCP Sliding Window</li>
                                    <li>TCP Slow Start</li>
                                    <li>TCP Congestion Avoidance</li>
                                    <li>TCP Fast Retransmit</li>
                                    <li>TCP Fast Recovery</li>
                                    <li>TCP Maximum Segment Size</li>
                                    <li>TCP over Satellite</li>
                                    <li>TCP Variable Summary</li>
                                    <li>User Datagram Protocol</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. Introducing Switching, Routing, and Address Translation <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>Exploring Ethernet Frame Switching </li>
                                    <li>Configuring Virtual LANs </li>
                                    <li>Configuring VLAN Trunking </li>
                                    <li>Exploring MAC Learning with Multiple VLANs </li>
                                    <li>VLAN Trunking Protocol </li>
                                    <li>Understanding IP Routing </li>
                                    <li>Configuring Static Routing</li>
                                    <li>Understanding Dynamic Routing</li>
                                    <li>Packet Switching </li>
                                    <li>Process Switching Path</li>
                                    <li>Fast Switching Path </li>
                                    <li>Cisco Express Forwarding </li>
                                    <li>Transparent Bridging</li>
                                    <li>Exploring Network Address Translation </li>
                                    <li>Source Network Address Translation </li>
                                    <li>Static Network Address Translation </li>
                                    <li>Dynamic NAT </li>
                                    <li>Port Address Translation (PAT)</li>
                                    <li>Destination Translation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/koYPxZ_QoY4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>This is a high quality course. A tremendous value for the money. The instructor is extremely knowledgeable and thorough. Is able to express/convey all levels of varying topics effectively.</p>
                            <h4 class="pull-right">&#x2015; Chao</h4>
                        </div>
                        <div class="item slide">
                            <p>Excellent course! The free CCNA Security course is an added bonus, but Chris does a wonderful job of explaining the material and lots of real world tips! The videos are concise and to the point, making it easier to go back to a particular topic you want to review.</p>
                            <h4 class="pull-right">&#x2015; Susan</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>
