<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/ccna.jpg" alt="CCNA-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/dotnet.png" alt="CCNA Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>CCNA Course Content</h1>
                        <hr>
                        <ul>
                            <li><span class="section">Section 1</span> - Introduction to Networking</li>
                            <li><span class="section">Section 2</span> - OSI Reference Model</li>
                            <li><span class="section">Section 3</span> - Ethernet Technologies</li>
                            <li><span class="section">Section 4</span> - Hubs vs. Switches vs. Routers</li>
                            <li><span class="section">Section 5</span> - STP</li>
                            <li><span class="section">Section 6</span> - IPv4 Addressing and Subnetting</li>
                            <li><span class="section">Section 7</span> - TCP and UDP</li>
                            <li><span class="section">Section 8</span> - IPv6 Addressing</li>
                            <li><span class="section">Section 9</span> - Introduction to 802.11 Wireless Part II – The Cisco IOS</li>
                            <li><span class="section">Section 10</span> - Router Components</li>
                            <li><span class="section">Section 11</span> - Introduction to the Cisco IOS</li>
                            <li><span class="section">Section 12</span> - Advanced IOS Functions Part III - Routing</li>
                            <li><span class="section">Section 13</span> - The Routing Table</li>
                            <li><span class="section">Section 14</span> - Static vs. Dynamic Routing</li>
                            <li><span class="section">Section 15</span> - Classful vs. Classless Routing</li>
                            <li><span class="section">Section 16</span> - Configuring Static Routes</li>
                            <li><span class="section">Section 17</span> - RIPv1 & RIPv2</li>
                            <li><span class="section">Section 18</span> - IGRP</li>
                            <li><span class="section">Section 19</span> - EIGRP</li>
                            <li><span class="section">Section 20</span> - OSPF Part IV – VLANs, Access-Lists, and Services</li>
                            <li><span class="section">Section 21</span> - VLANs and VTP</li>
                            <li><span class="section">Section 22</span> - Access-Lists</li>
                            <li><span class="section">Section 23</span> - DNS and DHCP Part V - WANs</li>
                            <li><span class="section">Section 24</span> - Basic WAN Concepts</li>
                            <li><span class="section">Section 25</span> - PPP</li>
                            <li><span class="section">Section 26</span> - Frame-Relay</li>
                            <li><span class="section">Section 27</span> - NAT</li>
                        </ul>
                        <h4>Networking Fundamentals</h4>
                        <ul>
                            <li>Exploring the Network Layers</li>
                            <li>Ethernet Physical and Data Link Layers</li>
                            <li>Physical Layer</li>
                            <li>Ethernet Mechanical Properties—The Media</li>
                            <li>Ethernet Electrical Properties—The Signaling</li>
                            <li>Data Link Layer</li>
                            <li>Internet Protocol</li>
                            <li>Address Resolution Protocol</li>
                            <li>Internet Control Message Protocol</li>
                            <li>Layer 3 Connectivity Determination</li>
                            <li>Unavailable Port Errors</li>
                            <li>Announcement of New Default Routers</li>
                            <li>Internet Group Management Protocol and Protocol Independent Multicast</li>
                        </ul>
                        <h4>Transport Layer</h4>
                        <ul>
                            <li>Transmission Control Protocol</li>
                            <li>TCP Three-Way Handshake</li>
                            <li>TCP Sliding Window</li>
                            <li>TCP Slow Start</li>
                            <li>TCP Congestion Avoidance</li>
                            <li>TCP Fast Retransmit</li>
                            <li>TCP Fast Recovery</li>
                            <li>TCP Maximum Segment Size</li>
                            <li>TCP over Satellite</li>
                            <li>TCP Variable Summary</li>
                            <li>User Datagram Protocol</li>
                        </ul>
                        <h4>Introducing Switching, Routing, and Address Translation</h4>
                        <ul>
                            <li>Exploring Ethernet Frame Switching </li>
                            <li>Configuring Virtual LANs </li>
                            <li>Configuring VLAN Trunking </li>
                            <li>Exploring MAC Learning with Multiple VLANs </li>
                            <li>VLAN Trunking Protocol </li>
                            <li>Understanding IP Routing </li>
                            <li>Configuring Static Routing</li>
                            <li>Understanding Dynamic Routing</li>
                            <li>Packet Switching </li>
                            <li>Process Switching Path</li>
                            <li>Fast Switching Path </li>
                            <li>Cisco Express Forwarding </li>
                            <li>Transparent Bridging</li>
                            <li>Exploring Network Address Translation </li>
                            <li>Source Network Address Translation </li>
                            <li>Static Network Address Translation </li>
                            <li>Dynamic NAT </li>
                            <li>Port Address Translation (PAT)</li>
                            <li>Destination Translation</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <h1 class="text-center">Space<br>For<br>ADS</h1>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
