<div class="row">
    <div class="certificate hidden-xs">
        <!-- Certificate Title -->
        <div class="certificate-title">
            <h3>Expert Certification</h3>
        </div>

        <!-- Certificate Card -->
        <div class="certificate-content">
            <div class="certificate-box">
                <div class="certi-bg">
                    <div class="certi-section">
                        <div class="certi-img-bg">
                            <img class="img-responsive" ng-src="images/certificates/certificate.png" alt="Certificate Pro-elearning">
                            <div class="certi-username-sec">
                                <span class="certi-username">Your Name</span>
                            </div>
                            <div class="certi-coursename-sec">
                                <span class="certi-coursename">Course Name</span>
                            </div>
                            <div class="certi-id-date-sec">
                                <span class="certi-date">NA</span>
                                <span class="certi-id">Sample ID</span>
                                <span class="certi-dir-sign">Signature</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <!-- Certificate Verification Link -->
    <div class="certificate-verify-link col-md-offset-2 col-md-8 hidden-xs">
        <div class="certi-verf-box bg-grey text-center">
            Verify the authenticity of the certificate <a ng-href="verify/certificate-verification" target="_blank">here</a> using Certificate ID.
        </div>
    </div>
</div>