<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/cisa.png" alt="CISA-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">CISA Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (1,874)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>534</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>Get all the experience you’ve listed verified by your employers. The experience should have been gained within the 10-year period preceding the date of application, or within five years of passing the examination.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>Pro-elearning’s CISA certification training is aligned to ISACA and ensures that you ace the exam in your first attempt. Most jobs in this field either require or prefer that candidates have a CISA certification. </p>
                    <p>The CISA training will enhance your understanding of IS audit processes and also help you understand how to protect information systems.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖</span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. The process of auditing information systems <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li><b>IT – audit:</b> definition, basic concepts, goals and objectives</li>
                                    <li>Overview of standards, tools and approaches used in IT audit</li>
                                    <li>Risks assessment within audit process.</li>
                                    <li>Techniques of planning and management of the audit process</li> 
                                    <li>Collection of the information and audit evidence.</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Governance and Management of IT <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>IT strategy, policies, standards and procedures</li>
                                    <li>Risk management within organisation</li>
                                    <li>IT governance, organisational structure and segregation of duties</li>
                                    <li>Maturity and process improvement models</li>
                                    <li>IS management practices</li>
                                    <li>Business continuity planning</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. Systems and infrastructure life cycle management  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Project management practices</li>
                                    <li>Methodology and tools for software development</li>
                                    <li>Configuration and releases management</li>
                                    <li>Data migration and information systems implementation</li> 
                                    <li>Goals and practices of system launch quality assessment</li>
                                </ul>
                            </div>
                        </div>
					</div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. Information systems operations, maintenance and support <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>Practices in IT services management and operational management</li>
                                    <li>Planning and capacity management</li>
                                    <li>Problems and incidents management</li> 
                                    <li>Disaster recovery planning and plans testing</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. IT security audit <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Information security controls</li>
                                    <li>Access management</li>
                                    <li>IT infrastructure security</li> 
                                    <li>Physical security</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qnRIbMUsS5o?start=7" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>CISA training was interactive and real-time, I could ask all my doubts to the trainer, he explains very clearly.</p>
                            <h4 class="pull-right">&#x2015; Vijetha</h4>
                        </div>
                        <div class="item slide">
                            <p>CISA training completed here. I personally feel that it is the right place for successful CISA course.</p>
                            <h4 class="pull-right">&#x2015; Abram </h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>