<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/cloudera.jpg" alt="Cloudera-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Cloudera Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Cloudera Administrator Training for Apache Hadoop</h1>
                        <hr>
                        <h4>Take your knowledge to the next level with Cloudera’s Apache Hadoop Training and Certification</h4>
                        <p>Cloudera University’s four-day administrator training course for Apache Hadoop provides participants with a comprehensive understanding of all the steps necessary to operate and maintain a Hadoop cluster using Cloudera Manager. From installation and configuration through load balancing and tuning, Cloudera’s training course is the best preparation for the real-world challenges faced by Hadoop administrators.</p>
                        <h4>Hands-On Hadoop</h4>
                        <p>Through instructor-led discussion and interactive, hands-on exercises, participants will navigate the Hadoop ecosystem, learning topics such as:</p>
                        <ul>
                            <li>Cloudera Manager features that make managing your clusters easier, such as aggregated logging, configuration management, resource management, reports, alerts, and service management.</li>
                            <li>The internals of YARN, MapReduce, Spark, and HDFS.</li>
                            <li>Determining the correct hardware and infrastructure for your cluster.</li>
                            <li>Proper cluster configuration and deployment to integrate with the data center.</li>
                            <li>How to load data into the cluster from dynamically-generated files using Flume and from RDBMS using Sqoop.</li>
                            <li>Configuring the FairScheduler to provide service-level agreements for multiple users of a cluster.</li>
                            <li>Best practices for preparing and maintaining Apache Hadoop in production.</li>
                            <li>Troubleshooting, diagnosing, tuning, and solving Hadoop issues.</li>
                        </ul>
                        <h4>Audience & Prerequisites</h4>
                        <p>This course is best suited to systems administrators and IT managers who have basic Linux experience. Prior knowledge of Apache Hadoop is not required.</p>
                        <h4>Administrator Certification</h4>
                        <p>Upon completion of the course, attendees are encouraged to continue their study and register for the Cloudera Certified Administrator for Apache Hadoop (CCAH) exam. Certification is a great differentiator. It helps establish you as a leader in the field, providing employers and customers with tangible evidence of your skills and expertise.</p>
                        <hr>
                        <h3>Course Outline: Cloudera Administrator Training for Apache Hadoop</h3>
                        <h4>Introduction</h4>
                        <h4>The Case for Apache Hadoop</h4>
                        <ul>
                        	<li>Why Hadoop?</li>
                        	<li>Fundamental Concepts</li>
                        	<li>Core Hadoop Components</li>
                        </ul>
                        <h4>Hadoop Cluster Installation</h4>
                        <ul>
                        	<li>Rationale for a Cluster Management Solution</li>
                        	<li>Cloudera Manager Features</li>
                        	<li>Cloudera Manager Installation</li>
                        	<li>Hadoop (CDH) Installation</li>
                        </ul>
                        <h4>The Hadoop Distributed File System (HDFS)</h4>
                        <ul>
                        	<li>HDFS Features</li>
                        	<li>Writing and Reading Files</li>
                        	<li>NameNode Memory Considerations</li>
                        	<li>Overview of HDFS Security</li>
                        	<li>Web UIs for HDFS</li>
                        	<li>Using the Hadoop File Shell</li>
                        </ul>
                        <h4>MapReduce and Spark on YARN</h4>
                        <ul>
                        	<li>The Role of Computational Frameworks</li>
                        	<li>YARN: The Cluster Resource Manager</li>
                        	<li>MapReduce Concepts</li>
                        	<li>Apache Spark Concepts</li>
                        	<li>Running Computational Frameworks on YARN</li>
                        	<li>Exploring YARN Applications Through the Web UIs, and the Shell</li>
                        	<li>YARN Application Logs</li>
                        </ul>
                        <h4>Hadoop Configuration and Daemon Logs</h4>
                        <ul>
                        	<li>Cloudera Manager Constructs for Managing Configurations</li>
                        	<li>Locating Configurations and Applying Configuration Changes</li>
                        	<li>Managing Role Instances and Adding Services</li>
                        	<li>Configuring the HDFS Service</li>
                        	<li>Configuring Hadoop Daemon Logs</li>
                        	<li>Configuring the YARN Service</li>
                        </ul>
                        <h4>Getting Data Into HDFS</h4>
                        <ul>
                        	<li>Ingesting Data From External Sources With Flume</li>
                        	<li>Ingesting Data From Relational Databases With Sqoop</li>
                        	<li>REST Interfaces</li>
                        	<li>Best Practices for Importing Data</li>
                        </ul>
                        <h4>Planning Your Hadoop Cluster</h4>
                        <ul>
                        	<li>General Planning Considerations</li>
                        	<li>Choosing the Right Hardware</li>
                        	<li>Virtualization Options</li>
                        	<li>Network Considerations</li>
                        	<li>Configuring Nodes</li>
                        </ul>
                        <h4>Installing and Configuring Hive, Impala, and Pig</h4>
                        <ul>
                        	<li>Hive</li>
                        	<li>Impala</li>
                        	<li>Pig</li>
                        </ul>
                        <h4>Hadoop Clients Including Hue</h4>
                        <ul>
                        	<li>What Are Hadoop Clients?</li>
                        	<li>Installing and Configuring Hadoop Clients</li>
                        	<li>Installing and Configuring Hue</li>
                        	<li>Hue Authentication and Authorization</li>
                        </ul>
                        <h4>Advanced Cluster Configuration</h4>
                        <ul>
                        	<li>Advanced Configuration Parameters</li>
                        	<li>Configuring Hadoop Ports</li>
                        	<li>Configuring HDFS for Rack Awareness</li>
                        	<li>Configuring HDFS High Availability</li>
                        </ul>
                        <h4>Hadoop Security</h4>
                        <ul>
                        	<li>Why Hadoop Security Is Important</li>
                        	<li>Hadoop’s Security System Concepts</li>
                        	<li>What Kerberos Is and how it Works</li>
                        	<li>Securing a Hadoop Cluster With Kerberos</li>
                        	<li>Other Security Concepts</li>
                        </ul>
                        <h4>Managing Resources</h4>
                        <ul>
                        	<li>Configuring cgroups with Static Service Pools</li>
                        	<li>The Fair Scheduler</li>
                        	<li>Configuring Dynamic Resource Pools</li>
                        	<li>YARN Memory and CPU Settings</li>
                        	<li>Impala Query Scheduling</li>
                        </ul>
                        <h4>Cluster Maintenance</h4>
                        <ul>
                        	<li>Checking HDFS Status</li>
                        	<li>Copying Data Between Clusters</li>
                        	<li>Adding and Removing Cluster Nodes</li>
                        	<li>Rebalancing the Cluster</li>
                        	<li>Directory Snapshots</li>
                        	<li>Cluster Upgrading</li>
                        </ul>
                        <h4>Cluster Monitoring and Troubleshooting</h4>
                        <ul>
                        	<li>Cloudera Manager Monitoring Features</li>
                        	<li>Monitoring Hadoop Clusters</li>
                        	<li>Troubleshooting Hadoop Clusters</li>
                        	<li>Common Misconfigurations</li>
                        </ul>
                        <h4>Conclusion</h4>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>