<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/courses-schedule.png" alt="Course-Schedules-Pro-eLearning">
        </div>
    </div>
    
    <div class="row">
        <div class="container">
            <h1 class="text-center mb-30">Courses Schedules</h1>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Course Name</th>
                            <th>Start Date</th>
                            <th>Time</th>
                            <th>Batch Type</th>
                            <th>Training Type</th>
                            <th>Duration</th>
                            <th>Trainer Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>IOS</td>
                            <td>10 July 2018</td>
                            <td>9:30 PM</td>
                            <td>REGULAR</td>
                            <td>ONLINE</td>
                            <td>30 DAYS</td>
                            <td>PRAVEEN</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>FULL STACK</td>
                            <td>26 July 2018</td>
                            <td>9:30 PM</td>
                            <td>REGULAR</td>
                            <td>ONLINE</td>
                            <td>45 DAYS</td>
                            <td>VASU</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>WEBFOCUS</td>
                            <td>28 July 2018</td>
                            <td>7:30 AM</td>
                            <td>REGULAR</td>
                            <td>ONLINE</td>
                            <td>45 DAYS</td>
                            <td>PRANEETH</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    