<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/cyber-network-security.jpg" alt="Cyber-Network-Security-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Cyber Network Security Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>Knowledge of Microsoft windows, Linux, Kali Linux.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>In this Network security training course, you gain the knowledge about analyze network risks, select and deploy appropriate countermeasures, evaluate methods for strong authentication, search for possible vulnerabilities in operating systems.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <h2>Web Server and Website Security</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Web Server Security Strategies <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction and Overview</li>
                                    <li>Security Threats and Vulnerabilities</li>
                                    <li>Web System Hardening - Part I</li>
                                    <li>Web System Hardening - Part II</li>
                                    <li>Recap</li>
                                    <li>Quiz 1 - Questions and hands-on work on the material from Lesson 1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Web Server Monitoring and Maintenance <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction and Overview</li>
                                    <li>Web Server System Monitoring</li>
                                    <li>Web Server Network Monitoring</li>
                                    <li>Web Server File Integrity Monitoring</li>
                                    <li>Attack Detection and Response</li>
                                    <li>System Backups and Restores</li>
                                    <li>Recap</li>
                                    <li>Quiz 2 - Questions and hands-on work on the material from Lesson 2</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. Web Server Software Hardening <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction and Overview</li>
                                    <li>Hide Web Server Details</li>
                                    <li>Managing Web Server Processes</li>
                                    <li>Securing User and Group Accounts</li>
                                    <li>Securing Files and Directories</li>
                                    <li>Implementing Apache ModSecurity</li>
                                    <li>Recap</li>
                                    <li>Quiz 3 - Questions and hands-on work on the material from Lesson 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. Securing Websites <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction and Overview</li>
                                    <li>Secure Website Management</li>
                                    <li>Securing Website Files and Directories</li>
                                    <li>Basic User Authentication</li>
                                    <li>MySQL User Authentication</li>
                                    <li>HTTP and Cookies</li>
                                    <li>Website Security Monitoring</li>
                                    <li>Website Backups and Restores</li>
                                    <li>Recap</li>
                                    <li>Quiz 4 - Questions and hands-on work on the material from Lesson 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. Implementing Website Encryption <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction and Overview</li>
                                    <li>Enabling HTTPS</li>
                                    <li>Obtaining SSL/TLS Certificates</li>
                                    <li>Installing SSL/TLS Certificates</li>
                                    <li>Requiring Encrypted Access</li>
                                    <li>Recap</li>
                                    <li>Quiz 5 - Questions and hands-on work on the material from Lesson 5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#businessObjects" aria-expanded="false" aria-controls="collapseSix">6. Securing Web Scripts and Applications <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="businessObjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction and Overview</li>
                                    <li>Secure Coding</li>
                                    <li>PHP Hardening</li>
                                    <li>CGI Security</li>
                                    <li>Database Security</li>
                                    <li>Recap</li>
                                    <li>Quiz 6 - Questions and hands-on work on the material from Lesson 6</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#errorCaseMgmt" aria-expanded="false" aria-controls="collapseSeven">7. Final Exam <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="errorCaseMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
                                    <li>Comprehensive exam on the entire course</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2>Network Infrastructure Security</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#addFeatures" aria-expanded="false" aria-controls="collapseEight">8. Network Security Strategies <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="addFeatures" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction and Overview</li>
                                    <li>Security Threats and Vulnerabilities</li>
                                    <li>Secure Network Design</li>
                                    <li>Secure Network Device Configurations</li>
                                    <li>Secure Network Device Management</li>
                                    <li>Security Monitoring and Maintenance</li>
                                    <li>Attack Detection and Response</li>
                                    <li>Recap</li>
                                    <li>Quiz 1 - Questions and hands-on work on the material from Lesson 1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#reviewExercise" aria-expanded="false" aria-controls="collapseNine">9. Firewall Security <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="reviewExercise" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
                                    <li>Firewall Security Strategies</li>
                                    <li>Firewall Network Configuration</li>
                                    <li>SSH Configuration</li>
                                    <li>NAT Configuration</li>
                                    <li>Firewall Rules</li>
                                    <li>Creating a DMZ</li>
                                    <li>Firewall Security Monitoring</li>
                                    <li>Firewall Threat Detection</li>
                                    <li>Firewall Traffic Policies</li>
                                    <li>Recap</li>
                                    <li>Quiz 2 - Questions and hands-on work on the material from Lesson 2</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#iws" aria-expanded="false" aria-controls="collapseNine">10. Router Security <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="iws" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <ul>
                                    <li>Router Security Strategies</li>
                                    <li>Router Base Security Configuration</li>
                                    <li>Standard ACL Traffic Filtering</li>
                                    <li>Extended ACL Traffic Filtering</li>
                                    <li>TCP Intercept Configuration</li>
                                    <li>Router Security Monitoring</li>
                                    <li>NetFlow Traffic Monitoring</li>
                                    <li>Recap</li>
                                    <li>Quiz 3 - Questions and hands-on work on the material from Lesson 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#rtat" aria-expanded="false" aria-controls="collapseNine">11. LAN Switch Security <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="rtat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
                                    <li>Switch Security Strategies</li>
                                    <li>Switch Port Security</li>
                                    <li>Port-Based Traffic Control</li>
                                    <li>VLAN Security</li>
                                    <li>ARP and Spoofing Protection</li>
                                    <li>802.1X Authentication</li>
                                    <li>STP Security</li>
                                    <li>Switch Port Mirroring</li>
                                    <li>Recap</li>
                                    <li>Quiz 4 - Questions and hands-on work on the material from Lesson 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tools" aria-expanded="false" aria-controls="collapseNine">12. Network Monitoring and Intrusion Detection <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tools" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction and Overview</li>
                                    <li>Simple Network Management Protocol (SNMP)</li>
                                    <li>Network Mapping</li>
                                    <li>Log Monitoring</li>
                                    <li>Packet Sniffing</li>
                                    <li>Intrusion Detection and Prevention</li>
                                    <li>Recap</li>
                                    <li>Quiz 5 - Questions and hands-on work on the material from Lesson 5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lVPHhVCFwyg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>It is a very good experience to learn from CNS!.Faculty seems excellent in sharing real world experiences.</p>
                            <h4 class="pull-right">&#x2015; Rajkamal</h4>
                        </div>
                        <div class="item slide">
                            <p>I do not feel even for single moment that I am learning from any tutor, it is like face to face gathering with an experienced person sharing it's curriculum knowledge.</p>
                            <h4 class="pull-right">&#x2015; Sudheer</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>
        
        <!-- Certificate -->
        <div ng-include="'views/certificate.html'"></div>

    </div>
</div>
