<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/cyber-network-security.jpg" alt="Cyber-Network-Security-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/dotnet.png" alt="Cyber Network Security Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Cyber Network Security Course Content</h1>
                        <hr>
                        <h3>Web Server and Website Security</h3>
                        <h4>Course Outline:</h4>
                        <ul>
                            <li><b><span class="section">Lesson 1</span> - Web Server Security Strategies</b>
                                <ul>
                                    <li>Part 1 - Introduction and Overview</li>
                                    <li>Part 2 - Security Threats and Vulnerabilities</li>
                                    <li>Part 3 - Web System Hardening - Part I</li>
                                    <li>Part 4 - Web System Hardening - Part II</li>
                                    <li>Part 5 - Recap</li>
                                    <li>Quiz 1 - Questions and hands-on work on the material from Lesson 1</li>
                                </ul>
                            </li>
                            <li><b><span class="section">Lesson 2</span> - Web Server Monitoring and Maintenance</b>
                                <ul>
                                    <li>Part 1 - Introduction and Overview</li>
                                    <li>Part 2 - Web Server System Monitoring</li>
                                    <li>Part 3 - Web Server Network Monitoring</li>
                                    <li>Part 4 - Web Server File Integrity Monitoring</li>
                                    <li>Part 5 - Attack Detection and Response</li>
                                    <li>Part 6 - System Backups and Restores</li>
                                    <li>Part 7 - Recap</li>
                                    <li>Quiz 2 - Questions and hands-on work on the material from Lesson 2</li>
                                </ul>
                            </li>
                            <li><b><span class="section">Lesson 3</span> - Web Server Software Hardening</b>
                                <ul>
                                    <li>Part 1 - Introduction and Overview</li>
                                    <li>Part 2 - Hide Web Server Details</li>
                                    <li>Part 3 - Managing Web Server Processes</li>
                                    <li>Part 4 - Securing User and Group Accounts</li>
                                    <li>Part 5 - Securing Files and Directories</li>
                                    <li>Part 6 - Implementing Apache ModSecurity</li>
                                    <li>Part 7 - Recap</li>
                                    <li>Quiz 3 - Questions and hands-on work on the material from Lesson 3</li>
                                </ul>
                            </li>
                            <li><b><span class="section">Lesson 4</span> - Securing Websites</b>
                                <ul>
                                    <li>Part 1 - Introduction and Overview</li>
                                    <li>Part 2 - Secure Website Management</li>
                                    <li>Part 3 - Securing Website Files and Directories</li>
                                    <li>Part 4 - Basic User Authentication</li>
                                    <li>Part 5 - MySQL User Authentication</li>
                                    <li>Part 6 - HTTP and Cookies</li>
                                    <li>Part 7 - Website Security Monitoring</li>
                                    <li>Part 8 - Website Backups and Restores</li>
                                    <li>Part 9 - Recap</li>
                                    <li>Quiz 4 - Questions and hands-on work on the material from Lesson 4</li>
                                </ul>
                            </li>
                            <li><b><span class="section">Lesson 5</span> - Implementing Website Encryption</b>
                                <ul>
                                    <li>Part 1 - Introduction and Overview</li>
                                    <li>Part 2 - Enabling HTTPS</li>
                                    <li>Part 3 - Obtaining SSL/TLS Certificates</li>
                                    <li>Part 4 - Installing SSL/TLS Certificates</li>
                                    <li>Part 5 - Requiring Encrypted Access</li>
                                    <li>Part 6 - Recap</li>
                                    <li>Quiz 5 - Questions and hands-on work on the material from Lesson 5</li>
                                </ul>
                            </li>
                            <li><b><span class="section">Lesson 6</span> - Securing Web Scripts and Applications</b>
                                <ul>
                                    <li>Part 1 - Introduction and Overview</li>
                                    <li>Part 2 - Secure Coding</li>
                                    <li>Part 3 - PHP Hardening</li>
                                    <li>Part 4 - CGI Security</li>
                                    <li>Part 5 - Database Security</li>
                                    <li>Part 6 - Recap</li>
                                    <li>Quiz 6 - Questions and hands-on work on the material from Lesson 6</li>
                                </ul>
                            </li>
                            <li><b><span class="section">Final Exam</span> - Comprehensive exam on the entire course</b></li>
                        </ul>
                        <hr>
                        <h3>Network Infrastructure Security</h3>
                        <h4>Course Outline:</h4>
                        <ul>
                            <li><b><span class="section">Lesson 1</span> - Network Security Strategies</b>
                                <ul>
                                    <li>Part 1 - Introduction and Overview</li>
                                    <li>Part 2 - Security Threats and Vulnerabilities</li>
                                    <li>Part 3 - Secure Network Design</li>
                                    <li>Part 4 - Secure Network Device Configurations</li>
                                    <li>Part 5 - Secure Network Device Management</li>
                                    <li>Part 6 - Security Monitoring and Maintenance</li>
                                    <li>Part 7 - Attack Detection and Response</li>
                                    <li>Part 8 - Recap</li>
                                    <li>Quiz 1 - Questions and hands-on work on the material from Lesson 1</li>
                                </ul>
                            </li>
                            <li><b><span class="section">Lesson 2</span> - Firewall Security</b>
                                <ul>
                                    <li>Part 1 - Firewall Security Strategies</li>
                                    <li>Part 2 - Firewall Network Configuration</li>
                                    <li>Part 3 - SSH Configuration</li>
                                    <li>Part 4 - NAT Configuration</li>
                                    <li>Part 5 - Firewall Rules</li>
                                    <li>Part 6 - Creating a DMZ</li>
                                    <li>Part 7 - Firewall Security Monitoring</li>
                                    <li>Part 8 - Firewall Threat Detection</li>
                                    <li>Part 9 - Firewall Traffic Policies</li>
                                    <li>Part 10 - Recap</li>
                                    <li>Quiz 2 - Questions and hands-on work on the material from Lesson 2</li>
                                </ul>
                            </li>
                            <li><b><span class="section">Lesson 3</span> - Router Security</b>
                                <ul>
                                    <li>Part 1 - Router Security Strategies</li>
                                    <li>Part 2 - Router Base Security Configuration</li>
                                    <li>Part 3 - Standard ACL Traffic Filtering</li>
                                    <li>Part 4 - Extended ACL Traffic Filtering</li>
                                    <li>Part 5 - TCP Intercept Configuration</li>
                                    <li>Part 6 - Router Security Monitoring</li>
                                    <li>Part 7 - NetFlow Traffic Monitoring</li>
                                    <li>Part 8 - Recap</li>
                                    <li>Quiz 3 - Questions and hands-on work on the material from Lesson 3</li>
                                </ul>
                            </li>
                            <li><b><span class="section">Lesson 4</span> - LAN Switch Security</b>
                                <ul>
                                    <li>Part 1 - Switch Security Strategies</li>
                                    <li>Part 2 - Switch Port Security</li>
                                    <li>Part 3 - Port-Based Traffic Control</li>
                                    <li>Part 4 - VLAN Security</li>
                                    <li>Part 5 - ARP and Spoofing Protection</li>
                                    <li>Part 6 - 802.1X Authentication</li>
                                    <li>Part 7 - STP Security</li>
                                    <li>Part 8 - Switch Port Mirroring</li>
                                    <li>Part 9 - Recap</li>
                                    <li>Quiz 4 - Questions and hands-on work on the material from Lesson 4</li>
                                </ul>
                            </li>
                            <li><b><span class="section">Lesson 5</span> - Network Monitoring and Intrusion Detection</b>
                                <ul>
                                    <li>Part 1 - Introduction and Overview</li>
                                    <li>Part 2 - Simple Network Management Protocol (SNMP)</li>
                                    <li>Part 3 - Network Mapping</li>
                                    <li>Part 4 - Log Monitoring</li>
                                    <li>Part 5 - Packet Sniffing</li>
                                    <li>Part 6 - Intrusion Detection and Prevention</li>
                                    <li>Part 7 - Recap</li>
                                    <li>Quiz 5 - Questions and hands-on work on the material from Lesson 5</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <h1 class="text-center">Space<br>For<br>ADS</h1>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
