<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/data-science.jpg" alt="Data-Science-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Data Science Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (1,874)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>Basic knowledge of Software Languages.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>As the world entered the era of big data, the need for its storage also grew. It was the main challenge and concern for the enterprise industries until 2010. The main focus was on building framework and solutions to store data. Now when Hadoop and other frameworks have successfully solved the problem of storage, the focus has shifted to the processing of this data. Data Science is the secret sauce here. All the ideas which you see in Hollywood sci-fi movies can actually turn into reality by Data Science. Data Science is the future of Artificial Intelligence. Therefore, it is very important to understand what is Data Science and how can it add value to your business.</p>
                    <h4>In this blog, I will be covering the following topics.</h4>
                    <ul>
                    <li>The need for Data Science.</li>
                    <li>What is Data Science?</li>
                    <li>How is it different from Business Intelligence (BI) and Data Analysis?</li>
                    <li>The lifecycle of Data Science with the help of a use case.</li>
                    </ul>
                    <p>By the end of this blog, you will be able to understand what is Data Science and its role in extracting meaningful insights from the complex and large sets of data all around us. To get in-depth knowledge on Data Science, you can enroll for live </p>
                    <h4>Let’s Understand Why We Need Data Science</h4>
                    <p>Traditionally, the data that we had was mostly structured and small in size, which could be analyzed by using the simple BI tools. Unlike data in the traditional systems which was mostly structured, today most of the data is unstructured or semi-structured. Let’s have a look at the data trends in the image given below which shows that by 2020, more than 80 % of the data will be unstructured.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Overview <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives of the Course</li>
                                    <li>Pre-requisites of the Course</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Topics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Data Science</li>
                                    <li>What is Data and Big Data</li>
                                    <li>Data Science Deep-Dive</li>
                                    <li>Introduction to R Programming and R Programming Concepts</li>
                                    <li>Manipulating Data in R</li>
                                    <li>Importing Data in R</li>
                                    <li>Exploratory Data Analysis (EDA) in R</li>
                                    <li>Data Visualization in R</li>
                                    <li>HADOOP
                                        <ul>
                                            <li>Introduction to Big Data and Hadoop</li>
                                            <li>Hadoop Cluster Architecture</li>
                                            <li>Map R Concepts</li>
                                        </ul>
                                    </li>
                                    <li>Hadoop 2.0 and YARN</li>
                                    <li>PIG</li>
                                    <li>HIVE</li>
                                    <li>SQOOP</li>
                                    <li>Flume and Oozie</li>
                                    <li>Projects</li>
                                    <li>Spark
                                        <ul>
                                            <li>Introduction to Apache Spark</li>
                                            <li>Introduction to Scala</li>
                                            <li>Spark Architecture</li>
                                            <li>Spark Internals</li>
                                            <li>Spark Streaming</li>
                                        </ul>
                                    </li>
                                    <li>Statistics
                                        <ul>
                                            <li>What is Statistics?</li>
                                        </ul>
                                    </li>
                                    <li>Machine Learning
                                        <ul>
                                            <li>Machine Learning Introduction</li>
                                        </ul>
                                    </li>
                                    <li>Python
                                        <ul>
                                            <li>Getting Started with Python</li>
                                            <li>Sequences and File Operations</li>
                                        </ul>
                                    </li>
                                    <li>Deep Dive – Functions Sorting Errors and Exception Handling</li>
                                    <li>Regular Expressionist’s Packages and Object – Oriented Programming in Python</li>
                                    <li>Debugging, Databases and Project Skeletons</li>
                                    <li>Machine Learning Using Python</li>
                                    <li>Supervised and Unsupervised learning</li>
                                    <li>Algorithm</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. Miscellaneous <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Application Example</li>
                                    <li>Scikit and Introduction to Hadoop</li>
                                    <li>Hadoop and Python</li>
                                    <li>Python Project Work</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/oT87O0VQRi8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>I am attending Data Science in Pro-elearning. Here Explanation and Methodology are Excellent.</p>
                            <h4 class="pull-right">&#x2015; Jacob </h4>
                        </div>
                        <div class="item slide">
                            <p>I have joined pro-elearning  for  Data Science, I liked the way of teaching in this institute. Even though I am from Non IT background, I am able to understand very well.</p>
                            <h4 class="pull-right">&#x2015; Alva </h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>