<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/datastage.jpg" alt="DataStage-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="DataStage Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>DataStage Course Content</h1>
                        <hr>
                        <h4>DWH concepts in full length</h4>
                        <h4>Dimensional Modeling</h4>
                        <ul>
                            <li>What is dimension modeling?</li>
                            <li>Difference between ER modeling and dimension modeling</li>
                            <li>What is a Dimension?</li>
                            <li>What is a Fact?</li>
                            <li>Start Schema</li>
                            <li>Snow Flake Schema</li>
                            <li>Difference between Star and snow flake schema</li>
                            <li>Fact Table</li>
                            <li>Different types of facts</li>
                            <li>Dimensional Tables</li>
                            <li>Fact less Fact Table</li>
                            <li>Confirmed Dimensions</li>
                            <li>Unconfirmed Dimensions</li>
                            <li>Junk Dimensions</li>
                            <li>Monster Dimensions</li>
                            <li>Degenerative Dimensions</li>
                            <li>What are slowly changing Dimensions?</li>
                            <li>Different types of SCD's</li>
                        </ul>
                        <h4>IBM WEBSPHERE DATA STAGE</h4>
                        <ul>
                            <li>Introduction about Data Stage</li>
                            <li>Difference between Data Stage 7.5 and 8.0.1, 8.1</li>
                            <li>What's new in Data Stage 8.0.1?</li>
                            <li>Difference between Server Jobs and Parallel Jobs</li>
                            <li>Difference between Pipeline Parallelism and Partition Parallelism</li>
                            <li>Partition techniques (Round Robin, Random, Hash, Entire, Same, Modules, Range, DB2, Auto ETC)</li>
                            <li>Configuration File</li>
                            <li>Data stage components (Server components /Client components)</li>
                        </ul>
                        <h4>Designer</h4>
                        <ul>
                            <li>Introduction about Designer</li>
                            <li>Repository</li>
                            <li>Palette</li>
                            <li>Type of Links</li>
                            <li>File Stages</li>
                            <li>Sequential file</li>
                            <li>Dataset file</li>
                            <li>File set</li>
                            <li>Lookup file set</li>
                            <li>Difference between Sequential file/Dataset/File set</li>
                        </ul>
                        <h4>Database Stages</h4>
                        <ul>
                            <li>Dynamic RDBMS</li>
                            <li>Oracle Enterprise</li>
                            <li>ODBC Enterprise</li>
                            <li>Stored Procedure</li>
                        </ul>
                        <h4>Processing Stages</h4>
                        <ul>
                            <li>Change Capture</li>
                            <li>Compare Stage</li>
                            <li>Difference Stage</li>
                            <li>Aggregate Stage</li>
                            <li>Transformer Stage</li>
                            <li>Surrogate Generator Stage</li>
                            <li>Join Stage</li>
                            <li>Merge Stage</li>
                            <li>Lookup Stage</li>
                            <li>Difference between Join/Lookup/Merge</li>
                            <li>Difference between Join/Lookup</li>
                            <li>Remove Duplicates</li>
                            <li>Switch</li>
                            <li>Pivot</li>
                            <li>Modify</li>
                            <li>Funnel</li>
                            <li>Generic stage</li>
                            <li>Different types of sorting and sort stage.</li>
                            <li>Filter</li>
                            <li>SCD stage</li>
                            <li>Adding job parameters to a job</li>
                            <li>Parameter set</li>
                            <li>Difference between partitioning and re partitioning</li>
                            <li>Run time column propagation</li>
                            <li>Schema files</li>
                        </ul>
                        <h4>Debugging Stage</h4>
                        <ul>
                            <li>Head</li>
                            <li>Tail</li>
                            <li>Pea</li>
                            <li>Row Generator</li>
                            <li>Column Generator</li>
                            <li>Sample</li>
                        </ul>
                        <h4>Containers</h4>
                        <ul>
                            <li>Difference between Local Container and Shared Container</li>
                            <li>Local Container</li>
                            <li>Shared Container</li>
                        </ul>
                        <h4>Job Sequencers</h4>
                        <ul>
                            <li>Arrange job activities in sequencer</li>
                            <li>Triggers in Sequencer</li>
                            <li>Notification activity</li>
                            <li>Terminator Activity</li>
                            <li>Wait for file activity</li>
                            <li>Start loop activity</li>
                            <li>Execute command activity</li>
                            <li>Nested Condition activity</li>
                            <li>Routine activity</li>
                            <li>Exception handing activity</li>
                            <li>User variable activity</li>
                            <li>End loop activity</li>
                            <li>Adding Checkpoints</li>
                        </ul>
                        <h4>Data stage Director</h4>
                        <ul>
                            <li>Introduction to Data stage Director</li>
                            <li>Job Status View</li>
                            <li>View logs</li>
                            <li>Scheduling</li>
                            <li>Batches Creation</li>
                            <li>Cleaning resources using Administrator</li>
                        </ul>
                        <h4>Web sphere Manager in Designer</h4>
                        <ul>
                            <li>Introduction about Data stage Manager</li>
                            <li>Importing the Job</li>
                            <li>Exporting the Job</li>
                            <li>Importing Table Definition</li>
                            <li>Different types of table definitions and their differences.</li>
                            <li>Importing Flat File Definition</li>
                            <li>Routines</li>
                            <li>Dataset management and ORCHADMIN</li>
                            <li>Quick search and Advanced search</li>
                        </ul>
                        <h4>Data stage Administrator</h4>
                        <ul>
                            <li>Creating project, Editing project and Deleting project</li>
                            <li>Permissions to user</li>
                            <li>Different kinds of variables in Data Stage</li>
                            <li>Cleaning resources using Administrator</li>
                        </ul>
                    </div>
                </div>
            </div>

                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>