<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/devops.jpg" alt="DevOps-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="DevOps Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>DevOps Course Content</h1>
                        <hr>
                        <h4>Introduction to DevOps</h4>
                        <ul>
                            <li>What is DevOps</li>
                            <li>Why DevOps is needed</li>
                            <li>CAMS (Culture, Automation, Measurement, Sharing) principles</li>
                        </ul>
                        <h4>Dev and Ops</h4>
                        <ul>
                            <li>The different perspectives of Dev and Ops</li>
                            <li>Different perspectives can cause conflict</li>
                            <li>How to solve the problems with different approach and some tools</li>
                        </ul>
                        <h4>Continuous Integration and Delivery</h4>
                        <ul>
                            <li>Tools that enable Continuous Integration and Delivery workflows</li>
                            <li>Measurement and the ways it helps IT and business</li>
                            <li>Tools that help with measurement</li>
                        </ul>
                        <h4>DEVOPS / SYS ADMIN</h4>
                        <ol>
                            <li>Linux Commands</li>
                            <li>Networks</li>
                            <li>Linux Systems</li>
                            <li>Scripting (Ruby/Shell/Python)</li>
                            <li>Configuration Management</li>
                            <li>AWS VPC setup (public/private subnets with NAT)</li>
                            <li>Web server</li>
                            <li>Database</li>
                            <li>Linux System / Application Monitoring, Performance Tuning, Profiling Methods & Tools</li>
                        </ol>
                        <hr>
                        <h1>GitHub</h1>
                        <ul>
                            <li>Overview</li>
                            <li>A Brief History</li>
                            <li>Advantages of DVCs</li>
                            <li>About Git</li>
                            <li>Installing Git on Windows</li>
                            <li>Installing Git on Linux</li>
                            <li>Configuring Git</li>
                            <li>How to Configure Git</li>
                        </ul>
                        <h4>Working Locally with Git</h4>
                        <ul>
                            <li>Overview</li>
                            <li>Creating a local repository, adding files, and committing changes</li>
                            <li>Viewing history and diffs</li>
                            <li>Staging changes as multiple commits</li>
                            <li>Deleting and renaming files</li>
                            <li>Undoing changes to the working copy</li>
                            <li>Undoing/redoing changes in the repository</li>
                            <li>Cleaning the working copy</li>
                            <li>Ignoring files with .gitignore</li>
                        </ul>
                        <h4>Working Remotely with Git</h4>
                        <ul>
                            <li>Overview</li>
                            <li>Cloning a Remote Repository</li>
                            <li>Basic Repository Statistics</li>
                            <li>Viewing Commits</li>
                            <li>Git Protocols</li>
                            <li>Viewing Branches and Tags</li>
                            <li>Fetching from a Remote</li>
                            <li>Pulling from a Remote</li>
                            <li>Pushing to a Remote</li>
                            <li>Creating and Verifying Tags</li>
                            <li>Pushing Tags to a Remote</li>
                        </ul>
                        <h4>Branching, Merging, and Rebasing with Git</h4>
                        <ul>
                            <li>Overview</li>
                            <li>Visualizing branches</li>
                            <li>Creating local branches</li>
                            <li>Difference between branches and tags</li>
                            <li>Renaming and deleting branches</li>
                            <li>Recovering deleted commits</li>
                            <li>Stashing changes</li>
                            <li>Merging branches</li>
                            <li>Rebasing changes</li>
                            <li>Cherry-picking changes</li>
                            <li>Creating a remote branch</li>
                            <li>Deleting a remote branch</li>
                        </ul>
                        <hr>
                        <h1>Jenkins</h1>
                        <h4>JENKINS OBJECTIVES</h4>
                        <p>In this training, attendees will learn how to:</p>
                        <ul>
                            <li>Install and configure Jenkins in a servlet container</li>
                            <li>Create Jenkins builds</li>
                            <li>Configure and use Apache Ant and Apache Maven with Jenkins</li>
                        </ul>
                        <p>Use Jenkins to generate Java coding standards reports, code coverage reports, and change notices.</p>
                        <p>Use Jenkins to automatically deploy software into a testing environment.</p>
                        <h4>Introduction to continuous integration, continuous deployment and Jenkins-ci</h4>
                        <ul>
                            <li>Agile Development</li>
                            <li>Agile Development (cont'd)</li>
                            <li>What is Continuous Integration</li>
                            <li>What is Continuous Integration (cont'd)</li>
                            <li>What is Continuous Integration (cont'd)</li>
                            <li>Typical Setup for Continuous Integration</li>
                            <li>Continuous Deployment</li>
                            <li>Continuous Deployment (cont'd)</li>
                            <li>DevOps and Continuous Deployment</li>
                            <li>Continuous Deployment Challenges</li>
                            <li>Jenkins Continuous Integration</li>
                            <li>Jenkins Features</li>
                            <li>Running Jenkins</li>
                            <li>Summary</li>
                        </ul>
                        <h4>INSTALLING AND RUNNING JENKINS</h4>
                        <ul>
                            <li>Downloading and Installing Jenkins</li>
                            <li>Running Jenkins as a Stand-Alone Application</li>
                            <li>Running Jenkins as a Stand-Alone Application (cont'd)</li>
                            <li>Running Jenkins on an Application Server</li>
                            <li>The Jenkins Home Folder</li>
                            <li>Installing Jenkins as a Windows Service</li>
                            <li>Initial Configuration</li>
                            <li>Configuration Wizard</li>
                            <li>Configuration Wizard (cont'd)</li>
                            <li>Configuring Tools</li>
                            <li>Configuring Tools - Best Practices</li>
                            <li>Summary</li>
                        </ul>
                        <h4>JOB TYPES IN JENKINS</h4>
                        <ul>
                            <li>Introduction</li>
                            <li>Different types of Jenkins Items</li>
                            <li>Different types of Jenkins Items (cont'd)</li>
                            <li>Configuring Source Code Management(SCM)</li>
                            <li>Working with Subversion</li>
                            <li>Working with Subversion (cont'd)</li>
                            <li>Working with Git</li>
                            <li>Storing Credentials</li>
                            <li>Storing Credentials (cont'd)</li>
                            <li>Build Triggers</li>
                            <li>Schedule Build Jobs</li>
                            <li>Polling the SCM</li>
                            <li>Maven Build Steps</li>
                            <li>Summary</li>
                        </ul>
                        <h4>SECURING JENKINS</h4>
                        <ul>
                            <li>Jenkins Security - Overview</li>
                            <li>Jenkins Security</li>
                            <li>Authentication</li>
                            <li>Authorization</li>
                            <li>Bangalore</li>
                            <li>Confidentiality</li>
                            <li>Activating Security</li>
                            <li>Configure Authentication</li>
                            <li>Using Jenkins's Internal User Database</li>
                            <li>Creating Users</li>
                            <li>Authorization</li>
                            <li>Matrix-Based Security</li>
                            <li>Note - Create the Administrative User</li>
                            <li>Project-based Matrix Authorization</li>
                            <li>Project-Based Authentication</li>
                            <li>Conclusion</li>
                        </ul>
                        <h4>JENKINS PLUGIN</h4>
                        <ul>
                            <li>Introduction</li>
                            <li>Jenkins Plugins - SCM</li>
                            <li>Jenkins Plugins - Build and Test</li>
                            <li>Jenkins Plugins - Analyzers</li>
                            <li>Jenkins for Teams</li>
                            <li>Installing Jenkins Plugins</li>
                            <li>Summary</li>
                        </ul>
                        <h4>DISTRIBUTED BUILDS WITH JENKINS</h4>
                        <ul>
                            <li>Distributed Builds - Overview</li>
                            <li>Distributed Builds - How?</li>
                            <li>Slave Machines</li>
                            <li>Configure Jenkins Master</li>
                            <li>Configure Projects</li>
                            <li>Conclusion</li>
                        </ul>
                        <h4>CONTINUOUS DEPLOYMENT AND THE JENKINS PIPELINE</h4>
                        <ul>
                            <li>Continuous Deployment</li>
                            <li>Continuous Deployment (cont'd)</li>
                            <li>DevOps and Continuous Deployment</li>
                            <li>Continuous Deployment Challenges</li>
                            <li>Continuous Deployment with Jenkins</li>
                            <li>The Pipeline Plugin</li>
                            <li>The Pipeline Plugin (cont'd)</li>
                            <li>Defining a Pipeline</li>
                            <li>A Pipeline Example</li>
                            <li>Pipeline Example (cont'd)</li>
                            <li>Parallel Execution</li>
                            <li>Creating a Pipeline</li>
                            <li>Invoking the Pipeline</li>
                            <li>Interacting with the Pipeline</li>
                            <li>Conclusion</li>
                        </ul>
                        <h4>BEST PRACTICES FOR JENKINS</h4>
                        <ul>
                            <li>Best Practices - Secure Jenkins</li>
                            <li>Best Practices - Backups</li>
                            <li>Best Practices - Reproducible Builds</li>
                            <li>Best Practices - Testing and Reports</li>
                            <li>Best Practices - Large Systems</li>
                            <li>Best Practices - Distributed Jenkins</li>
                            <li>Best Practices - Summary</li>
                        </ul>
                        <hr>
                        <h1>AWS</h1>
                        <ul>
                            <li>Introduction and History of AWS</li>
                            <li>AWS Foundational Services: EC2, VPC, S3, EBS</li>
                            <li>AWS Security, Identity, and Access Management: IAM</li>
                            <li>AWS Databases: RDS, DynamoDB</li>
                            <li>AWS Management Tools: Auto Scaling, CloudWatch, Elastic Load Balancing, Trusted Advisor</li>
                        </ul>
                        <hr>
                        <h1>Docker</h1>
                        <h4>Introduction to containerisation</h4>
                        <ul>
                            <li>Introducing Docker</li>
                            <li>Installing Docker</li>
                            <li>Creating containers</li>
                        </ul>
                        <h4>Dockerfiles</h4>
                        <ul>
                            <li>Building containers from Docker files</li>
                            <li>Syntax</li>
                            <li>Supervisord</li>
                            <li>Using the Docker hub</li>
                            <li>Best practices</li>
                        </ul>
                        <h4>Volumes and Linking containers</h4>
                        <ul>
                            <li>Using volumes with containers</li>
                            <li>Data only containers</li>
                            <li>Linking containers internally</li>
                        </ul>
                        <h4>The Docker Registry</h4>
                        <ul>
                            <li>Creating our own registry</li>
                            <li>Using the registry</li>
                            <li>Other options</li>
                        </ul>
                        <h4>Other tools</h4>
                        <ul>
                            <li>Docker compose</li>
                            <li>Docker machine</li>
                            <li>Docker swarm</li>
                        </ul>
                        <h4>Puppet and Ansible</h4>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>