<div class="container-fluid" ng-controller="dotnetController">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/dotnet.jpg" alt="DotNet-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/dotnet.png" alt=".Net Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>.NET Course Content</h1>
                        <hr>
                        <h4>Working with .NET Technology</h4>
                        <ul>
                            <li>Introduction to .NET</li>
                            <li>Understanding the CLR</li>
                            <li>Understanding the Framework</li>
                            <li>Working with Visual Studio 2008</li>
                        </ul>
                        <h4>Language Syntax of C#</h4>
                        <ul>
                            <li>Object Oriented Programming System (OOPS)</li>
                            <li>Inheritance</li>
                            <li>Events and Delegates</li>
                            <li>String Handling</li>
                            <li>Exception Handling</li>
                            <li>Working with Collections</li>
                            <li>Work with Generics</li>
                            <li>Memory Management Issues</li>
                        </ul>
                        <h4>ADO .Net with SQL Server 2005/2008</h4>
                        <ul>
                            <li>Introduction to Management Studio</li>
                            <li>Working with LINQ</li>
                            <li>SQL Statements</li>
                            <li>JOINS</li>
                            <li>Constraints</li>
                            <li>Creating and using Views</li>
                            <li>Stored Procedures</li>
                            <li>Transaction Management</li>
                            <li>Creating and Using Triggers</li>
                            <li>Database Programming with ADO.NET</li>
                            <li>Inter operatiability</li>
                            <li>Assemblies</li>
                        </ul>
                        <h4>Web Programming with ASP.NET</h4>
                        <ul>
                            <li>Web Programming Concepts</li>
                            <li>Hyper Text Markup Language</li>
                            <li>Cascading Style Sheets</li>
                            <li>Dynamic HTML and JavaScript</li>
                            <li>Designing Models of the Web Forms</li>
                            <li>Working with Server Controls</li>
                            <li>Validation Controls in ASP.NET</li>
                            <li>Intrinsic Objects under ASP.NET</li>
                            <li>State Management</li>
                            <li>Data Binding and Reporting</li>
                        </ul>
                        <h4>Merging contents of a page in Web Forms</h4>
                        <ul>
                            <li>Caching</li>
                            <li>Mailing with ASP.NET</li>
                            <li>Uploading files</li>
                            <li>Creating Auto changeable Ads</li>
                            <li>Skins and Themes</li>
                            <li>Web Services</li>
                            <li>WPF with C#</li>
                            <li>WCF with C#</li>
                            <li>Working with Reflection</li>
                            <li>Creating Client/Server Applications with Remoting
                                <ul>
                                    <li>AJAX with ASP.NET</li>
                                    <li>Security in ASP.NET Applications</li>
                                    <li>Globalization and Localization</li>
                                    <li>Create and using the Crystal Reports</li>
                                </ul>
                            </li>
                        </ul>
                        <hr>
                        <h4>VB.NET</h4>
                        <h4>Microsoft .NET Overview</h4>
                        <ul>
                            <li>Why .Net</li>
                            <li>Introduction to .Net framework</li>
                            <li>Basic functionality of CLR</li>
                            <li>MSIL</li>
                            <li>CTS & CLS .Net languages</li>
                            <li>System Requirements</li>
                        </ul>
                        <h4>Introduction to VB.NET</h4>
                        <ul>
                            <li>Features of VB.NET</li>
                            <li>Writing programmes in VB.NET</li>
                            <li>Compiling and Executing from</li>
                            <li>Command prompt</li>
                            <li>Intro to Assemblies and Namespace</li>
                            <li>Base class libraries</li>
                            <li>Data types</li>
                            <li>Option statements</li>
                            <li>Boxing and Unboxing</li>
                            <li>Array</li>
                            <li>Sub programmes</li>
                        </ul>
                        <h4>Introduction to Visual Studio.NET</h4>
                        <ul>
                            <li>VS 6.0 VS VS.NET</li>
                            <li>File structure created for VS.NET APP</li>
                            <li>Types of projects</li>
                            <li>Creating Demo Console App</li>
                        </ul>
                        <h4>Object Oriented Programming</h4>
                        <ul>
                            <li>Principles of OOP</li>
                            <li>Structure VS Class</li>
                            <li>Access Specifiers</li>
                            <li>Properties</li>
                            <li>Method Overloading</li>
                            <li>Constructors</li>
                            <li>Shared Modifier</li>
                            <li>Inheritance</li>
                            <li>Overloading and Overriding</li>
                            <li>My base Keyboard</li>
                            <li>Shadowing</li>
                            <li>Abstract class</li>
                            <li>Sealed class</li>
                            <li>Interface</li>
                            <li>Polymorphism</li>
                            <li>Early Binding and Late Binding</li>
                            <li>Destructor & Garbage Collector</li>
                        </ul>
                        <h4>GUI application development</h4>
                        <ul>
                            <li>Introduction to system WINDOWS, Form, DLL</li>
                            <li>Basic controls rich and Event driven programming</li>
                            <li>Advanced controls Rich text box, Dialog</li>
                            <li>Boxes, Toolbar&#x2026;</li>
                            <li>Working with context menu</li>
                            <li>Main menu and MDI form</li>
                            <li>Visual Inheritance</li>
                        </ul>
                        <h4>Assemblies</h4>
                        <ul>
                            <li>Introduction to COM Architecture</li>
                            <li>Disadvantages of COM</li>
                            <li>Introduction to Assembly</li>
                            <li>Private Assembly vs. Shared Assembly</li>
                            <li>Creating private Assembly</li>
                            <li>Probing and Preparing Configuration file</li>
                            <li>Strong name utility</li>
                            <li>Creating shared Assembly</li>
                            <li>CLR Architecture</li>
                            <li>Native Generator utility Assembly Versioning</li>
                            <li>Compatibility of Assembly</li>
                            <li>Configuring file for sharing Assembly</li>
                        </ul>
                        <h4>Data access with ADO.NET</h4>
                        <ul>
                            <li>Introduction to Data Access Libraries DAO</li>
                            <li>RDO and ADO</li>
                            <li>Draw Back of ADO</li>
                            <li>ADO.NET managed Data providers</li>
                            <li>Introduction to system.Data.Oledb</li>
                            <li>Data Reader</li>
                            <li>Introduction to system.Data.SQLclient</li>
                            <li>Preparing Statement</li>
                            <li>Transaction handling</li>
                            <li>Introduction to system.Data.Oracleclient</li>
                            <li>Dataset and Data adapter</li>
                            <li>Data Binding</li>
                            <li>Data grid Programming</li>
                            <li>Data View</li>
                            <li>Data Relation</li>
                        </ul>
                        <h4>Delegates</h4>
                        <ul>
                            <li>Introduction to Delegate concept</li>
                            <li>Event Handling Arch with Delegate</li>
                            <li>Handles, Add Handler and Remove Handler</li>
                        </ul>
                        <h4>Multi Threading</h4>
                        <ul>
                            <li>Thread Class</li>
                            <li>Sleep, Suspend and Resuming Thread</li>
                            <li>Asynchronous Connection</li>
                            <li>Synchronization of Threads</li>
                        </ul>
                        <h4>Distributed APP development</h4>
                        <ul>
                            <li>Introduction to monolithic, 2 Tier and 3 Tier Arch</li>
                            <li>Introduction to DCOM</li>
                            <li>Disadvantages Of DCOM</li>
                            <li>Introduction to remoting</li>
                            <li>TCP and HTTP Channels</li>
                            <li>Serialization and Deserialisation with Binary Formatter and SOAP Formatter</li>
                            <li>Activation Modes Server Activated and client Activated</li>
                            <li>Server Activated (Single call and single ton)</li>
                            <li>Remoting Architecture</li>
                            <li>System. Runtime. Remoting. DLL</li>
                            <li>Apps for server Activated and client Activated</li>
                        </ul>
                        <h4>Windows control library</h4>
                        <ul>
                            <li>Creating custom control extending existing control</li>
                            <li>Creating custom control grouping existing controls</li>
                        </ul>
                        <h4>Interoperatibility with COM</h4>
                        <ul>
                            <li>Creating custom control extending</li>
                            <li>Creating Achiex DLL using VB 6.0</li>
                            <li>Managed code and Unmanaged code</li>
                            <li>Using Achiex DLL in VB.NET APP</li>
                            <li>TLBIMP Utility</li>
                            <li>RCW</li>
                            <li>Using .NET Assembly in VB 6.0 App</li>
                            <li>CCW</li>
                            <li>TLBExp and Regasm Utilities</li>
                        </ul>
                        <h4>Crystal reports</h4>
                        <h4>File Streams</h4>
                        <h4>Windows Service</h4>
                        <ul>
                            <li>Introduction to service App</li>
                            <li>System. Service process</li>
                            <li>Service Base Class</li>
                            <li>Service Installer and Service</li>
                            <li>Process installer</li>
                            <li>Register Data Base of Services</li>
                            <li>Install util utility</li>
                            <li>SCM & SCP</li>
                            <li>Localization and Globalization</li>
                            <li>Resource file creation</li>
                            <li>Satellite Assembly Creation</li>
                            <li>System. Reflection Assembly and Resource Manager</li>
                            <li>.NET Technology</li>
                            <li>Connecting Engineers and Developers with Practical Skills and the Latest Technologies</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <h1 class="text-center">Space<br>For<br>ADS</h1>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
