<div class="container-fluid" ng-controller="embeddedSystemsCtrl">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/embedded-systems.jpg" alt="Embedded-Systems-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/dotnet.png" alt="Embedded Systems Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Embedded Systems Course Content</h1>
                        <hr>
                        <h4>C Programming</h4>
                        <h4>ANSI</h4>
                        <h4>Fundamentals of C</h4>
                        <ul>
                            <li>Datatypes and Constants</li>
                            <li>Simple & Formatted I/O</li>
                            <li>Memory Usage</li>
                            <li>Operators & Expressions</li>
                            <li>Flow Control</li>
                            <li>Loops</li>
                        </ul>
                        <h4>Functions</h4>
                        <ul>
                            <li>Role of Functions</li>
                            <li>Pass by value / reference</li>
                            <li>Returning values from Functions</li>
                            <li>Recursive Functions</li>
                            <li>Call Back Functions</li>
                            <li>Implications on Stack</li>
                            <li>Library Vs User defined function</li>
                            <li>Passing variable number of arguments</li>
                        </ul>
                        <h4>Arrays</h4>
                        <ul>
                            <li>Defining, initializing and using arrays</li>
                            <li>Multi Dimensional Arrays</li>
                            <li>Arrays of Characters and Strings</li>
                            <li>Arrays and Pointers</li>
                            <li>Passing arrays to functions</li>
                            <li>String handling with and without library functions</li>
                        </ul>
                        <h4>Storage Classes</h4>
                        <ul>
                            <li>Scope and Life</li>
                            <li>Automatic, Static, External, Register</li>
                            <li>Memory(CPU / RAM)</li>
                        </ul>
                        <h4>Structures & Unions</h4>
                        <ul>
                            <li>What structures are for</li>
                            <li>Declaration, initialization</li>
                            <li>Accessing like objects</li>
                            <li>Nested Structures</li>
                            <li>Array of Structures</li>
                            <li>Passing structures through functions</li>
                            <li>Allocation of memory and holes</li>
                            <li>Structure Comparison</li>
                            <li>Structure bit operation</li>
                            <li>Typedef for portability</li>
                            <li>Unions</li>
                            <li>Overlapping members</li>
                        </ul>
                        <h4>Enumerated data types</h4>
                        <ul>
                        <li>Enum, Indexing, enum Vs #define</li>
                        </ul>
                        <h4>Bit Operationsc</h4>
                        <ul>
                            <li>AND ( & ), OR ( | ), XOR ( ^ )</li>
                            <li>Compliment ( ~ )</li>
                            <li>Left-Shift ( << ), Right Shift ( >> )</li>
                            <li>Masking, Setting, Clearing and Testing of Bit / Bits</li>
                        </ul>
                        <h4>Pointers</h4>
                        <ul>
                            <li>The purpose of pointers</li>
                            <li>Defining pointers</li>
                            <li>The & and * operators</li>
                            <li>Pointer Assignment</li>
                            <li>Pointer Arithmetic</li>
                            <li>Multiple indirections</li>
                            <li>Advanced pointer types</li>
                            <li>Generic and Null Pointer</li>
                            <li>Function Pointers</li>
                            <li>Pointers to Arrays and Strings</li>
                            <li>Array of Pointers</li>
                            <li>Pointers to Structure and Union</li>
                            <li>Pointers to Dynamic memory</li>
                            <li>Far, Near and Huge Pointers</li>
                            <li>Pointer Type Casting</li>
                        </ul>
                        <h4>Dynamic Memory Allocation</h4>
                        <ul>
                            <li>Malloc(), Calloc(), Realloc(), Free()</li>
                            <li>Farmalloc(), Farcalloc()</li>
                        </ul>
                        <h4>File Handling Concepts</h4>
                        <ul>
                            <li>Concept of a FILE data type</li>
                            <li>Inode, FILE structure</li>
                            <li>File pointer</li>
                            <li>Character handling routines</li>
                            <li>Formatted Data Routines</li>
                            <li>Raw data Routines</li>
                            <li>Random Access to FILE</li>
                        </ul>
                        <h4>Command line Arguments</h4>
                        <ul>
                            <li>Argc, argv</li>
                            <li>Variable Inputs to the main</li>
                        </ul>
                        <h4>Compiler in Practical</h4>
                        <ul>
                            <li>Preprocessor Directives</li>
                            <li>Compiler, Assembler, Linker</li>
                            <li>Conditional Compilation</li>
                            <li>Multiple File Compilation</li>
                            <li>Code Optimization techniques</li>
                            <li>Volatile, #pragma</li>
                        </ul>
                        <h4>Data Structures</h4>
                        <ul>
                            <li>Linear & non-linear</li>
                            <li>Homogeneous & non-homogeneous</li>
                            <li>Static & Dynamic</li>
                            <li>Single, Double & Circular Linked Lists</li>
                            <li>Stacks & Queues</li>
                            <li>Binary Trees</li>
                        </ul>
                        <h4>Sorting and Searching Techniques</h4>
                        <ul>
                            <li>Insertion, Selection, Bubble, Merge, Quick, Heap</li>
                        </ul>
                        <h4>Concepts and Real-time Exposure</h4>
                        <ul>
                            <li>Development Tools and Environment</li>
                            <li>Make Utility</li>
                            <li>MISRA Coding Standards</li>
                            <li>Object / Executable File Format</li>
                            <li>Debugger</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <h1 class="text-center">Space<br>For<br>ADS</h1>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
