<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/etl-testing.jpg" alt="ETL-Testing-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="ETL Testing Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>ETL Testing Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 15h</p>
                        <hr>
                        <h3>Description</h3>
                        <p>ETL basically stands for Extract Transform Load - which simply implies the process where you extract data from Source Tables, transform them in to the desired format based on certain rules and finally load them onto Target tables. There are numerous tools that help you with ETL process - Informatica, Control-M being a few notable ones.</p>
                        <p>So ETL Testing implies - Testing this entire process using a tool or at table level with the help of test cases and Rules Mapping document.</p>
                        <h4>In ETL Testing, the following are validated:</h4>
                        <ul>
                            <li>Data File loads from Source system on to Source Tables.</li>
                            <li>The ETL Job that is designed to extract data from Source tables and then move them to staging tables. (Transform process)</li>
                            <li>Data validation within the Staging tables to check all Mapping Rules / Transformation Rules are followed.</li>
                            <li>Data Validation within Target tables to ensure data is present in required format and there is no data loss from Source to Target tables.</li>
                        </ul>
                        <hr>
                        <h3>ETL Testing Training Contents</h3>
                        <h4>Module 1</h4>
                        <ul>
                            <ul>Data warehouse and ETL Concepts</ul>
                            <ul>Database Concepts and SQL </ul>
                            <ul>Queries: Joins, Simple, Complex and Co-related queries</ul>
                            <ul>What is Data warehouse?</ul>
                            <ul>Characteristics of the Data warehouse</ul>
                            <ul>OLTP VS OLAP</ul>
                            <ul>Dimension Table VS Fact Table</ul>
                            <ul>Types of Source Files</ul>
                            <ul>Advantages of Data warehouse</ul>
                            <ul>Meta Data</ul>
                            <ul>Data warehouse VS Data Mart</ul>
                            <ul>Data Extraction</ul>
                            <ul>Data Transformation (Different Transformation rules)</ul>
                            <ul>Data Loading</ul>
                            <ul>Database Designs (Star Schema, Snowflake Schema etc.)</ul>
                        </ul>
                        <h4>Module 2</h4>
                        <ul>
                            <li>Data-warehouse (ETL) Testing Process</li>
                            <li>Data Ware House (ETL) Test or Work Flow Process</li>
                            <li>What is use of testing?</li>
                            <li>What is quality & standards?</li>
                            <li>Responsibilities of an ETL Tester</li>
                            <li>Risks and Challenges of ETL Testing</li>
                        </ul>
                        <h4>Module 3</h4>
                        <ul>
                            <li>Data warehouse (ETL) Test Preparation</li>
                            <li>Understanding of Source files and Target </li>
                            <li>ETL Testing methodologies and Test Techniques </li>
                            <li>ETL Test approach</li>
                            <li>Types of Testing</li>
                            <li>How to Prepare ETL Test Plan</li>
                            <li>DW (ETL) Test Environment Setup</li>
                        </ul>
                        <h4>Module 4</h4>
                        <ul>
                            <li>Data warehouse (ETL) Test Execution and Results and Report</li>
                            <li>How to perform DW (ETL) Testing</li>
                            <li>Testing the Requirements and Functional Design </li>
                            <li>Different phases in DW (ETL) Testing </li>
                            <li>Data validation in Source and Target </li>
                            <li>How to apply Transformation rules in ETL Test execution </li>
                            <li>How to reporting the Bugs in ETL Testing  </li>
                            <li>How to detect the bugs through database queries</li>
                            <li>Equivalence Partition</li>
                            <li>Automation for ETL Test Execution</li>
                            <li>How to Report DW (ETL) Test Execution Status: Daily Vs Weekly</li>
                        </ul>
                        <div class="trainer-details mt-30">
                            <h4>Trainer Profile</h4>
                            <ul>
                                <li>Total <b>8 years</b> of experience in IT working <b>NTT Data</b>.</li>
                                <li>Previously worked for Tech Mahindra in Bangalore Expert in <b>ETL Testing, BI Testing</b>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>