<footer class="footer-main" ng-controller="footerController">
    <div class="container">
    
        <!-- Footer Contact -->
        <div class="row">
            <div class="contactus">
                <div class="tel2 text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- <i class="fa fa-mobile" aria-hidden="true"></i> -->
                    <h2><a ng-href="tel:+91-7901401499">+91-7901401499</a></h2>
                </div>
                <div class="email text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- <i class="fa fa-envelope-o" aria-hidden="true"></i> -->
                    <h2><a ng-href="mailto:training@proelearning.com">trainings@pro-elearning.com</a></h2>
                </div>
            </div>
        </div>
        <hr/>
        
        <!-- Footer Menu -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-pills footer-menu">
                    <li><a ng-href="/">Home</a></li>
                    <li><a ng-href="aboutus">About</a></li>
                    <li><a ng-href="contact">Contact</a></li>
                    <li><a ng-href="careers">Careers</a></li>
                    <li><a ng-href="./admin/" target="_blank">Admin Login</a></li>
                    <!-- <li><a ng-href="./trainer/" target="_blank">Trainer Login</a></li> -->
                    <li><a ng-href="sitemap">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr/>
        
        <!-- <div class="row">
            <div class="container-fluid">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3 class="footer-menu-title">Pro-elearning</h3>
                    <ul class="footer-menu">
                        <li><a ng-href="aboutus">Our Company</a></li>
                        <li><a ng-href="contact">Contact Us</a></li>
                        <li><a ng-href="#">Careers</a> <a ng-href="http://www.prodesigntek.com/current-openings" target="_blank"><img class="we-hire animated infinite swing" ng-src="images/icons/we-are-hiring_sign_red.png" width="48" height="48"></a></li>
                        <li><a ng-href="./admin/" target="_blank">Admin Login</a></li>
                        <li><a ng-href="./trainer/" target="_blank">Trainer Login</a></li>
                        <li><a ng-href="sitemap">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3 class="footer-menu-title">Business Consulting</h3>
                    <ul class="footer-menu">
                        <li><a ng-href="#">Business Intelligence</a></li>
                        <li><a ng-href="#">Enterprise Resource Planning</a></li>
                        <li><a ng-href="#">QA &#x0026; Testing</a></li>
                    </ul>
                </div>
                <div class="clearfix visible-md-block visible-sm-block"></div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3 class="footer-menu-title">Services</h3>
                    <ul class="footer-menu">
                        <li><a ng-href="#">Online Training</a></li>
                        <li><a ng-href="#">Classroom Training</a></li>
                        <li><a ng-href="#">On-demand Training</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3 class="footer-menu-title">Staffing</h3>
                    <ul class="footer-menu">
                        <li><a ng-href="#">IT Staffing</a></li>
                        <li><a ng-href="#">Trainings</a></li>
                        <li><a ng-href="#">Payroll &#x0026; HR Services</a></li>
                        <li><a ng-href="#">Customer Service Transformation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
         -->
        <!-- Copyright Start -->
        <div class="row">
            <div class="copy-social">
                <div class="copyright col-lg-5 col-md-6 col-sm-7 col-xs-12">
                    <h5>Copyright &copy; <span ng-bind="year"></span> | <a ng-href="/">pro-elearning.com</a>. All Rights Reserved</h5>
                </div>
                <div class="social col-lg-3 col-md-4 col-sm-5 col-xs-12">
                    <ul class="social-list">
                        <li><a href="https://www.facebook.com/proelearning1/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/pro-e-learning-6a20b6166" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://plus.google.com/u/2/114009020735948039165" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/pro_elearning" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Copyright End -->
    </div>
</footer>


