<div ng-controller="freeDemosController">
    <div class="container-fluid" ng-controller="freeDemosController">
        <div class="row">
            <div class="banner">
                <div class="banner-title">
                    <div class="text-center">Free Demos</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Breadcrumbs -->
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>

        <div class="row">
            <div class="container">
                <h1 class="">Free Demos</h1>
                <p>We currently provide demos for the following courses. To attend a demo select a course and register.</p>
            </div>
        </div>

        <!-- Free Demo Tiles -->
        <div class="row">
            <div class="no-padding search-results-div">
                <!--Course List Main Starts -->
                <div class="col-xs-12 col-md-9 coursesmain">
                    <!--Individual Course List Starts -->
                    <div class="individualmain">
                        <div id="add-training-courses">
                            <a class="coursecardblock" href="" ng-repeat="demo in freeDemos" role="button" data-toggle="modal" data-target="#freeDemo">
                                <div class="card">
                                    <div class="imgcont">
                                        <img ng-src="./images/icons/{{ demo.file }}" alt="{{ demo.course_name }} Demo">
                                    </div>
                                    <div class="courseinfo">
                                        <div class="textinfoleft">
                                            <h3 ng-bind="demo.course_name"></h3>
                                            <div class="highlights hidden-xs">
                                                <span class="stats">
                                                    <i class="fa fa-user-o"></i>
                                                    <span>{{ demo.enrolled }} Enrolled</span>
                                                </span>
                                                <span class="stats">
                                                    <i class="fa fa-calendar"></i>
                                                    <span>{{ demo.batch_type}}</span>
                                                </span>
                                                <span class="stats">
                                                    <i class="fa fa-laptop"></i>
                                                    <span>{{ demo.training_type }}</span>
                                                </span>
                                            </div>
                                            <div class="batchinfocenter">
                                                <span class="demodates">
                                                    <div class="demodatestitle">Demos on</div>
                                                    <div class="demodate">{{ demo.demo_dates }}</div>
                                                </span>
                                                <span class="nextbatch">
                                                    <div class="nextbatchtitle">Next batch</div>
                                                    <div class="nextbatchdate">{{ demo.next_batch | date }}</div>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="numinforight hidden-xs">
                                            <div class="ratingsec" ng-controller="ratingController">
                                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                                <div class="clearfix"></div>
                                                <div class="ratenum text-right">
                                                    <span class="rating" ng-bind="rating"></span>
                                                    <span class="totalreviews">(1150)</span>
                                                </div>
                                            </div>
                                            <div class="wishlist text-right">
                                                <span class="viewdetailsbtn">Register Now</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Course List Main Ends -->
            </div>
        </div>
    </div>
</div>
