<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/hadoop.jpg" alt="Hadoop-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Hadoop Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Hadoop Course Content</h1>
                        <hr>
                        <h4>Introduction to Hadoop & Big Data</h4>
                        <ul>
                            <li>What is Big Data</li>
                            <li>What is Hadoop</li>
                            <li>Hadoop Architecture Concepts</li>
                            <li>Why Hadoop</li>
                            <li>Where is Hadoop used/use cases</li>
                            <li>How to setup Hadoop</li>
                            <li>Advantages/Disadvantages of Hadoop</li>
                        </ul>
                        <h4>Basics Hadoop Components</h4>
                        <ul>
                            <li>HDFS</li>
                            <li>Map Reduce</li>
                            <li>YARN</li>
                            <li>Hadoop 1.x and 2.x differences</li>
                        </ul>
                        <h4>HDFS Architeture Concepts</h4>
                        <ul>
                            <li>HDFS and its components</li>
                            <li>What are HDFS Daemons</li>
                            <li>What is NameNode</li>
                            <li>NameNode features & functionality</li>
                            <li>What is DataNode</li>
                            <li>DataNode features & functionality</li>
                            <li>What is JobTracker</li>
                            <li>How JobTracker works</li>
                            <li>What is TaskTracker</li>
                            <li>How TaskTracker works</li>
                            <li>Linux basic commands</li>
                            <li>Reading files from HDFS</li>
                            <li>Writing files to HDFS</li>
                            <li>Rack Aware concepts</li>
                        </ul>
                        <h4>MapReduce Architeture & DesignConcepts</h4>
                        <ul>
                            <li>What is a Client</li>
                            <li>Lab: How it works</li>
                            <li>What is a Job</li>
                            <li>Lab: How it works</li>
                            <li>What is MapReduce</li>
                            <li>Lab: How it works</li>
                            <li>Simple MapReduce Algorithm Sample</li>
                            <li>Lab: How it works</li>
                            <li>Complex MapReduce Algorithm Sample</li>
                            <li>Lab: How it works</li>
                            <li>MapReduce using Eclipse Integration</li>
                            <li>Lab: How it works</li>
                            <li>Deploy MapReduce on Hadoop</li>
                            <li>Setup Hadoop</li>
                            <li>How to Debug MapReduce</li>
                            <li>What is Map Chaining</li>
                            <li>Lab: How it works</li>
                            <li>Testing Fundamentals</li>
                            <li>Input/OutputFormatters & RecordReaders</li>
                            <li>What is Job Scheduling</li>
                            <li>How to configure</li>
                            <li>Explore Apache MapReduce WebUI</li>
                            <li>MapReduce Combiners & Partitioners</li>
                            <li>Sorting & Searching in HDFS</li>
                            <li>MapReduce DistributedCache</li>
                            <li>What are Counters</li>
                            <li>Lab: How it works</li>
                        </ul>
                        <h4>Hadoop Administration Concepts</h4>
                        <ul>
                            <li>Lab: HDFS user commands</li>
                            <li>Lab: HDFS admin commands</li>
                            <li>Administrative procedures</li>
                            <li>Lab: Understanding dfsadmin & mradmin</li>
                            <li>Lab: Understanding Healthcheck & safemode</li>
                            <li>Lab: Configuring Schedulers</li>
                            <li>Lab: Configuring Queues</li>
                        </ul>
                        <h4>Hive & it concepts</h4>
                        <ul>
                            <li>SQL introduction</li>
                            <li>SQL DDL</li>
                            <li>SQL DML</li>
                            <li>SQL Where clause, order by, sort by, arithmetic functions</li>
                            <li>SQL Joins</li>
                            <li>Hive Fundamentals</li>
                            <li>Hive Architecture</li>
                            <li>Hive Installation & setup</li>
                            <li>HQL concepts</li>
                            <li>Hive Partitioning</li>
                            <li>Hive Bucketing</li>
                            <li>Hive Aggregate functions</li>
                            <li>Hive String functions</li>
                            <li>HQL Joins</li>
                            <li>Lab: HQL</li>
                            <li>Integration with Hadoop</li>
                            <li>CLI & Thrift modes</li>
                            <li>Lab: How it works</li>
                            <li>What is UDF</li>
                            <li>Integration of UDF in Hive</li>
                            <li>Real time scenarios with examples</li>
                            <li>Lab: How it works</li>
                            <li>Assignments</li>
                        </ul>
                        <h4>Pig & its concepts</h4>
                        <ul>
                            <li>Pig Fundamentals</li>
                            <li>Pig Architecture</li>
                            <li>Pig Installation & setup</li>
                            <li>Lab: How it works</li>
                            <li>PigLatin introduction</li>
                            <li>PigLatin Commands: Load, Dump, Store, Filter, Order by, Distinct, Limit, Sort by</li>
                            <li>Creating and executing External Pig script file</li>
                            <li>Joins in Pig</li>
                            <li>What is Pig UDF</li>
                            <li>Lab: How it works</li>
                        </ul>
                        <h4>Hbase</h4>
                        <ul>
                            <li>Introduction to Hbase</li>
                            <li>Hbase Basics</li>
                            <li>Column Families</li>
                            <li>Scans</li>
                            <li>Hbase Architecture</li>
                            <li>Hbase Rest Client</li>
                            <li>Hbase Thrift Client</li>
                            <li>Hbase Web UI</li>
                            <li>Hbase Admin</li>
                            <li>Hbase Schema Definition</li>
                            <li>Hbase CRUD Ops</li>
                        </ul>
                        <h4>Flume</h4>
                        <ul>
                            <li>What is Flume</li>
                            <li>Installation & Setup</li>
                            <li>Lab: How it works</li>
                        </ul>
                        <h4>Oozie</h4>
                        <h4>Zookeeper</h4>
                        <h4>SQOOP</h4>
                        <ul>
                            <li>Introduction to SQOOP</li>
                        </ul>
                        <h4>Mongo DB introduction</h4>
                        <h4>Cloud ear CHD introduction and configuration</h4>
                        <div class="course-highlights mt-30">
                            <h4>Highlights</h4>
                            <ul>
                                <li>Ubuntu image file will be given to students for practicing all hadoop concepts</li>
                                <li>Complete practical session will be conducted for each and every concept</li>
                                <li>Assignments will be given on each and every concpt</li>
                                <li>Profile building based on student requirements</li>
                                <li>Real time use cases on all Hadoop concepts as a separate 3hrs session</li>
                                <li>Interview questions sharing and discussion</li>
                                <li>Mock interview for each student</li>
                            </ul>
                        </div>
                        <div class="trainer-details mt-30">
                            <h4>Trainer Details</h4>
                            <ul>
                                <li>Total 11yrs of IT industry experience</li>
                                <li>7yrs of experience in Java</li>
                                <li>4yrs of experience in Hadoop</li>
                                <li><b>Java certified trainer</b></li>
                                <li><b>Cloudera certified trainer</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>