<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/hadoop-admin.jpg" alt="Hadoop-Admin-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Hadoop Administrator Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Hadoop Administrator Course Content</h1>
                        <hr>
                        <h3>Introduction</h3>
                        <h4>The Case for Apache Hadoop</h4>
                        <ul>
                        	<li>A Brief History of Hadoop</li>
                        	<li>Core Hadoop Components</li>
                        	<li>Fundamental Concepts</li>
                        </ul>
                        <h4>The Hadoop Distributed File System</h4>
                        <ul>
                        	<li>HDFS Features</li>
                        	<li>HDFS Design Assumptions</li>
                        	<li>Overview of HDFS Architecture</li>
                        	<li>Writing and Reading Files</li>
                        	<li>NameNode Considerations</li>
                        	<li>An Overview of HDFS Security</li>
                        	<li>Hands-On Exercise</li>
                        </ul>
                        <h4>MapReduce</h4>
                        <ul>
                        	<li>What Is MapReduce?</li>
                        	<li>Features of MapReduce</li>
                        	<li>Basic MapReduce Concepts</li>
                        	<li>Architectural Overview</li>
                        	<li>MapReduce Version 2</li>
                        	<li>Failure Recovery</li>
                        	<li>Hands-On Exercise</li>
                        </ul>
                        <h4>An Overview of the Hadoop Ecosystem</h4>
                        <ul>
                        	<li>What is the Hadoop Ecosystem?</li>
                        	<li>Integration Tools</li>
                        	<li>Analysis Tools</li>
                        	<li>Data Storage and Retrieval Tools</li>
                        </ul>
                        <h4>Planning your Hadoop Cluster</h4>
                        <ul>
                        	<li>General Planning Considerations</li>
                        	<li>Choosing the Right Hardware</li>
                        	<li>Network Considerations</li>
                        	<li>Configuring Nodes</li>
                        </ul>
                        <h4>Hadoop Installation</h4>
                        <ul>
                        	<li>Deployment Types</li>
                        	<li>Installing Hadoop</li>
                        	<li>Basic Configuration Parameters</li>
                        	<li>Hands-On Exercise</li>
                        </ul>
                        <h4>Hadoop Security</h4>
                        <ul>
                        	<li>Why Hadoop Security Is Important</li>
                        	<li>Hadoop's Security System Concepts</li>
                        	<li>What Kerberos Is and How it Works</li>
                        </ul>
                        <h4>Managing and Scheduling Jobs</h4>
                        <ul>
                        	<li>Managing Running Jobs</li>
                        	<li>The FIFO Scheduler</li>
                        	<li>The FairScheduler</li>
                        	<li>Configuring the FairScheduler</li>
                        	<li>Hands-On Exercise</li>
                        </ul>
                        <h4>Cluster Monitoring and Troubleshooting </h4>
                        <ul>
                        	<li>General System Monitoring</li>
                        	<li>Managing Hadoop's Log Files</li>
                        	<li>Using the NameNode and JobTracker Web UIs</li>
                        	<li>Hands-On Exercise</li>
                        	<li>Cluster Monitoring with Ganglia</li>
                        	<li>Common Troubleshooting Issues</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>