<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/hp-vertica.jpg" alt="HP-Vertica-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="HP Vertica Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>HP Vertica Course Content</h1>
                        <hr>
                        <h4>Introductions</h4>
                        <ul>
                            <li>Class Introductions</li>
                        </ul>
                        <h4>Architecture Overview</h4>
                        <ul>
                            <li>Vertica Analytics Platform</li>
                            <li>Projections</li>
                            <li>query Execution</li>
                            <li>Transaction and Locking</li>
                            <li>Hybrid Data Store</li>
                        </ul>
                        <h4>Demo</h4>
                        <ul>
                            <li>Installing Vertica</li>
                        </ul>
                        <h4>Lab</h4>
                        <ul>
                            <li>Start and Connect to DB</li>
                            <li>Load Data</li>
                        </ul>
                        <h4>Projections and Database Designer</h4>
                        <ul>
                            <li>Projection Fundamentals</li>
                            <li>Projection and Table Properties</li>
                            <li>Database design</li>
                            <li>Manual Projection Design</li>
                            <li>Projection Management</li>
                        </ul>
                        <h4>Lab</h4>
                        <ul>
                            <li>Running DBD</li>
                            <li>Loading Data into Vertica via INSERT, COPY and MERGE</li>
                            <li>Post Loading Tasks</li>
                        </ul>
                        <h4>Removing Data</h4>
                        <ul>
                            <li>Delete Purge</li>
                            <li>Partitioning</li>
                            <li>Tuple Mover Operations</li>
                        </ul>
                        <h4>Lab</h4>
                        <ul>
                            <li>Removing Data</li>
                        </ul>
                        <h4>Logical Design and Security</h4>
                        <ul>
                            <li>Schema</li>
                            <li>Table and Views</li>
                            <li>Constraints</li>
                            <li>User</li>
                            <li>Roles</li>
                            <li>External Procedures</li>
                        </ul>
                        <h4>Lab</h4>
                        <ul>
                            <li>Roles and Priviledges</li>
                        </ul>
                        <h4>Cluster and High Availability</h4>
                        <ul>
                            <li>Management Console</li>
                            <li>Node Management</li>
                            <li>Disk Management</li>
                            <li>Fault Group</li>
                        </ul>
                        <h4>Backup and Restores</h4>
                        <ul>
                            <li>Backup and Restore</li>
                            <li>Copy Vertica Database</li>
                        </ul>
                        <h4>Resource Management</h4>
                        <ul>
                            <li>Resource Manager</li>
                            <li>Resource Pools</li>
                            <li>Resource Pool Parameters</li>
                            <li>User Defined Resource pools</li>
                            <li>Monitoring Resource Pools</li>
                        </ul>
                        <h4>Lab</h4>
                        <ul>
                            <li>Resource Management</li>
                        </ul>
                        <h4>Monitoring and Troubleshooting Vertica</h4>
                        <ul>
                            <li>Monitoring Server and Network</li>
                            <li>Monitoring Vertica</li>
                            <li>Troubleshooting Vertica</li>
                        </ul>
                        <h4>Vertica Cluster Expansion</h4>
                        <ul>
                            <li>Adding nodes</li>
                            <li>Deleting nodes</li>
                            <li>Rebalance data</li>
                        </ul>
                        <h4>Understanding Query Plans</h4>
                        <ul>
                            <li>Explain Plan</li>
                            <li>Profiling database performance</li>
                        </ul>
                        <h4>Profiling Database Performance</h4>
                        <ul>
                            <li>Real time query profiling and analyzing Executions Engine Profile</li>
                        </ul>
                        <h4>Cluster Upgrade</h4>
                        <ul>
                            <li>Lab</li>
                        </ul>
                        <h4>Audience Questionnaire</h4>
                    </div>
                </div>
            </div>

                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>