<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/hpcm.jpg" alt="HPCM-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="HPCM Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>HPCM Course Content</h1>
                        <hr>
                        <h4>Introduction to Profitability and Cost Management</h4>
                        <ul>
                            <li>About Profitability and Cost Management</li>
                            <li>Product Architecture</li>
                            <li>Product Components</li>
                            <li>Profitability and Cost Management Implementation Process</li>
                        </ul>
                        <h4>Creating Standard Profitability Applications</h4>
                        <ul>
                            <li>Creating Standard Profitability Applications with Application Wizard</li>
                            <li>Adding Dimensions to Applications</li>
                            <li>Changing Local Dimensions to Shared Dimensions</li>
                            <li>Overriding Inherited Property Settings</li>
                            <li>Excluding and Showing Members</li>
                        </ul>
                        <h4>Setting Up Standard Profitability Application Dimensions</h4>
                        <ul>
                            <li>Dimensions for Standard Profitability Applications</li>
                            <li>Setting Up Common Dimension Properties</li>
                            <li>Creating Dimensions</li>
                            <li>Setting Up Business Dimensions</li>
                            <li>Setting Up POV Dimensions</li>
                            <li>Adding Member Descriptions</li>
                            <li>Assigning Attributes</li>
                            <li>Adding User-Defined Attributes</li>
                            <li>Creating Members</li>
                        </ul>
                        <h4>Loading Dimension Metadata</h4>
                        <ul>
                            <li>About Loading Dimension Metadata</li>
                            <li>Setting Up Text Files through EPMA File Generator</li>
                            <li>Setting Up Interface Tables</li>
                            <li>Loading Metadata</li>
                        </ul>
                        <h4>Essbase Concepts and Functional concepts</h4>
                        <ul>
                            <li>Profitability and Cost Management Repository and Essbase</li>
                            <li>Multidimensional Analysis</li>
                            <li>Administration Services Console</li>
                            <li>Essbase Outlines</li>
                            <li>Block Storage and Aggregate Storage Databases</li>
                            <li>Member Properties</li>
                            <li>Calculation Scripts</li>
                        </ul>
                        <h4>Functional Cost concepts</h4>
                        <ul>
                            <li>Functional costing system and methods</li>
                            <li>Cost allocation structure and purpose</li>
                            <li>Cost allocation models</li>
                            <li>Profit identification at output level</li>
                        </ul>
                        <h4>Standard Profitability Models</h4>
                        <ul>
                            <li>About Standard Profitability Models</li>
                            <li>Model Levels and Components</li>
                            <li>Accessing Models</li>
                        </ul>
                        <h4>Deploying Standard Profitability Applications</h4>
                        <ul>
                            <li>About Deploying Applications</li>
                            <li>Validating Applications</li>
                            <li>Deploying Applications to Profitability Servers</li>
                            <li>Duplicating and Comparing Applications</li>
                            <li>Viewing Job Status</li>
                        </ul>
                        <h4>Creating the Model Structure for Standard Profitability Applications</h4>
                        <ul>
                            <li>Setting Model Preferences</li>
                            <li>Adding, Copying and deleting Points of View</li>
                            <li>Creating Multidimensional stages</li>
                            <li>Deploying application to Essbase Databases</li>
                        </ul>
                        <h4>Setting Up Assignments</h4>
                        <ul>
                            <li>About Assignments</li>
                            <li>Creating Regular Assignments</li>
                            <li>Creating Assignment Rules</li>
                        </ul>
                        <h4>Introduction to Drivers</h4>
                        <ul>
                            <li>About Drivers</li>
                            <li>Driver Formulas and Formula Types</li>
                        </ul>
                        <h4>Creating Drivers for Allocations</h4>
                        <ul>
                            <li>Creating Drivers</li>
                            <li>Selecting Drivers</li>
                            <li>Adding Exceptions to Driver Selections</li>
                        </ul>
                        <h4>Adding Data to Models</h4>
                        <ul>
                            <li>About Adding Data to Models</li>
                            <li>Loading Data</li>
                            <li>Creating, Viewing and Editing Stage Data</li>
                            <li>Creating, Viewing and Editing Driver Data</li>
                        </ul>
                        <h4>Managing Calculations</h4>
                        <ul>
                            <li>Running Calculations</li>
                            <li>Validating the Model Structure</li>
                            <li>Running Driver Data Reports</li>
                            <li>Running Trace Allocation Reports</li>
                            <li>Running the Stage Balancing Report</li>
                        </ul>
                        <h4>Analyzing Data</h4>
                        <ul>
                            <li>Creating Smart View Queries</li>
                            <li>Navigating Smart View</li>
                            <li>Connecting to Data Sources</li>
                            <li>Creating Ad Hoc Grids and Setting the Point of View</li>
                            <li>Associating Data Sources with Worksheets</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>