<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/hyperion-financial-management.jpg" alt="Hyperion-Financial-Management-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Hyperion Financial Management Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Hyperion Financial Management Course Content</h1>
                        <hr>
                        <h3>Summary</h3>
                        <ul>
                        	<li>Overview, Navigation, Dimensionality and the End User Process</li>
                        	<li>EPMA Application Creation and Design</li>
                        	<li>Data Loading, Document Management, Intercompany Setup</li>
                        	<li>Journals, Financial Rules, Consolidation and Translation</li>
                        	<li>Life Cycle Management, Security, Smart View</li>
                        </ul>
                        <h3>Detailed Agenda</h3>
                        <h4>HFM Overview</h4>
                        <ul>
                        	<li>Logging onto the Workspace</li>
                        	<li>Access & Navigate HFM Web</li>
                        	<li>HFM Dimensions</li>
                        	<li>Introducing FDM</li>
                        </ul>
                        <h4>The End User Process</h4>
                        <ul>
                        	<li>Data Forms Overview</li>
                        	<li>Data Grids Overview</li>
                        	<li>Consolidating</li>
                        	<li>Promoting a Process Unit</li>
                        	<li>Financial Reports</li>
                        	<li>Working with Books</li>
                        </ul>
                        <h4>Application Build</h4>
                        <ul>
                        	<li>Application Building</li>
                        	<li>Periods</li>
                        	<li>Scenarios</li>
                        	<li>Missing Data as Zero</li>
                        	<li>Accounts</li>
                        	<li>Currencies</li>
                        	<li>Entity and ICP</li>
                        	<li>Default Settings</li>
                        	<li>Local and Shared Members</li>
                        	<li>Dimension Associations</li>
                        	<li>Grid Editor</li>
                        	<li>Multiple Apps/Products</li>
                        	<li>Viewing Log Files</li>
                        	<li>Profiles and Importing</li>
                        	<li>Configurable Dimensionality</li>
                        </ul>
                        <h4>Member Lists</h4>
                        <ul>
                        	<li>Static Member Lists</li>
                        	<li>Dynamic Member Lists</li>
                        </ul>
                        <h4>Loading Data</h4>
                        <ul>
                        	<li>Load and Review Data</li>
                        	<li>Load Methods</li>
                        </ul>
                        <h4>Data Forms</h4>
                        <ul>
                        	<li>Creating Data Forms</li>
                        	<li>Linked Forms</li>
                        </ul>
                        <h4>Data Grids</h4>
                        <ul>
                        	<li>Understanding Data Grids</li>
                        	<li>Design Considerations for Data Grids</li>
                        </ul>
                        <h4>Other Documents</h4>
                        <ul>
                        	<li>Creating Other Documents</li>
                        	<li>Creating and Maintaining Task Lists</li>
                        </ul>
                        <h4>Exchange Rates</h4>
                        <ul>
                        	<li>Entering Exchange Rates</li>
                        	<li>Value Dimensions and Custom Dimension Combinations</li>
                        </ul>
                        <h4>Intercompany</h4>
                        <ul>
                        	<li>Intercompany Setup</li>
                        	<li>Intercompany (IC) Input & Elimination</li>
                        	<li>ICP Matching Report</li>
                        </ul>
                        <h4>Journals</h4>
                        <ul>
                        	<li>Journal Setup</li>
                        	<li>Creating Journals</li>
                        	<li>Processing Journals</li>
                        	<li>Journal Reports</li>
                        </ul>
                        <h4>HFM Calculations</h4>
                        <ul>
                        	<li>Writing Rules</li>
                        	<li>Calculation Manager</li>
                        	<li>Creating Basic Rules</li>
                        	<li>Conditions and Variables</li>
                        </ul>
                        <h4>Process Control</h4>
                        <ul>
                        	<li>Process Control Setup</li>
                        	<li>Phased Submissions</li>
                        </ul>
                        <h4>Consolidation and Translation</h4>
                        <ul>
                        	<li>Running Consolidations</li>
                        	<li>Value Dimension Review</li>
                        	<li>Subcubes</li>
                        	<li>'On the Fly' Currency Translations</li>
                        </ul>
                        <h4>Security Users, Groups & Classes</h4>
                        <ul>
                        	<li>User Roles</li>
                        	<li>Creating Users, Groups and Classes</li>
                        	<li>Provisioning User Access</li>
                        </ul>
                        <h4>Smart View Overview</h4>
                        <ul>
                        	<li>Smart View Panel</li>
                        	<li>Smart View Toolbar</li>
                        	<li>Member Selection</li>
                        	<li>Ad Hoc Analysis</li>
                        	<li>Smart View Options</li>
                        	<li>Smart View Data Forms</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>