<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/hyperion.jpg" alt="Hyperion-Pro-eLearning">
        </div>
    </div>
    
<!--
    <div class="row" ng-controller="CourseCardsController">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="col-md-3" ng-repeat="items in cc_info_tech">
                <a href="{{items.cc_info_tech_imageLink}}">
                    <img class="img-responsive center-block" ng-src="./images/{{items.cc_info_tech_image}}">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-hidden col-xs-hidden">
            
        </div>
    </div>
-->
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="hyperion/hpcm">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/hpcm.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>HPCM</h4>
                        <p clamp="2">HPCM is a Profitability and Cost Management software.</p>
                        <a ng-href="hyperion/hpcm" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="hyperion/hyperion-epm">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/hyperion-epm.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>Hyperion EPM</h4>
                        <p clamp="2">Hyperion EPM is a Enterprise Performance Management software.</p>
                        <a ng-href="hyperion/hyperion-epm" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="hyperion/hyperion-essbase">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/hyperion-essbase.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>Hyperion Essbase</h4>
                        <p clamp="2">Hyperion Essbase is a multi-dimensional database management system which provides a multi-dimensional database platform upon which to build analytic applications.</p>
                        <a ng-href="hyperion/hyperion-essbase" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="hyperion/hyperion-financial-management">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/hyperion-financial-management.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>Hyperion Financial Management</h4>
                        <p clamp="2">Hyperion Financial Management is a comprehensive, Web-based application that delivers global financial consolidation, reporting and analysis in a single, highly scalable software solution.</p>
                        <a ng-href="hyperion/hyperion-financial-management" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-hidden col-xs-hidden">
            <h4 class="text-center">New Demos</h4>
        </div>
    </div>
        
</div>
