<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/hyperion-essbase.jpg" alt="Hyperion-Essbase-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Hyperion Essbase Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Hyperion Essbase Course Content</h1>
                        <hr>
                        <ul>
                        	<li>Create block and Aggregate storage databases</li>
                        	<li>Create dimensions using rules files</li>
                        	<li>Load data using rules files</li>
                        	<li>Analyze data with Smart View</li>
                        	<li>Describe multidimensional calculation</li>
                        	<li>Create basic database calculations</li>
                        	<li>Analyze dimension attributes</li>
                        	<li>Hyperion Essbase Infra</li>
                        	<li>Hyperion Essbase Security</li>
                        </ul>
                        <h4>Topics</h4>
                        <ul>
                        	<li>Essbase</li>
                        	<li>Production Environment Components</li>
                        </ul>
                        <h4>Designing Applications and Databases</h4>
                        <ul>
                        	<li>Block Storage Implementation Process</li>
                        	<li>and Aggregate storageImplementation Process</li>
                        	<li>Analyzing and Planning Implementations</li>
                        	<li>Creating Applications and Databases</li>
                        	<li>Creating Outline Structures</li>
                        	<li>Modifying Member Properties</li>
                        </ul>
                        <h4>Designing Data Descriptor Dimensions</h4>
                        <ul>
                        	<li>Data Descriptor Dimensions Overview</li>
                        	<li>Designing Time Dimensions</li>
                        	<li>Designing Scenario Dimensions</li>
                        	<li>Outline Calculations</li>
                        	<li>Designing Accounts Dimensions</li>
                        	<li>Testing Outline Calculations</li>
                        </ul>
                        <h4>Optimizing Data Descriptor Dimensions</h4>
                        <ul>
                        	<li>Creating Member Aliases</li>
                        	<li>Dimension Types</li>
                        	<li>Creating Period-to-Date Totals</li>
                        	<li>Dynamic Calc Members</li>
                        	<li>Enhancing Accounts Dimensions</li>
                        	<li>Optimizing Data Storage</li>
                        </ul>
                        <h4>Creating Basic Dimension Build Rules Files</h4>
                        <ul>
                        	<li>Rules Files Overview</li>
                        	<li>Creating Dimension Build Rules Files</li>
                        	<li>Configuring Dimension Maintenance Settings</li>
                        </ul>
                        <h4>Creating Advanced Dimension Build Rules Files</h4>
                        <ul>
                        	<li>Advanced Dimension Build Rules Files Overview</li>
                        	<li>Creating Shared Members</li>
                        	<li>Manipulating Fields</li>
                        	<li>Creating User-Defined Attributes</li>
                        </ul>
                        <h4>Loading Data</h4>
                        <ul>
                        	<li>Data Load Overview</li>
                        	<li>Creating Data Load Rules Files</li>
                        	<li>Selecting and Rejecting Records</li>
                        	<li>Capturing New Members</li>
                        </ul>
                        <h4>Getting Started with Smart View</h4>
                        <ul>
                        	<li>Smart View Overview</li>
                        	<li>Configuring Data Sources</li>
                        	<li>Creating Ad Hoc Reports</li>
                        	<li>Setting the Point of View</li>
                        </ul>
                        <h4>Creating Reports with Smart View</h4>
                        <ul>
                        	<li>Manipulating Multidimensional Data</li>
                        	<li>Updating Essbase Data</li>
                        	<li>Integrating Essbase Data with Microsoft Office</li>
                        	<li>Customizing the User Experience</li>
                        </ul>
                        <h4>Data Storage and Calculation</h4>
                        <ul>
                        	<li>Calculation Overview</li>
                        	<li>Database Calculation Order</li>
                        	<li>Data Block Fundamentals</li>
                        	<li>Data Blocks and the Index System</li>
                        	<li>Database Statistics</li>
                        	<li>Data Block Creation</li>
                        	<li>Database Calculation Process</li>
                        </ul>
                        <h4>Creating Calculation Scripts</h4>
                        <ul>
                        	<li>Calculation Script Organization</li>
                        	<li>Returning Correct Calculation Results</li>
                        </ul>
                        <h4>Controlling the Calculation Process</h4>
                        <ul>
                        	<li>Focusing Calculations with FIX Statements</li>
                        	<li>Calculating Conditionally with IF Statements</li>
                        	<li>Comparing FIX and IF Calculation Processes</li>
                        </ul>
                        <h4>Referencing Members in Calculations</h4>
                        <ul>
                        	<li>Referencing Members Explicitly</li>
                        	<li>Referencing Members Dynamically</li>
                        	<li>Creating Calculation Variables</li>
                        </ul>
                        <h4>Partitions</h4>
                        <h4>Report Scripts</h4>
                        <h4>Maxl Scripts</h4>
                        <h4>Hyperion essbaseInfra</h4>
                        <h4>Security</h4>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>