<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/hyperion-epm.jpg" alt="Hyperion-EPM-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Hyperion EPM Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Hyperion EPM Course Content</h1>
                        <hr>
                        <h4>Planning Overview</h4>
                        <ul>
                        	<li>Oracle's Enterprise Performance Management System</li>
                        	<li>Oracle's Business Intelligence Suite Enterprise Edition Plus</li>
                        	<li>Architecture of Planning</li>
                        	<li>Relationship Between Planning and Essbase</li>
                        	<li>Navigation of Workspace</li>
                        </ul>
                        <h4>Creating Dimensions</h4>
                        <ul>
                        	<li>EPM Architect</li>
                        	<li>Period, Scenario and Version Dimensions</li>
                        	<li>Entity Dimensions</li>
                        	<li>Account Dimensions</li>
                        	<li>Custom Dimensions</li>
                        </ul>
                        <h4>Metadata</h4>
                        <ul>
                        	<li>Loading Data</li>
                        	<li>Using Application Views</li>
                        	<li>Deploying Applications</li>
                        	<li>Setting Up Exchange Rates</li>
                        </ul>
                        <h4>Loading Data and Calculating Database</h4>
                        <ul>
                        	<li>Setting Up Data Loads and Calculating</li>
                        	<li>Loading Data</li>
                        </ul>
                        <h4>Security</h4>
                        <ul>
                        	<li>Provisioning Users and Groups</li>
                        	<li>Defining Access Levels</li>
                        </ul>
                        <h4>Designing Data Forms</h4>
                        <ul>
                        	<li>Creating Forms and Folders</li>
                        	<li>Customizing</li>
                        </ul>
                        <h4>Entering Data</h4>
                        <ul>
                        	<li>In Planning</li>
                        	<li>Using Smart View</li>
                        	<li>Offline</li>
                        </ul>
                        <h4>Business Rules</h4>
                        <ul>
                        	<li>Creating Business Rules</li>
                        	<li>Building Runtime Prompts</li>
                        	<li>Adding Formulas</li>
                        	<li>Managing Business Rules</li>
                        </ul>
                        <h4>Managing Plan Process</h4>
                        <ul>
                        	<li>Approval Process</li>
                        	<li>Task Lists</li>
                        </ul>
                        <h4>Analyzing Planning Data</h4>
                        <ul>
                        	<li>Financial Reporting</li>
                        	<li>Reports in Workspace</li>
                        </ul>
                        <h4>Working with Financial Controls</h4>
                        <ul>
                        	<li>About Financial Controls</li>
                        	<li>Creating Controls Groups, Sections, and Questions</li>
                        	<li>Deleting and Restoring Controls Groups, Sections, and Questions</li>
                        	<li>Assigning Reviewer, Submitter, and Proxy Rights</li>
                        	<li>Accessing Financial Controls</li>
                        	<li>Selecting Application Settings for Financial Controls</li>
                        </ul>
                        <h4>Working with Import Scripts</h4>
                        <ul>
                        	<li>About Scripting in FDM</li>
                        	<li>Working with Scripting Components</li>
                        	<li>Creating Import Scripts</li>
                        	<li>Assigning Import Scripts to Import Formats</li>
                        	<li>Applying Scripting Functions to Import Scripts</li>
                        	<li>Working with Temporary Variables</li>
                        	<li>Manually Executing Custom Custom Web Scripts</li>
                        </ul>
                        <h4>Working with Import Integration Scripts</h4>
                        <ul>
                        	<li>About Import Integration Scripts</li>
                        	<li>Creating Import Integration Scripts</li>
                        	<li>Assigning Import Integration Scripts to Import Formats</li>
                        </ul>
                        <h4>Working with Event Scripts</h4>
                        <ul>
                        	<li>About Event Scripts</li>
                        	<li>Creating Event Scripts</li>
                        	<li>Changing Import Formats Dynamically</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>