<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/ibm.jpg" alt="IBM-Pro-eLearning">
        </div>
    </div>
    
<!--
    <div class="row" ng-controller="CourseCardsController">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="col-md-3" ng-repeat="items in cc_info_tech">
                <a href="{{items.cc_info_tech_imageLink}}">
                    <img class="img-responsive center-block" ng-src="./images/{{items.cc_info_tech_image}}">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-hidden col-xs-hidden">
            
        </div>
    </div>
-->
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="ibm/webfocus">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/webfocus.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>WebFocus</h4>
                        <p clamp="2">The WebFocus business intelligence (BI) and analytics platform helps companies use data more strategically across and beyond the enterprise.</p>
                        <a ng-href="ibm/webfocus" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="ibm/websphere-admin">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/websphere-admin.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>WebSphere Admin</h4>
                        <p clamp="2">WebSphere Admin is an IBM Data Integration Tool.</p>
                        <a ng-href="ibm/websphere-admin" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="ibm/websphere-message-broker">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/websphere-message-broker.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>WebSphere Message Broker</h4>
                        <p clamp="2">WebSphere Message Broker is an enterprise service bus (ESB) providing connectivity and universal data transformation for service-oriented architecture (SOA) and non-SOA environments.</p>
                        <a ng-href="ibm/websphere-message-broker" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-hidden col-xs-hidden">
            <h4 class="text-center">New Demos</h4>
        </div>
    </div>
        
</div>
