<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/informatica.jpg" alt="Informatica-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Informatica Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Informatica Course Content</h1>
                        <hr>
                        <h4>INFORMATICA</h4>
                        <h4>DATAWAREHOUSING CONCEPTS:</h4>
                        <h4>INTRODUCTION TO DATAWAREHOUSING</h4>
                        <ul>
                        	<li>What is Data warehouse?</li>
                        	<li>Components of Data warehouse</li>
                        	<li>Decision support systems</li>
                        	<li>OLTP Systems</li>
                        	<li>OLTP vs DATAWAREHOUSE</li>
                        	<li>ODS(Operational Data Store)</li>
                        	<li>Difference between ODS and</li>
                        </ul>
                        <h4>DATAWAREHOUSE</h4>
                        <ul>
                        	<li>Data Mart</li>
                        	<li>Difference between Data warehouse and Data Mart</li>
                        	<li>Difference between Data warehouse and ODS,OLTP</li>
                        	<li>Data warehousing for OLTP systems</li>
                        	<li>Data cleansing</li>
                        	<li>Independent Data warehouse</li>
                        	<li>Dependent Data warehouse</li>
                        	<li>Meta data and Data Mining</li>
                        	<li>OLAP,ROLAP,MOLA </li>
                        </ul>
                        <h4>DATABASE DESIGN AND DATA MODELING</h4>
                        <ul>
                        	<li>ER Model for transactional processing</li>
                        	<li>Introduction to Data Modeling</li>
                        	<li>Entities and Attributes</li>
                        	<li>What is the use of data modeling in Data warehousing?</li>
                        	<li>Schema</li>
                        	<li>Star Schema</li>
                        	<li>Snowflake Schema</li>
                        	<li>Snowflake Schema (hybrid schema or galaxy schema)</li>
                        	<li>Fact Table</li>
                        	<li>Dimension Tables</li>
                        	<li>Multi dimension Tables</li>
                        	<li>Grain warehousing Tools consideration</li>
                        	<li>Granularity for the Data warehousing</li>
                        </ul>
                        <h4>TOOLS CONSIDERATION: ERWIN (Data Modeling Tool)</h4>
                        <ul>
                        	<li>Introduction to Erwin</li>
                        	<li>Usage of Erwin</li>
                        	<li>Physical and Logical Model</li>
                        	<li>Creation of Table</li>
                        	<li>Forward Engineering</li>
                        	<li>Reverse Engineering</li>
                        	<li>Complete compare</li>
                        	<li>Domains</li>
                        	<li>Subject areas</li>
                        	<li>Relationships</li>
                        	<li>Demoralization</li>
                        	<li>Data Modeling report generation</li>
                        	<li>HTML report</li>
                        	<li>RTF report</li>
                        	<li>Text report</li>
                        	<li>Creating user defined data types</li>
                        	<li>Integrating Tables from different users</li>
                        </ul>
                        <h4>INFORMATICA 8.6</h4>
                        <ul>
                        	<li>Introduction of Informatica power center</li>
                        	<li>ETL Architecture</li>
                        	<li>Data source</li>
                        	<li>Data targets</li>
                        	<li>Repository</li>
                        	<li>Meta data</li>
                        	<li>Server components</li>
                        	<li>Client components</li>
                        </ul>
                        <h4>INFORMATICA INSTALLATION</h4>
                        <ul>
                        	<li>SYSTEM REQUIREMENT</li>
                        	<li>CREATING DOMAIN</li>
                        	<li>CREATING NODE</li>
                        	<li>CONFIGURING DOMAIN WITH WEBSERVER</li>
                        	<li>ASSIGNING INFORMATICA SERVICES WITH ACCOUNT</li>
                        </ul>
                        <h4>INFORMATICA POWER CENTER WEB ADMINISTRATOR CONSOLE</h4>
                        <ul>
                        	<li>Creating Informatica Repository Services</li>
                        	<li>Creating integrated services</li>
                        </ul>
                        <h4>INFORMATICA REPOSITORY MANAGER</h4>
                        <ul>
                        	<li>Creating the workspace(folder)</li>
                        	<li>Creating the users</li>
                        	<li>Changing the user passwords</li>
                        	<li>Creating users groups</li>
                        	<li>Giving privileges to the users, user groups and folder</li>
                        </ul>
                        <h4>INFORMATICA DESIGNER</h4>
                        <ul>
                        	<li>Connecting to the designer</li>
                        	<li>Components of the designer</li>
                        	<li>Creating DSN(data source name)</li>
                        	<li>Source, Database</li>
                        	<li>Accessing the source, definitions to the designer</li>
                        	<li>Warehouse Designer</li>
                        	<li>Creating the target Tables using warehouse designer</li>
                        	<li>Generating target Table to database</li>
                        	<li>Mapping Designer</li>
                        	<li>Mapping between the source and target Tables</li>
                        	<li>Transformations between source and target Tables</li>
                        </ul>
                        <h4>TYPES OF TRANSFORMATIONS:</h4>
                        <ul>
                        	<li>Source qualifier</li>
                        	<li>Aggregator</li>
                        	<li>Filter</li>
                        	<li>Expression</li>
                        	<li>Stored Procedure</li>
                        	<li>Lookup</li>
                        	<li>Sorter</li>
                        	<li>Joiner</li>
                        	<li>Router</li>
                        	<li>Xml source qualifier</li>
                        	<li>Update strategy</li>
                        	<li>Normalizer</li>
                        	<li>Ranking</li>
                        	<li>Sequencer Generator</li>
                        	<li>Transaction control</li>
                        	<li>Union</li>
                        	<li>Custom</li>
                        	<li>Cubes and Dimensions(creating star schema)</li>
                        	<li>Slowly Changing Dimensions(SCD) Mapplets</li>
                        	<li>Reusable transformations Debugger</li>
                        	<li>Working with mapping using </li>
                        	<li>Data Profiling</li>
                        	<li>Variable and Parameters</li>
                        	<li>New Features in power centre 7.1</li>
                        </ul>
                        <h4>WORKFLOW MANAGER</h4>
                        <ul>
                        	<li>Components of workflow manager</li>
                        </ul>
                        <h4>Types of tasks</h4>
                        <ul>
                        	<li>Session</li>
                        	<li>E-mail</li>
                        	<li>Command</li>
                        	<li>Creating workflow</li>
                        	<li>Scheduling the workflow</li>
                        	<li>Creating connections</li>
                        	<li>Assigning connection values to the sessions</li>
                        	<li>Assigning server to workflow</li>
                        	<li>Workflow monitor</li>
                        	<li>Session logs</li>
                        	<li>Workflow logs</li>
                        </ul>
                        <h4>Conclusion:</h4>
                        <ul>
                        	<li>Resume Preparation</li>
                        	<li>Real Time Scenarios</li>
                        	<li>Documents</li>
                        </ul>
                    </div>
                </div>
            </div>

                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>