<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/informatica-mdm.jpg" alt="Informatica-MDM-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Informatica MDM Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Informatica MDM Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 21h</p>
                        <hr>
                        <ol>
                        	<li>Introduction and Architecture
                        		<ul>
                        			<li><span class="section">Assignment - </span>Analyze the Architecture and MDM Concepts</li>
                        		</ul>
                        	</li>
                        	<li>Informatica MDM Hub console Overview
                        		<ul>
                        			<li><span class="section">Assignment - </span>Check the tool</li>
                        		</ul>
                        	</li>
                        	<li>Designing the DataModel
                        		<ul>
                        			<li><span class="section">Assignment - </span>Design a Party, Product Data Model</li>
                        		</ul>
                        	</li>
                        	<li>Base and Landing Tables and Staging Tables and Tool Access (VPN)
                        		<ul>
                        			<li><span class="section">Assignment - </span>Import Base Object from Database</li>
                        		</ul>
                        	</li>
                        	<li>Staging Tables,Creating source Systems and configure Trust
                        		<ul>
                        			<li><span class="section">Assignment - </span>Create Lookups to on ROWID_OBJECT and Unique Key</li>
                        		</ul>
                        	</li>
                        	<li>Lookups, Schema Viewer
                        		<ul>
                        			<li><span class="section">Assignment - </span>Create Put Packages and Custom Queries</li>
                        		</ul>
                        	</li>
                        	<li>Cleanse Functions
                        		<ul>
                        			<li><span class="section">Assignment - </span>Create Cleanse lists, Conditions, READ Database, REJECT</li>
                        		</ul>
                        	</li>
                        	<li>Mappings
                        		<ul>
                        			<li><span class="section">Assignment - </span>Create Complex mappings and Test them </li>
                        		</ul>
                        	</li>
                        	<li>Load data from Landing to Stage
                        		<ul>
                        			<li><span class="section">Assignment - </span>Create a Job Batch Group, execute and check logs</li>
                        		</ul>
                        	</li>
                        	<li>Batch Viewer and Batch Group overview
                        		<ul>
                        			<li><span class="section">Assignment - </span>Load data for Account, Contact, Address, Party and extend the data model</li>
                        		</ul>
                        	</li>
                        	<li>Tokenize, Match and Merge Process
                        		<ul>
                        			<li><span class="section">Assignment - </span>Chech Tokenize Process and Matching options</li>
                        		</ul>
                        	</li>
                        	<li>Configuring Match Properties
                        		<ul>
                        			<li><span class="section">Assignment - </span>Chech BO_STRP, BO_MTCH tables and Matching options</li>
                        		</ul>
                        	</li>
                        	<li>Execute the Batch process for Parent
                        		<ul>
                        			<li><span class="section">Assignment - </span>Create the BatchGroup Job and execute for Parent</li>
                        		</ul>
                        	</li>
                        	<li>Execute the Batch process for Child
                        		<ul>
                        			<li><span class="section">Assignment - </span>Create the BatchGroup Job and execute for Child</li>
                        		</ul>
                        	</li>
                        	<li>Queries and Packages, Data Manager and Merge Manager
                        		<ul>
                        			<li><span class="section">Assignment - </span>Manipulate the data in DM,MM and run jobs</li>
                        		</ul>
                        	</li>
                        	<li>JMS Queue
                        		<ul>
                        			<li><span class="section">Assignment - </span>Schedule a job and Test a message in Queue</li>
                        		</ul>
                        	</li>
                        	<li>Repository Manager
                        		<ul>
                        			<li><span class="section">Assignment - </span>Create users, roles, groups. Export and import objects</li>
                        		</ul>
                        	</li>
                        	<li>User Exits in Informatica MDM
                        		<ul>
                        			<li><span class="section">Assignment - </span>Explore User exits</li>
                        		</ul>
                        	</li>
                        	<li>Log Files, Batch Group and Job scheduling
                        		<ul>
                        			<li><span class="section">Assignment - </span>Check AppServer Log, InfaHub logs and Audit Tables</li>
                        		</ul>
                        	</li>
                        	<li>Informatica Data Director (IDD) and Create an ORS, Installation and SAM
                        		<ul>
                        			<li><span class="section">Assignment - </span>Merge records in IDD</li>
                        		</ul>
                        	</li>
                        	<li>Recap, Interview Questions and Q&A</li>
                        </ol>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>