<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/iot.jpg" alt="IoT-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="course-desc">
                    <h1>IoT Training</h1>
                    <p>Pro-elearning presents complete hands on training in IoT. This course is designed to clear your concepts in Embedded Systems & IoT using complete practical approach. You will develop various interesting & innovative projects during this course.</p>
                    <p>We are committed to facilitate professionally experienced faculties who help students in exploring their technical knowledge and be the part of competetive industry.</p>
                    <div class="detail-cards mt-50">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="detail-cards-desc">
                                <h3>What is RPA?</h3>
                                <p>Robotic Process Automation is a platform to reduce human efforts by deploying a Robot or Software to perfrom specific task which is repeatedly performed. RPA tools will interact with business applications as a human user would do.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="detail-cards-desc">
                                <h3>Get certified</h3>
                                <p>Upon completion of the course, attendees are encouraged to continue their study and register for the HPE Global Certification. Certification is a great differentiator; it helps establish you as a leader in the field, providing employers and customers with tangible evidence of your skills and expertise.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="detail-cards-desc">
                                <h3>Prerequisites</h3>
                                <ul>
                                    <li>Basic knowledge of Programming</li>
                                    <li>Basic knowledge of Electronics and Computer Science</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="course-overview">
                        <h2 class="text-center mt-50">IoT Course Overview</h2>
                        <div class="panel-group col-xs-12 col-sm-12 col-md-12 col-lg-12" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#module1" aria-expanded="true" aria-controls="collapseOne">Module 1</a>
                                    </h4>
                                </div>
                                <div id="module1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Introduction of Embedded System</li>
                                            <li>ASIC in Latest Technology</li>
                                            <li>Basic Micro Controller Concept</li>
                                            <li>Embedded System Application</li>
                                            <li>AVR Microcontroller Concept</li>
                                            <li>Embedded C Using Basic Microcontroller</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#module2" aria-expanded="false" aria-controls="collapseTwo">Module 2</a>
                                    </h4>
                                </div>
                                <div id="module2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Arduino IDE</li>
                                            <li>Interface with Arduino Hardware</li>
                                            <li>LED Blink Basic Programs</li>
                                            <li>Serial Communication</li>
                                            <li>Interface a Serial Device with Arduino</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#module3" aria-expanded="false" aria-controls="collapseThree">Module 3</a>
                                    </h4>
                                </div>
                                <div id="module3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Analog Read, Analog Write</li>
                                            <li>Digital Read, Digital Write</li>
                                            <li>Analog Serial Communication</li>
                                            <li>Bluetooth Communication</li>
                                            <li>Interface Various Components like LCD, Bluetooth, and Ultrasonic Sensor etc.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#module4" aria-expanded="false" aria-controls="collapseFour">Module 4</a>
                                    </h4>
                                </div>
                                <div id="module4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Android Development for Apps</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#module5" aria-expanded="false" aria-controls="collapseFive">Module 5</a>
                                    </h4>
                                </div>
                                <div id="module5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Introduction to Embedded Systems</li>
                                            <li>Introduction to Programming in Embedded</li>
                                            <li>Introduction to Relay Driver IC</li>
                                            <li>Introduction to ADC</li>
                                            <li>Introduction to WIFI</li>
                                            <li>Introduction to ESP 8266 module</li>
                                            <li>Introduction to TCP/IP</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#practicals" aria-expanded="false" aria-controls="collapseSix">Practicals</a>
                                    </h4>
                                </div>
                                <div id="practicals" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <ul>
                                            <li>PRACTICAL 1: Blinking of LED</li>
                                            <li>PRACTICAL 2: Turn ON/OFF Buzzer at Desired Delay</li>
                                            <li>PRACTICAL 3: Transferring Data Serially from PC to Microcontroller</li>
                                            <li>PRACTICAL 4: How to Configure at Commands</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#projects" aria-expanded="false" aria-controls="collapseSeven">Projects</a>
                                    </h4>
                                </div>
                                <div id="projects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        <ul>
                                            <li>PROJECT 1: Burning the Program on Hardware with some different LED patterns</li>
                                            <li>PROJECT 2: Turn ON/OFF AC appliances with MCU at some delay</li>
                                            <li>PROJECT 3: Display sensor data on hyper terminal</li>
                                            <li>PROJECT 4: How to send message/call</li>
                                            <li>PROJECT 5: Automatic updates/uploads of sensor value on IP/Web</li>
                                            <li>PROJECT 6: Real time monitoring of sensors on a particular IP address/server</li>
                                            <li>PROJECT 7: Acquire a control signal from an IP</li>
                                            <li>PROJECT 8: Automate the AC/Household appliances From An IP/Webserver</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    	</div>
    </div>
</div>