<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/java.jpg" alt="Java-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Java Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>90 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <!-- Modes of Training -->
            <div class="training-modes">
                <h3>Available Modes of Training</h3>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/online-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>Online Training</h4>
                            <p class="text-justify">Conducted through the virtual classroom also have the same program flow with theory and practical sessions. Our Labs can be accessed online from across the world allowing our online training student to make the best use of the infrastructure from the comfort of their home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/classroom-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-site Training</h4>
                            <p class="text-justify">Trainings will be conducted on a daily basis. Practical exercises are provided for the topics conducted on daily basis to be worked upon during the lab session.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/on-demand-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-demand Training</h4>
                            <p class="text-justify">Select your flexible timings at your convenience for one-to-one training. You individually will assigned a trainer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>Basic understanding of C, C++ programming language. The understanding of Object-Oriented programming constructs will be an added advantage.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <h4>Training Overview</h4>
                    <p>Java training by Pro-elearning lets you build the applications for data analytics and gain skills in programming by expressing concepts in fewer lines of code. Java supports a number of coding methodologies, including object-oriented programming and structured programming; it can be used to develop for a variety of uses including the web and other applications that need a programmable interface.</p>
                    <h4>About The Course</h4>
                    <p>"Write Once, Run Anywhere (WORA)" - JAVA was designed as a general-purpose, class-based, Object- Oriented programming language. JAVA is the most popular programming language for Client-Server applications with over 10 million developers worldwide. Developed by James Gosling at Sun Microsystems in 1995 JAVA derives much of its syntax from C and C++.</p>
                    <p>The training on Java by Pro-elearning offers deep understanding of fundamentals and practical usage of the programming language. Starting with Core Java, the course covers Advance Java and J2EE and working on the various Tools like Eclipse, STRUTS STUDIO, STYLUS STUDIO. The course material and course curriculum is designed to meet the current industry needs.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Introduction <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Java</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Language Fundamentals <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Features of Java Language</li>
                                    <li>JVM – The heart of Java</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. Java Environment <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Installing Java</li>
                                    <li>Java - Environment Setup</li>
                                    <li>Java Program Development</li>
                                    <li>Compilation</li>
                                    <li>Executions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. Basic Language Elements <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>Lexical Tokens, Identifiers</li>
                                    <li>Keywords, Literals, Comments</li>
                                    <li>Primitive Datatypes, Operators</li>
                                    <li>Assignments</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. Java Basics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Java - Loop Control</li>
                                    <li>Java - Decision Making</li>
                                    <li>Java - Numbers</li>
                                    <li>Java - Characters</li>
                                    <li>Java - Strings</li>
                                    <li>Java - Arrays</li>
                                    <li>Java - Date & Time</li>
                                    <li>Java - Regular Expressions</li>
                                    <li>Java - Methods</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#businessObjects" aria-expanded="false" aria-controls="collapseSix">6. Object Oriented Programming <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="businessObjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul>
                                    <li>Class Fundamentals</li>
                                    <li>Object & Object reference</li>
                                    <li>Memory architecture of java program</li>
                                    <li>Object Life time & Garbage Collection</li>
                                    <li>Creating and Operating Objects</li>
                                    <li>Constructor & initialization code block</li>
                                    <li>Access Control, Modifiers, methods</li>
                                    <li>Nested , Inner Class & Anonymous Classes</li>
                                    <li>Abstract Class & Interfaces</li>
                                    <li>Defining Methods, Argument Passing Mechanism</li>
                                    <li>Method Overloading, Recursion</li>
                                    <li>Dealing with Static Members. Finalize() Method</li>
                                    <li>Native Method. Use of &#x201C;this&#x201D; reference</li>
                                    <li>Use of Modifiers with Classes & Methods</li>
                                    <li>Generic Class Types</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#errorCaseMgmt" aria-expanded="false" aria-controls="collapseSeven">7. Extending Classes and Inheritance <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="errorCaseMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
                                    <li>Use and Benefits of Inheritance in OOP</li>
                                    <li>Types of Inheritance in Java</li>
                                    <li>Inheriting Data Members and Methods</li>
                                    <li>Role of Constructors in inheritance</li>
                                    <li>Overriding Super Class Methods</li>
                                    <li>Use of &#x201C;super&#x201D;</li>
                                    <li>Polymorphism in inheritance</li>
                                    <li>Type Compatibility and Conversion</li>
                                    <li>Implementing interfaces</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#addFeatures" aria-expanded="false" aria-controls="collapseEight">8. Package <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="addFeatures" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
                                    <li>Organizing Classes and Interfaces in Packages</li>
                                    <li>Package as Access Protection</li>
                                    <li>Defining Package</li>
                                    <li>CLASSPATH Setting for Packages</li>
                                    <li>Making JAR Files for Library Packages</li>
                                    <li>Import and Static Import</li>
                                    <li>Naming Convention For Packages</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#reviewExercise" aria-expanded="false" aria-controls="collapseNine">9. Exception Handling <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="reviewExercise" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
                                    <li>The Idea behind Exception</li>
                                    <li>Exceptions & Errors</li>
                                    <li>Types of Exception</li>
                                    <li>Control Flow In Exceptions</li>
                                    <li>Use of try, catch, finally, throw, throws in Exception Handling</li>
                                    <li>In-built and User Defined Exceptions</li>
                                    <li>Checked and Un-Checked Exceptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#iws" aria-expanded="false" aria-controls="collapseNine">10. Arrays & Strings <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="iws" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <ul>
                                    <li>Arrays & Strings</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#rtat" aria-expanded="false" aria-controls="collapseNine">11. Threads & Synchronization <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="rtat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
                                    <li>Threads & Synchronization</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tools" aria-expanded="false" aria-controls="collapseNine">12. Serialization <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tools" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
                                <ul>
                                    <li>Serialization</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThirteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#apps" aria-expanded="false" aria-controls="collapseNine">13. Collections <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="apps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Collections</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFourteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#dc" aria-expanded="false" aria-controls="collapseNine">14. File I/O Basics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="dc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                            <div class="panel-body">
                                <ul>
                                    <li>File I/O Basics</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFifteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#df" aria-expanded="false" aria-controls="collapseNine">15. Event Handling <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="df" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Event Handling</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSixteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#cv" aria-expanded="false" aria-controls="collapseNine">16. J2EE <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="cv" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to J2EE</li>
                                    <li>J2EE Overview</li>
                                    <li>Why J2EE?</li>
                                    <li>J2EE Architecture</li>
                                    <li>J2EE APIs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2>Java Server Technologies</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeventeen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#giot" aria-expanded="false" aria-controls="collapseNine">17. Servlets <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="giot" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
                            <div class="panel-body">
                                <ul>
                                    <li>Web Application Basics</li>
                                    <li>Architecture and challenges of Web Application</li>
                                    <li>Introduction to servlet</li>
                                    <li>Servlet life cycle</li>
                                    <li>Developing and Deploying Servlets</li>
                                    <li>Exploring Deployment Descriptor (web.xml)</li>
                                    <li>Handling Request and Response</li>
                                    <li>Initializing a Servlet</li>
                                    <li>Accessing Database</li>
                                    <li>Servlet Chaining</li>
                                    <li>Session Tracking & Management</li>
                                    <li>Dealing with cookies</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEighteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#trigger" aria-expanded="false" aria-controls="collapseNine">18. JSP <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="trigger" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighteen">
                            <div class="panel-body">
                                <ul>
                                    <li>JSP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNineteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fm" aria-expanded="false" aria-controls="collapseNine">19. SQL <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fm" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNineteen">
                            <div class="panel-body">
                                <ul>
                                    <li>SQL</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwenty">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#ctwh" aria-expanded="false" aria-controls="collapseNine">20. Hibernate <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="ctwh" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwenty">
                            <div class="panel-body">
                                <ul>
                                    <li>What is Hibernate?</li>
                                    <li>Understanding EntityRelationShip</li>
                                    <li>Writing Entities</li>
                                    <li>Mapping Entities</li>
                                    <li>Synchronizing with Database</li>
                                    <li>Using Hibernate with Applications</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyone">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tp" aria-expanded="false" aria-controls="collapseNine">21. Spring <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyone">
                            <div class="panel-body">
                                <ul>
                                    <li>Spring</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentytwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nip" aria-expanded="false" aria-controls="collapseNine">22. Spring Boot <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nip" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentytwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Spring Boot</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentythree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#pdc" aria-expanded="false" aria-controls="collapseNine">23. Web Services (Rest / Soap) <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="pdc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentythree">
                            <div class="panel-body">
                                <ul>
                                    <li>Web Services (Rest / Soap)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Trainer Info -->
                <div class="call-grid">
                    <h4 class="testimonials-heading text-center">Trainer Info</h4>
                    <ul>
                        <li>Mr. Raja Mohan</li>
                        <li>Total 6yrs of IT industry experience</li>
                        <li>6yrs of experience in Java</li>
                        <li>4yrs of experience in Spring</li>
                        <li><b>Java certified trainer</b></li>
                    </ul>
                </div>
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BGhlHsFBhLE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>Learn Java course here. Faculty Explanation is very good and he is very cooperative person and ready to help anytime. The classes provided by him is very useful and meaningful.</p>
                            <h4 class="pull-right">&#x2015; Angela Bensam</h4>
                        </div>
                        <div class="item slide">
                            <p>Nice Place to learn Java. The way of teaching the faculty is very nice. I loved the way he teaches and also motivates the students.</p>
                            <h4 class="pull-right">&#x2015; Laxman</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>
