<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/jbpm.jpg" alt="JBPM-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="jBPM Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>jBPM Course Content</h1>
                        <hr>
                        <h3>A. Introduction</h3>
                        <h4>1. Overview</h4>
                        <ul>
                            <li>What is jBPM?</li>
                            <li>Overview</li>
                            <li>Core Engine</li>
                            <li>Process Designer</li>
                            <li>Data Modeler</li>
                            <li>Form Modeler</li>
                            <li>Process Instance and Task Management</li>
                            <li>Business Activity Monitoring</li>
                            <li>Workbench</li>
                            <li>Eclipse Developer Tools</li>
                        </ul>
                        <h4>2. jBPM Installer</h4>
                        <ul>
                            <li>Prerequisites</li>
                            <li>Downloading the Installer</li>
                            <li>Demo Setup</li>
                            <li>Tutorial using the Workbench</li>
                            <li>Tutorial using Eclipse</li>
                            <li>Configuration</li>
                            <li>Playgrounds</li>
                            <li>Workbench Authentication
                                <ul>
                                    <li>Using your own database</li>
                                    <li>jBPM data base schema scripts (DDL scripts)</li>
                                </ul>
                            </li>
                            <li>jBPM installer script</li>
                        </ul>
                        <h4>3. Practice Some Example</h4>
                        <h3>B. jBPM Core</h3>
                        <h4>4. Core Engine API</h4>
                        <ul>
                            <li>Overview</li>
                            <li>KieBase</li>
                            <li>KieSession</li>
                            <li>ProcessRuntime</li>
                            <li>Event Listeners</li>
                            <li>Correlation Keys</li>
                            <li>Configuration</li>
                        </ul>
                        <h4>5. Testing</h4>
                        <ul>
                            <li>Unit testing</li>
                        </ul>
                        <h4>6. Persistence and Transactions</h4>
                        <ul>
                            <li>Process Instance State</li>
                            <li>Runtime State</li>
                            <li>Audit Log</li>
                            <li>The jBPM Audit data model</li>
                            <li>Storing Process Events in a Database</li>
                            <li>Storing Process Events in a JMS queue for further processing</li>
                            <li>Transactions</li>
                            <li>Container managed transaction</li>
                            <li>Configuration</li>
                            <li>Adding dependencies</li>
                            <li>Manually configuring the engine to use persistence</li>
                            <li>Configuring the engine to use persistence using JBPMHelper - for tests only</li>
                        </ul>
                        <h3>C. Workbench</h3>
                        <h4>7. Workbench</h4>
                        <ul>
                            <li>Installation</li>
                            <li>War installation</li>
                            <li>Workbench data</li>
                            <li>System properties</li>
                            <li>Quick Start</li>
                            <li>Add repository</li>
                            <li>Add project</li>
                            <li>Define Data Model</li>
                            <li>Define Rule</li>
                            <li>Build and Deploy</li>
                            <li>Configuration</li>
                            <li>User management</li>
                            <li>Roles</li>
                            <li>Command line config tool</li>
                            <li>Administration</li>
                            <li>Administration overview</li>
                            <li>Organizational unit</li>
                            <li>VFS repository</li>
                            <li>Introduction</li>
                            <li>Log in and log out</li>
                            <li>Home screen</li>
                            <li>Workbench concepts</li>
                            <li>Initial layout</li>
                            <li>Changing the layout</li>
                            <li>Resizing</li>
                            <li>Repositioning</li>
                            <li>Authoring</li>
                            <li>Artifact Repository</li>
                            <li>Data Modeller</li>
                            <li>Categories Editor</li>
                        </ul>
                        <h4>8. Workbench Integration</h4>
                        <h4>8.1. REST</h4>
                        <h4>8.1.1. Job calls</h4>
                        <h4>8.1.2. Repository calls</h4>
                        <h4>8.1.3. Organizational unit calls</h4>
                        <h4>8.1.4. Maven calls</h4>
                        <h4>9. Runtime Management</h4>
                        <h4>9.1. Deployments</h4>
                        <h4>9.1.1. Deployment Units List</h4>
                        <h4>9.2. Jobs</h4>
                        <h3>D. Eclipse</h3>
                        <h4>10. jBPM Eclipse Plugin</h4>
                        <h4>10.1. jBPM Eclipse Plugin</h4>
                        <h4>10.1.1. Installation</h4>
                        <h4>10.1.2. jBPM Project Wizard</h4>
                        <h4>10.1.3. New BPMN2 Process Wizard</h4>
                        <h4>10.1.4. jBPM Runtime</h4>
                        <h4>10.1.5. jBPM Maven Project Wizard</h4>
                        <h4>10.1.6. Drools Eclipse plugin</h4>
                        <h4>10.2. Debugging</h4>
                        <h4>10.2.1. The Process Instances View</h4>
                        <h4>10.2.2. The Audit View</h4>
                        <h4>10.3. Synchronizing with Workbench Repositories</h4>
                        <h4>10.3.1. Importing a workbench repository</h4>
                        <h4>10.3.2. Committing changes to the workbench</h4>
                        <h4>10.3.3. Updating from to the workbench</h4>
                        <h4>10.3.4. Working on individual projects</h4>
                        <h3>V. Integration</h3>
                        <h4>11. Integration</h4>
                        <h4>11.1. Maven</h4>
                        <h4>11.1.1. Maven artifacts as deployment units</h4>
                        <h4>11.1.2. Use maven for dependency management</h4>
                        <h3>Advanced Topics </h3>
                        <h4>12.1. New and Noteworthy in KIE API 6.0.0</h4>
                        <h4>12.1.1. New KIE name</h4>
                        <h4>12.1.2. Maven aligned projects and modules and Maven Deployment</h4>
                        <h4>12.1.3. Configuration and convention based projects</h4>
                        <h4>12.1.4. KieBase Inclusion</h4>
                        <h4>12.1.5. KieModules, KieContainer and KIE-CI</h4>
                        <h4>12.1.6. KieScanner</h4>
                        <h4>12.1.7. Hierarchical ClassLoader</h4>
                        <h4>12.1.8. Legacy API Adapter</h4>
                        <h4>12.1.9. KIE Documentation</h4>
                        <h4>12.2. New and Noteworthy in jBPM 6.0.0</h4>
                        <h4>12.2.1. KIE api</h4>
                        <h4>12.2.2. jBPM Core Engine</h4>
                        <h4>12.2.3. jBPM Designer</h4>
                        <h4>12.2.4. jBPM Data Modeler</h4>
                        <h4>12.2.5. Form Modeler</h4>
                        <h4>12.2.6. jBPM Console</h4>
                        <h4>12.2.7. BAM / Reporting</h4>
                        <h4>12.2.8. Workbench</h4>
                        <h4>12.2.9. Remote API</h4>
                        <h4>12.3. New and Noteworthy in KIE Workbench 6.0.0</h4>
                        <h4>12.4. New and Noteworthy in Integration 6.0.0</h4>
                        <h4>12.4.1. CDI</h4>
                        <h4>12.4.2. Spring</h4>
                    </div>
                </div>
            </div>

                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>