<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/linux.jpg" alt="Linux-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/dotnet.png" alt="Linux Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Linux Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 41d</p>
                        <hr>
                        <h4>Introduction to Linux, Open Source Development, and GIT</h4>
                        <p>Linux is exploding, and the demand for Linux developers has never been stronger. This course will introduce you to the world of Linux development and give you the background and training you need to start working with Linux. If you've been thinking about getting into Linux development, this is the best place to start!</p>
                        <h4>Developing Applications For Linux</h4>
                        <p>Learn how to develop applications for the Linux environment. In this course, you'll get hands-on experience with the necessary tools and methods for Linux application development and learn about the features and techniques that are unique to Linux.</p>
                        <h4>Inside Android: An Intro to Android Internals</h4>
                        <p>Get a hands-on tour of the internals of the popular Android operating system for mobile and other devices. This course will teach you the ins and outs of the Android anatomy, with a focus on hands-on experience.</p>
                        <h4>Linux Kernel Internals and Development</h4>
                        <p>Learn how to develop for the Linux kernel. In this course you'll learn how Linux is architected, the basic methods for developing on the kernel, and how to efficiently work with the Linux developer community. If you are interested in learning about the Linux kernel, this is absolutely the definitive course on the subject.</p>
                        <h4>Developing Linux Device Drivers</h4>
                        <p>Learn how to develop device drivers for Linux systems. This course will teach you about the different types of Linux device drivers as well as the appropriate APIs and methods through which devices interface with the kernel.</p>
                        <h4>Optimizing Linux Device Drivers for Power Efficiency</h4>
                        <p>Learn how to develop and enhance power-efficient device drivers for Linux systems.</p>
                        <h4>Developing Embedded Linux Device Drivers</h4>
                        <p>This course is designed to show experienced programmers how to develop device drivers for embedded Linux systems, and give them a basic understanding and familiarity with the Linux kernel.</p>
                        <h4>Linux Kernel Debugging and Security</h4>
                        <p>Learn the methods and internal infrastructure of the Linux kernel. This course focuses on the important tools used for debugging and monitoring the kernel, and how security features are implemented and controlled.</p>
                        <h4>Embedded Linux Development</h4>
                        <p>This course will give you the step-by-step framework for developing an embedded Linux product. You'll learn the methods used to adapt the Linux kernel and user-space libraries and utilities to particular embedded environments, such as those in use in consumer electronics, military, medical, industrial, and auto industries.</p>
                        <h4>Embedded Linux Development with Yocto Project</h4>
                        <p>In this course, you'll obtain a solid understanding of how to build a repeatable embedded target Linux target using the Yocto Project. In addition to learning the build system, you will learn about more advanced tools like toaster, devtool, wic, eSDK, and eclipse IDE integration. This course builds on the Embedded Linux topics learned in the LFD450 class.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <h1 class="text-center">Space<br>For<br>ADS</h1>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
