<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/loadrunner.jpg" alt="LoadRunner-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="LoadRunner Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>HP LoadRunner Course Content</h1>
                        <hr>
                        <h4>PERFORMANCE TESTING</h4>
                        <ul>
                        	<li>Overview of Performance testing</li>
                        	<li>Performance testing types</li>
                        	<li>Performance testing Process</li>
                        	<li>Performance test Requirements   gathering</li>
                        	<li>Performance Test Planning</li>
                        	<li>Performance Scenario's</li>
                        	<li>Performance Analysis and Reporting</li>
                        	<li>Test Plan Creation</li>
                        </ul>
                        <h4>OVERVIEW OF LOADRUNNER</h4>
                        <ul>
                        	<li>Overview of Load runner</li>
                        	<li>Components of Load runner</li>
                        	<li>Load runner Installation</li>
                        	<li>Virtual User Generator (Vugen)</li>
                        	<li>LR Controller</li>
                        	<li>LR Analysis</li>
                        	<li>Load runner Agent process</li>
                        </ul>
                        <h4>OVERVIEW OF VUGEN & RECORDING</h4>
                        <ul>
                        	<li>Scripting - Recording for Various protocols (covers web (http/html) also explains ajax true client with Mozilla)</li>
                        	<li>Scripting - Modeling</li>
                        	<li>LR Recording Modes</li>
                        	<li>Script Enhancements</li>
                        	<li>Multiple Actions</li>
                        	<li>Importance of think time</li>
                        	<li>Debugging Replay problems.</li>
                        	<li>Verification Checks</li>
                        	<li>Parameterization</li>
                        	<li>Manual Correlation</li>
                        	<li>Auto Correlation</li>
                        	<li>Run Time Settings</li>
                        	<li>Run logic</li>
                        	<li>Pacing</li>
                        	<li>Multi threading</li>
                        	<li>LR & C FUNCTIONS</li>
                        </ul>
                        <h4>CONTROLLER & HP Performance Center</h4>
                        <ul>
                        	<li>Creating Manual Scenario</li>
                        	<li>Creating Goal Oriented scenario</li>
                        	<li>Schedule by group</li>
                        	<li>Schedule by scenario Distributed scenario's</li>
                        	<li>Vuser groups</li>
                        	<li>Various options in Scenario Creation</li>
                        	<li>Schedule builder</li>
                        	<li>Vuser states</li>
                        	<li>Adding Load Generator</li>
                        	<li>Running Scenario</li>
                        	<li>Commonly used LR monitors</li>
                        	<li>Test Scenario  Creation</li>
                        	<li>Test Execution</li>
                        	<li>Concurrent Users</li>
                        	<li>Simultaneous Users</li>
                        	<li>Ramp up</li>
                        	<li>Ramp Down</li>
                        	<li>Steady state</li>
                        	<li>Performance center part will cover through screen shots</li>
                        </ul>
                        <h4>Analysis</h4>
                        <ul>
                        	<li>Understanding Analysis</li>
                        	<li>Working with Analysis Graphs</li>
                        	<li>Cross Result and Merged Graphs</li>
                        	<li>Importing External Data</li>
                        	<li>Analysis Graphs</li>
                        	<li>Vuser Graphs</li>
                        	<li>Error Graphs</li>
                        	<li>Transaction Graphs</li>
                        	<li>Web Resource Graphs</li>
                        	<li>Granularity</li>
                        	<li>CLIENT SIDE METRICS</li>
                        	<li>Web page Diagnostics graphs</li>
                        </ul>
                        <h4>Web Services Scripting</h4>
                        <ul>
                        	<li>Creating script through WSDL</li>
                            <li>Creating script through WSDL <abbr title="Uniform Resource Locatior">URL</abbr></li>
                        	<li>Creating script through input XML file</li>
                        	<li>Correlation in web services</li>
                        	<li>Parameterization in web services</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>