<!-- Course Suggestion Modal -->
<modal id="courseSuggestion" class="modal fade" tabindex="-1" role="dialog" ng-controller="courseSuggestionController">
    <div class="modal-dialog" role="document">
		<div class="modal-content custom-modal">
			<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">✖</button>
			<div class="custom-modal-left hidden-xs hidden-sm">
				<div class="custom-modal-txt">
					<div>
						No worries if you do not find your course
					</div>
					<div>
						Place a request and we will provide the best trainer in the industry
					</div>
				</div>
			</div>
			<div class="custom-modal-right">
				<div class="col-xs-12 col-sm-12">
					<h4 class="modal-title text-center mb-20">Suggest a New Course</h4>
					<form novalidate name="courseSuggestionForm" method="POST" enctype="application/x-www-form-urlencoded" id="courseSuggestionForm" class="form form-horizontal suggestion-form" autocomplete="on">
						<fieldset>
							<div class="form-group">
								<!-- <label for="name" class="sr-only col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label"><sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup> Full Name</label> -->
								<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<input type="text" name="name" ng-model="name" ng-required="true" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z. ]{1,40}$/" class="form-control" id="name" placeholder="* Full Name" />
									<br>
									<span class="validation_styles" ng-show="contactForm.name.$error.required && contactForm.name.$touched">* Full Name is required<br></span>
									<span class="validation_styles" ng-show="contactForm.name.$error.pattern && contactForm.name.$invalid">* Full Name should contain only alphabets, dots and spaces.<br></span>
									<span class="validation_styles" ng-show="contactForm.name.$error.minlength && contactForm.name.$touched">* Full Name should be minimum of 3 characters<br></span>
									<span class="validation_styles" ng-show="contactForm.name.$error.maxlength && contactForm.name.$touched">* Full Name should be maximum of 40 characters</span>
								</div>
							</div>
							<div class="form-group">
								<!-- <label for="email" class="sr-only col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label"><sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup> Email ID</label> -->
								<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<input type="email" name="email" ng-model="email" ng-required="true" ng-pattern="/^[a-zA-Z0-9._]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" class="form-control" id="email" placeholder="* Email" required />
									<span class="validation_styles" ng-show="contactForm.email.$error.required && contactForm.email.$touched">* Email address is required</span>
									<span class="validation_styles" ng-show="contactForm.email.$error.pattern && contactForm.email.$touched">* Please enter a valid email address</span>
								</div>
							</div>
							<div class="form-group">
								<!-- <label for="phone" class="sr-only col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label"><sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup> Phone</label> -->
								<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<input type="tel" name="phone" ng-model="phone" ng-pattern="/^\d{10}$/" ng-required="true" class="form-control" id="phone" placeholder="* Phone" />
									<span class="validation_styles" ng-show="contactForm.phone.$error.required && contactForm.phone.$touched">* Phone number required<br></span>
									<span class="validation_styles" ng-show="contactForm.phone.$error.pattern && contactForm.phone.$touched">* Please enter a valid phone number</span>
								</div>
							</div>
							<div class="form-group">
								<!-- <label for="course-name" class="sr-only col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label"><sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup> Course Name</label> -->
								<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<input type="text" name="courseName" ng-model="courseName" ng-required="true" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z0-9. ]{1,40}$/" class="form-control" id="course-name" placeholder="* Course Name" />
									<br>
									<span class="validation_styles" ng-show="contactForm.courseName.$error.required && contactForm.courseName.$touched">* Course Name is required<br></span>
									<span class="validation_styles" ng-show="contactForm.courseName.$error.pattern && contactForm.courseName.$invalid">* Course Name should contain only alphabets, numbers, dots and spaces.<br></span>
									<span class="validation_styles" ng-show="contactForm.courseName.$error.minlength && contactForm.courseName.$touched">* Course Name should be minimum of 3 characters<br></span>
									<span class="validation_styles" ng-show="contactForm.courseName.$error.maxlength && contactForm.courseName.$touched">* Course Name should be maximum of 40 characters</span>
								</div>
							</div>
                   		    <div class="form-group">
								<!-- <label for="message" class="sr-only col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label">Message</label> -->
                   	            <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<textarea ng-model="message" ng-required="true" ng-minlength="10" ng-maxlength="250" class="form-control" rows="6" name="message" id="message" placeholder="* Message..."></textarea>
									<span class="validation_styles" ng-show="contactForm.message.$error.required && contactForm.message.$touched">* Message is required<br></span>
									<span class="validation_styles" ng-show="contactForm.message.$error.minlength && contactForm.message.$touched">* Message should be minium of 10 characters</span>
									<span class="validation_styles" ng-show="contactForm.message.$error.maxlength && contactForm.message.$touched">* Message should be maximum of 250 characters</span>
               		            </div>
               		        </div>
							<button type="submit" class="btn-m btn-modal transition" id="submit" form="contactForm" name="insertContact" ng-disabled="contactForm.$invalid" ng-click="fn_courseSuggestion()">Submit</button>
							<button type="reset" class="btn-m btn-modal-inverse transition" form="contactForm" ng-click="fn_reset()">Cancel</button>
               		    </fieldset>
                   	</form>
				</div>
			</div>
        </div>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" ng-if="successMessage">
        <i class="fa fa-check" aria-labelled="true"></i> <span ng-bind="successMessage"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="errorMessage">
        <i class="fa fa-times" aria-labelled="true"></i> <span ng-bind="errorMessage"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</modal>
<!-- //Course Suggestion Modal -->

<!-- Free Demos Modal -->
<modal id="freeDemo" class="modal fade" tabindex="-1" role="dialog" ng-controller="freeDemosController">
    <div class="modal-dialog" role="document">
		<div class="modal-content custom-modal">
			<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">✖</button>
			<div class="custom-modal-left hidden-xs hidden-sm">
				<div class="custom-modal-txt">
					<div>
						No worries if you do not find your course
					</div>
					<div>
						Place a request and we will provide the best trainer in the industry
					</div>
				</div>
			</div>
			<div class="custom-modal-right">
				<div class="col-xs-12 col-sm-12">
					<h4 class="modal-title text-center mb-20">Request For Free Demo</h4>
					<form novalidate name="contactForm" method="POST" enctype="application/x-www-form-urlencoded" id="freeDemoForm" class="form form-horizontal suggestion-form" autocomplete="on">
						<fieldset>
							<div class="form-group">
								<!-- <label for="name" class="sr-only col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label"><sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup> Full Name</label> -->
								<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<input type="text" name="name" ng-model="name" ng-required="true" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z. ]{1,40}$/" class="form-control" id="name" placeholder="* Full Name" />
									<br>
									<span class="validation_styles" ng-show="contactForm.name.$error.required && contactForm.name.$touched">* Full Name is required<br></span>
									<span class="validation_styles" ng-show="contactForm.name.$error.pattern && contactForm.name.$invalid">* Full Name should contain only alphabets, dots and spaces.<br></span>
									<span class="validation_styles" ng-show="contactForm.name.$error.minlength && contactForm.name.$touched">* Full Name should be minimum of 3 characters<br></span>
									<span class="validation_styles" ng-show="contactForm.name.$error.maxlength && contactForm.name.$touched">* Full Name should be maximum of 40 characters</span>
								</div>
							</div>
							<div class="form-group">
								<!-- <label for="email" class="sr-only col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label"><sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup> Email ID</label> -->
								<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<input type="email" name="email" ng-model="email" ng-required="true" ng-pattern="/^[a-zA-Z0-9._]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" class="form-control" id="email" placeholder="* Email" required />
									<span class="validation_styles" ng-show="contactForm.email.$error.required && contactForm.email.$touched">* Email address is required</span>
									<span class="validation_styles" ng-show="contactForm.email.$error.pattern && contactForm.email.$touched">* Please enter a valid email address</span>
								</div>
							</div>
							<div class="form-group">
								<!-- <label for="phone" class="sr-only col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label"><sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup> Phone</label> -->
								<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<input type="tel" name="phone" ng-model="phone" ng-pattern="/^\d{10}$/" ng-required="true" class="form-control" id="phone" placeholder="* Phone" />
									<span class="validation_styles" ng-show="contactForm.phone.$error.required && contactForm.phone.$touched">* Phone number required<br></span>
									<span class="validation_styles" ng-show="contactForm.phone.$error.pattern && contactForm.phone.$touched">* Please enter a valid phone number</span>
								</div>
							</div>
							<div class="form-group">
								<!-- <label for="course-name" class="sr-only col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label"><sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup> Course Name</label> -->
								<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<input type="text" name="courseName" ng-model="courseName" ng-required="true" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z0-9. ]{1,40}$/" class="form-control" id="course-name" placeholder="* Course Name" />
									<br>
									<span class="validation_styles" ng-show="contactForm.courseName.$error.required && contactForm.courseName.$touched">* Course Name is required<br></span>
									<span class="validation_styles" ng-show="contactForm.courseName.$error.pattern && contactForm.courseName.$invalid">* Course Name should contain only alphabets, numbers, dots and spaces.<br></span>
									<span class="validation_styles" ng-show="contactForm.courseName.$error.minlength && contactForm.courseName.$touched">* Course Name should be minimum of 3 characters<br></span>
									<span class="validation_styles" ng-show="contactForm.courseName.$error.maxlength && contactForm.courseName.$touched">* Course Name should be maximum of 40 characters</span>
								</div>
							</div>
                   		    <div class="form-group">
								<!-- <label for="message" class="sr-only col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label">Message</label> -->
                   	            <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<textarea ng-model="message" ng-required="true" ng-minlength="10" ng-maxlength="250" class="form-control" rows="6" name="message" id="message" placeholder="* Message..."></textarea>
									<span class="validation_styles" ng-show="contactForm.message.$error.required && contactForm.message.$touched">* Message is required<br></span>
									<span class="validation_styles" ng-show="contactForm.message.$error.minlength && contactForm.message.$touched">* Message should be minium of 10 characters</span>
									<span class="validation_styles" ng-show="contactForm.message.$error.maxlength && contactForm.message.$touched">* Message should be maximum of 250 characters</span>
               		            </div>
               		        </div>
							<button type="submit" class="btn-m btn-modal transition" id="submit" form="contactForm" name="insertContact" ng-disabled="contactForm.$invalid" ng-click="fn_courseSuggestion()">Submit</button>
							<button type="reset" class="btn-m btn-modal-inverse transition" form="contactForm" ng-click="fn_reset()">Cancel</button>
               		    </fieldset>
                   	</form>
				</div>
			</div>
        </div>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" ng-if="successMessage">
        <i class="fa fa-check" aria-labelled="true"></i> <span ng-bind="successMessage"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="errorMessage">
        <i class="fa fa-times" aria-labelled="true"></i> <span ng-bind="errorMessage"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</modal>
<!-- //Free Demos Modal -->
