<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/msbi.jpg" alt="MSBI-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/dotnet.png" alt="MSBI Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>MSBI Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h3>SSAS (SQL Server Analysis Services Course Content)</h3>
                        <h4>What Is Microsoft BI?</h4>
                        <ul>
                        	<li>Core concept &#x2013; BI is the cube or UDM</li>
                        	<li>Example cube as seen using Excel pivot table</li>
                        	<li>MS BI is comprehensive &#x2013; more than Analysis Services on SQL Server</li>
                        	<li>Demonstration of SQL Reporting Services with cube as data source</li>
                        </ul>
                        <h4>Using SSAS in BIDS</h4>
                        <ul>
                        	<li>Understanding the development environment</li>
                        	<li>Creating Data Sources and Data Source Views</li>
                        	<li>Creating cubes &#x2013; using the UDM and the Cube Build Wizard</li>
                        	<li>Refining Dimensions and Measures in BIDS</li>
                        </ul>
                        <h4>Intermediate SSAS</h4>
                        <ul>
                        	<li>KPIs</li>
                        	<li>Perspectives</li>
                        	<li>Translations &#x2013; cube metadata and currency localization</li>
                        	<li>Actions &#x2013; regular, drill-through and reporting</li>
                        </ul>
                        <h4>Advanced SSAS</h4>
                        <ul>
                        	<li>Using multiple fact tables</li>
                        	<li>Modeling intermediate fact tables</li>
                        	<li>Modeling M:M dimensions, Fact (degenerate) dimensions, Role-playing dimensions, writeback dimensions</li>
                        	<li>Modeling changing dimensions &#x2013; Dimension Intelligence w/ Wizard</li>
                        	<li>Using the Add Business Intelligence Wizards &#x2013; write-back, semi-additive measures, time intelligence, account intelligence</li>
                        </ul>
                        <h4>Cube Storage and Aggregation</h4>
                        <ul>
                        	<li>Storage topics &#x2013; basic aggregations, MOLAP</li>
                        	<li>Advanced Storage Design &#x2013; MOLAP, ROLAP, HOLAP</li>
                        	<li>Partitions &#x2013; relational and Analysis Services partitions</li>
                        	<li>Customizing Aggregation Design &#x2013; Processing Design</li>
                        	<li>Rapidly changing dimensions / ROLAP dimensions</li>
                        	<li>Welcome to the Real Time &#x2013; Proactive Caching</li>
                        	<li>Cube processing options</li>
                        </ul>
                        <h4>MDX</h4>
                        <ul>
                        	<li>Basic syntax</li>
                        	<li>Using the MDX query editor in SQL Server Management Studio</li>
                        	<li>Adding calculated members</li>
                        	<li>Adding scripts</li>
                        	<li>Adding named sets</li>
                        </ul>
                        <h4>SSAS Administration</h4>
                        <ul>
                        	<li>Best practices &#x2013; health monitoring</li>
                        	<li>XMLA scripting (SQL Mgmt Studio)</li>
                        	<li>Security &#x2013; roles and permissions</li>
                        	<li>Disaster Recovery &#x2013; backup / restore</li>
                        </ul>
                        <h4>Introduction to Reporting Clients</h4>
                        <ul>
                        	<li>Excel 2007/  Power pivot  </li>
                        	<li>SQL RS & Report Builder</li>
                        	<li>Sharepoint Performance Point Services 2010</li>
                        </ul>
                        <hr>
                        <h3>SSIS (SQL Server Integration Services Course Content)</h3>
                        <h4>Introduction to SQL Server Integration Services</h4>
                        <ul>
                        	<li>Product History </li>
                        	<li>SSIS Package Architecture Overview </li>
                        	<li>Development and Management Tools </li>
                        	<li>Deploying and Managing SSIS Packages </li>
                        	<li>Source Control for SSIS Packages</li>
                        </ul>
                        <h4>SSIS for DBAs: Using SQL Server Management Studio</h4>
                        <ul>
                        	<li>The Import and Export Wizard </li>
                        	<li>Importing and Exporting Data </li>
                        	<li>Working with Packages </li>
                        	<li>Database Maintenance Plans </li>
                        	<li>Creating Database Maintenance Plans using SSMS </li>
                        	<li>Scheduling and Executing Plans · Examining Database Maintenance Plan Packages</li>
                        </ul>
                        <h4>Business Intelligence Development Studio</h4>
                        <ul>
                        	<li>Launching BIDS </li>
                        	<li>Project templates </li>
                        	<li>The package designer </li>
                        	<li>The Toolbox </li>
                        	<li>Solution Explorer </li>
                        	<li>The Properties window </li>
                        	<li>The Variables window · The SSIS menu</li>
                        </ul>
                        <h4>Introduction to Control Flow</h4>
                        <ul>
                        	<li>Control Flow Overview </li>
                        	<li>Precedence Constraints </li>
                        	<li>The Execute SQL Task </li>
                        	<li>The Bulk Insert Task </li>
                        	<li>The File System Task </li>
                        	<li>The FTP Task </li>
                        	<li>The Send Mail Task</li>
                        </ul>
                        <h4>Advanced Control Flow</h4>
                        <ul>
                        	<li>Containers &#x2013; grouping and looping </li>
                        	<li>The Web Service Task </li>
                        	<li>The WMI tasks </li>
                        	<li>The Analysis Services tasks </li>
                        	<li>The Execute Process Task · The Execute Package Task</li>
                        </ul>
                        <h4>Introduction to Data Flow</h4>
                        <ul>
                        	<li>Data Flow Overview </li>
                        	<li>Data Sources </li>
                        	<li>Data Destinations </li>
                        	<li>Data Transformations </li>
                        	<li>The Copy Column Transformation </li>
                        	<li>The Derived Column Transformation </li>
                        	<li>The Data Conversion Transformation </li>
                        	<li>The Conditional Split Transformation </li>
                        	<li>The Aggregate Transformation </li>
                        	<li>The Sort Transformation </li>
                        	<li>Data Viewers</li>
                        </ul>
                        <h4>Variables and Configurations</h4>
                        <ul>
                        	<li>Variables Overview </li>
                        	<li>Variable scope </li>
                        	<li>SSIS system variables </li>
                        	<li>Using variables in control flow </li>
                        	<li>Using variables in data flow </li>
                        	<li>Using variables to pass information between packages </li>
                        	<li>Property expressions </li>
                        	<li>Configuration Overview</li>
                        	<li>Configuration options</li>
                        </ul>
                        <h4>Debugging, Error Handling and Logging</h4>
                        <ul>
                        	<li>SSIS debugging overview </li>
                        	<li>Breakpoints in SSIS </li>
                        	<li>SSIS debugging windows </li>
                        	<li>Control Flow: The on Error event handler </li>
                        	<li>Data Flow: Error data flow </li>
                        	<li>Configuring Package Logging · Built-in log providers</li>
                        </ul>
                        <h4>Advanced Data Flow</h4>
                        <ul>
                        	<li>Revisiting data sources and destinations </li>
                        	<li>The Lookup Transformation </li>
                        	<li>Getting Fuzzy: The Fuzzy Lookup and Fuzzy Grouping Transformations </li>
                        	<li>The Multicast Transformation </li>
                        	<li>The Merge and Merge Join Transformations </li>
                        	<li>The Data Mining Query Transformation </li>
                        	<li>The Data Mining Model Training Destination</li>
                        	<li>The Slowly Changing Dimension Transformation</li>
                        </ul>
                        <h4>Extending SSIS through Custom Code</h4>
                        <ul>
                        	<li>Introduction to SSIS scripting </li>
                        	<li>The SSIS script editor </li>
                        	<li>The SSIS object model </li>
                        	<li>Script in Control flow: The Script Task </li>
                        	<li>Script in Data flow: The Script Component</li>
                        	<li>Introduction to SSIS component development</li>
                        </ul>
                        <h4>SSIS Package Deployment</h4>
                        <ul>
                        	<li>Configurations and deployment </li>
                        	<li>The deployment utility </li>
                        	<li>Deployment options </li>
                        	<li>Deployment security</li>
                        	<li>Executing packages &#x2013; DTExec and DTExecUI</li>
                        </ul>
                        <h4>SSIS Package Management</h4>
                        <ul>
                        	<li>The SSIS Service </li>
                        	<li>Managing packages with DTUtil </li>
                        	<li>Managing packages with SQL Server Management Studio</li>
                        	<li>Scheduling packages with SQL Server Agent</li>
                        </ul>
                        <h4>SSIS 2012 new features</h4>
                        <ul>
                        	<li>CDC (Change data capture) control Flow & Dataflow task </li>
                        	<li>SSIS Catalog Reports (Dashboard)</li>
                        	<li>Package upgrades from legacy to SSIS 2012</li>
                        </ul>
                        <hr>
                        <h3>SSRS (SQL Server Reporting Services Course Content)</h3>
                        <h4>Introducing SQL Server Reporting Services</h4>
                        <ul>
                        	<li>Tour of Features </li>
                        	<li>Reporting Services Architecture </li>
                        	<li>Reporting Services Terminology</li>
                        	<li>Reporting Services Editions</li>
                        </ul>
                        <h4>Creating Reports</h4>
                        <ul>
                        	<li>Deconstructing Reporting Services </li>
                        	<li>Shared Data Sources</li>
                        	<li>Creating Reports from Scratch</li>
                        </ul>
                        <h4>Calculations and Formatting</h4>
                        <ul>
                        	<li>Creating Expressions </li>
                        	<li>Using the Global Collections </li>
                        	<li>Formatting Items ·  Conditional Formatting</li>
                        </ul>
                        <h4>Grouping and Sorting</h4>
                        <ul>
                        	<li>Creating Groups </li>
                        	<li>Calculating Totals and Percentages </li>
                        	<li>Interactive Sorting</li>
                        	<li>Creating Drill-Down Reports</li>
                        </ul>
                        <h4>Report Parameters</h4>
                        <ul>
                        	<li>Creating Report Parameters </li>
                        	<li>Creating Drop-Down Parameters </li>
                        	<li>Multi-Valued Parameters</li>
                        	<li>Debugging Parameter Issues</li>
                        </ul>
                        <h4>Creating Matrix Reports and Charts</h4>
                        <ul>
                        	<li>Creating a Basic Matrix Report </li>
                        	<li>Matrix Subtotals </li>
                        	<li>Creating a Basic Chart </li>
                        	<li>Exploring the Charting Possibilities</li>
                        </ul>
                        <h4>Managing Reporting Services</h4>
                        <ul>
                        	<li>Deploying Reports and Data Sources </li>
                        	<li>Exporting Reports and Printing</li>
                        	<li>Using the Web-Based Report Manager</li>
                        </ul>
                        <h4>Reporting Services Security</h4>
                        <ul>
                        	<li>Two Parts to Reporting Services Security </li>
                        	<li>Securing Access to Reports </li>
                        	<li>Data Source Security</li>
                        </ul>
                        <h4>Programming Reporting Services</h4>
                        <ul>
                        	<li>The Many Reporting Services APIs </li>
                        	<li>Integrating Reporting Services into Applications using URL Access </li>
                        	<li>Using the Report Viewer Controls</li>
                        </ul>
                        <h4>Advanced Reporting Services Programming</h4>
                        <ul>
                        	<li>Using the Reporting Services Web Service </li>
                        	<li>Working with Custom Assemblies </li>
                        </ul>
                        <h4>Snapshots and Subscriptions</h4>
                        <ul>
                        	<li>Caching and Snapshots </li>
                        	<li>Creating Standard Subscriptions </li>
                        	<li>Creating Data-Driven Subscriptions</li>
                        	<li>Managing Subscriptions</li>
                        </ul>
                        <h4>Ad-Hoc Reporting with Report Builder</h4>
                        <ul>
                        	<li>The Report Builder Architecture </li>
                        	<li>Creating Report Model Projects </li>
                        	<li>Running Report Builder</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <h1 class="text-center">Space<br>For<br>ADS</h1>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
