<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/mysql-dba.jpg" alt="MySQL-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="course-desc">
                    <h1>MySQL Training</h1>
                    <div class="clearfix"></div>
                    <div class="course-overview">
                        <h2 class="text-center mt-50">Machine Learning with Python Course Overview</h2>
                        <div class="panel-group col-xs-12 col-sm-12 col-md-12 col-lg-12" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. MySQL Introduction</a>
                                    </h4>
                                </div>
                                <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <ul>
                                            <li>MySQL Introduction</li>
                                            <li>MySQL Architecture ( Physical + Logical )</li>
                                            <li>Study material: EBook</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#installation" aria-expanded="false" aria-controls="collapseTwo">2. MySQL Installation and Basics</a>
                                    </h4>
                                </div>
                                <div id="installation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Licensing and features [ Community vs Enterprise ]</li>
                                            <li>Install a MySQL</li>
                                            <li>Configure settings for a MySQL Server</li>
                                            <li>Access MySQL databases with MySQL Workbench</li>
                                            <li>Other clients for access</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#dbDesign" aria-expanded="false" aria-controls="collapseThree">3. Database Design</a>
                                    </h4>
                                </div>
                                <div id="dbDesign" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Datatypes in a MySQL database</li>
                                            <li>Create databases and tables</li>
                                            <li>Create basic SQL queries</li>
                                            <li>Maintain Databases, Tables, and Columns</li>
                                            <li>Configure Indexes and Constraints</li>
                                            <li>Join Tables</li>
                                            <li>Partition MySQL Tables</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#productionReady" aria-expanded="false" aria-controls="collapseFour">4. Production ready MySQL</a>
                                    </h4>
                                </div>
                                <div id="productionReady" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <ul>
                                            <li>MySQL Setup and Configuration options</li>
                                            <li>MySQL Security</li>
                                            <li>Practical Hands-on</li>
                                            <li>MySQL Enterprise Features Audit, Encryption, authentication plugins etc.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#backup" aria-expanded="false" aria-controls="collapseFive">5. Backup and Monitoring</a>
                                    </h4>
                                </div>
                                <div id="backup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <ul>
                                            <li>mysqldump – logical backup</li>
                                            <li>mysqlbackup – physical enterprise backup tool</li>
                                            <li>Percona Xtrabackup</li>
                                            <li>MySQL and Percona utilities for monitoring</li>
                                            <li>Backup and monitoring Automation</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#replication" aria-expanded="false" aria-controls="collapseSix">6. MySQL High Availability and Replication</a>
                                    </h4>
                                </div>
                                <div id="replication" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <ul>
                                            <li>MySQL High Availability solutions</li>
                                            <li>MySQL Replication</li>
                                            <li>Set up MySQL Replication using global transaction identifiers (GTID's) and binlog</li>
                                            <li>MySQL Cluster overview</li>
                                            <li>Replication utilities</li>
                                            <li>Deploy High Availability and Scalability features</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#troubleshooting" aria-expanded="false" aria-controls="collapseSeven">7. Troubleshooting</a>
                                    </h4>
                                </div>
                                <div id="troubleshooting" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        <ul>
                                            <li>MySQL setup and configuration issues</li>
                                            <li>MySQL performance related issues</li>
                                            <li>MySQL Replication related issues troubleshooting</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingEight">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#new" aria-expanded="false" aria-controls="collapseSeven">8. What’s New?</a>
                                    </h4>
                                </div>
                                <div id="new" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                                    <div class="panel-body">
                                        <ul>
                                            <li>MySQL industry use cases</li>
                                            <li>MySQL Cloud</li>
                                            <li>MySQL 8.0 and features</li>
                                            <li>About Percona and MariaDB</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingNine">
                                    <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#practicals" aria-expanded="false" aria-controls="collapseSeven">9. Practicals</a>
                                    </h4>
                                </div>
                                <div id="practicals" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                                    <div class="panel-body">
                                        <ul>
                                            <li>All Topics Include Practicals</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    	</div>
    </div>
</div>