<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/network-and-security.jpg" alt="Network-and-Security-Pro-eLearning">
        </div>
    </div>
    
<!--
    <div class="row" ng-controller="CourseCardsController">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="col-md-3" ng-repeat="items in cc_info_tech">
                <a href="{{items.cc_info_tech_imageLink}}">
                    <img class="img-responsive center-block" ng-src="./images/{{items.cc_info_tech_image}}">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-hidden col-xs-hidden">
            
        </div>
    </div>
-->
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="network-security/ccna">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/ccna.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>CCNA</h4>
                        <p clamp="2">CCNA is a Cisco Certified Network Associate.</p>
                        <a ng-href="network-security/ccna" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="network-security/cyber-network-security">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/cns.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>CNS</h4>
                        <p clamp="2">CNS is a web server and website security.</p>
                        <a ng-href="network-security/cyber-network-security" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-hidden col-xs-hidden">
            <h4 class="text-center">New Demos</h4>
        </div>
    </div>
        
</div>
