<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/obiee.jpg" alt="OBIEE-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="OBIEE Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>OBIEE Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>Data warehouse Concepts</h4>
                        <ul>
                            <li>Data warehouse</li>
                            <li>Data mart</li>
                            <li>Basics of Data Warehousing</li>
                            <li>What is OLTP and OLAP?</li>
                            <li>Difference between OLTP and OLAP</li>
                        </ul>
                        <h4>Dimensional Modeling Overview</h4>
                        <ul>
                            <li>Introduction to Dimensional Modeling</li>
                            <li>Dimensional table</li>
                            <li>Fact table</li>
                            <li>Aggregate table</li>
                            <li>Star schema</li>
                            <li>Snowflake schema</li>
                            <li>Star schema Vs. Snowflake schema</li>
                            <li>Fact Vs. Dimension table</li>
                            <li>Fact Vs. Aggregate Table</li>
                            <li>Types of Facts</li>
                            <li>Types of Fact tables</li>
                            <li>Types of Dimensions</li>
                            <li>Level of Granularity</li>
                            <li>Grain of fact</li>
                            <li>Slowly Changing Dimensions ( SCD )</li>
                            <li>Normalization</li>
                            <li>DE normalization</li>
                        </ul>
                        <h4>1. Repository Basics:</h4>
                        <ul>
                            <li>Oracle BI Server Architecture</li>
                            <li>Oracle BI Presentation Service</li>
                            <li>Oracle BI Server</li>
                            <li>Oracle BI Repository</li>
                            <li>Oracle BI Administration Tool</li>
                            <li>Physical Layer</li>
                            <li>Object in the Physical Layer</li>
                            <li>Business Model and Mapping Layer</li>
                            <li>Objects in the BMM</li>
                            <li>Business Model Mappings</li>
                            <li>Measures</li>
                            <li>Presentation Layer</li>
                            <li>Presentation Layer Mappings</li>
                            <li>Repository Modes</li>
                        </ul>
                        <h4>2. Building the Physical Layer of the Repository</h4>
                        <ul>
                            <li>Physical Layer</li>
                            <li>Physical Layer Objects</li>
                            <li>Database Object (General Propertices, Features)</li>
                            <li>Connection Pool</li>
                            <li>Schema Folder</li>
                            <li>Physical Table and Properties</li>
                            <li>Physical Table: Alias</li>
                            <li>Joins</li>
                            <li>Implementation Steps</li>
                            <li>Creating the Alias Tables</li>
                            <li>Define Keys and Joins</li>
                            <li>Defining Foreign Key joins</li>
                            <li>Using the join Manager</li>
                            <li>Design Tips for the Physical Layer</li>
                        </ul>
                        <h4>3. Building BMM Layer</h4>
                        <ul>
                            <li>Object in BMM</li>
                            <li>Logical Table</li>
                            <li>Logical Table Sources</li>
                            <li>Logical Table Source: column Mapping</li>
                            <li>Logical Columns</li>
                            <li>Logical Primary keys</li>
                            <li>Logical joins</li>
                            <li>Measures</li>
                            <li>Implementation Steps
                                <ol>
                                    <li>Create the Logical Business Model</li>
                                    <li>Create the Logical Tables and Columns</li>
                                    <li>Define the Logical Joins</li>
                                    <li>Modify the Logical Tables and Columns</li>
                                    <li>Define Measuers</li>
                                </ol>
                            </li>
                        </ul>
                        <h4>4. Building Physical Layer</h4>
                        <ul>
                            <li>Subject areas</li>
                            <li>Presentation Tables</li>
                            <li>Presentation Columns</li>
                            <li>Presentation Layer Mappings</li>
                            <li>Nesting Presentation Table</li>
                            <li>Implementation Steps
                                <ol>
                                    <li>Create new subject area</li>
                                    <li>Rename tables</li>
                                    <li>Rename columns</li>
                                    <li>Delete columns</li>
                                    <li>Reorder columns</li>
                                </ol>
                            </li>
                        </ul>
                        <h4>5. Testing the Validating Repository</h4>
                        <ul>
                            <li>Consistency check</li>
                            <li>Consistency check manager</li>
                            <li>Query Logging</li>
                            <li>Setting log levels</li>
                            <li>Log levels</li>
                        </ul>
                        <h4>6. Managing Logical Table Sources</h4>
                        <ul>
                            <li>Adding the multiple sources to Logical table sources</li>
                            <li>Implementation Steps</li>
                        </ul>
                        <h4>7. Adding the Calculations to a Fact</h4>
                        <ul>
                            <li>Creating Calculation Measures by Using Existing Logical Columns</li>
                            <li>Creating Calculation Measures by Using Physical Columns</li>
                            <li>Add New Measures to the Presentation Layer</li>
                        </ul>
                        <h4>8. Working with Logical Dimensions</h4>
                        <ul>
                            <li>Logical Dimensions (Types)</li>
                            <li>Level-Based Measures</li>
                            <li>Creating a Level-Based Logical Dimension</li>
                            <li>Parent-Child Logical Dimensions</li>
                            <li>Creating a Parent-Child Logical Dimension</li>
                        </ul>
                        <h4>9. Using Aggregates</h4>
                        <ul>
                            <li>Steps to Implement Aggregate Navigation</li>
                        </ul>
                        <h4>10. Using Partitions and Fragments</h4>
                        <ul>
                            <li>Partition (by Fact, by Value, by Level)</li>
                        </ul>
                        <h4>11. Using Repository Variables</h4>
                        <ul>
                            <li>Variable Types</li>
                            <li>Repository Variables</li>
                            <li>Static Repository Variables</li>
                            <li>Dynamic Repository Variables</li>
                            <li>Session Variables</li>
                            <li>System Session Variables</li>
                            <li>Non-System Session Variables</li>
                            <li>Initialization Blocks</li>
                            <li>Implementation Steps</li>
                        </ul>
                        <h4>12. Modeling Time Series Data</h4>
                        <ul>
                            <li>Time Dimensions</li>
                            <li>Time Series Functions</li>
                            <li>Time Series Grains</li>
                            <li>Steps to Model Time Series Data</li>
                        </ul>
                        <h4>13. Modeling Many-to-Many Relationships</h4>
                        <ul>
                            <li>Steps to Model a Bridge Table</li>
                        </ul>
                        <h4>14. Setting an Implicit Fact Column</h4>
                        <ul>
                            <li>Steps to Configure an Implicit Fact Column</li>
                        </ul>
                        <h4>15. Importing Metadata from Multidimensional Data Sources</h4>
                        <ul>
                            <li>Multidimensional Versus Relational Data Sources</li>
                            <li>Creating a Multidimensional Business Model</li>
                            <li>Horizontal Federation</li>
                            <li>Vertical Federation</li>
                        </ul>
                        <h4>16. Security</h4>
                        <ul>
                            <li>Managing Oracle BI Security</li>
                            <li>Oracle BI Default Security Model</li>
                            <li>Default Security Realm</li>
                            <li>Default Authentication Providers</li>
                            <li>Default Users and Groups</li>
                            <li>Default Application Roles and Polices</li>
                            <li>Default Security Settings in the Repository</li>
                            <li>Create Groups</li>
                            <li>Create Group Hierarchies</li>
                            <li>Create Users</li>
                            <li>Assign Users to Groups</li>
                        </ul>
                        <h4>17. Cache Management</h4>
                        <ul>
                            <li>Advantages of Caching</li>
                            <li>Costs of Caching</li>
                            <li>Query Cache: Architecture</li>
                            <li>Monitoring and Managing the Cache</li>
                            <li>Cache Management Techniques</li>
                            <li>Using Fusion Middleware Control to Configure Caching</li>
                            <li>Using NQSConfig.ini, </li>
                            <li>Setting Caching and Cache Persistence for Tables </li>
                        </ul>
                        <h4>18. Managing Usage Tracking</h4>
                        <ul>
                            <li>Steps to Enable Usage Tracking</li>
                        </ul>
                        <h4>19. Setting Up and Using the Multiuser Development Environment</h4>
                        <ul>
                            <li>Oracle BI Repository Development Process</li>
                            <li>SCM Three-Way Merge Process</li>
                            <li>Oracle BI Repository Three-Way Merge Process</li>
                            <li>Steps to Set Up an Oracle BI MUDE</li>
                            <li>Making Changes in an Oracle BI MUDE</li>
                        </ul>
                        <h4>20. Configuring Write Back in Analyses</h4>
                        <ul>
                            <li>Steps to Configure Write Back</li>
                        </ul>
                        <h4>21. Performing a Patch Merge</h4>
                        <ul>
                            <li>Patch Merge</li>
                            <li>Creating a Patch</li>
                            <li>Applying a Patch</li>
                            <li>Steps to Perform a Patch Merge</li>
                        </ul>
                        <h4>22. Using Administration Tool Utilities</h4>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>