<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/odi-12c.jpg" alt="Kafka-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">ODI 12c Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>12345</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>To learn ODI 12c, first you must have a good knowledge of SQL and relational database</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>Oracle is a leader in the Data Integration market, with the industry’s most comprehensive fullyintegrated offering for data integration, including Oracle Data Integrator, Oracle GoldenGate, Oracle Enterprise Data Quality, Oracle Big Data Preparation Cloud Service and Oracle Enterprise Metadata Management. Oracle’s Data Integration solutions provide continuous access to timely, trusted, and heterogeneous data across the enterprise to support both analytical and operational data integration. Oracle Data Integrator (ODI) is a best-of-breed data integration platform focused on fast bulk data movement and handling complex data transformations. It provides high-performance data movement and transformation among enterprise platforms with its open and integrated E-LT architecture and extended support for Big Data. </p>
                    <p>Oracle Data Integrator is critical to leveraging data integration initiatives on-premise or in the cloud, such as Big Data management, Service Oriented Architecture and Business Intelligence. An easy-to-use user interface combined with a rich extensibility framework helps Oracle Data Integrator improve productivity, reduce development costs and lower total cost of ownership for data-centric architectures. Oracle Data Integrator is fully integrated with Oracle Fusion Middleware, Oracle GoldenGate, Oracle Enterprise Data Quality, Oracle Database, Oracle Big Data Appliance, and Exadata amongst other technologies to put data at the center of your enterprise. </p>
                    <p>Oracle Data Integrator is open and standards-based to work with 3rd party applications as well as Oracle’s applications. Oracle Data Integrator’s E-LT architecture generates native code for disparate RDBMS or big data engines. The E-LT architecture extracts data from the disparate sources, loads it into a target, and executes transformations using the power of the database or Hadoop. By leveraging existing databases and big data infrastructures, Oracle Data Integrator provides unparalleled efficiency by reducing network traffic and transforming data in the server containing the target data, the E-LT architecture delivers the highest possible performance.</p>
				</div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. Introduction <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Identifying the Course Content</li>
									<li>What is Oracle Data Integrator</li>
									<li>Why Oracle Data Integrator</li>
									<li>Overview of ODI 11g Architecture</li>
									<li>Overview of ODI 11g Components</li>
									<li>About Graphical Modules</li>
									<li>Types of ODI Agents</li>
									<li>Overview of Oracle Data Integrator Repositories</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#two" aria-expanded="false" aria-controls="collapseTwo">2. Installations & Configurations <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
									<li>Oracle 11G Database</li>
									<li>ODI 11G</li>
									<li>Web logic Server 11G</li>
									<li>Configurations</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#three" aria-expanded="false" aria-controls="collapseThree">3. Administering ODI Repositories and Agents <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
									<li>Administrating the ODI Repositories</li>
									<li>Creating Repository Storage Spaces</li>
									<li>Creating and Connecting to the Master Repository</li>
									<li>Creating and Connecting to the Work Repository</li>
									<li>Managing ODI Agents</li>
									<li>Creating a Physical Agent</li>
									<li>Launching a Listener, Scheduler and Web Agent</li>
									<li>Example of Load Balancing</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#four" aria-expanded="false" aria-controls="collapseFour">4. ODI Topology Concepts <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
									<li>Overview of ODI Topology</li>
									<li>About Data Servers and Physical Schemas</li>
									<li>Defining the Physical Architecture</li>
									<li>Defining the Logical Architecture</li>
									<li>Mapping Logical and Physical Resources</li>
									<li>Defining Agents</li>
									<li>Defining a Topology</li>
									<li>Planning the Topology</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#five" aria-expanded="false" aria-controls="collapseFive">5. Describing the Physical and Logical Architecture <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
									<li>Overview of Topology Navigator</li>
									<li>Creating Physical Architecture</li>
									<li>Creating a Data Server</li>
									<li>Testing a Data Server Connection</li>
									<li>Creating a Physical Schema</li>
									<li>Creating Logical Architecture</li>
									<li>Overview of Logical Architecture and Context Views</li>
									<li>Linking the Logical and Physical Architecture</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#six" aria-expanded="false" aria-controls="collapseSix">6. Setting Up a New ODI Project <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                               <ul>
									<li>Overview of ODI Projects</li>
									<li>Creating a New Project</li>
									<li>Using Folders</li>
									<li>Organizing Projects and Folders</li>
									<li>Understanding Knowledge Modules</li>
									<li>Exchanging ODI Objects</li>
									<li>Exporting and Importing Objects</li>
									<li>Using Markers</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#seven" aria-expanded="false" aria-controls="collapseSeven">7. Oracle Data Integrator Model Concepts <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
									<li>What is a Model</li>
									<li>Understanding Metadata in ODI</li>
									<li>Understanding Reverse Engineering</li>
									<li>Creating Models</li>
									<li>Organizing Models</li>
									<li>Creating Data stores</li>
									<li>Using Constraints in ODI</li>
									<li>Creating Keys and References</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eight" aria-expanded="false" aria-controls="collapseEight">8. Organizing ODI Models and Creating Data stores <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
									<li>What is an Interface</li>
									<li>Business Rules for Interfaces</li>
									<li>What is a Mapping</li>
									<li>What is a Join</li>
									<li>What is a Filter</li>
									<li>What is a Constraint</li>
									<li>What is a Staging Area</li>
									<li>Creating a Basic Interface</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nine" aria-expanded="false" aria-controls="collapseNine">9. ODI Interface Concepts <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
									<li>What is an Interface</li>
									<li>Business Rules for Interfaces</li>
									<li>What is a Mapping, Filter, Join</li>
									<li>Overview of Integration Process</li>
									<li>What is a Staging Area</li>
									<li>About Execution Location</li>
									<li>Using Knowledge Modules (KM) with ODI Interface</li>
									<li>Creating a Basic Interface</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#ten" aria-expanded="false" aria-controls="collapseNine">10. Designing Interfaces <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="ten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                               <ul>
									<li>Designing an Interface</li>
									<li>Multiple Source Data stores</li>
									<li>Creating Joins</li>
									<li>Filtering data</li>
									<li>Disabling Transformations</li>
									<li>Overview of the Flow</li>
									<li>Specifying the Staging Area</li>
									<li>Selecting Knowledge Modules</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eleven" aria-expanded="false" aria-controls="collapseNine">11. Interfaces: Monitoring and Debugging) <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
									<li>Monitoring Interfaces</li>
									<li>Using Operator</li>
									<li>Viewing Sessions and Tasks</li>
									<li>How to Monitor Execution of an Interface</li>
									<li>How to Troubleshoot a Session</li>
									<li>Keys to Reviewing the Generated Code</li>
									<li>Working with Errors</li>
									<li>Tips for Preventing Errors</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#twelve" aria-expanded="false" aria-controls="collapseNine">12. Designing Interfaces: Advanced Topics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="twelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
                                <ul>
									<li>Using Business Rules in Interfaces</li>
									<li>Overview of Business Rule Elements</li>
									<li>Using variables</li>
									<li>Using User Functions</li>
									<li>Using Substitution Methods</li>
									<li>Modifying a KM</li>
									<li>Developing Your Own KM</li>
									<li>Using RKM for Customized Reverse Engineering</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThirteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#thirteen" aria-expanded="false" aria-controls="collapseNine">13. Using ODI procedures <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="thirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                            <div class="panel-body">
                                <ul>
									<li>What is a Procedure</li>
									<li>Examples of Procedures</li>
									<li>Creating Procedures</li>
									<li>Adding Commands</li>
									<li>Adding Options</li>
									<li>Running a Procedure</li>
									<li>Using Operator to View Results</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFourrteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fourteen" aria-expanded="false" aria-controls="collapseNine">14. Using ODI Packages <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourrteen">
                            <div class="panel-body">
                               <ul>
									<li>What is a package</li>
									<li>Creating a package</li>
									<li>Executing a package</li>
									<li>Creating Advanced Packages</li>
									<li>Error handling</li>
									<li>Controlling an Execution Path</li>
									<li>Creating a Loop</li>
									<li>Using the Advanced tab</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFivteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fivteen" aria-expanded="false" aria-controls="collapseNine">15. Managing ODI Scenarios and Versions <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fivteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFivteen">
                            <div class="panel-body">
                               <ul>
									<li>What is a Scenario</li>
									<li>Managing Scenarios</li>
									<li>Preparing Scenarios for Deployment</li>
									<li>Automating Scenario Management</li>
									<li>Scheduling the ODI Scenario</li>
									<li>Overview of ODI version management</li>
									<li>Using Version Browser and Version Comparison Tool</li>
									<li>Handling concurrent changes</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSixteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#sixteen" aria-expanded="false" aria-controls="collapseNine">16. Enforcing Data Quality and Auditing Data with ODI <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="sixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
                            <div class="panel-body">
                                <ul>
									<li>Why Data Quality</li>
									<li>When to Enforce Data Quality</li>
									<li>Data Quality in Source Applications</li>
									<li>Data Quality Control in the Integration Process</li>
									<li>Data Quality in the Target Applications</li>
									<li>Enforcing Data Quality</li>
									<li>Exploring Your Data</li>
									<li>Auditing Data Quality</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeventeen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#seventeen" aria-expanded="false" aria-controls="collapseNine">17. Working with Changed Data Capture <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="seventeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
                            <div class="panel-body">
                                <ul>
									<li>Overview of ODI version management</li>
									<li>Techniques of Changed Data Capture</li>
									<li>Changed Data Capture in ODI</li>
									<li>CDC Strategies and Infrastructure</li>
									<li>CDC Consistency</li>
									<li>Using CDC</li>
									<li>Viewing Data/Changed data</li>
									<li>Using Journalizing</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEighteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eighteen" aria-expanded="false" aria-controls="collapseNine">18. Administering ODI Resources: Advanced Topics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eighteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighteen">
                            <div class="panel-body">
                                <ul>
									<li>Using Open Tools</li>
									<li>Installing Open Tools</li>
									<li>Using Open Tools in a Package</li>
									<li>Using Open Tools in a Procedure or in a KM</li>
									<li>Developing Your Own Open Tools</li>
									<li>Setting Up ODI Security</li>
									<li>Defining Security Policies</li>
									<li>Defining Password Policies</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y_GPpoyngKY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>ODI 12C is the kind of analytics platform that can almost be used for anything and by anyone.</p>
                            <h4 class="pull-right">&#x2015; Jeffery</h4>
                        </div>
                        <div class="item slide">
                            <p>Trainer explanation and classes were clear which helped me in creating different samples which I needed for my job presentation and everything went almost smoothly.</p>
                            <h4 class="pull-right">&#x2015; Aren</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>
                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>
        
        <!-- Certificate -->
        <div ng-include="'views/certificate.html'"></div>

    </div>
</div>
