<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/openstack.jpg" alt="OpenStack-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">OpenStack Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>Network concept, Visualization concept, physical or virtual machine  to install open stack.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>This course specially target to developers, administrator, cloud engineers, network administrators.</p>
                    <p>OpenStack Certification Training makes you an expert by mastering concepts like Object Storage, Networking, Compute, Nova Architecture, Usage and use cases of swift operations, Orchestration, etc.</p>
                    <p>OpenStack is growing at an unprecedented rate, with over 65% of OpenStack deployments now in production - a number which continues to rise.</p>
                    <p>The demand for individuals who have experience managing this cloud platform is also accelerating. According to the Open Source Jobs Report from The Linux Foundation and Dice, 51% of hiring managers say experience with OpenStack and other cloud technologies are driving open source hiring decisions. Now is the time to build an exciting and rewarding career managing OpenStack clouds.</p>
                    <p>This introductory course is taught by cloud experts from The Linux Foundation, which also delivers the Certified OpenStack Administrator (COA) exam. As host to some of the world's leading open source cloud projects, The Linux Foundation provides training and networking opportunities to help you advance your career.</p>
                    <p>Take this course to learn:
                    <ul>
                    <li>The origins of OpenStack: Where does it come from and how can you contribute as a developer to the project?</li>
                        <li>How to deploy OpenStack: Setup your own lab environment and deploy OpenStack on Ubuntu and CentOS with DevStack and Packstack, respectively.</li>
                    <li>How to deploy a virtual machine from Horizon: Get the steps and components that lead to a working and accessible virtual machine.</li>
                    <li>An introduction to managing OpenStack from the command line.</li>
                    <li>An introduction to managing OpenStack from the command line.</li>
                    </ul>
                    </p>
                <p>This course is perfect for IT professionals seeking a high-level overview of OpenStack, and who want to find out if OpenStack is the right solution to meet the IT needs of their organization. This course also helps anyone who wants to set up a small scale OpenStack test environment to gain experience working with OpenStack.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖</span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Introduction to Cloud Computing <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Virtualization Overview</li>
                                    <li>Software as a service</li>
                                    <li>Platform as a service</li>
                                    <li>Infrastructure as a Service</li>
                                    <li>Openstack &#x2013; History and Overview</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. OpenStack Architecture DeepDive <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Components Overview</li>
                                    <li>Architecture</li>
                                    <li>Keystone</li>
                                    <li>Nova</li>
                                    <li>Glance</li>
                                    <li>Neutron</li>
                                    <li>Horizon</li>
                                    <li>Heat</li>
                                    <li>Cinder</li>
                                    <li>Swift</li>
                                    <li>VM creation flow</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. Deploying OpenStack &#x2013; Step by Step through CLI <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Getting the pre-requisites right</li>
                                    <li>Setting up MySQL, RabbitMQ</li>
                                    <li>Setting up Keystone</li>
                                    <li>Setting up Glance</li>
                                    <li>Setting up Nova</li>
                                    <li>Setting up Neutron</li>
                                    <li>Setting up Dashboard</li>
                                    <li>Setting up Cinder</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. Deploying OpenStack &#x2013; Step by Step through CLI <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>Understanding Cloud Images and instances</li>
                                    <li>Registering and uploading an image</li>
                                    <li>Creating keypairs, Security Groups</li>
                                    <li>Creating and Managing Instances from CLI and Dashboard</li>
                                    <li>Assing floating point IP to VM</li>
                                    <li>Log Files, Troubleshooting, Common Errors</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. Puppet <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Puppet</li>
                                    <li>How to install puppet master and agents</li>
                                    <li>Creating resources and classes</li>
                                    <li>Installing openstack using puppet</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#businessObjects" aria-expanded="false" aria-controls="collapseSix">6. Openstack High Availability set up <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="businessObjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul>
                                    <li>High availability architecture</li>
                                    <li>High availability components</li>
                                    <li>Advantage of using high availability</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EvJTrL6bHtk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>After this training I have a overall view of OpenStack infra and have a understand of implementation of OpenStack cloud. The material is great and the coach has great experience of OpenStack.</p>
                            <h4 class="pull-right">&#x2015; Stanley</h4>
                        </div>
                        <div class="item slide">
                            <p>Very good presentation of what Openstack is. Understandable easily by non-native-english-speaking people (I appreciate!).</p>
                            <h4 class="pull-right">&#x2015; Subba Rao</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>
