<div class="container-fluid" ng-controller="oracleController">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/oracle-dba.jpg" alt="Oracle-DBA-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/oracle.png" alt="Oracle DBA Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Oracle DBA Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h3>ORACLE DBA TRAINING (Versions Oracle 9i, 10g, 11g)</h3>
                        <h4>BASICS:</h4>
                        <ul>
                        	<li>Introduction to Database management systems and Database</li>
                        	<li>Introduction to DBA and Tasks of an Oracle DBA</li>
                        	<li>Basic UNIX and UNIX for Oracle DBA</li>
                        </ul>
                        <h4>DATABASE ARCHITECTURE:</h4>
                        <ul>
                        	<li>Database Architecture</li>
                        	<li>Control Files, Redo Log Files</li>
                        	<li>Tablespaces and Datafiles, Segments, Extents, and Blocks</li>
                        	<li>Oracle Instance Management and Oracle Memory Structures, Oracle Processes</li>
                        </ul>
                        <h4>ORACLE DATABASE STRUCTURE AND STORAGE:</h4>
                        <ul>
                        	<li>Storage Structures</li>
                        	<li>Tablespace Management (Permanent, Temporary, UNDO)</li>
                        	<li>Data Files, Redo Log files, Archived log files, Temp files, spfile, pfile</li>
                        </ul>
                        <h4>USER AND OBJECT MANGEMENT, SECURITY:</h4>
                        <ul>
                        	<li>Creating a Database User, Database User Accounts</li>
                        	<li>Creating Profiles and Users, Authenticating Users</li>
                        	<li>Privileges: System and Object</li>
                        	<li>Assigning Quota to Users, Assigning Roles to Users</li>
                        	<li>Managing Schema Objects (Tables, Indexes, Partitioned Tables and Indexes, Views, Sequences and Synonyms)</li>
                        </ul>
                        <h4>INSTALLATION:</h4>
                        <ul>
                        	<li>Optimal Flexible Architecture (OFA)</li>
                        	<li>Oracle Universal Installer</li>
                        	<li>Prerequisite Checks</li>
                        	<li>Installation of Oracle Database Software</li>
                        </ul>
                        <h4>CREATING ORACLE DATABASE:</h4>
                        <ul>
                        	<li>Database Configuration Assistant (DBCA) Overview</li>
                        	<li>Creating a Database (Manual and DBCA)</li>
                        	<li>Passwords and Storage</li>
                        	<li>File Locations and Backup Recovery</li>
                        	<li>Content and Initialization Parameters</li>
                        	<li>Other Actions with DBCA</li>
                        </ul>
                        <h4>DATABASE MANGEMENT:</h4>
                        <ul>
                        	<li>Starting and Stopping Database </li>
                        	<li>Initialization Parameter Files</li>
                        	<li>Viewing the Alert Log</li>
                        	<li>Net Services</li>
                        </ul>
                        <h4>BACKUP AND RECOVERY:</h4>
                        <ul>
                        	<li>Backup and Recovery Concepts, Backup and Recovery Issues</li>
                        	<li>Physical and Logical Backups</li>
                        	<li>Types of Physical Backups (HOT and COLD) --Manual and RMAN Backups</li>
                        	<li>Recovery Scenarios using RMAN and Manual backups</li>
                        	<li>Database Instance Cloning</li>
                        </ul>
                        <h4>MONITORING ORACLE:</h4>
                        <ul>
                        	<li>Dictionary and v$views</li>
                        	<li>Table and Index monitoring</li>
                        	<li>Instance or Database monitoring</li>
                        	<li>Oracle Environment and work load monitoring</li>
                        	<li>Space Management</li>
                        	<li>Monitoring alert log, common database errors and resolution</li>
                        </ul>
                        <h4>PERFORMANCE MONITORING and TUNING:</h4>
                        <ul>
                        	<li>Database Statistics, Explain plan, indexing</li>
                        	<li>AWR reports, ADDM reports, ASH reports and analyzing the reports</li>
                        	<li>SQL Tracing and TKPROF</li>
                        	<li>Memory Advisors, Segment Advisors</li>
                        	<li>SQL Tuning and Access Advisors</li>
                        	<li>Wait Events in Oracle, Locking, Parallelism</li>
                        	<li>Monitoring performance on the Server - UNIX</li>
                        	<li>How to monitor and react to performance issues</li>
                        </ul>
                        <h4>ORACLE DBA UTILITIES:</h4>
                        <ul>
                        	<li>Export/Import, Datapump</li>
                        	<li>SQL *Loader</li>
                        </ul>
                        <h4>DATABASE MAINTENANCE:</h4>
                        <ul>
                        	<li>Database Version Upgrade</li>
                        	<li>Patching Database</li>
                        	<li>Migrating Data and Databases (includes TTS)</li>
                        	<li>Re-organizing tables, indexes, Flashback</li>
                        </ul>
                        <h3>HIGH AVAILABLITY (ASM, RAC and DATAGUARD)</h3>
                        <h4>ASM (Automatic Storage Management):</h4>
                        <ul>
                        	<li>Introduction to ASM</li>
                        	<li>ASM Instance Architecture</li>
                        	<li>Installation and Configuration of ASM</li>
                        	<li>Oracle Managed Files (OMF)</li>
                        	<li>ASM Administration, Management and Maintenance</li>
                        </ul>
                        <h4>RAC (Real Application Clustering):</h4>
                        <ul>
                        	<li>Introduction to RAC</li>
                        	<li>RAC Architecture</li>
                        	<li>Monitoring and Administration of RAC-crsctl, srvctl, oifcfg, etc</li>
                        	<li>Maintenance in RAC</li>
                        </ul>
                        <h4>DATAGUARD (Standby Database or DR) Setup:</h4>
                        <ul>
                        	<li>Introduction to Dataguard</li>
                        	<li>Setup of Dataguard or Standby database on Single Instance</li>
                        	<li>Monitoring and administration of Dataguard</li>
                        </ul>
                        <h4>OTHER MISCELLANEOUS TOPICS:</h4>
                        <ul>
                        	<li>Comparison of various Oracle Versions</li>
                        	<li>Oracle 10g and 11g new features</li>
                        	<li>ASSM, AMM, Recycle bin, Flash Back and Flash Recovery Area</li>
                        	<li>Opening an Oracle SR</li>
                        	<li>Scheduling job in UNIX and Oracle</li>
                        	<li>Daily DBA management tasks</li>
                        	<li>Database configuration for OLTP and Data warehouse Environments</li>
                        	<li>Materialized Views Replication</li>
                        	<li>Capacity Planning</li>
                        	<li>Any other missing miscellaneous topics</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>