<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/oracle-developer.jpg" alt="Oracle-Developer-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Oracle Developer Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>12345</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>To learn this course, first you must have a good knowledge in basics of software</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>Oracle SQL Developer is a free graphical tool that enhances productivity and simplifies database development tasks. Using SQL Developer, you can browse database objects, run SQL statements, edit and debug PL/SQL statements and run reports, whether provided or created.</p>
                    <p>Developed in Java, SQL Developer runs on Windows, Linux and the Mac OS X. This is a great advantage to the increasing number of developers using alternative platforms. Multiple platform support also means that users can install SQL Developer on the Database Server and connect remotely from their desktops, thus avoiding client server network traffic.</p>
                    <p>Oracle Developer job description. Oracle Developers are responsible for designing and managing different areas related to the spectrum of work of Oracle. They create, modify, and test the codes, scripts, and forms that allow a system to run different types of applications.</p>
                    <p>Database Developers, also called database programmers, are primarily responsible for creating and implementing computer databases. They determine the best database management system for a particular client, as well as test databaseprograms for efficiency and performance and troubleshoot and correct problems.</p>
                    <p>A free graphical user interface, Oracle SQL Developer allows database users and administrators to do their database tasks in fewer clicks and keystrokes. A productivity tool, SQL Developer's main objective is to help the end user save time and maximize the return on investment in the Oracle Database technology stack.</p>
                 </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. SQL  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Oracle Database</li>
									<li>RDBMS</li>
									<li>Introduction to training database Environment</li>
									<li>OLTP Vs OLAP</li>
									<li>Using SQL*Plus & SQL Developer</li>
									<li>Introduction to SQL</li>
									<li>Creating the Schema</li>
									<li>Oracle Data Types</li>
									<li>Types of SQL Statements</li>
									<li>Introduction to Data Definition Language (DDL) statements</li>
									<li>Introduction to Data Manipulation Language (DML) statements</li>
									<li>Oracle Pseudo Column</li>
									<li>Adding, Modifying & Removing Rows to a table</li>
									<li>Performing Arithmetic operations</li>
									<li>String Functions</li>
									<li>SQL Operators (LIKE, IN, BETWEEN operators)</li>
									<li>LOGICAL operators</li>
									<li>Sorting data (using Order By Clause)</li>
									<li>Join conditions & Join Types</li>
									<li>Oracle Conversion Functions</li>
									<li>Oracle Single Row Functions</li>
									<li>Oracle Multiple Rows Functions</li>
									<li>Oracle String Functions</li>
									<li>Oracle Case Related Functions</li>
									<li>Oracle Analytical Functions</li>
									<li>Oracle Group By & Having Clauses</li>
									<li>Oracle Rollup & Cube</li>
									<li>Oracle Decode Function</li>
									<li>CASE Expressions</li>
									<li>Translate</li>
									<li>Replace</li>
									<li>Sub queries</li>
									<li>Oracle Set Operators</li>
									<li>Users, Privileges & Roles</li>
									<li>Constraints</li>
									<li>Oracle Sequences</li>
									<li>Oracle Indexes</li>
									<li>Oracle View</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#two" aria-expanded="false" aria-controls="collapseTwo">2. PLSQL <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
									<li>Introduction to PL/SQL</li>
									<li>Basic Structure of PL/SQL</li>
									<li>PL/SQL Keywords</li>
									<li>Operators</li>
									<li>Declare, Assign Value to variable</li>
									<li>Display a Value</li>
									<li>DML Operations in PL/SQL</li>
									<li>SELECT INTO syntax for a single Row Query</li>
									<li>Data types in PL/SQL</li>
									<li>Variable Declaration in PL/SQL</li>
									<li>Scope of variables</li>
									<li>PL/SQL conditional statements</li>
									<li>Types of LOOPS</li>
									<li>Oracle Cursors</li>
									<li>PL/SQL Records</li>
									<li>PL/SQL Collections</li>
									<li>PL/SQL Collection methods</li>
									<li>Oracle Exception Handling</li>
									<li>Oracle Stored Procedures</li>
									<li>Oracle Functions</li>
									<li>Oracle Packages</li>
									<li>Oracle Triggers</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <h2>Forms</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#three" aria-expanded="false" aria-controls="collapseThree">3. Introduction of Oracle D2K <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
								<ul>
									<li>Advantages of D2K</li>
									<li>Features and Roles of D2K in ERP</li>
									<li>Pre-Requisites for D2K</li>
									<li>Tools used in D2K</li>
									<li>Fundamentals of D2K</li>
									<li>How to install and work with D2K</li>
									<li>Interface of Form</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#four" aria-expanded="false" aria-controls="collapseThree">4. Types of Data Blocks <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
								<ul>
									<li>Creation of Data Block through Wizard</li>
									<li>Creation of Data Block through Manually</li>
									<li>Creation of Master Detail Data Blocks</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#five" aria-expanded="false" aria-controls="collapseThree">5. Manipulating Properties <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
								<ul>
									<li>Creation of Visual Attributes</li>
									<li>Creation of  Property Classes</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#six" aria-expanded="false" aria-controls="collapseThree">6. Creation of Object Groups <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
								<ul>
									<li>Creating & Using Object Groups</li>
									<li>Creation of Object Libraries</li>
									<li>Using Object Libraries</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#seven" aria-expanded="false" aria-controls="collapseThree">7. Form Triggers <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
								<ul>
									<li>Types of Form Triggers</li>
									<li>Applying Triggers on Different Controls</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eight" aria-expanded="false" aria-controls="collapseThree">8. Alerts <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
								<ul>
									<li>Calling Alerts</li>
									<li>Displaying Alerts</li>
									<li>Re-Using Alerts</li>
									<li>Changing Alerts Property at run time</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nine" aria-expanded="false" aria-controls="collapseThree">9. Editors <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
								<ul>
									<li>Creating Editors</li>
									<li>Types of Editors</li>
									<li>Calling Editors Through Code</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#ten" aria-expanded="false" aria-controls="collapseThree">10. Canvases <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="ten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
								<ul>
									<li>Creation of Content Canvas</li>
									<li>Creation of Stacked Canvas</li>
									<li>Creation of Tab Canvas</li>
									<li>Creation of Horizontal Canvas</li>
									<li>Creation of Vertical Canvas</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eleven" aria-expanded="false" aria-controls="collapseThree">11. Menus <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
								<ul>
									<li>Creation of Menus</li>
									<li>Usage of Menus in Required Forms</li>
									<li>Creation of popup menus</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#twelve" aria-expanded="false" aria-controls="collapseThree">12. Program Units <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="twelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
								<ul>
									<li>Defining Procedure in Forms</li>
									<li>Defining Functions in Forms</li>
									<li>Defining Packages in Forms</li>
									<li>Using Stored Procedures in Forms</li>
									<li>Using Stored Functions in Forms</li>
									<li>Using Stored Packages in Forms</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThirteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#thirteen" aria-expanded="false" aria-controls="collapseThree">13. PL/SQL <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="thirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                            <div class="panel-body">
								<ul>
									<li>PL/SQL Libraries</li>
									<li>Usage of PL/SQL Libraries in Different Forms</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFourteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fourteen" aria-expanded="false" aria-controls="collapseThree">14. Database Objects <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                            <div class="panel-body">
								<ul>
									<li>Database Objects</li>
									<li>Using Database Objects available at backend</li>
									<li>Creating Database Objects through Forms</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFifteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fifteen" aria-expanded="false" aria-controls="collapseThree">15. Record Groups <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
                            <div class="panel-body">
								<ul>
									<li>Creation of record groups based on query</li>
									<li>Creation of record groups based on static values</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSixteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#sixteen" aria-expanded="false" aria-controls="collapseThree">16. Lovs <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="sixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
                            <div class="panel-body">
								<ul>
									<li>Creation of Lov using existing record group</li>
									<li>Creation of Lov manually</li>
									<li>Creation of Lov along with record group</li>
									<li>Creation of run time record group</li>
									<li>Dynamic Lov Creation</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeventeen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#seventeen" aria-expanded="false" aria-controls="collapseThree">17. Advance topics of Forms <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="seventeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
                            <div class="panel-body">
								<ul>
									<li>Usage of Active X control items</li>
									<li>Usage of Hieratical Tree Control</li>
									<li>Creation of forms through Stored Procedures</li>
									<li>Creation of tables through forms</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <h2>Reports</h2>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEighteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eighteen" aria-expanded="false" aria-controls="collapseFour">18. Introduction <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eighteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighteen">
                            <div class="panel-body">
                               <ul>
									<li>Introduction of Reports</li>
									<li>Advantages, Features of Oracle Reports</li>
									<li>Fundamental of Oracle Reports</li>
									<li>Interfaces of Oracle Reports</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNineteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nineteen" aria-expanded="false" aria-controls="collapseFour">19. Creation of Reports through Wizard <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nineteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNineteen">
                            <div class="panel-body">
								<ul>
									<li>Tabular Report</li>
									<li>Form like Report</li>
									<li>Mailing Label Report</li>
									<li>Form Letter Report</li>
									<li>Group Left Report</li>
									<li>Group Above Report</li>
									<li>Matrix Report</li>
									<li>Matrix with Group Report</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwenty">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#twenty" aria-expanded="false" aria-controls="collapseFour">20. Creation of Reports through Manually <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="twenty" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwenty">
                            <div class="panel-body">
								<ul>
									<li>Creation of Report using Parameters</li>
									<li>User Parameters</li>
									<li>System Parameters</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#twentyOne" aria-expanded="false" aria-controls="collapseFour">21. Creation of Report through Data Model SQL Query <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="twentyOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyOne">
                            <div class="panel-body">
								<ul>
									<li>Formula Column</li>
									<li>Summary Column</li>
									<li>Place Holder Column</li>
									<li>Data Link</li>
									<li>Cross Product</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#twentyTwo" aria-expanded="false" aria-controls="collapseFour">22. Report Triggers <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="twentyTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyTwo">
                            <div class="panel-body">
								<ul>
									<li>Before Parameters Form</li>
									<li>After Parameter Form</li>
									<li>Before Report</li>
									<li>Between Pages</li>
									<li>After Report</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RKm6dkUBCow?start=12" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>The Trainer is very experienced, knowledgeable, very patient and helpful. My trainer gives very simple examples to explain Oracle concepts and his way of teaching is interesting.</p>
                            <h4 class="pull-right">&#x2015; Rohit</h4>
                        </div>
                        <div class="item slide">
                            <p>I started my career as a fresher. So I was unable to adjust, due to lack of technical skills. When I join to weekend batches in Pro-elearning, I learned a lot of Technical skills required in industry.</p>
                            <h4 class="pull-right">&#x2015; Bodhi</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>
                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>
        
        <!-- Certificate -->
        <div ng-include="'views/certificate.html'"></div>

    </div>
</div>
