<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/oracle-apps.jpg" alt="Oracle-Apps-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Oracle Apps Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Oracle Apps Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>Introduction to ERP</h4>
                        <ul>
                        	<li>Definition of ERP, Overview of popular ERP'S</li>
                        	<li>Comparison of Oracle Apps with other ERP'S</li>
                        	<li>Types of Roles</li>
                        	<li>Types of Projects</li>
                        	<li>AIM/OUM documentation standards</li>
                        	<li>Oracle Application Architecture</li>
                        	<li>Database structure of Oracle Applications</li>
                        	<li>Introduction about RICE/CEMLI</li>
                        	<li>Using TOAD/SQL Developer</li>
                        </ul>
                        <h4>Application Object Library</h4>
                        <ul>
                        	<li>Application Developer and Sysadmin Task</li>
                        	<li>Creating Users</li>
                        	<li>WHO columns</li>
                        	<li>Creating Responsibilities</li>
                        	<li>Menu construction</li>
                        	<li>Request group construction</li>
                        </ul>
                        <h4>Application development</h4>
                        <ul>
                        	<li>Defining concurrent program</li>
                        	<li>Concurrent programs with parameters</li>
                        	<li>Working with multiple concurrent programs</li>
                        	<li>Scheduling the Concurrent Program</li>
                        	<li>Concurrent Program incompatibilities</li>
                        	<li>Creating Request Set</li>
                        	<li>Procedure registration</li>
                        	<li>Value sets</li>
                        	<li>Lookups</li>
                        	<li>Flex Fields</li>
                        	<li>Table registration process</li>
                        	<li>Sql loader usage</li>
                        </ul>
                        <h4>Reports registration</h4>
                        <ul>
                        	<li>Report development</li>
                        	<li>Report registration</li>
                        	<li>Parametric report registration</li>
                        	<li>Reports with repeating frames</li>
                        </ul>
                        <h4>Form registration</h4>
                        <ul>
                        	<li>Template.fmb</li>
                        	<li>Appstand.fmb</li>
                        	<li>Form development using templates</li>
                        	<li>Form customization concepts</li>
                        	<li>Form Registration Process</li>
                        	<li>Custom.Pll</li>
                        	<li>Using function Zoom_available( )</li>
                        	<li>Using procedure Event( )</li>
                        </ul>
                        <h4>Interfaces</h4>
                        <ul>
                        	<li>Introduction to Interfaces</li>
                        	<li>Outbound Interfaces</li>
                        	<li>Using UTL_FILE package</li>
                        	<li>Inbound Interfaces</li>
                        	<li>Using SQL * Loader tool</li>
                        </ul>
                        <h4>Conversions</h4>
                        <ul>
                        	<li>Overview on conversions</li>
                        	<li>Writing conversions using oracle APIs</li>
                        	<li>Difference between Interfaces and conversions</li>
                        	<li>Working with staging table script</li>
                        	<li>Developing validations package</li>
                        	<li>Standards to be followed in conversions</li>
                        </ul>
                        <h4>Module Overviews</h4>
                        <ul>
                        	<li>Inventory Module flow with base tables</li>
                        	<li>Accounts Payable module flow with base tables</li>
                        	<li>Accounts Receivable module flow with base tables</li>
                        	<li>Order Management module flow with base tables</li>
                        	<li>Purchase Order module flow with base tables</li>
                        	<li>HRMS overall flow</li>
                        	<li>Trading Community Architecture flow in R12 (TCA)</li>
                        </ul>
                        <h4>XML Publisher Reports</h4>
                        <ul>
                        	<li>Introduction to XML Publisher</li>
                        	<li>Generating XML file using reports</li>
                        	<li>Creating Templates</li>
                        	<li>Creating Data Definitions</li>
                        </ul>
                        <h4>Workflows</h4>
                        <ul>
                        	<li>Introduction to workflow</li>
                        	<li>Workflow Builder</li>
                        	<li>Attributes</li>
                        	<li>Creating Process</li>
                        	<li>Sending Notifications Using Workflow</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>