<div class="container-fluid" ng-controller="oracleController">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/oracle-soa.jpg" alt="Oracle-SOA-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/oracle.png" alt="Oracle SOA Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Oracle SOA Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 30-40h</p>
                        <hr>
                        <h3>Oracle SOA Governance 11g: Lifecycle Management</h3>
                        <ol>
                        	<li>"Introduction to Service-Oriented Architecture"</li>
                        	<li>"Introduction to Services"</li>
                        	<li>"Introduction to Oracle SOA Suite"</li>
                        	<li>"Standards Used by Oracle SOA Suite to Enable SOA"</li>
                        	<li>"Service Component Architecture within SOA Composite Applications"</li>
                        	<li>"Runtime Behavior of a SOA Composite Application"</li>
                        	<li>"Approaches for Designing SOA Composite Applications"</li>
                        </ol>
                        <hr>
                        <h3>Oracle SOA Suite 11g: Essential Concepts</h3>
                        <h4>Objectives of Course:</h4>
                        <ul>
                        	<li>Describe SOA concepts and related technology</li>
                        	<li>Create a SOA composite application using JDeveloper</li>
                        	<li>Work with Mediator components with routing rules, filters, and transformations</li>
                        	<li>Orchestrate business process flows by using BPEL</li>
                        	<li>Implement Business Rule component with IF-THEN rules and decision tables</li>
                        	<li>Test, debug, and troubleshoot a SOA composite application</li>
                        	<li>Apply security policies to service endpoints to secure interactions</li>
                        	<li>Implement Human workflow with Human Task components</li>
                        </ul>	
                        <hr>
                        <h3>Oracle SOA Suite 11g: Build Composite Applications</h3>
                        <h4>Introduction to Service Oriented Architecture</h4>
                        <ul>
                        	<li>Describing Service-Oriented Architecture (SOA)</li>
                        	<li>Explaining Service Component Architecture</li>
                        	<li>Reviewing of services and key standards</li>
                        	<li>Explaining the Oracle SOA Suite 11g architecture and components</li>
                        </ul>
                        <h4>Getting Started with Composite Applications</h4>
                        <ul>
                        	<li>Describing basic synchronous and asynchronous interaction patterns</li>
                        	<li>Discussing XSD and Web Services Description Language (WSDL)</li>
                        	<li>Creating a Mediator component</li>
                        	<li>Defining a Routing Service</li>
                        	<li>Creating XSL Transformations with the XSLT Mapper</li>
                        	<li>Introducing working with adapters</li>
                        	<li>Creating a file adapter service reference</li>
                        	<li>Examining the composite.xml Source</li>
                        </ul>
                        <h4>Oracle Fusion Middleware 11g introduction</h4>
                        <ul>
                        	<li>FMW Product features</li>
                        	<li>Installation and introduction to Case Study</li>
                        	<li>FMW Installation and Case Study</li>
                        	<li>Installation of complete fusion stack with detail step by step instructions</li>
                        	<li>Purchase Order use case explanation</li>
                        </ul>
                        <h4>Introduction to Mediator</h4>
                        <ul>
                        	<li>What is a Mediator component</li>
                        	<li>How Mediator is used to achieve service virtualization</li>
                        	<li>Hands On exercise to illustrate use of mediator</li>
                        </ul>
                        <h4>Adapters</h4>
                        <ul>
                        	<li>Different types of adapters viz. File, JMS, DB Adapters etc supported by FMW</li>
                        	<li>Hands on exercise for DB Adapter, File and JMS</li>
                        </ul>
                        <h4>Managing and Monitoring a Composite Application</h4>
                        <ul>
                        	<li>Deploying a Composite Application</li>
                        	<li>Versioning Applications</li>
                        	<li>Discussing Application state</li>
                        	<li>Using Configuration Plans</li>
                        	<li>Managing the life cycle of a Composite Application</li>
                        	<li>Testing a Composite Application</li>
                        	<li>Managing SOA Applications with JDeveloper</li>
                        	<li>Testing a Composite Application in Enterprise Manager</li>
                        </ul>
                        <h4>Working With Data</h4>
                        <ul>
                        	<li>Discussing Data Standards</li>
                        	<li>Using Attributes</li>
                        	<li>Introducing XSL Transformations</li>
                        	<li>Using XPath Functions</li>
                        	<li>Using the Mapper in JDeveloper</li>
                        	<li>Using Dictionaries</li>
                        	<li>Testing Transformations</li>
                        	<li>Working with native format data</li>
                        </ul>
                        <h4>Introduction to BPEL</h4>
                        <ul>
                        	<li>Defining Business Processes and BPEL</li>
                        	<li>Introducing parts of a BPEL Process</li>
                        	<li>Discussing variables in a BPEL Process</li>
                        	<li>Using the Sequence and Scope Activities</li>
                        	<li>Using the BPEL Design Editor</li>
                        	<li>Testing a BPEL Process in Enterprise Manager </li>
                        </ul>
                        <h4>More BPEL Activities</h4>
                        <ul>
                        	<li>Conditional Branching with the If activity</li>
                        	<li>Processing with the Flow activity</li>
                        	<li>Parallel and Sequential Looping with the Foreach activity</li>
                        	<li>Suspending a process with the Wait activity</li>
                        	<li>Waiting for a message with the Pick activity</li>
                        	<li>Looping with the While activity</li>
                        	<li>Indexing XML arrays dynamically</li>
                        	<li>Discussing Synchronous and Asynchronous Interaction Patterns</li>
                        </ul>
                        <h4>Handling Faults in Composite Applications</h4>
                        <ul>
                        	<li>Introducing Faults and Fault Handling options</li>
                        	<li>Managing Faults in Synchronous and Asynchronous Mediators</li>
                        	<li>Introducing Faults and Fault Handlers in BPEL Processes</li>
                        	<li>Returning Faults from Synchronous and Asynchronous Processes</li>
                        	<li>Throwing Faults</li>
                        	<li>Introducing Compensation and Compensation Handlers</li>
                        	<li>Introducing the Fault Management Framework</li>
                        	<li>Recovering Faults with Enterprise Manager Fusion Middleware Control</li>
                        </ul>
                        <h4>Introducing Human Tasks</h4>
                        <ul>
                        	<li>Introducing Human Tasks</li>
                        	<li>Creating and configuring a Human Task in a Composite Application</li>
                        	<li>Adding a Human Task to a BPEL Process</li>
                        	<li>Generating and deploying Task Display Forms</li>
                        	<li>Using the Worklist Application to view and act on task information</li>
                        </ul>
                        <h4>Introducing Business Rules</h4>
                        <ul>
                        	<li>Introducing the Business Rule Component</li>
                        	<li>Describing the Oracle Business Rules architecture</li>
                        	<li>Creating rules and decision tables with the JDeveloper Rule Editor</li>
                        	<li>Examining Business Rule Component Files</li>
                        	<li>Describing the role of the Rules SDK</li>
                        	<li>Editing Business Rules at Runtime</li>
                        </ul>
                        <h4>Testing SOA Composite Applications</h4>
                        <ul>
                        	<li>Introducing the Composite Test Framework</li>
                        	<li>Defining Emulations and Assertions</li>
                        	<li>Testing initiation of inbound messages</li>
                        	<li>Emulating outbound, fault, and callback messages</li>
                        	<li>Running Test Cases</li>
                        	<li>Examining results of a Test Run</li>
                        </ul>
                        <h4>Securing Services and Composite Applications</h4>
                        <ul>
                        	<li>Explaining security for services</li>
                        	<li>Describing the Fusion Middleware security architecture</li>
                        	<li>Attaching security policies at design time in JDeveloper</li>
                        	<li>Attaching security policies post-deployment in Enterprise Manager</li>
                        </ul>
                        <h4>Designing and Managing Business Events</h4>
                        <ul>
                        	<li>Describing the Event Delivery Network</li>
                        	<li>Creating a business event</li>
                        	<li>Publishing an event</li>
                        	<li>Subscribing to an event</li>
                        	<li>Managing events in Oracle Enterprise Manager</li>
                        </ul>
                        <h4>Working with BAM</h4>
                        <ul>
                        	<li>Working with Business Activity Monitoring </li>
                        	<li>Creating Dash boards</li>
                        	<li>Developing dynamic BAM Reports</li>
                        </ul>
                        <div class="trainer-details mt-30">
                            <h4>Trainer Details</h4>
                            <ul>
                                <li>Oracle Fusion Middleware Consultant & Corporate Trainer</li>
                                <li><b>A Certified SOA, BPM & WebCenter Specialist</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>