<div class="container-fluid" ng-controller="oracleController">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/oracle-ebs.jpg" alt="Oracle-EBS-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/oracle.png" alt="Oracle EBS Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Oracle EBS Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <p><span class="section">Oracle EBS Essentials:</span> EBS training on R12.1 - builds functional foundation in E-Business Essentials including how to access and navigate within the R12.1 E-Business Suite, how to enter data, retrieve information in the form of a query and access online help.</p>
                        <p><span class="section">Oracle Payables Management Fundamentals:</span> R12.x Oracle Payables Specialist course covers the essentials of Accounts Payable process. Learn how to manage supplier lists and their bank accounts, process invoices, purchase orders, receipts and payments.</p>
                        <h4>Course Objectives:</h4>
                        <p>During this Oracle EBS course, participants will learn:</p>
                        <ul>
                        	<li>Accessing and navigating within Oracle Applications with the user interface.</li>
                        	<li>Defining descriptive, key Flexfields and Shared Entities.</li>
                        	<li>Identifying features of Multiple Organizations along with Multiple Organization Access Control (MOAC).</li>
                        	<li>Benefits and features of Oracle Business Intelligence as well as Oracle Workflow.</li>
                        	<li>Defining Alerts and testing periodic alerts.</li>
                        	<li>The steps for completing a full accounting cycle.</li>
                        	<li>Setting up and using Oracle Payables to manage an accounts payable process.</li>
                        	<li>Creating and managing suppliers and their bank accounts.</li>
                        	<li>Processing individual and recurring invoices, matching invoices to purchase orders or receipts.</li>
                        	<li>Using multiple distribution methods and processing for different types of payments.</li>
                        	<li>Integrating Payables with other Oracle Apps.</li>
                        	<li>Importing invoices or employee expense reports.</li>
                        	<li>Approving invoices</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>