<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/pega-7.jpg" alt="Pega-7-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Pega 7 (PRPC) Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>12345</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

       <div class="row">
            <div class="training-modes">
                <h3>Available Modes of Training</h3>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/online-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>Online Training</h4>
                            <p class="text-justify">Conducted through the virtual classroom also have the same program flow with theory and practical sessions. Our Labs can be accessed online from across the world allowing our online training student to make the best use of the infrastructure from the comfort of their home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/classroom-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-site Training</h4>
                            <p class="text-justify">Trainings will be conducted on a daily basis. Practical exercises are provided for the topics conducted on daily basis to be worked upon during the lab session.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/on-demand-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-demand Training</h4>
                            <p class="text-justify">Select your flexible timings at your convenience for one-to-one training. You individually will assigned a trainer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>To learn this course, first you must have a good knowledge in basics of software</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>Pega 7 is an application development platform intended for large enterprises seeking to build, deploy, and evolve strategic business applications.</p>
                    <p>Pega 7 Platform. Pega 7 is an application development platform that helps large enterprises integrate, automate and improve complex front and back-office business operations.</p>
                    <p>Pega is a Business Process Management tool. It is developed on Java and uses OOP and java concepts. And the big advantage is we don't have to have to build the system from the scratch like any conventional programming. It is becoming popular because of that, though most conventional programmers would disagree.</p>
                    <p>PEGA is a Business Process management tool developed on Java, is used for building enterprise applications. Pega is a promising BPM Tool in IT market. Now day Pega is going in all domains like Insurance , Banking , telecom and health care to implement the BPM solution in very less time span.</p>
                    <p>Pegasystems Inc. is an American software company based in Cambridge, Massachusetts. Founded in 1983, Pegasystems develops software for customer relationship management (CRM), digital process automation, and business process management (BPM). ... The company's core product is the Pega Platform</p>
                 </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. Introduction <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to BPM</li>
									<li>Introduction to PRPC</li>
									<li>Pega Software Installation</li>
									<li>Creating Organization Setup</li>
									<li>Operator ID</li>
									<li>Creating Application</li>
									<li>Creating Ruleset</li>
									<li>Ruleset Versions</li>
									<li>Creating Users</li>
									<li>Creating Portals</li>
									<li>Cases</li>
									<li>Building New Application</li>
									<li>DCO</li>
									<li>Application Profiler</li>
									<li>Application Accelerator</li>
									<li>Application Express</li>
									<li>Introduction to Class structure</li>
									<li>Types of Classes</li>
									<li>Creating Abstract Class</li>
									<li>Creating Concrete Class</li>
									<li>Working with Class group/Work pool</li>
									<li>Introduction to Data model</li>
									<li>Creating Data Tables</li>
									<li>Types of Properties & Modes</li>
									<li>Creating Properties</li>
									<li>Change the Appearance of a property</li>
									<li>Create embedded properties</li>
									<li>Introduction to User Interface and Form Design</li>
									<li>Introduction to Process Definition</li>
									<li>Check-in/Check-out Functionality</li>
									<li>User Interface</li>
									<li>Introduction to Portals, Harness, Flowaction, Section</li>
									<li>Create a Section</li>
									<li>Create a Section Containing Multiple Layouts</li>
									<li>Adding a Section to a Flow Action</li>
									<li>Calling another section in a section</li>
									<li>Selecting the layout</li>
									<li>Creating Flow Action</li>
									<li>Creating Harness</li>
									<li>Basic & Advanced Controls</li>
									<li>Process Definition</li>
									<li>Different shapes used in Flow & their purpose</li>
									<li>Create Main flow/Process flow</li>
									<li>Create a Sub-flow/Screen flow</li>
									<li>How to run the flow or creating work object</li>
									<li>Create a Tabbed/Tree navigation Screen flow</li>
									<li>Call a Sub-flow from another Flow or from same flow</li>
									<li>Design and Implement Screen flow</li>
									<li>How to select Screen flow types</li>
									<li>Advanced UI</li>
									<li>Create a Dynamic Select Control</li>
									<li>Repeat layout( Row/Column)</li>
									<li>Conditionally display a Section</li>
									<li>Activities and Methods.</li>
									<li>Explain the purpose of different tabs in Activity</li>
									<li>Understand purpose of Pages & Classes</li>
									<li>Different Methods used in Activities</li>
									<li>How to call Activity from another activity</li>
									<li>Different ways to call Activities</li>
									<li>Types of Activities</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#two" aria-expanded="false" aria-controls="collapseTwo">2. Validation <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
									<li>Types of validations</li>
									<li>Rule-Edit-Validation</li>
									<li>Rule-Obj-Validation</li>
									<li>Constraints</li>
									<li>Difference between Rule-Edit-Validation and Rule-Object-Validation</li>
									<li>Diff between ROV & Constraints</li>
									<li>Decision Rules</li>
									<li>Decision Table</li>
									<li>Decision Tree</li>
									<li>Calling Decision Rules in Flow</li>
									<li>Calling Decision rules in Expressions</li>
									<li>Declarative Rules</li>
									<li>Declare Expressions</li>
									<li>Declare Constraints</li>
									<li>Declare On change</li>
									<li>Declare Pages</li>
									<li>Declare Trigger</li>
									<li>Advanced Activities</li>
									<li>Create an Activity with a precondition and a Transition</li>
									<li>Create an Activity to Populate a Dynamic Select</li>
									<li>Creating activity for Calling SOAP Services</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#three" aria-expanded="false" aria-controls="collapseThree">3. Assigning the work <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
									<li>Introduction on Routing</li>
									<li>To Work List</li>
									<li>To Work Basket</li>
									<li>Creating Work Group / Work basket</li>
									<li>SLA( Service Level Agreements)</li>
									<li>Define an SLA</li>
									<li>Assigning SLA to Assignment</li>
									<li>Testing SLA</li>
									<li>How to Send a Correspondence (E-mail)</li>
									<li>Configuring E-mail (Inbound/Outbound)</li>
									<li>Work-parties</li>
									<li>Creating Work-Party</li>
									<li>Adding Work-Party to Flow</li>
									<li>Agents</li>
									<li>Reports</li>
									<li>Migration/Deployment (Import & Export)</li>
									<li>Debugging tools</li>
									<li>Clipboard</li>
									<li>Tracer</li>
									<li>PAL</li>
									<li>Preflight</li>
									<li>Brace</li>
									<li>Documenting the Application</li>
									<li>Connecting to External Data Base Using Connect-SQL</li>
									<li>How to Use Dynamic SQL When Connecting to External DB</li>
									<li>Configuring Web Services (SOAP)</li>
									<li>Integration Connect & Service SOAP</li>
									<li>New Features in Pega 7</li>
									<li>Difference Between Versions</li>
									<li>PRPC Guardrails</li>
									<li>Project Implementation Methodology</li>
									<li>Resume Preparation</li>
									<li>Interview Tips</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BGhlHsFBhLE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>I am very happy to share my experience with all about my training on Kafka with Pro-elearning. They have well-experienced trainers who really the capacity of students and train them accordingly.</p>
                            <h4 class="pull-right">&#x2015; Mandarin</h4>
                        </div>
                        <div class="item slide">
                            <p>This is Charan sharing some happy moments with you all about my training on Kafka with Pro-elearning. They have well-experienced trainers who really the capacity of students and train them accordingly.</p>
                            <h4 class="pull-right">&#x2015; Charan</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>
                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>