<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/perfecto.jpg" alt="Perfecto-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Perfecto Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Perfecto Course Content</h1>
                        <hr>
                        <p>Perfecto is an Automation Testing tool for testing mobile applications.</p>
                        <h4>Topics for Manual testing</h4>
                        <ol>
                        	<li>Accessing the device from Perfecto Cloud.</li>
                        	<li>Getting device information from Perfecto Cloud.</li>
                        	<li>Installation Procedure.</li>
                        	<li>Application Accessibility.</li>
                        	<li>Operating different Device Functions which are dependent on Application.</li>
                        	<li>Interrupt Testing.</li>
                        	<li>Getting Performance of application and of Device.</li>
                        	<li>Explaining all functions provided by Perfecto Cloud.</li>
                        	<li>Recording the Manual Scenarios.</li>
                        </ol>
                        <h4>Topics for Automation testing</h4>
                        <ol>
                        	<li>Application installation.</li>
                        	<li>Recording the automation scenarios.</li>
                        	<li>Executing the automation scenarios.</li>
                        	<li>Object spy description.</li>
                        	<li>How to get object properties from the application.</li>
                        	<li>Writing the Automation scripts in Perfecto mobile cloud.</li>
                        	<li>Execution of created scripts.</li>
                        	<li>Reporting of execution.</li>
                        </ol>
                        <h4>Overview</h4>
                        <ol>
                        	<li>Overview of Perfecto mobile Cloud.</li>
                        	<li>Walk through of how perfecto mobile cloud can be used.</li>
                        	<li>Different functionalities provided by perfecto.</li>
                        	<li>Automation of Mobile application (web and Native) using Perfecto Mobile Cloud on iOS and on Android platform.</li>
                        	<li>Execution and reporting of automation scripts on perfecto mobile.</li>
                        	<li>If required Extension of perfecto mobile cloud automation thorough Selenium.</li>
                        	<li>Question and answers.</li>
                        	<li>Query Solving.</li>
                        </ol>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>