<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/php.jpg" alt="PHP-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">PHP with MySQL Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>: Basic knowledge of C/C++, Java (recommended), basic of OOPS.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>PHP is a server-side script which helps in developing secure websites. PHP is available to individuals with minimal investment. And as it is very light as net, it is recognized as light weight server-side script.</p>
                    <p>PHP training course builds the strong foundation for developing career in web development. The majority of the web applications developed these days uses PHP. PHP, an HTML-embedded scripting language, is the most widely used language among web developers.</p>
                    <p>PHP training course builds the strong foundation for developing carrer in the web development domain. The majority of the web applications developed these days uses PHP. PHP, an HTML-embedded scripting language, is the most widely used language among web developers.</p>
                    <p>In this course, you'll explore the basic structure of a web application, and how a web browser interacts with a web server. </p>
                    <p>You'll be introduced to the request/response cycle, including GET/POST/Redirect. You'll also gain an introductory understanding of Hypertext Markup Language (HTML), as well as the basic syntax and data structures of the PHP language, variables, logic, iteration, arrays, error handling, and superglobal variables, among other elements. </p>
                    <p>An introduction to Cascading Style Sheets (CSS) will allow you to style markup for webpages. Lastly, you'll gain the skills and knowledge to install and use an integrated PHP/MySQL environment like XAMPP or MAMP.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Web Application Development <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction about Web Application Development</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Introduction to PHP & MySQL <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>PHP Versions & Comparisons</li>
                                    <li>Installation & Configuration</li>
                                    <li>WAMP, LAMP, MAMP, XAMPP</li>
                                    <li>PHP Project Development Using IDEs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. PHP Basics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Scripting</li>
                                    <li>PHP Program Structure</li>
                                    <li>Basic PHP Syntax</li>
                                    <li>Configuration Settings</li>
                                    <li>Comments</li>
                                    <li>Variables</li>
                                    <li>Data Types</li>
                                    <li>Variable Manipulations</li>
                                    <li>String Variables</li>
                                    <li>Heredoc Style</li>
                                    <li>Nowdoc Style</li>
                                    <li>Variable Variables</li>
                                    <li>Reference Variables</li>
                                    <li>Constant Variables</li>
                                    <li>Errors in PHP</li>
                                    <li>Operators</li>
                                    <li>Condition Statements</li>
                                    <li>Control Statements</li>
                                    <li>Arrays</li>
                                    <li>Array Functions</li>
                                    <li>Debugging a PHP File</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. HTML <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>HTML History</li>
                                    <li>Basics of HTML</li>
                                    <li>Text Formatting Tags</li>
                                    <li>Computer Output Tags</li>
                                    <li>Citations, Quotations and Definition Tags</li>
                                    <li>Images</li>
                                    <li>Links</li>
                                    <li>Entities</li>
                                    <li>Image Maps</li>
                                    <li>Tables</li>
                                    <li>Lists</li>
                                    <li>HTML Forms & Input</li>
                                    <li>HTML Frames</li>
                                    <li>HTML iFrames</li>
                                    <li><code>&lt;div&gt;</code> &#x0026; <code>&lt;span&gt;</code> tags</li>
                                    <li>Audio & Video in Web Page</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. CSS <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Backgrounds</li>
                                    <li>Borders</li>
                                    <li>Margins</li>
                                    <li>Padding</li>
                                    <li>Height/Width</li>
                                    <li>Fonts</li>
                                    <li>Icons</li>
                                    <li>Links</li>
                                    <li>Lists</li>
                                    <li>Tables</li>
                                    <li>Display</li>
                                    <li>Position</li>
                                    <li>Overflow</li>
                                    <li>Float</li>
                                    <li>Align</li>
                                    <li>Pseudo-class</li>
                                    <li>Pseudo-element</li>
                                    <li>Dropdowns</li>
                                    <li>Attribute Selectors</li>
                                    <li>Units</li>
                                    <li>Buttons</li>
                                    <li>Media Queries</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#businessObjects" aria-expanded="false" aria-controls="collapseSix">6. JavaScript <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="businessObjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Data Types</li>
                                    <li>Variables & Operators</li>
                                    <li>Control & Condition Statements</li>
                                    <li>Arrays</li>
                                    <li>Functions</li>
                                    <li>Event Handlers</li>
                                    <li>Form Validations</li>
                                    <li>Working with JS Objects</li>
                                    <li>DOM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#errorCaseMgmt" aria-expanded="false" aria-controls="collapseSeven">7. Web Application Development <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="errorCaseMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
                                    <li>PHP Forms & Validations</li>
                                    <li>Super Global Variables of PHP</li>
                                    <li>User-defined Functions</li>
                                    <li>Passing arguments by Value</li>
                                    <li>Passing arguments by Reference</li>
                                    <li>Function overloading</li>
                                    <li>Local & Global Variables</li>
                                    <li>Static Variables</li>
                                    <li>Built-in Functions in PHP</li>
                                    <li>Date Functions</li>
                                    <li>String Functions</li>
                                    <li>Working with Files & Directories</li>
                                    <li>PHP CSV File Read</li>
                                    <li>File Uploading</li>
                                    <li>Server Side Includes</li>
                                    <li>include() & include_once()</li>
                                    <li>require() & require_once()</li>
                                    <li>Authentication Methodologies</li>
                                    <li>HTTP Authentication</li>
                                    <li>PHP Authentication</li>
                                    <li>Session Tracking</li>
                                    <li>Session Tracking using Cookies</li>
                                    <li>Session Tracking using PHP Session</li>
                                    <li>Session Configuration Directives</li>
                                    <li>Encoding & Decoding Session Data</li>
                                    <li>Auto Login</li>
                                    <li>Regular Expressions</li>
                                    <li>Validating text box values</li>
                                    <li>Creating custom regular expressions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#addFeatures" aria-expanded="false" aria-controls="collapseEight">8. Object Oriented Programming in PHP <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="addFeatures" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
                                    <li>Class & Objects</li>
                                    <li>Constructors & Destructors</li>
                                    <li>Overloading Member Functions</li>
                                    <li>Inheritance</li>
                                    <li>Overriding Members</li>
                                    <li>Static & Constant Members</li>
                                    <li>Scope Resolution Operator</li>
                                    <li>Helper Functions</li>
                                    <li>Abstract Class</li>
                                    <li>Interfaces</li>
                                    <li>Object Iteration</li>
                                    <li>final Keyword</li>
                                    <li>Object Cloning</li>
                                    <li>Object Serialization</li>
                                    <li>Reflections</li>
                                    <li>Exception Handling</li>
                                    <li>try…catch..throw</li>
                                    <li>User-defined Exceptions</li>
                                    <li>Server Side Validations using PHP Filters</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#reviewExercise" aria-expanded="false" aria-controls="collapseNine">9. MySQL <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="reviewExercise" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to DBMS</li>
                                    <li>RDBMS</li>
                                    <li>Introduction to MySQL Database</li>
                                    <li>Database Creation</li>
                                    <li>Data Definition Language</li>
                                    <li>Data Manipulation Language</li>
                                    <li>Data Retrieval Language</li>
                                    <li>TCL & DCL Commands</li>
                                    <li>Storage Engines</li>
                                    <li>MySQL Data Types</li>
                                    <li>Constraints</li>
                                    <li>PHP functions to work with MySQL</li>
                                    <li>Working with Large Objects</li>
                                    <li>Sub-queries</li>
                                    <li>Functions in MySQL</li>
                                    <li>Cursors</li>
                                    <li>Indexing in MySQL</li>
                                    <li>Joins</li>
                                    <li>Views</li>
                                    <li>SQL Injection</li>
                                    <li>Pagination, Sorting etc</li>
                                    <li>PHP working with Oracle, SQL Server etc</li>
                                    <li>Using ODBC & OCI functions</li>
                                    <li>MySQL Vs MySQLi in PHP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#iws" aria-expanded="false" aria-controls="collapseNine">10. XML <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="iws" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to XML</li>
                                    <li>DTD</li>
                                    <li>XSL & XSD</li>
                                    <li>XML Parsing</li>
                                    <li>Tree based Parsers</li>
                                    <li>Event based Parser</li>
                                    <li>Reading an XML document</li>
                                    <li>Creating an XML document for data in DB</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#rtat" aria-expanded="false" aria-controls="collapseNine">11. Basic Knowledge <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="rtat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
                                    <li>Wordpress</li>
                                    <li>Drupal</li>
                                    <li>Magento</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ScMrdoxH16U?start=20" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>I had joined here for PHP Course. I am very much satisfied with php training. He explains the topics with real-time examples. So, it is clear and easy to understand to everyone.</p>
                            <h4 class="pull-right">&#x2015; Elijah</h4>
                        </div>
                        <div class="item slide">
                            <p>I have completed PHP programming and My trainer they provide a very good real time training and lab facilities. Finally I got a good knowledge in php not only theoretical practical also. Thank you proelearning.</p>
                            <h4 class="pull-right">&#x2015; Mahendra</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>
        
        <!-- Certificate -->
        <div ng-include="'views/certificate.html'"></div>

    </div>
</div>
