<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/pmp.png" alt="Project Management Professional-(PMP)-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Project Management Professional (PMP) Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (1,874)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>Basic knowledge of Software Languages.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>Six Sigma is a set of tools and strategies for process improvement. And if we talk about the history , it was originally developed by Motorola in 1985. </p>
                    <p>It seeks to improve the quality of process output by identifying and removing errors just like we use the antivirus for our system to improve performance. The basic principle or we can say methodology followed by six sigma is DMAIC.</p>
                    <p>In simple terms we can say, Six Sigma is used to remove errors and defects from any process. It is a structured approach to problem solving that can be applied to any process - manufacturing, sales, marketing, IT, BPO, Accounting, Purchasing etc.</p>
                    <p>All processes have variation. And we all know variation is the cause of all evil - it leads to defects and customer dissatisfaction. Six Sigma methodology can be used to reduce variation from any source and thus improve costs, quality, and customer satisfaction.</p>
                    <h4>And when we talk about Six sigma here are few things that should come to your mind:</h4>
                    <ul>
                        <li>Business process improvement methodology</li>
                        <li>3.4 defects per million opportunities</li>
                        <li>Customer focused</li>
                        <li>Uses facts and data</li>
                        <li>Quantity financial benefits</li>
                        <li>Structured improvement approach</li>
                        <li>Value of Six Sigma is 99.99966%</li>
                    </ul>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖</span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Introduction  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>What are PMI and PMP Certification</li>
                                    <li>Application Requirements for the PMP® Exam</li>
                                    <li>Guidelines to Complete the PMP® Application</li>
                                    <li>About the PMP® Exam</li>
                                    <li>PMP® Exam Syllabus</li>
                                    <li>About this Tutorial</li>
                                    <li>Introduction to Projects</li>
                                    <li>Projects, Examples, Characteristics and Drivers</li>
                                    <li>Definition of Project Management</li>
                                    <li>Value of Project Management</li>
                                </ul>
                                <h4>Role of a Project Manager</h4>
                                <ul>
                                    <li>Project Management Skills</li>
                                    <li>Why do projects fail?</li>
                                    <li>Portfolios, Programs, Projects</li>
                                    <li>Program Management</li>
                                    <li>Features of Program Management</li>
                                    <li>Portfolio</li>
                                    <li>Portfolio Management</li>
                                    <li>Relationships between Portfolios, Programs, and Projects</li>
                                    <li>Stakeholder</li>
                                    <li>Stakeholder Management</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Professional and Social Responsibility  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Code of</li>
                                    <li>Responsibility</li>
                                    <li>Regulation and Legal Requirements</li>
                                    <li>Ethics</li>	
                                    <li>Fairness</li>
                                    <li>Honesty</li>
                                    <li>Ensuring Individual Integrity</li>
                                    <li>Business Scenario</li>
                                    <li>Contributing to the Project Management Knowledge Base</li>
                                    <li>Enhancing Professional Competence</li>
                                    <li>Business Scenario</li>
                                    <li>Promoting Stakeholder Collaboration</li>
                                    <li>Business Scenario</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. Project Management Framework  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Project Management Office (PMO)</li>
                                    <li>Organization Structure</li>
                                    <li>Functional Organization</li>
                                    <li>Projectized Organization</li>
                                    <li>Matrix Organization</li>
                                    <li>Advantages and Disadvantages of Organizational Structures</li>
                                    <li>Project Lifecycle vs. Product Lifecycle</li>
                                    <li>Project Lifecycle vs. Project Management Process</li>
                                    <li>Project Management Process</li>
                                    <li>Definition of a Process</li>
                                    <li>Project Flow and Key Terms</li>
                                    <li>Project Management Processes</li>
                                    <li>Project Process</li>
                                    <li>Process Group Interactions</li>
                                    <li>Project Lifecycles</li>
                                    <li>Agile Mindset</li>
                                    <li>Project Framework</li>
                                    <li>Project Management Process Map</li>
                                    <li>PMI’s Process Framework</li>
                                    <li>Common Inputs</li>
                                    <li>Project Terms</li>
                                    <li>Quiz</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. Project Management Processes  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Project Management Process Groups</li>
                                    <li>Project Management Process Map</li>
                                    <li>Reading a Process Diagram</li>
                                    <li>Initiating Process Group</li>
                                    <li>Project Initiation</li>
                                    <li>Planning Process Group</li>
                                    <li>Project Planning</li>
                                    <li>Executing Process Group</li>
                                    <li>Monitoring and Controlling Process Group</li>
                                    <li>Closing Process Group</li>
                                    <li>Quiz</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. Project Integration Management  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Project Integration Management</li>
                                    <li>Role of Project Manager, Team, and Sponsor</li>
                                    <li>Project Selection Methods</li>
                                    <li>Present Value, Net Present Value, Internal Rate of Return, Payback Period, Benefit Cost Ratio, Return on  Investment, Opportunity Cost</li>
                                    <li>Project Integration Management Knowledge Areas
                                        <ul>
                                            <li>Develop Project Charter</li>
                                            <li>Initial Scope Statement</li>
                                            <li>Develop Project Management Plan and its contents</li>
                                            <li>Direct and Manage Project Work</li>
                                            <li>Manage Project Knowledge</li>
                                            <li>Monitor & Control Project Work, challenges, and lessons learned</li>
                                            <li>Perform Integrated Change Control</li>
                                            <li>Change Management Process</li>
                                            <li>Integrated Change Control</li>
                                            <li>Close Project or Phase</li>
                                        </ul>
                                    </li>
                                    <li>Quiz</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#businessObjects" aria-expanded="false" aria-controls="collapseSix">6. Project Scope Management  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="businessObjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Project Scope Management</li>
                                    <li>Project Scope Management Activities</li>
                                    <li>Product Scope vs Project Scope</li>
                                    <li>Definition of Work Breakdown Structure</li>
                                    <li>Key Terms</li>
                                    <li>Examples of WBS</li>
                                    <li>Project Scope Management Knowledge Area</li>
                                    <li>Important Outputs</li>
                                    <li>Data–Information–Knowledge–Wisdom</li>
                                    <li>Business Scenario</li>
                                    <li>Quiz</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#errorCaseMgmt" aria-expanded="false" aria-controls="collapseSeven">7. Project Schedule Management  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="errorCaseMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Project Schedule Management</li>
                                    <li>Project Schedule Management Activities</li>
                                    <li>Project Schedule</li>
                                    <li>Gantt Chart</li>
                                    <li>Gantt Chart – Relationships, Examples, Dependencies</li>
                                    <li>Network Diagram and Examples</li>
                                    <li>Key Terms</li>
                                    <li>The Project Schedule Management Processes</li>
                                    <li>Quiz</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#addFeatures" aria-expanded="false" aria-controls="collapseEight">8. Project Cost Management  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="addFeatures" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Project Cost Management</li>
                                    <li>Cost Management Plan</li>
                                    <li>Control Account</li>
                                    <li>The Project Cost Management processes</li>
                                    <li>Difference between Planned Value and Earned Value</li>
                                    <li>Earned Value Management</li>
                                    <li>Earned Value Formulae</li>
                                    <li>Business Scenario</li>
                                    <li>Earned Value Management: Examples</li>
                                    <li>Key Terms</li>
                                    <li>Quiz</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#reviewExercise" aria-expanded="false" aria-controls="collapseNine">9. Project Quality Management  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="reviewExercise" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Quality</li>
                                    <li>Quality Related Terms</li>
                                    <li>Optimal Level of Quality</li>
                                    <li>Quality Management</li>
                                    <li>Quality Planning vs. Quality Assurance vs. Quality Control</li>
                                    <li>Quality Management Concepts</li>
                                    <li>Cost of quality</li>
                                    <li>The Project Quality Management Processes</li>
                                    <li>Seven basic tools of quality</li>
                                    <li>Control Charts</li>
                                    <li>Cause and effect diagram</li>
                                    <li>Flowcharting</li>
                                    <li>Histogram</li>
                                    <li>Pareto Diagram</li>
                                    <li>Check Sheets</li>
                                    <li>Scatter Diagram</li>
                                    <li>Six Sigma</li>
                                    <li>Quiz</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#iws" aria-expanded="false" aria-controls="collapseNine">10. Project Resource Management  Lab <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="iws" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Project Resource Management</li>
                                    <li>Functional Manager vs. Project Manager</li>
                                    <li>The Project Resource Management Processes</li>
                                    <li>Team Dynamics</li>
                                    <li>Conflict management</li>
                                    <li>Conflict Resolution Techniques</li>
                                    <li>Business Scenario</li>
                                    <li>Powers of Project Manager</li>
                                    <li>Business Scenario</li>
                                    <li>Organizational Theories</li>
                                    <li>Leadership Styles</li>
                                    <li>McKinsey’s 7-S Framework</li>
                                    <li>Quiz</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#rtat" aria-expanded="false" aria-controls="collapseNine">11. Project Communications Management  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="rtat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Communication</li>
                                    <li>Communication Methods, Technology & Channels</li>
                                    <li>Basic Communication Model</li>
                                    <li>The Project Communications Management Processes</li>
                                    <li>Quiz</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tools" aria-expanded="false" aria-controls="collapseNine">12. Project Risk Management  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tools" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Risk</li>
                                    <li>Positive and Negative Risk Responses</li>
                                    <li>Key Terms</li>
                                    <li>Calculation of Risk</li>
                                    <li>Risk Categorization</li>
                                    <li>Decision Tree</li>
                                    <li>Risk Reserve</li>
                                    <li>Project Risk Management</li>
                                    <li>Business Scenario</li>
                                    <li>The Risk Management Processes</li>
                                    <li>Quiz</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThirteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#apps" aria-expanded="false" aria-controls="collapseNine">13. Project Procurement Management  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="apps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Contract and its Characteristics</li>
                                    <li>Centralized vs. Decentralized Contracting</li>
                                    <li>Types of Contract, Advantages and Disadvantages</li>
                                    <li>Business Scenario</li>
                                    <li>Key Terms</li>
                                    <li>Project Procurement Management</li>
                                    <li>The Procurement Management Processes</li>
                                    <li>Quiz</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFourteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#lab" aria-expanded="false" aria-controls="collapseNine">14. Project Stakeholder Management  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="lab" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Stakeholders</li>
                                    <li>Classification Models for Stakeholder Analysis</li>
                                    <li>Stakeholder Engagement Assessment Matrix</li>
                                    <li>Stakeholder Management Skills</li>
                                    <li>The Project Stakeholder Management Processes</li>
                                    <li>Quiz</li>
                                    <li>Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFifteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#mtv" aria-expanded="false" aria-controls="collapseNine">15. <b>Appendix:</b> PMP List of Knowledge and Skills  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="mtv" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Objectives</li>
                                    <li>Knowledge and Skills</li>
                                    <li>Cross-Cutting Knowledge and Skills</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/15B4uf2VZvc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>I did PMP course.my learning experience was good.</p>
                            <h4 class="pull-right">&#x2015; Ashok</h4>
                        </div>
                        <div class="item slide">
                            <p>Pro-elearning  gave me nice experience learning PMP course. Faculty explanation is good and explains about real-time Projects.</p>
                            <h4 class="pull-right">&#x2015; Sudheer</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>
        
        <!-- Certificate -->
        <div ng-include="'views/certificate.html'"></div>

    </div>
</div>
