<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/python.jpg" alt="Python-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/dotnet.png" alt="Python Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Python Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 45d</p>
                        <hr>
                        <h3>Core Python Syllabus</h3>
                        <h4>1. Introduction To Python</h4>
                        <ul>
                            <li>Features of Python</li>
                            <li>Python Virtual Machine (PVM)</li>
                            <li>Frozen Binaries</li>
                            <li>Memory management in Python</li>
                            <li>Garbage collection in Python</li>
                        </ul>
                        <h4>2. Writing Our First Python Program</h4>
                        <ul>
                            <li>Writing our first Python program</li>
                            <li>Executing a Python program</li>
                            <li>Getting help in Python</li>
                            <li>Reopening the Python program in IDLE</li>
                        </ul>
                        <h4>3. Datatypes In Python</h4>
                        <ul>
                            <li>Comments in Python</li>
                            <li>Docstrings</li>
                            <li>How Python sees variables</li>
                            <li>Datatypes in Python</li>
                            <li>Built-in datatypes</li>
                            <li>bool datatype</li>
                            <li>Sequences in Python</li>
                            <li>Sets</li>
                            <li>Literals in Python</li>
                            <li>Determining the datatype of a variable characters in Python</li>
                            <li>User-defined datatypes</li>
                            <li>Constants in Python</li>
                            <li>Identifiers and Reserved words</li>
                            <li>Naming conventions in Python</li>
                        </ul>
                        <h4>4. Operators In Python</h4>
                        <ul>
                            <li>Arithmetic operators</li>
                            <li>Using Python interpreter as calculator</li>
                            <li>Assignment operators</li>
                            <li>Unary minus operator</li>
                            <li>Relational operators</li>
                            <li>Logical operators</li>
                            <li>Boolean operators</li>
                            <li>Membership operators</li>
                            <li>Identity operators</li>
                            <li>Operator precedence and associatively</li>
                            <li>Mathematical function</li>
                        </ul>
                        <h4>5. Input And Output</h4>
                        <ul>
                            <li>Output statements</li>
                            <li>Various formats of print()</li>
                            <li>Input statements</li>
                            <li>Command line arguments</li>
                        </ul>
                        <h4>6. Control Statements</h4>
                        <ul>
                            <li>if statement</li>
                            <li>if … else statement</li>
                            <li>if … elif … else statement</li>
                            <li>for loop</li>
                            <li>Infinite loops</li>
                            <li>Nested loops</li>
                            <li>The else suite</li>
                            <li>break statement</li>
                            <li>continue statement</li>
                            <li>pass statement</li>
                            <li>assert statement</li>
                            <li>return statement</li>
                        </ul>
                        <h4>7. Arrays In Python</h4>
                        <ul>
                            <li>Creating an array</li>
                            <li>Importing the array module</li>
                            <li>Indexing and slicing on arrays</li>
                            <li>Types of arrays</li>
                            <li>Working with arrays using numpy</li>
                            <li>Creating arrays using linspace</li>
                            <li>Creating arrays using logspace</li>
                            <li>Creating arrays using arange() function</li>
                            <li>Creating arrays using zeros() and ones() functions</li>
                            <li>Mathematical operations on arrays</li>
                            <li>Comparing arrays</li>
                            <li>Aliasing the arrays</li>
                            <li>Viewing and Copying arrays</li>
                            <li>Slicing and indexing in numpy arrays</li>
                            <li>Dimensions of arrays</li>
                            <li>Attributes of an array</li>
                            <li>reshape()</li>
                            <li>flatten()</li>
                            <li>Working with Multi dimensional arrays
                                <ul>
                                    <li>The array() function</li>
                                    <li>ones() and zeros() functions</li>
                                    <li>eye() function</li>
                                </ul>
                            </li>
                            <li>reshape() function</li>
                            <li>Indexing in multi dimensional arrays</li>
                            <li>Slicing the multi dimensional arrays</li>
                            <li>Matrices in numpy</li>
                        </ul>
                        <h4>8. Strings And Characters</h4>
                        <ul>
                            <li>Creating strings</li>
                            <li>Length of a string</li>
                            <li>Indexing in strings</li>
                            <li>Repeating the strings</li>
                            <li>Concatenation of strings</li>
                            <li>Checking membership</li>
                            <li>Comparing strings</li>
                            <li>Removing spaces from a string</li>
                            <li>Finding sub strings</li>
                            <li>Strings are immutable</li>
                            <li>Replacing a string with another string</li>
                            <li>Splitting and joining strings</li>
                            <li>Changing case of a string</li>
                            <li>Checking starting and ending of a string</li>
                            <li>String testing methods</li>
                            <li>Formatting the strings</li>
                            <li>Sorting strings</li>
                        </ul>
                        <h4>9. Functions</h4>
                        <ul>
                            <li>Defining a function</li>
                            <li>Calling a function</li>
                            <li>Returning results from a function</li>
                            <li>Returning multiple values from a function</li>
                            <li>Functions are first class objects</li>
                            <li>Pass by object reference</li>
                            <li>Formal and actual arguments</li>
                            <li>Positional arguments</li>
                            <li>Default arguments</li>
                            <li>Variable length arguments</li>
                            <li>Local and global variables</li>
                            <li>The global keyword</li>
                            <li>Passing a group of elements to a function</li>
                            <li>Recursive functions</li>
                            <li>Lambdas
                                <ul>
                                    <li>Using lambdas with filter() function</li>
                                    <li>Using lambdas with map() function</li>
                                    <li>Using lambdas with reduce() function</li>
                                </ul>
                            </li>
                            <li>Function decorators</li>
                            <li>Generators</li>
                            <li>Structured programming</li>
                            <li>Creating our own modules in Python</li>
                            <li>The special variable name</li>
                        </ul>
                        <h4>10. Lists And Tuples</h4>
                        <ul>
                            <li>Creating lists using range() function</li>
                            <li>Updating the elements of a list</li>
                            <li>Concatenation of two lists</li>
                            <li>Repetition of lists</li>
                            <li>Membership in lists</li>
                            <li>Aliasing and cloning lists</li>
                            <li>Methods to process lists</li>
                            <li>Nested lists</li>
                            <li>List comprehensions</li>
                            <li>Tuples</li>
                            <li>Creating tuples</li>
                            <li>Accessing the tuple elements</li>
                            <li>Basic operations on tuples</li>
                            <li>Functions to process tuples</li>
                            <li>Nested tuples</li>
                        </ul>
                        <h4>11. Dictionaries</h4>
                        <ul>
                            <li>Operations on dictionaries</li>
                            <li>Dictionary methods</li>
                            <li>Using for loop with dictionaries</li>
                            <li>Sorting the elements of a dictionary using lambdas</li>
                            <li>Converting lists into dictionary</li>
                            <li>Converting strings into dictionary</li>
                            <li>Ordered dictionaries</li>
                        </ul>
                        <hr>
                        <h3>Advanced Python Syllabus</h3>
                        <h4>12. Introduction To Oops</h4>
                        <ul>
                            <li>Problems in Procedure Oriented Approach</li>
                            <li>Features of Object Oriented Programming</li>
                            <li>System (OOPS)</li>
                            <li>Classes and objects</li>
                            <li>Encapsulation</li>
                            <li>Abstraction</li>
                            <li>Inheritance</li>
                            <li>Polymorphism</li>
                        </ul>
                        <h4>13. Classes And Objects</h4>
                        <ul>
                            <li>self variable</li>
                            <li>Constructor</li>
                            <li>Types of variables</li>
                            <li>Namespaces</li>
                            <li>Types of methods</li>
                            <li>Passing members of one class to another class</li>
                            <li>Inner classes</li>
                        </ul>
                        <h4>14. Inheritance And Polymorphism</h4>
                        <ul>
                            <li>Constructors in inheritance</li>
                            <li>Overriding super class constructors and methods</li>
                            <li>super() method</li>
                            <li>Types of inheritance</li>
                            <li>Method Resolution Order (MRO)</li>
                            <li>Duck typing philosophy of Python</li>
                            <li>Operator overloading Method</li>
                            <li>overloading</li>
                            <li>Method overriding</li>
                        </ul>
                        <h4>15. Abstract Classes And Interfaces</h4>
                        <ul>
                            <li>Abstract Method and Abstract Class</li>
                            <li>Interfaces in Python</li>
                            <li>Abstract Classes vs. Interfaces</li>
                        </ul>
                        <h4>16. Exceptions</h4>
                        <ul>
                            <li>Errors in a Python program</li>
                            <li>Exceptions</li>
                            <li>Exception handling</li>
                            <li>Types of exceptions</li>
                            <li>The except block</li>
                            <li>assert statement</li>
                            <li>User-defined exceptions</li>
                            <li>Logging the exceptions</li>
                        </ul>
                        <h4>17. Files In Python</h4>
                        <ul>
                            <li>Types of files in Python</li>
                            <li>Working with text files with strings</li>
                            <li>Knowing whether a file exists or not</li>
                            <li>Working with binary files</li>
                            <li>Pickle in Python</li>
                            <li>seek() and tell()</li>
                            <li>Random accessing of binary files</li>
                            <li>Random accessing of binary files using mmap</li>
                            <li>Zipping and Unzipping files</li>
                            <li>Running other programs from Python program</li>
                        </ul>
                        <h4>18. Regular Expressions In Python</h4>
                        <ul>
                            <li>Sequence characters in regular expressions</li>
                            <li>Quantifiers in regular expressions</li>
                            <li>Special characters in regular expressions</li>
                            <li>Using regular expressions on files</li>
                            <li>Retrieving information from a HTML file</li>
                        </ul>
                        <h4>19. Date And Time</h4>
                        <ul>
                            <li>The epoch</li>
                            <li>Date and time now</li>
                            <li>Combining date and time</li>
                            <li>Formatting dates and times</li>
                            <li>Finding durations using timedelta</li>
                            <li>Comparing two dates</li>
                            <li>Sorting dates</li>
                            <li>Stopping execution temporarily</li>
                            <li>Knowing the time taken by a program</li>
                            <li>Working with calendar module</li>
                        </ul>
                        <h4>20. Threads</h4>
                        <ul>
                            <li>Differences between process and thread</li>
                            <li>Concurrent programming and GIL Uses of threads</li>
                            <li>Creating threads in Python</li>
                            <li>Thread class methods</li>
                            <li>Single tasking using a thread</li>
                            <li>Multi tasking using multiple threads</li>
                            <li>Thread synchronization</li>
                            <li>Avoiding deadlocks in a program</li>
                            <li>Communication between threads</li>
                            <li>Thread communication using nofity() and wait() methods</li>
                            <li>Thread communication using a queue Daemon threads</li>
                        </ul>
                        <h4>21. Graphical User Interface Gui In Python</h4>
                        <ul>
                            <li>The root window</li>
                            <li>Fonts and colors</li>
                            <li>Working with containers</li>
                            <li>Canvas</li>
                            <li>Frame</li>
                            <li>Widgets
                                <ul>
                                    <li>Button widget</li>
                                    <li>Label widget</li>
                                    <li>Message widget</li>
                                    <li>Text widget</li>
                                    <li>Scrollbar widget</li>
                                    <li>Checkbutton widget</li>
                                    <li>Radiobutton widget</li>
                                    <li>Entry widget</li>
                                    <li>Spinbox widget</li>
                                    <li>Listbox widget</li>
                                    <li>Menu widget</li>
                                </ul>
                            </li>
                        </ul>
                        <h4>22. Networking In Python</h4>
                        <ul>
                            <li>TCP/IP Protocol</li>
                            <li>User Datagram Protocol (UDP)</li>
                            <li>Sockets</li>
                            <li>Knowing IP Address</li>
                            <li>Reading the source code of a web page</li>
                            <li>Downloading a web page from Internet</li>
                            <li>Downloading an image from Internet</li>
                            <li>TCP/IP Server and Client</li>
                            <li>UDP Server and Client</li>
                            <li>File server</li>
                            <li>File client</li>
                            <li>Sending a simple mail</li>
                        </ul>
                        <h4>23. Python'S Database Connectivity</h4>
                        <ul>
                            <li>Advantages of a DBMS over files</li>
                            <li>Working with MySQL database in Python</li>
                            <li>Operations on rows of a table</li>
                            <li>Creating database tables through Python</li>
                            <li>Working with Oracle database in Python</li>
                            <li>Stored procedures</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>