<div class="container-fluid" ng-controller="oracleController">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/quickbooks.jpg" alt="QuickBooks-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/oracle.png" alt="QuickBooks Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>QuickBooks Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>1. Introduction on Quick Books</h4>
                        <ul>
                        	<li>Setting Up Chart of Accounts</li>
                        	<li>Setting Up Opening Balances</li>
                        	<li>Entering Open Items</li>
                        	<li>Setup payroll Information</li>
                        </ul>
                        <h4>2. The Sales Process</h4>
                        <ul>
                        	<li>Tracking Company Sales</li>
                        	<li>Setting up Customers</li>
                        	<li>Recording Sales</li>
                        	<li>Recording Payments from Customers</li>
                        	<li>Making Bank Deposits</li>
                        </ul>
                        <h4>3. Tracking Revenue</h4>
                        <ul>
                        	<li>Creating Customer Reports</li>
                        	<li>Writing off a bad debt</li>
                        	<li>Creating Sales Reports</li>
                        </ul>
                        <h4>4. Managing Expenses</h4>
                        <ul>
                        	<li>Entering expenses into Quick Books</li>
                        	<li>Setting up Vendors</li>
                        	<li>Activating Class Tracking</li>
                        	<li>Tracking Company Credit Card expenses</li>
                        	<li>Accounts payable reports</li>
                        </ul>
                        <h4>5. Setting up Employees</h4>
                        <h4>6. Reports & Graphs</h4>
                        <ul>
                        	<li>All Types of Reports on Cash and Accrual Basis</li>
                        </ul>
                        <h4>7. Bank Reconciliation</h4>
                        <h4>8. Passing Journal Entries</h4>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>