<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/remedy-ticketing-tool.jpg" alt="Remedy-Ticketing-Tool-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Remedy Ticketing Tool Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>12345</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

       <div class="row">
            <div class="training-modes">
                <h3>Available Modes of Training</h3>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/online-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>Online Training</h4>
                            <p class="text-justify">Conducted through the virtual classroom also have the same program flow with theory and practical sessions. Our Labs can be accessed online from across the world allowing our online training student to make the best use of the infrastructure from the comfort of their home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/classroom-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-site Training</h4>
                            <p class="text-justify">Trainings will be conducted on a daily basis. Practical exercises are provided for the topics conducted on daily basis to be worked upon during the lab session.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/on-demand-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-demand Training</h4>
                            <p class="text-justify">Select your flexible timings at your convenience for one-to-one training. You individually will assigned a trainer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>To learn this course, first you must have a good knowledge in basics of software</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>Remedy 7 is a workflow tool for managing requests and their resolution. It is available to subscribed departments at NYU. This guide will introduce you to the basic layout and functions of Remedy, acquaint you with the steps you need to follow in order to complete common tasks, and provide you with a glossary of common Remedy terms and labels. Requests are submitted by NYU community members via phone, email, web, and walk-in, and are stored by Remedy as “tickets.” Using Remedy, analysts and other support staff create, modify, manage, and update these tickets, including all relevant information from start to finish. This guide focuses on tickets related to two types of requests or “incidents”: service restoration requests (for reinstatement or repair of an existing service) and service requests (for installation or implementation of a new service).</p>
                    <p>The Remedy Action Request System, also know as Remedy or ARS, is a client-server trouble ticketing application produced by BMC and used by organizations to track internal problems and customer-reported issues</p>
                    <p>The BMC Remedy IT Service Management (BMC Remedy ITSM) Maintenance toolis a common product diagnostic utility that is included when you install any of the BMC Remedy ITSM Suite core applications (BMC Asset Management, BMC Change Management, and BMC Service Desk).</p>
                    <p>An issue tracking system (also ITS, trouble ticket system, support ticket, request management or incident ticket system) is a computer software package that manages and maintains lists of issues, as needed by an organization.</p>
                 </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. Introduction <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
									<li>End user focused; great user interface</li>
									<li>Designed based on customer feedback</li>
									<li>Addresses usability concerns / accelerates learning curve</li>
									<li>SMEs utilized in content creation and development</li>
									<li>Bridges the gap between learning ITIL to using ITSM</li>
									<li>Always available and self paced</li>
									<li>Accommodate a large number of users</li>
									<li>Navigate to any topic that you need/want to learn about</li>
									<li>Demos and "Try-It" exercises allow for great interaction</li>
									<li>Revisit any module/topic/demonstration as needed</li>
									<li>Leverage WBTs as a job aid to be more productive</li>
									<li>Great reference tool for training reinforcement</li>
									<li>No travel expenses to your sites to deliver training</li>
									<li>Quizzes to reinforce concepts and measure completion</li>
									<li>Train early and often - vision of the end state at beginning</li>
									<li>Accelerate requirements gathering, workshops, user testing</li>
									<li>Created in industry leading Adobe Captivate (with professional audio)</li>
									<li>SCORM 1.2 and 2004 Compliant - host on your LMS</li>
									<li>Small investment in training helps larger ITSM investments succeed!</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#two" aria-expanded="false" aria-controls="collapseTwo">2. Unique WBT Delivery Options <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Flexible (and unique) pricing options:
                                    <ul>
                                        <li>Single user for x days</li>
                                        <li>Site license - unlimited users, access, hosting rights</li>
                                        <li>Site license - unlimited users, access, hosting & editable</li>
                                        <li>Source files provided that can be modified (by Raptek or customer)</li>
                                        <li>Allow for the addition of new content (WBT best practice)</li>
                                        <li>Great for branding and/or customizing</li>
                                        <li>30 Day Money Back Guarantee </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#three" aria-expanded="false" aria-controls="collapseThree">3. BMC Remedy Versions Available:  7.0, 7.1, 7.5, 7.6, 7.6.04, 8.0, 8.1 and 9.0 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
									<li>Rapid Technologies WBT - Using Remedy Service Desk</li>
									<li>Rapid Technologies WBT - Using Remedy Change and Release Management</li>
									<li>Rapid Technologies WBT - Using Remedy Asset Management</li>
									<li>Rapid Technologies WBT - Using Remedy Service Level Management</li>
									<li>Rapid Technologies WBT - Using Remedy Service Request Management</li>
									<li>Rapid Technologies WBT - Introduction to BMC Atrium CMDB</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BGhlHsFBhLE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>The trainer is very experienced, knowledgeable, very patient and helpful. My trainer gives very simple examples to explain Remedy Ticketing Tool concepts and his way of teaching is interesting.</p>
                            <h4 class="pull-right">&#x2015; Maheshwari</h4>
                        </div>
                        <div class="item slide">
                            <p>I started my career as a fresher so I was unable to adjust, due to lack of technical skills. When I join to weekend batches in Pro-elearning. I learned a lot of Technical skills required in industry.</p>
                            <h4 class="pull-right">&#x2015; Subrahmanyam</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>
                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>