<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/remedy-ticketing-tool.jpg" alt="Remedy-Ticketing-Tool-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Remedy Ticketing Tool Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Remedy Ticketing Tool Course Content</h1>
                        <hr>
                        <ul>
                            <li>End user focused; great user interface</li>
                            <li>Designed based on customer feedback</li>
                            <li>Addresses usability concerns / accelerates learning curve</li>
                            <li>SMEs utilized in content creation and development</li>
                            <li>Bridges the gap between learning ITIL to using ITSM</li>
                            <li>Always available and self paced</li>
                            <li>Accommodate a large number of users</li>
                            <li>Navigate to any topic that you need/want to learn about</li>
                            <li>Demos and "Try-It" exercises allow for great interaction</li>
                            <li>Revisit any module/topic/demonstration as needed</li>
                            <li>Leverage WBTs as a job aid to be more productive</li>
                            <li>Great reference tool for training reinforcement</li>
                            <li>No travel expenses to your sites to deliver training</li>
                            <li>Quizzes to reinforce concepts and measure completion</li>
                            <li>Train early and often - vision of the end state at beginning</li>
                            <li>Accelerate requirements gathering, workshops, user testing</li>
                            <li>Created in industry leading Adobe Captivate (with professional audio)</li>
                            <li>SCORM 1.2 and 2004 Compliant - host on your LMS</li>
                            <li>Small investment in training helps larger ITSM investments succeed!</li>
                        </ul>
                        <h4>UNIQUE WBT DELIVERY OPTIONS</h4>
                        <p>Flexible (and unique) pricing options:</p>
                        <ul>
                            <li>Single user for x days</li>
                            <li>Site license - unlimited users, access, hosting rights</li>
                            <li>Site license - unlimited users, access, hosting & editable</li>
                            <li>Source files provided that can be modified (by Raptek or customer)</li>
                            <li>Allow for the addition of new content (WBT best practice)</li>
                            <li>Great for branding and/or customizing</li>
                            <li>30 Day Money Back Guarantee </li>
                        </ul>
                        <h4>BMC REMEDY VERSIONS AVAILABLE:  7.0, 7.1, 7.5, 7.6, 7.6.04, 8.0, 8.1 AND 9.0</h4>
                        <ul>
                            <li>Rapid Technologies WBT - Using Remedy Service Desk</li>
                            <li>Rapid Technologies WBT - Using Remedy Change and Release Management</li>
                            <li>Rapid Technologies WBT - Using Remedy Asset Management</li>
                            <li>Rapid Technologies WBT - Using Remedy Service Level Management</li>
                            <li>Rapid Technologies WBT - Using Remedy Service Request Management</li>
                            <li>Rapid Technologies WBT - Introduction to BMC Atrium CMDB</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>