<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/salesforce-administrator.jpg" alt="Salesforce-Administrator-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Salesforce Administrator Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Salesforce Administrator Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>Security Confirmation</h4>
                        <ul>
                        	<li>Activate your computer for Salesforce.com CRM</li>
                        </ul>
                        <h4>Navigation</h4>
                        <ul>
                        	<li>Set up Admin options & User Interface</li>
                        </ul>
                        <h4>Organization Administration of Salesforce.com CRM</h4>
                        <ul>
                        	<li>Set your organization's language & locale</li>
                        	<li>How to Manage organization's currency</li>
                        </ul>
                        <h4>Customization in Salesforce.com CRM</h4>
                        <ul>
                        	<li>How to Create custom profiles & custom fields</li>
                        	<li>How to Define dependent picklists</li>
                        	<li>How to Customize lookup fields & formula fields</li>
                        	<li>How to Customize page layouts</li>
                        	<li>Customize standard related lists</li>
                        	<li>Learn about record types & business processes</li>
                        	<li>Use field-level security</li>
                        </ul>
                        <h4>Security & Access in Salesforce.com CRM</h4>
                        <ul>
                        	<li>How to Create & manage your users</li>
                        	<li>How to Set organization-wide defaults</li>
                        	<li>Learn about record access</li>
                        	<li>How to Create the role hierarchy</li>
                        	<li>Learn about role transfer & mass transfer functionality</li>
                        	<li>Learn about the Sharing model</li>
                        	<li>Manually share records</li>
                        	<li>Set up opportunity team selling & account teams</li>
                        	<li>Learn about folder access</li>
                        </ul>
                        <h4>Workflow in Salesforce.com CRM</h4>
                        <ul>
                        	<li>How to Define workflow</li>
                        	<li>How to Set up workflow rules</li>
                        	<li>How to Set up workflow tasks & alerts</li>
                        </ul>
                        <h4>Workflow Approvals</h4>
                        <ul>
                        	<li>Plan approvals using workflow</li>
                        	<li>How to use the approval wizard - standard vs. jump start</li>
                        	<li>Create workflow approvals</li>
                        </ul>
                        <h4>Data Validation in Salesforce.com CRM</h4>
                        <ul>
                        	<li>Learn about Salesforce CRM data validation</li>
                        	<li>Create data validation rules</li>
                        	<li>Learn about custom field unique and duplicate properties</li>
                        	<li>Execute an initial import</li>
                        	<li>Update via the import wizard</li>
                        </ul>
                        <h4>Data Utilities for Import and manage data</h4>
                        <ul>
                        	<li>Importing overview</li>
                        	<li>Learn about import solutions & custom object records using the data loader</li>
                        	<li>How to use mass delete</li>
                        	<li>Initiate weekly export</li>
                        	<li>How to use storage</li>
                        </ul>
                        <h4>Analytics & Reports in Salesforce.com CRM</h4>
                        <ul>
                        	<li>Create custom reports</li>
                        	<li>How to use advanced filters</li>
                        	<li>How to use conditional highlighting</li>
                        	<li>How to use custom summary formulas</li>
                        	<li>How to use dashboards</li>
                        </ul>
                        <h4>Marketing Administration</h4>
                        <ul>
                        	<li>Terminology overview</li>
                        	<li>Use the Integrated Campaign Builder</li>
                        	<li>Learn about lead assignment setup</li>
                        	<li>Learn Web-to-lead & auto-response rules</li>
                        </ul>
                        <h4>Service & Support Administration</h4>
                        <ul>
                        	<li>Learn about case escalation</li>
                        	<li>Identify solution categories, & suggested solutions</li>
                        	<li>How to set up the self-service portal</li>
                        	<li>Mass manage self-service portal users</li>
                        </ul>
                        <h4>Extending Salesforce CRM</h4>
                        <ul>
                        	<li>What are custom objects</li>
                        	<li>Learn about custom tabs</li>
                        	<li>Learn about custom Web tabs</li>
                        	<li>Build a custom app</li>
                        </ul>
                        <h4>The AppExchange</h4>
                        <ul>
                        	<li>What is the AppExchange</li>
                        	<li>How to install an app</li>
                        	<li>How to delete an app</li>
                        </ul>
                        <div class="trainer-details mt-30">
                            <h4>Trainer Details</h4>
                            <ul>
                                <li>Total 7+yrs of IT industry experience</li>
                                <li>4+yrs of experience in Salesforce</li>
                                <li><b>Developer 401 and Admin 201 certifications</b></li>
                            </ul>
                        </div>
                        <div class="course-highlights mt-30">
                            <h4>Course outcome of Salesforce Administrator Training</h4>
                            <p>When you complete this course, you’ll be able to:</p>
                            <ol>
                                <li>Customize Salesforce CRM application (like page layouts, fields, tabs, and business processes etc)</li>
                                <li>Manage a secure Salesforce CRM environment</li>
                                <li>Import and maintain clean data</li>
                                <li>Create reports and dashboards</li>
                                <li>Deploy and use features of Salesforce CRM Sales, Salesforce Salesforce CRM Marketing, Salesforce CRM Service, Admin Console, and the AppExchange</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>