<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/salesforce-developer.jpg" alt="Salesforce-Developer-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Salesforce Developer Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Salesforce Developer Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>Configuration</h4>
                        <ul>
                        	<li>CRM Overview</li>
                        	<li>Introduction to Cloud Computing</li>
                        	<li>Salesforce Basics</li>
                        	<li>Understanding SFDC UI</li>
                        	<li>Personal Setup</li>
                        	<li>Reset Person Info ~ Password ~ Security Token</li>
                        	<li>Understanding Salesforce Editions</li>
                        	<li>Configuring Company Setup</li>
                        	<li>Security and Identity Confirmation</li>
                        </ul>
                        <h4>Data Utilities</h4>
                        <ul>
                        	<li>Creating ~ Editing ~ Deleting: Records</li>
                        	<li>Mass Data Operations</li>
                        	<li>Mass Upload ~ Mass Update ~ Mass Delete ~ Mass Transfer</li>
                        	<li>Exporting Data</li>
                        	<li>Scheduling Exports</li>
                        	<li>Data Storage Usage</li>
                        	<li>Data Loader</li>
                        </ul>
                        <h4>Data Modeling</h4>
                        <ul>
                        	<li>Introduction to SFDC Components</li>
                        	<li>Customizing Standard SFDC Components</li>
                        	<li>Creating Custom SFDC Components</li>
                        	<li>Understanding Data Structure</li>
                        	<li>SFDC Data Components - Overview</li>
                        	<li>Data Relationships</li>
                        	<li>Lookup Relations</li>
                        	<li>Master Detail Relationships</li>
                        	<li>Many to Many Relationship</li>
                        	<li>Junction Objects</li>
                        	<li>Creating Field Dependencies</li>
                        </ul>
                        <h4>Administration</h4>
                        <ul>
                        	<li>Managing Users</li>
                        	<li>Managing Roles</li>
                        	<li>Managing Profiles</li>
                        	<li>Organization Wide Default</li>
                        	<li>Defining Sharing Rules</li>
                        	<li>Field Level Security</li>
                        	<li>Field Accessibilities</li>
                        </ul>
                        <h4>Customization</h4>
                        <ul>
                        	<li>Customizing Email Templates</li>
                        	<li>Creating Email Templates</li>
                        	<li>Mass Emails</li>
                        	<li>Introduction to SFDC Home Pages</li>
                        	<li>Customizing Home Page Layouts</li>
                        	<li>Creating Custom Home Pages</li>
                        	<li>Customizing Page Layouts</li>
                        	<li>Customizing Display - Tabs & Pages</li>
                        	<li>Customizing Views</li>
                        	<li>Creating and Managing User Groups</li>
                        </ul>
                        <h4>Business Logics</h4>
                        <ul>
                        	<li>Automation using Formulas</li>
                        	<li>Defining Validation Rules</li>
                        	<li>Creating SFDC Flows</li>
                        	<li>Email Alerts</li>
                        	<li>Automatic Field Updates</li>
                        	<li>Assigning Tasks</li>
                        	<li>Workflow Rules & Approval Processes</li>
                        	<li>Record Types</li>
                        	<li>Roll-Up Summary</li>
                        </ul>
                        <h4>Reporting & Analytics</h4>
                        <ul>
                        	<li>Working with Standard Reports</li>
                        	<li>Creating reports</li>
                        	<li>Report Formats</li>
                        	<li>Controlling Report Accessibility</li>
                        	<li>Scheduling Reports</li>
                        	<li>Defining Report Types</li>
                        	<li>Including Charts</li>
                        	<li>Creating Dashboards</li>
                        	<li>Dashboard Refreshes</li>
                        </ul>
                        <h4>Visual force</h4>
                        <ul>
                        	<li>Custom Controllers</li>
                        	<li>Custom List Controllers</li>
                        	<li>Controller Extensions</li>
                        	<li>Overriding Standard Pages</li>
                        	<li>Using Input Components</li>
                        	<li>Visualforce Page Blocks</li>
                        	<li>Creating Email Templates with Visualforce</li>
                        	<li>Creating VF Pages in IDE</li>
                        	<li>Configuring Development Mode</li>
                        	<li>Creating VF Pages in UI</li>
                        	<li>Standard Controllers</li>
                        	<li>Standard List Controllers</li>
                        	<li>Visualforce Forms</li>
                        	<li>Custom List Controllers</li>
                        	<li>Adding Interactivity to Pages</li>
                        	<li>HTML in Visualforce</li>
                        	<li>CSS in Visualforce</li>
                        </ul>
                        <h4>APEX</h4>
                        <ul>
                        	<li>Basics - OOPS Concept</li>
                        	<li>Understanding Classes</li>
                        	<li>Introduction to APEX</li>
                        	<li>Data Types</li>
                        	<li>Variables</li>
                        	<li>Expressions</li>
                        	<li>Assignment Statements</li>
                        	<li>Conditional (If-Else) Statements</li>
                        	<li>Creating APEX Classes in IDE</li>
                        	<li>SOSL-Salesforce Object Search Language</li>
                        	<li>SOQL-Salesforce Object Query Language</li>
                        	<li>Creating APEX Classes in UI</li>
                        	<li>Creating APEX Triggers in IDE</li>
                        	<li>Creating APEX Triggers in UI</li>
                        	<li>Understanding APEX Methods</li>
                        	<li>Creating Search Layouts</li>
                        	<li>Creating Test Classes</li>
                        </ul>
                        <h4>AppExchange</h4>
                        <ul>
                        	<li>Introduction to AppExchange</li>
                        	<li>Installing Apps from AppExchange</li>
                        </ul>
                        <h4>Development on IDE</h4>
                        <ul>
                        	<li>Working on Eclipse</li>
                        	<li>Configuring Force.com IDE</li>
                        	<li>Creating Force.com Projects</li>
                        	<li>Working with Metadata Components</li>
                        </ul>
                        <div class="trainer-details mt-30">
                            <h4>Trainer Details</h4>
                            <ul>
                                <li>Total 7+yrs of IT industry experience</li>
                                <li>4+yrs of experience in Salesforce</li>
                                <li><b>Developer 401 and Admin 201 certifications</b></li>
                            </ul>
                        </div>
                        <div class="course-highlights mt-30">
                            <h4>Attendees also learn:</h4>
                            <ol>
                                <li>Resume Preparation Guidelines and Tips.</li>
                                <li>Mock Interviews and Interview Preparation Tips.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>