<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/salesforce-developer.jpg" alt="Salesforce-Developer-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Salesforce Developer Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="training-modes">
                <h3>Available Modes of Training</h3>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/online-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>Online Training</h4>
                            <p class="text-justify">Conducted through the virtual classroom also have the same program flow with theory and practical sessions. Our Labs can be accessed online from across the world allowing our online training student to make the best use of the infrastructure from the comfort of their home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/classroom-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-site Training</h4>
                            <p class="text-justify">Trainings will be conducted on a daily basis. Practical exercises are provided for the topics conducted on daily basis to be worked upon during the lab session.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/on-demand-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-demand Training</h4>
                            <p class="text-justify">Select your flexible timings at your convenience for one-to-one training. You individually will assigned a trainer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>This course requires at least two years of work experience in IT maintenance.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
					<p>Salesforce Apex & Visualforce Controllers training builds a power developer in you who can create Salesforce applications using Apex code toolset and the Visualforce framework.</p>
					<p>This Salesforce development training course will impart the knowledge and skills to build the applications; test and deploy Apex code.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Configuration <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                        			<li>CRM Overview</li>
                        			<li>Introduction to Cloud Computing</li>
                        			<li>Salesforce Basics</li>
                        			<li>Understanding SFDC UI</li>
                        			<li>Personal Setup</li>
                        			<li>Reset Person Info ~ Password ~ Security Token</li>
                        			<li>Understanding Salesforce Editions</li>
                        			<li>Configuring Company Setup</li>
                        			<li>Security and Identity Confirmation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Data Utilities <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                        			<li>Creating ~ Editing ~ Deleting: Records</li>
                        			<li>Mass Data Operations</li>
                        			<li>Mass Upload ~ Mass Update ~ Mass Delete ~ Mass Transfer</li>
                        			<li>Exporting Data</li>
                        			<li>Scheduling Exports</li>
                        			<li>Data Storage Usage</li>
                        			<li>Data Loader</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. Data Modeling <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                        			<li>Introduction to SFDC Components</li>
                        			<li>Customizing Standard SFDC Components</li>
                        			<li>Creating Custom SFDC Components</li>
                        			<li>Understanding Data Structure</li>
                        			<li>SFDC Data Components - Overview</li>
                        			<li>Data Relationships</li>
                        			<li>Lookup Relations</li>
                        			<li>Master Detail Relationships</li>
                        			<li>Many to Many Relationship</li>
                        			<li>Junction Objects</li>
                        			<li>Creating Field Dependencies</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. Administration <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                        			<li>Managing Users</li>
                        			<li>Managing Roles</li>
                        			<li>Managing Profiles</li>
                        			<li>Organization Wide Default</li>
                        			<li>Defining Sharing Rules</li>
                        			<li>Field Level Security</li>
                        			<li>Field Accessibilities</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. Customization <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                        			<li>Customizing Email Templates</li>
                        			<li>Creating Email Templates</li>
                        			<li>Mass Emails</li>
                        			<li>Introduction to SFDC Home Pages</li>
                        			<li>Customizing Home Page Layouts</li>
                        			<li>Creating Custom Home Pages</li>
                        			<li>Customizing Page Layouts</li>
                        			<li>Customizing Display - Tabs & Pages</li>
                        			<li>Customizing Views</li>
                        			<li>Creating and Managing User Groups</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#businessObjects" aria-expanded="false" aria-controls="collapseSix">6. Business Logics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="businessObjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul>
                        			<li>Automation using Formulas</li>
                        			<li>Defining Validation Rules</li>
                        			<li>Creating SFDC Flows</li>
                        			<li>Email Alerts</li>
                        			<li>Automatic Field Updates</li>
                        			<li>Assigning Tasks</li>
                        			<li>Workflow Rules & Approval Processes</li>
                        			<li>Record Types</li>
                        			<li>Roll-Up Summary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#errorCaseMgmt" aria-expanded="false" aria-controls="collapseSeven">7. Reporting & Analytics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="errorCaseMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
                        			<li>Working with Standard Reports</li>
                        			<li>Creating reports</li>
                        			<li>Report Formats</li>
                        			<li>Controlling Report Accessibility</li>
                        			<li>Scheduling Reports</li>
                        			<li>Defining Report Types</li>
                        			<li>Including Charts</li>
                        			<li>Creating Dashboards</li>
                        			<li>Dashboard Refreshes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#addFeatures" aria-expanded="false" aria-controls="collapseEight">8. Visual force <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="addFeatures" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
                        			<li>Custom Controllers</li>
                        			<li>Custom List Controllers</li>
                        			<li>Controller Extensions</li>
                        			<li>Overriding Standard Pages</li>
                        			<li>Using Input Components</li>
                        			<li>Visualforce Page Blocks</li>
                        			<li>Creating Email Templates with Visualforce</li>
                        			<li>Creating VF Pages in IDE</li>
                        			<li>Configuring Development Mode</li>
                        			<li>Creating VF Pages in UI</li>
                        			<li>Standard Controllers</li>
                        			<li>Standard List Controllers</li>
                        			<li>Visualforce Forms</li>
                        			<li>Custom List Controllers</li>
                        			<li>Adding Interactivity to Pages</li>
                        			<li>HTML in Visualforce</li>
                        			<li>CSS in Visualforce</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#reviewExercise" aria-expanded="false" aria-controls="collapseNine">9. APEX <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="reviewExercise" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
                        			<li>Basics - OOPS Concept</li>
                        			<li>Understanding Classes</li>
                        			<li>Introduction to APEX</li>
                        			<li>Data Types</li>
                        			<li>Variables</li>
                        			<li>Expressions</li>
                        			<li>Assignment Statements</li>
                        			<li>Conditional (If-Else) Statements</li>
                        			<li>Creating APEX Classes in IDE</li>
                        			<li>SOSL-Salesforce Object Search Language</li>
                        			<li>SOQL-Salesforce Object Query Language</li>
                        			<li>Creating APEX Classes in UI</li>
                        			<li>Creating APEX Triggers in IDE</li>
                        			<li>Creating APEX Triggers in UI</li>
                        			<li>Understanding APEX Methods</li>
                        			<li>Creating Search Layouts</li>
                        			<li>Creating Test Classes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#iws" aria-expanded="false" aria-controls="collapseNine">10. AppExchange <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="iws" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <ul>
                        			<li>Introduction to AppExchange</li>
                        			<li>Installing Apps from AppExchange</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#rtat" aria-expanded="false" aria-controls="collapseNine">11. Development on IDE <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="rtat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
                        			<li>Working on Eclipse</li>
                        			<li>Configuring Force.com IDE</li>
                        			<li>Creating Force.com Projects</li>
                        			<li>Working with Metadata Components</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tools" aria-expanded="false" aria-controls="collapseNine">12. Attendees also learn: <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tools" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
                                <ol>
                                	<li>Resume Preparation Guidelines and Tips.</li>
                                	<li>Mock Interviews and Interview Preparation Tips.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Trainer Info -->
                <div class="call-grid">
                    <h4 class="testimonials-heading text-center">Trainer Info</h4>
                    <ul>
                        <li>Total 7+yrs of IT industry experience</li>
                        <li>4+yrs of experience in Salesforce</li>
                        <li><b>Developer 401 and Admin 201 certifications</b></li>
                    </ul>
                </div>
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/di6iwHhrH6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>Faculty having good knowledge in Salesforce and we had a good interactive session with him while coming to the practical session, it was very good and easily understandable. Overall it was good to learn with him.</p>
                            <h4 class="pull-right">&#x2015; Swetha</h4>
                        </div>
                        <div class="item slide">
                            <p>It's very good so far, I'm making notes based on the slides as writing concepts down helps me retain the info so it's spot on.</p>
                            <h4 class="pull-right">&#x2015; Deepika</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>
