<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/sap-fico.jpg" alt="SAP-FICO-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="SAP FICO Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>SAP FICO Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>1.0 Introduction</h4>
                        <ul>
                        	<li>ERP Concepts</li>
                        	<li>Role of SAP Consultant</li>
                        	<li>Why SAP is in demand?</li>
                        	<li>Finance Overview: Transaction, Accounts and Accounting.</li>
                        </ul>
                        <h4>2.1 General Settings</h4>
                        <ul>
                        	<li>Define Company, Company Code, Credit Control Area, Business Area, Chart of Accounts and Fiscal Year. Assign Company Code to Company, Chart of Accounts and Fiscal Year, Create Tax Procedure and Attach to the Country</li>
                        </ul>
                        <h4>2.2 Posting Period</h4>
                        <ul>
                        	<li>Define Posting Period Variant</li>
                        	<li>Assign Posting Period Variant to company code</li>
                        	<li>Define Open and Close Posting periods</li>
                        </ul>
                        <h4>2.3 Document</h4>
                        <ul>
                        	<li>Define Document Types and Number Ranges</li>
                        </ul>
                        <h4>2.4 Account Group and Retained Earning Account</h4>
                        <ul>
                        	<li>Define Account Group and Retained Earning Account</li>
                        </ul>
                        <h4>2.5 Field Status Variant:</h4>
                        <ul>
                        	<li>Maintain Field Status Variant</li>
                        	<li>Assign Field Status Variant to Company Code</li>
                        </ul>
                        <h4>2.6 Tolerance Group</h4>
                        <ul>
                        	<li>Tolerance Group for GL Accounts
                                <ul>
                        	        <li>Tolerance Group for Employees</li>
                        	        <li>Assigning Users to Tolerance Groups</li>
                                </ul>
                            </li>
                        </ul>
                        <h4>2.7 Other Basic Steps</h4>
                        <ul>
                        	<li>Enable Fiscal Year Default</li>
                        	<li>Enable Default Value Date</li>
                        	<li>Check Company Code settings in Global parameters</li>
                        </ul>
                        <h4>2.8 Other topics in GL</h4>
                        <ul>
                        	<li>GL Master Creation</li>
                        	<li>Journal Entry Posting</li>
                        </ul>
                        <h4>Blocking of an GL Account</h4>
                        <ul>
                        	<li>Unblocking of an GL Account</li>
                        	<li>Changing of GL Master</li>
                        	<li>Display Changes/What Changes/how it was done</li>
                        	<li>Parking of an account</li>
                        	<li>Releasing the parking document by changing the amount.</li>
                        	<li>Releasing the parking document by deleting the document</li>
                        	<li>Difference between Park and Hold documents</li>
                        	<li>How to see an Account Balance</li>
                        </ul>
                        <h4>2.9 Reference Documents</h4>
                        <ul>
                        	<li>Sample document</li>
                        	<li>Account Assignment Model</li>
                        	<li>Recurring Entries</li>
                        </ul>
                        <h4>2.10 Reversal of Document</h4>
                        <ul>
                        	<li>Normal Reversal/Individual Reversal</li>
                        	<li>Mass Reversal</li>
                        	<li>Reversal of the Reversal</li>
                        </ul>
                        <h4>2.11 Open Item Management</h4>
                        <ul>
                        	<li>Full Clearing</li>
                        	<li>Partial Clearing</li>
                        	<li>Residual Clearing</li>
                        </ul>
                        <h4>3.0 Accounts Receivable(AR)</h4>
                        <ul>
                        	<li>Accounts Receivable(AR)</li>
                        </ul>
                        <h4>3.1 Settings in AR</h4>
                        <ul>
                        	<li>Account Group Creation</li>
                        	<li>Field Status</li>
                        	<li>No. Range Group and No. Ranges</li>
                        	<li>Assigning No. Range Group to Account Group</li>
                        	<li>Tolerance Group for Customers</li>
                        	<li>GL Accounts and Customer Master Creations</li>
                        	<li>Document Types and No. Ranges</li>
                        	<li>Posting Keys
                                <ul>
                        	        <li>Invoice Posting</li>
                        	        <li>Incoming Payment</li>
                        	        <li>Clearing Open Items</li>
                                </ul>
                            </li>
                        </ul>
                        <h4>3.2 Down Payment</h4>
                        <ul>
                        	<li>Down Payment</li>
                        	<li>Establishment between Recon a/c and Alternative Recon a/c</li>
                        	<li>Down Payment in Short-Cut Method</li>
                        </ul>
                        <h4>Customer Credit Memo</h4>
                        <ul>
                        	<li>Correspondence</li>
                        </ul>
                        <h4>4.0 Accounts Payable(AP)</h4>
                        <ul>
                        	<li>Accounts Payable(AP)</li>
                        </ul>
                        <h4>4.1 Settings in AP</h4>
                        <ul>
                        	<li>Account Group Creation</li>
                        	<li>Field Status</li>
                        	<li>No. Range Group and No. Ranges</li>
                        	<li>Assigning No. Range Group to Account Group</li>
                        	<li>Tolerance Group for Vendors</li>
                        	<li>GL Accounts and Vendor Master Creations(Bank Accounts)</li>
                        	<li>Document Types and No. Ranges</li>
                        	<li>Posting Keys</li>
                        	<li>Invoice Posting</li>
                        	<li>Outgoing Payment</li>
                        	<li>Clearing Open Items</li>
                        </ul>
                        <h4>4.2 Down Payment</h4>
                        <ul>
                        	<li>Down Payment</li>
                        	<li>Establishment between Recon a/c and Alternative Recon a/c</li>
                        	<li>Down Payment in Short-Cut Method</li>
                        </ul>
                        <h4>Vendor Credit Memo</h4>
                        <ul>
                        	<li>Correspondence</li>
                        </ul>
                        <h4>5.0 Special and Important Topics</h4>
                        <ul>
                        	<li>Sales Tax</li>
                        	<li>Clearing Outstanding between Customer and Vendor</li>
                        	<li>Cash Discount</li>
                        	<li>Integration between FI and MM</li>
                        	<li>Integration between FI and SD</li>
                        	<li>Financial Statement Version</li>
                        </ul>
                        <h4>6.0 Asset Accounting(AA)</h4>
                        <ul>
                        	<li>Chart of Depreciation</li>
                        	<li>Account Determination</li>
                        	<li>Screen Layout</li>
                        	<li>Asset Master Creation</li>
                        	<li>Asset Class</li>
                        	<li>Depreciation Keys etc.</li>
                        	<li>Acquisition of Asset</li>
                        	<li>Asset Sale</li>
                        	<li>Scrapping of an Asset</li>
                        	<li>Transfer of Asset</li>
                        </ul>
                        <h4>7.0 Reports and Management Information System</h4>
                        <ul>
                        	<li>GL Reports</li>
                        	<li>AR Reports</li>
                        	<li>AP Reports</li>
                        	<li>AA Reports</li>
                        	<li>MIS</li>
                        </ul>
                        <h4>CONTROLLING</h4>
                        <ul>
                        	<li>Controlling Basic Settings
                                <ul>
                        	        <li>Defining Controlling Area</li>
                        	        <li>Assigning Controlling Area to Company Codes</li>
                        	        <li>Defining Number Ranges for Controlling Documents</li>
                                </ul>
                            </li>
                        </ul>
                        <h4>8.0 Cost Element Accounting</h4>
                        <ul>
                        	<li>Creating Cost Element Groups</li>
                        	<li>Manual Creation of Primary and Secondary Cost Elements</li>
                        	<li>Automatic Creation of Primary and Secondary Cost Elements</li>
                        </ul>
                        <h4>9.0 Cost Center Accounting</h4>
                        <ul>
                        	<li>Creating Cost Center Hierarchy Key</li>
                        	<li>Creating Cost Center Groups</li>
                        	<li>Creating Cost Centers</li>
                        	<li>Manual Repost Line Items</li>
                        	<li>Automatic Reposting Line Items</li>
                        	<li>Periodic Reposting</li>
                        	<li>Creating Distribution Cycle</li>
                        </ul>
                        <h4>10.0 Internal Orders</h4>
                        <ul>
                        	<li>Creating Order Types</li>
                        	<li>Creating Number Ranges</li>
                        	<li>Creating Internal Orders</li>
                        </ul>
                        <h4>11.0 Profit Center Accounting</h4>
                        <ul>
                        	<li>Creating Profit Center Hierarchy</li>
                        	<li>Creating Profit Center Groups</li>
                        	<li>Creating Profit Centers</li>
                        	<li>Creating Dummy Profit Center</li>
                        	<li>Automatic Assignment of Balance Sheet A/c and P&L A/c to profit centers</li>
                        </ul>
                        <h4>12.0 Overview of Product Costing</h4>
                        <ul>
                        	<li>Overview of Product Costing</li>
                        </ul>
                        <h4>13.0 Overview of Profitability Analysis</h4>
                        <ul>
                        	<li>Overview of Profitability Analysis</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>