<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/sap-hana.jpg" alt="SAP-HANA-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="SAP HANA Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>SAP HANA Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>INTRODUCTION</h4>
                        <ul>
                        	<li>Evolution oh HANA</li>
                        	<li>Introduction to SAP HANA</li>
                        	<li>Introduction to SAP In?Memory</li>
                        	<li>Strategy and Technology</li>
                        	<li>HANA compare to BWA</li>
                        	<li>SAP HANA Landscape</li>
                        	<li>SAP In?Memory Computing Product</li>
                        	<li>Strategy and Roadmap</li>
                        </ul>
                        <h4>SAP HANA IN--MEMORYSIZING LOOK & FEEL</h4>
                        <ul>
                        	<li>In?Memory Computing Studio</li>
                        	<li>Administration view</li>
                        	<li>Navigator View</li>
                        	<li>System Monitor</li>
                        	<li>Information Modeler</li>
                        </ul>
                        <h4>ARCHITECTURE</h4>
                        <ul>
                        	<li>Architecture Overview</li>
                        	<li>IMCE and Surroundings</li>
                        	<li>Row Store</li>
                        	<li>Column Store</li>
                        	<li>Loading data into HANA</li>
                        	<li>Data Modeling concepts</li>
                        	<li>Reporting</li>
                        	<li>Persistent Layer</li>
                        	<li>Backup & Recovery</li>
                        </ul>
                        <h4>DATA PROVISIONING & REPLICATION</h4>
                        <ul>
                        	<li>Replication Server</li>
                        	<li>Replication Process  Replication Architecture</li>
                        	<li>Data Services</li>
                        	<li>SAP BODS and HANA</li>
                        	<li>Basic Data service Connection types</li>
                        	<li>Data services 4.0</li>
                        	<li>Full Extractor though ODP</li>
                        	<li>Configure Import server</li>
                        	<li>Create and execute a Data Service Job to Populate HANA</li>
                        </ul>
                        <h4>MODELING</h4>
                        <ul>
                        	<li>Introduction to Information Modeler</li>
                        	<li>Levels of Modeling</li>
                        	<li>Attribute Views</li>
                        	<li>Analytic Views</li>
                        	<li>Calculation Views</li>
                        	<li>Export & Import Trigger?based replication with SAP Landscape</li>
                        	<li>Approaching SAP HANA Modeling Connecting tables</li>
                        	<li>Advanced Modeling features</li>
                        	<li>Hierarchies</li>
                        	<li>Restricted & Calculated Measures</li>
                        	<li>Filter Operations and Variables</li>
                        	<li>Currency conversion</li>
                        	<li>Introduction to SQL script and Script based</li>
                        	<li>Processing Information Models</li>
                        	<li>Managing Modeling Content</li>
                        	<li>SAP HANA User Management and Privileges</li>
                        </ul>
                        <h4>REPORTING</h4>
                        <ul>
                        	<li>HANA, Reporting Layer and Connectivity option</li>
                        	<li>Business Objects BI 4.0</li>
                        	<li>Business Objects BI 4.0 Explorer</li>
                        	<li>Business Objects BI 4.0 Enterprise</li>
                        	<li>Crystal Reports via ODBC/JDBC Connections</li>
                        </ul>
                        <h4>Others, MS Excel USER MANAGEMENT</h4>
                        <ul>
                        	<li>Creation of Users</li>
                        	<li>Creation of Roles</li>
                        	<li>Creation of Role Hierarchy</li>
                        	<li>Assignment of Users to Roles</li>
                        	<li>Authentication</li>
                        	<li>IMCE Authorizations</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>