<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/sap-crm.jpg" alt="SAP-CRM-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">SAP CRM Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>12345</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>To learn this course, first you must have a good knowledge in basics of software</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>It is a part of SAP Business Suite to manage customer relationship. It supports all customer-focused business areas such as marketing, sales and service. It is implemented for different customer interaction channels, such as Interaction Centre, Internet, and Mobile clients (hand-held devices like laptop, mobile, etc.).</p>
                    <p>SAP Cloud for Customer (SAP C4C) is a software as a service (SaaS) platform for sales and service. The platform is composed of SAP Cloud for Sales and SAP Cloudfor Service, which are marketed as separate entities by SAP. SAP Cloud for Customer runs on the SAP HANA Cloud Platform (HCP).</p>
                    <p>SAP CRM is the CRM tool provided by SAP and is used for many a business process. SAP CRM is a part of SAP business suite. It can implement customized business processes, integrate to other SAP and non-SAP systems, help achieve CRM strategies. SAP CRM can help an organization to stay connected to customers.</p>
                    <p>CRM is the Customer Relationship Management tool of SAP is the leading customer management tool across the globe. CRM activities of an organisation related to sales, marketing, service delivery and other client facing front end activities are automated and managed by SAP CRM tool.</p>
                 </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. Overview of SAP CRM <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Architecture and evolution of SAP CRM</li>
									<li>Functionality overview of SAP CRM</li>
									<li>CRM Business Partner Master data</li>
									<li>CRM Product Master Data</li>
									<li>Business Transaction customizing</li>
									<li>SAP CRM 7.0 Ehp 1 Features</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#two" aria-expanded="false" aria-controls="collapseTwo">2. Introduction to OOABAP <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
									<li>Classes</li>
									<li>Inheritance</li>
									<li>Interfaces</li>
									<li>Polymorphism</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#three" aria-expanded="false" aria-controls="collapseThree">3. Business Transaction Programming/One order Framework <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
									<li>Function Modules for Reading Business Transactions</li>
									<li>Identifying relevant FM</li>
									<li>Coding using the FM</li>
									<li>Function Modules for Modifying the Business Transactions</li>
									<li>Identifying relevant FM</li>
									<li>Coding using the FM</li>
									<li>Function Modules for saving Business Transactions</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#four" aria-expanded="false" aria-controls="collapseFour">4. Error/Message Handling <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
									<li>Message Logging FMs</li>
									<li>Programming using Messaging FMs</li>
									<li>Logging the messages</li>
									<li>Searching for messages</li>
									<li>Deleting the messages</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#five" aria-expanded="false" aria-controls="collapseFive">5. Business Addin's in CRM and Programming BADI <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
									<li>Techniques for Finding Appropriate BAdi</li>
									<li>Implementing a BADI</li>
									<li>Action Profile BADI</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#six" aria-expanded="false" aria-controls="collapseSix">6. Introduction to Business Server Pages <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                               <ul>
									<li>Architecture of Business Server Pages</li>
									<li>Components of a Business Server page</li>
									<li>Controllers</li>
									<li>Business Server Page</li>
									<li>Page with flow logic</li>
									<li>View</li>
									<li>Page Fragment</li>
									<li>Navigation structure</li>
									<li>Application Class</li>
									<li>MIME Objects</li>
									<li>Page Attributes</li>
									<li>Layout</li>
									<li>Event Handlers</li>
									<li>BSP Programming models</li>
									<li>Basic Model</li>
									<li>MVC approach</li>
									<li>Creating an Online Bookshop catalog</li>
									<li>Using Basic HTML</li>
									<li>Using HTML Business</li>
									<li>Using MVC approach</li>
									<li>Debugging BSP Applications</li>
							   </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#seven" aria-expanded="false" aria-controls="collapseSeven">7. CRM Web UI Basics of CRM 7.0 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
									<li>UI Concepts</li>
									<li>Web UI Architecture</li>
									<li>Business Roles customizing</li>
									<li>Navigation Bar customizing</li>
									<li>WebUI Component Work bench</li>
									<li>WebUI Component Concept</li>
									<li>Elements of WebUI Component</li>
									<li>Component Controller</li>
									<li>Custom Controller</li>
									<li>Views</li>
									<li>View Controller</li>
									<li>Context</li>
									<li>Context nodes</li>
									<li>Runtime Repository</li>
									<li>UI Configuration/personalization</li>
									<li>Enhancing webUI components</li>
									<li>Transaction launcher</li>
									<li>GUI Transactions</li>
									<li>URL - Non BSP</li>
									<li>URL - BSP</li>
									<li>Logo Customizing</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eight" aria-expanded="false" aria-controls="collapseEight">8. CRM Web UI Technical CRM 2007 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
									<li>GENIL Model Browser</li>
									<li>GENIL BOL Browser</li>
									<li>Component Context</li>
									<li>View Context Class</li>
									<li>Context Nodes</li>
									<li>Attributes</li>
									<li>Getter and Setter Methods</li>
									<li>BOL Programming Basics:</li>
									<li>Objects in BOL Programming</li>
									<li>Classes and Interfaces in BOL Programming</li>
									<li>Setting UP BOL Service</li>
									<li>Accessing Component Sets and Components</li>
									<li>Query execution - Query Services</li>
									<li>Accessing the BOL entities/Fields</li>
									<li>Using BOL Collections</li>
									<li>BOL Transaction Programming</li>
									<li>Creating Transaction entities</li>
									<li>Accessing Transaction entities</li>
									<li>Modifying Transaction entities</li>
									<li>Defaulting the field values</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nine" aria-expanded="false" aria-controls="collapseNine">9. Creating a Custom Component <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
									<li>Creating a view</li>
									<li>Making a view Configurable</li>
									<li>Creating a View set</li>
									<li>Creating a context node</li>
									<li>Event Handlers</li>
									<li>Inbound and Outbound Plugs</li>
									<li>Navigation maintenance</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5QqL8l1ec1Y?start=44" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>Very simple and clear for a beginner. Any no brainer can understand the basics of SAP CRM.</p>
                            <h4 class="pull-right">&#x2015; Sagar</h4>
                        </div>
                        <div class="item slide">
                            <p>He taught every concept which feels like...Yeah! It makes sense. Every non technical person can learn this course easily.</p>
                            <h4 class="pull-right">&#x2015; Girija</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>
                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>