<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/sap-bi.jpg" alt="SAP-BI-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="SAP BI Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>SAP BI Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>SAP Netweaver2004s overview</h4>
                        <ul>
                        	<li>Overview of Different Software Components in Netweaver.</li>
                        	<li>Overview of Business Intelligence. And Glance of all the New Features.</li>
                        </ul>
                        <h4>Enterprise Data Warehousing - Data Modeling</h4>
                        <ul>
                        	<li>Info Objects</li>
                        	<li>Data store objects (all three types).</li>
                        	<li>Infocubes and Virtual Providers</li>
                        	<li>Multiproviders and Infosets</li>
                        </ul>
                        <h4>Enterprise Data Warehousing - ETL</h4>
                        <ul>
                        	<li>Master data extraction from Flat file (Attribute and Text)</li>
                        	<li>Transaction data loading to Basic Infocube.</li>
                        	<li>Data loading to Standard DSO and DSO to Infocube.</li>
                        </ul>
                        <h4>Enterprise Data Warehouse - New concepts</h4>
                        <ul>
                        	<li>Direct Data acquisition Using Virtual Providers.</li>
                        	<li>Real time Data acquisition from SAP systems and Non SAP systems.</li>
                        	<li>Remodeling and Repartitioning.</li>
                        	<li>Migration aspects.</li>
                        </ul>
                        <h4>New Data Flow concepts in Netweaver 2004s</h4>
                        <ul>
                        	<li>Transformations and different types of Transformations.</li>
                        	<li>DTP and Types of DTPs.</li>
                        	<li>Source systems and Data sources.</li>
                        </ul>
                        <h4>Enterprise Reporting and Query Analysis</h4>
                        <ul>
                        	<li>Analyzer</li>
                        	<li>Query Designer</li>
                        	<li>Report Designer.</li>
                        	<li>Web Application Designer</li>
                        	<li>Visual Composer Reporting</li>
                        </ul>
                        <h4>BI Performance</h4>
                        <ul>
                        	<li>Aggregates</li>
                        	<li>BI accelerator</li>
                        	<li>BI Statistics</li>
                        </ul>
                        <h4>BI-Integrated Planning</h4>
                        <ul>
                        	<li>Planning Environment and Planning Functions</li>
                        	<li>Planning in the Excel</li>
                        	<li>Planning on the Web</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>