<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/sap-crm.jpg" alt="SAP-CRM-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="SAP CRM Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>SAP CRM Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>Overview of SAP CRM</h4>
                        <ul>
                        	<li>Architecture and evolution of SAP CRM</li>
                        	<li>Functionality overview of SAP CRM</li>
                        	<li>CRM Business Partner Master data</li>
                        	<li>CRM Product Master Data</li>
                        	<li>Business Transaction customizing</li>
                        	<li>SAP CRM 7.0 Ehp 1 Features</li>
                        </ul>
                        <h4>Introduction to OOABAP</h4>
                        <ul>
                        	<li>Classes</li>
                        	<li>Inheritance</li>
                        	<li>Interfaces</li>
                        	<li>Polymorphism</li>
                        </ul>
                        <h4>Business Transaction Programming/ One order Framework</h4>
                        <ul>
                        	<li>Function Modules for Reading Business Transactions</li>
                        	<li>Identifying relevant FM</li>
                        	<li>Coding using the FM</li>
                        	<li>Function Modules for Modifying the Business Transactions</li>
                        	<li>Identifying relevant FM</li>
                        	<li>Coding using the FM</li>
                        	<li>Function Modules for saving Business Transactions</li>
                        </ul>
                        <h4>Error/Message Handling</h4>
                        <ul>
                        	<li>Message Logging FMs</li>
                        	<li>Programming using Messaging FMs</li>
                        	<li>Logging the messages</li>
                        	<li>Searching for messages</li>
                        	<li>Deleting the messages</li>
                        </ul>
                        <h4>Business Addin's in CRM and Programming BADI</h4>
                        <ul>
                        	<li>Techniques for Finding Appropriate BAdi</li>
                        	<li>Implementing a BADI</li>
                        	<li>Action Profile BADI</li>
                        </ul>
                        <h4>Introduction to Business Server Pages</h4>
                        <ul>
                        	<li>Architecture of Business Server Pages</li>
                        	<li>Components of a Business Server page</li>
                        	<li>Controllers</li>
                        	<li>Business Server Page</li>
                        	<li>Page with flow logic</li>
                        	<li>View</li>
                        	<li>Page Fragment</li>
                        	<li>Navigation structure</li>
                        	<li>Application Class</li>
                        	<li>MIME Objects</li>
                        	<li>Page Attributes</li>
                        	<li>Layout</li>
                        	<li>Event Handlers</li>
                        	<li>BSP Programming models</li>
                        	<li>Basic Model</li>
                        	<li>MVC approach</li>
                        	<li>Creating an Online Bookshop catalog</li>
                        	<li>Using Basic HTML</li>
                        	<li>Using HTML Business</li>
                        	<li>Using MVC approach</li>
                        	<li>Debugging BSP Applications</li>
                        </ul>
                        <h4>CRM Web UI Basics of CRM 7.0</h4>
                        <ul>
                        	<li>UI Concepts</li>
                        	<li>Web UI Architecture</li>
                        	<li>Business Roles customizing</li>
                        	<li>Navigation Bar customizing</li>
                        	<li>WebUI Component Work bench</li>
                        	<li>WebUI Component Concept</li>
                        	<li>Elements of WebUI Component</li>
                        	<li>Component Controller</li>
                        	<li>Custom Controller</li>
                        	<li>Views</li>
                        	<li>View Controller</li>
                        	<li>Context</li>
                        	<li>Context nodes</li>
                        	<li>Runtime Repository</li>
                        	<li>UI Configuration/ personalization</li>
                        	<li>Enhancing webUI components</li>
                        	<li>Transaction launcher</li>
                        	<li>GUI Transactions</li>
                        	<li>URL - Non BSP</li>
                        	<li>URL - BSP</li>
                        	<li>Logo Customizing</li>
                        </ul>
                        <h4>CRM Web UI Technical CRM 2007</h4>
                        <ul>
                        	<li>GENIL Model Browser</li>
                        	<li>GENIL BOL Browser</li>
                        	<li>Component Context</li>
                        	<li>View Context Class</li>
                        	<li>Context Nodes</li>
                        	<li>Attributes</li>
                        	<li>Getter and Setter Methods</li>
                        	<li>BOL Programming Basics:</li>
                        	<li>Objects in BOL Programming</li>
                        	<li>Classes and Interfaces in BOL Programming</li>
                        	<li>Setting UP BOL Service</li>
                        	<li>Accessing Component Sets and Components</li>
                        	<li>Query execution - Query Services</li>
                        	<li>Accessing the BOL entities/Fields</li>
                        	<li>Using BOL Collections</li>
                        	<li>BOL Transaction Programming</li>
                        	<li>Creating Transaction entities</li>
                        	<li>Accessing Transaction entities</li>
                        	<li>Modifying Transaction entities</li>
                        	<li>Defaulting the field values</li>
                        </ul>
                        <h4>Creating a Custom Component</h4>
                        <ul>
                        	<li>Creating a view</li>
                        	<li>Making a view Configurable</li>
                        	<li>Creating a View set</li>
                        	<li>Creating a context node</li>
                        	<li>Event Handlers</li>
                        	<li>Inbound and Outbound Plugs</li>
                        	<li>Navigation maintenance</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>