<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/sap-bo.jpg" alt="SAP-BO-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="SAP BO Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>SAP BO Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 6d</p>
                        <hr>
                        <h4>1) INTRODUCTION TO SAP BO AND DATA WAREHOUSING</h4>
                        <ul>
                        	<li>OLTP vs. OLAP</li>
                        	<li>Types of OLAP</li>
                        	<li>Data mart/Data warehouse Life cycle</li>
                        	<li>Star/Snow/Extended Star schema design</li>
                        </ul>
                        <h4>2) DATABASE CONCEPTS</h4>
                        <h5><b>Joins & Cardinality</b></h5>
                        <ul>
                        	<li>Views/Materialized Views</li>
                        	<li>Date/Time Functions</li>
                        	<li>Conversion functions</li>
                        	<li>Derived table & Stored Procedure</li>
                        </ul>
                        <h4>3) ARCHITECTURAL OVERVIEW</h4>
                        <ul>
                        	<li>Client tier components</li>
                        	<li>Application tier components</li>
                        	<li>Intelligence tier</li>
                        	<li>Processing tier</li>
                        	<li>Data tier</li>
                        	<li>Security management</li>
                        	<li>Information flow</li>
                        </ul>
                        <h4>4) UNIVERSE DESIGN</h4>
                        <ul>
                        	<li>Understanding Business Objects Universes</li>
                        	<li>Creating the Course Universe</li>
                        	<li>Building the Universe Structure</li>
                        	<li>Creating Dimension Objects</li>
                        	<li>Creating Measure Objects</li>
                        	<li>Resolving Loops in a Universe</li>
                        	<li>Resolving SQL Traps</li>
                        	<li>Using List of Values</li>
                        	<li>Applying Restrictions on Objects</li>
                        	<li>Using @Functions with Objects</li>
                        	<li>Using Hierarchies</li>
                        	<li>Deriving Tables & Indexes</li>
                        	<li>Working with Aggregate Awareness</li>
                        	<li>Designing Advanced Objects</li>
                        	<li>Creating Predefined Condition</li>
                        	<li>LOVs & Joins</li>
                        	<li>Securing Universes</li>
                        	<li>Implementing Universe Life Cycle Mgmt</li>
                        	<li>Maintaining & Optimizing Universes</li>
                        	<li>Creating Universe from Other Data sources</li>
                        </ul>
                        <h4>5) WEB INTELLIGENCE</h4>
                        <ul>
                        	<li>Understand concepts of Web intelligence</li>
                        	<li>Create Web Intelligence documents with Queries</li>
                        	<li>Restrict data returned by a query</li>
                        	<li>Design a report</li>
                        	<li>Enhance the presentation of data in reports</li>
                        	<li>Format a report</li>
                        	<li>Calculate data with formulas and variables</li>
                        	<li>Use multiple data sources</li>
                        	<li>Analyze data</li>
                        	<li>Manage and share Web Intelligence documents</li>
                        	<li>Work with Advanced Query techniques</li>
                        	<li>Work with calculation contexts</li>
                        	<li>Create formulas with character & date string functions</li>
                        	<li>Use "If" logic</li>
                        	<li>Work with additional reporting techniques</li>
                        	<li>Create hyperlinks</li>
                        </ul>
                        <h4>6) WEBI-RICH CLIENT</h4>
                        <ul>
                        	<li>Installing Web Intelligence Rich Client</li>
                        	<li>Web Intelligence Rich Client working modes</li>
                        	<li>Launching Web Intelligence Rich Client</li>
                        	<li>To set user preferences in Web Intelligence Rich Client</li>
                        	<li>Working with documents</li>
                        	<li>Working with universes in Web Intelligence Rich Client</li>
                        	<li>Accessing Web Intelligence from Info View</li>
                        	<li>Working with queries in Web Intelligence Rich Client</li>
                        	<li>Working with reports</li>
                        </ul>
                        <h4>7) Xcelcius/DASHBOARD BUILDER</h4>
                        <ul>
                        	<li>Understanding Dashboard Manager</li>
                        	<li>Setting Up Dashboard Manager</li>
                        	<li>Creating Metrics</li>
                        	<li>Automating Dashboards with Rules</li>
                        	<li>Creating Analytics</li>
                        	<li>Creating Personal Dashboards</li>
                        	<li>Creating Corporate Dashboards</li>
                        	<li>Guiding Dashboard Navigation</li>
                        </ul>
                        <h4>8) ADMINISTRATION</h4>
                        <ul>
                        	<li>Understand the Business Objects</li>
                        	<li>Enterprise interface & architecture</li>
                        	<li>Manage Business Objects Enterprise content</li>
                        	<li>Secure Business Objects Enterprise content</li>
                        	<li>Secure application security</li>
                        	<li>Schedule content</li>
                        	<li>Publish reports</li>
                        	<li>Identify Business Objects Enterprise architecture</li>
                        	<li>Perform common server management tasks</li>
                        	<li>Manage the Business Objects Enterprise servers</li>
                        </ul>
                        <h4>9) SECURITY IMPLEMENTATION</h4>
                        <ul>
                        	<li>Creating Secured users & group</li>
                        	<li>Creation secured connections</li>
                        	<li>Creation of Secured objects</li>
                        	<li>Creation of security at Table, Column &row level</li>
                        	<li>Creation of secured restriction set and mapping to users or groups</li>
                        </ul>
                        <h4>10) INTERVIEW QUESTION ON SAP-BO</h4>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>