<div class="container-fluid">
        <div class="row">
            <div class="row-gap-big">
                <img class="img-responsive" src="./images/parallax-images/scala-banner.jpg" alt="Scala-Training-Pro-eLearning">
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <div class="course-desc">
                        <div class="course-desc-icon">
                            <img src="./images/course-images/scala.png" alt="Scala Course Details - Pro E-Learning">
                        </div>
                        
                        <div class="c-syllabus">
                            <h1>Scala Course Content</h1>
                            <hr>
                            <h4>Module 1 -  Introduction</h4>
                            <ul>
                                <li>Introduction to Scala</li>
                                <li>Creating a Scala Doc</li>
                                <li>Creating a Scala Project</li>
                                <li>The Scala REPL</li>
                                <li>Scala Documentation</li>
                            </ul>
                            <h4>Module 2 - Basic Object Oriented Programming</h4>
                            <ul>
                                <li>Classes</li>
                                <li>Immutable and Mutable Fields</li>
                                <li>Methods</li>
                                <li>Default and Named Arguments</li>
                                <li>Objects</li>
                            </ul>
                            <h4>Module 3 - Case Objects and Classes</h4>
                            <ul>
                                <li>Companion Objects</li>
                                <li>Case Classes and Case Objects</li>
                                <li>Apply and Unapply</li>
                                <li>Synthetic Methods</li>
                                <li>Immutability and Thread Safety</li>
                            </ul>
                            <h4>Module 4 - Collections</h4>
                            <ul>
                                <li>Collections overview</li>
                                <li>Sequences and Sets</li>
                                <li>Options</li>
                                <li>Tuples and Maps</li>
                                <li>Higher Order Functions</li>
                            </ul>
                            <h4>Module 5 - Idiomatic Scala</h4>
                            <ul>
                                <li>For expressions</li>
                                <li>Pattern Matching</li>
                                <li>Handling Options</li>
                                <li>Handling Failures</li>
                                <li>Handling Futures</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="readmore">
                        <div class="list-group">
                            <ul>
                                <li>Spring Framework Foundations</li>
                                <li>Using the Hibernate ORM</li>
                                <li>Hibernate Internals and Configuration</li>
                                <li>Introduction to Web Services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>