<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/servicenow.jpg" alt="ServiceNow-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/dotnet.png" alt="ServiceNow Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>ServiceNow Course Content</h1>
                        <hr>
                        <h4>Introduction to ITIL</h4>
                        <ul>
                            <li>Introduction to ITSM</li>
                            <li>Incident Management</li>
                            <li>Problem Management and change management</li>
                            <li>Service Request Management</li>
                            <li>Configuration Management Database</li>
                            <li>SLA's and OLA's</li>
                        </ul>
                        <h4>Introduction to ServiceNow</h4>
                        <ul>
                            <li>Tool Introduction</li>
                            <li>Current Competitors</li>
                            <li>Releases</li>
                            <li>User Licenses</li>
                            <li>Using Wiki and Community</li>
                        </ul>
                        <h4>Basic Administration</h4>
                        <ul>
                            <li>Customizing Home Pages</li>
                            <li>Form Layouts and list layouts</li>
                            <li>Adding Users to Groups</li>
                            <li>Granting Roles to Users</li>
                            <li>Introducing Applications and Modules</li>
                            <li>Creation of tables and Modules</li>
                            <li>Creating tickets and raising Requests</li>
                            <li>Creating SLA's</li>
                            <li>Performance Metrics</li>
                        </ul>
                        <h4>Advanced Administration</h4>
                        <ul>
                            <li>UI Policies, Notifications</li>
                            <li>Dictionary Entries and Overrides</li>
                            <li>Data Policies</li>
                            <li>ListControl and Calculations</li>
                            <li>Exporting the Data from Service-Now</li>
                            <li>Update sets imports and Exports</li>
                            <li>Scheduling Jobs</li>
                        </ul>
                        <h4>Scripting</h4>
                        <ul>
                            <li>Business Rules</li>
                            <li>Client Scripts</li>
                            <li>UI Actions</li>
                            <li>Script Includes</li>
                            <li>Jelly Scripting</li>
                        </ul>
                        <h4>Reporting</h4>
                        <ul>
                            <li>Bar Charts</li>
                            <li>Pic Charts</li>
                            <li>List Reports</li>
                            <li>Pivot Tables</li>
                            <li>Using scripting in Reporting</li>
                            <li>Scheduling Reports</li>
                            <li>Making Gauges</li>
                        </ul>
                        <h4>Cloning and Upgrades</h4>
                        <ul>
                            <li>Need For cloning and ways to implement it</li>
                            <li>Upgrading the instance for new Release</li>
                        </ul>
                        <h4>Integrations</h4>
                        <ul>
                            <li>Web Services: Direct Web Services</li>
                            <li>Transform Map Web Services</li>
                            <li>Scripted Web Services</li>
                            <li>Email Integration. Inbound Actions</li>
                            <li>Event Registry</li>
                            <li>Crating and Triggering Events</li>
                        </ul>
                        <h4>Content Management</h4>
                        <ul>
                            <li>Introduction to CMS</li>
                            <li>Creating Sites</li>
                            <li>Creating Pages</li>
                            <li>Creating Blocks using Scripting</li>
                            <li>Login Rules</li>
                        </ul>
                        <h4>Configuration Management</h4>
                        <ul>
                            <li>Classes in CMDB</li>
                            <li>Mapping Configuration Item to Asset Records</li>
                            <li>Loading the CI's into Service-Now</li>
                            <li>Relating Configuration items</li>
                        </ul>
                        <h4>Import Sets</h4>
                        <ul>
                            <li>Loading Data of different Formats</li>
                            <li>Using Data Sources</li>
                            <li>Using Transform Maps and Transform scripts</li>
                        </ul>
                        <h4>Service Catalog</h4>
                        <ul>
                            <li>Creating Catalog Items using Variables and Variable sets</li>
                            <li>Creating Record Producers</li>
                            <li>Design the flow using Workflow</li>
                            <li>Creating Execution Plans</li>
                            <li>Writing Catalog Client Scripts and Catalog UI Policies</li>
                        </ul>
                        <h4>Workflows</h4>
                        <ul>
                            <li>Creating Workflows on different tables</li>
                            <li>Approvals using workflows</li>
                            <li>Using Different Activities in workflows</li>
                        </ul>
                        <h4>Notifications</h4>
                        <ul>
                            <li>Email Notifications </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <h1 class="text-center">Space<br>For<br>ADS</h1>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
