<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/sharepoint.jpg" alt="SharePoint-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="SharePoint Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>SharePoint Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: -- <span class="v-divider">|</span> <i class="fa fa-code-fork" aria-hidden="true"></i> Version: 2010</p>
                        <hr>
                        <h3>SharePoint 2010 Administration Training Outline</h3>
                        <h4>Getting started with SharePoint 2010</h4>
                        <ul>
                        	<li>SharePoint Foundation Architecture and Terminology</li>
                        	<li>SharePoint 2010 Enhancements Targeting Administrators</li>
                        	<li>SharePoint Server 2010 Editions</li>
                        	<li>Hardware and Software Requirements</li>
                        	<li>Virtualization Considerations</li>
                        </ul>
                        <h4>Installing SharePoint Server 2010</h4>
                        <ul>
                        	<li>Understanding Farm Topologies</li>
                        	<li>Service Application Architecture</li>
                        	<li>Creating Dedicated Service Accounts in Active Directory</li>
                        	<li>Installing SharePoint Server 2010</li>
                        	<li>Creating the Farm and the Configuration Database</li>
                        </ul>
                        <h4>Configuring SharePoint Server 2010</h4>
                        <ul>
                        	<li>Getting Around in Central Administration</li>
                        	<li>Managed Service Accounts</li>
                        	<li>Managing Timer Jobs</li>
                        	<li>Using the Farm Configuration Wizard</li>
                        	<li>Configuring Service Applications by Hand</li>
                        </ul>
                        <h4>Configuring and Administrating Security in SharePoint 2010</h4>
                        <ul>
                        	<li>Windows Authentication</li>
                        	<li>Claims-based Authentication</li>
                        	<li>Forms-based Authentication</li>
                        	<li>Intranet Extranet Considerations</li>
                        	<li>Configuring Certificates and SSL</li>
                        </ul>
                        <h4>Creating and Configuring Web Applications</h4>
                        <ul>
                        	<li>Configuring DNS and Host Headers</li>
                        	<li>Creating New Web Applications</li>
                        	<li>Configuring Alternate Access Mappings</li>
                        	<li>List Throttling and Quotas</li>
                        	<li>Configuring Anonymous Access</li>
                        </ul>
                        <h4>Writing Administrative Scripts using Windows PowerShell</h4>
                        <ul>
                        	<li>Introduction to Windows PowerShell</li>
                        	<li>Windows PowerShell Console Window</li>
                        	<li>Writing Windows PowerShell Scripts</li>
                        	<li>Loading the SharePoint PowerShell Snap-in</li>
                        	<li>Writing Administrative Scripts for SharePoint 2010</li>
                        </ul>
                        <h4>Managing Site Collection Growth using a Governance Plan</h4>
                        <ul>
                        	<li>Sites and Site Collections</li>
                        	<li>Site Templates in SharePoint 2010</li>
                        	<li>Customizing Sites using the Browser</li>
                        	<li>Customizing Sites with SharePoint Designer</li>
                        	<li>Enforcing Governance in Production Environments</li>
                        </ul>
                        <h4>Upgrading Farms from SharePoint 2007 to SharePoint 2010</h4>
                        <ul>
                        	<li>Preparing a SharePoint 2007 Farm</li>
                        	<li>In-Place Upgrade</li>
                        	<li>Database Attach Upgrade</li>
                        	<li>Using a Hybrid Upgrade Approach</li>
                        	<li>Understanding Visual Upgrade</li>
                        </ul>
                        <h4>Configuring Search in SharePoint Server 2010</h4>
                        <ul>
                        	<li>Overview of Search in SharePoint 2010</li>
                        	<li>SharePoint Search Architecture versus FAST Search</li>
                        	<li>Configuring the Search Service Application</li>
                        	<li>Creating Search Pages using the Search Web Parts</li>
                        	<li>Using Custom Ranking Models</li>
                        </ul>
                        <h4>Configuring SharePoint Server 2010 Service Applications</h4>
                        <ul>
                        	<li>Creating Term Sets and Taxonomies with the Managed Metadata Service</li>
                        	<li>Creating External Connections using the Business Data Connectivity Service</li>
                        	<li>Creating Secure Application with the Secure Store Service</li>
                        	<li>Configuring the User Profile Service</li>
                        </ul>
                        <h4>Planning for Backup, Restore and Disaster Recovery</h4>
                        <ul>
                        	<li>Versioning and Restoring Documents</li>
                        	<li>Configuring Recycle Bin Behavior</li>
                        	<li>Site-Level Backup and Restore</li>
                        	<li>Preparing for Disaster Recovery</li>
                        	<li>Recovering the Farm After Server Failure</li>
                        </ul>
                        <h4>Health Monitoring and Optimization</h4>
                        <ul>
                        	<li>The Developer Dashboard</li>
                        	<li>Understanding ULS Logs</li>
                        	<li>The Logging Database</li>
                        	<li>Health Analyzer and Usage Reporting</li>
                        	<li>Timer Jobs ad Server Affinity</li>
                        </ul>
                        <h4>Conclusion</h4>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>