<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/spark-banner.jpg" alt="Spark-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Spark Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>You must have minimum knowledge on core java and SQL. Hadoop knowledge is highly recommended. Optionally AWS, prerequisites to learn spark.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>courseSpark is a unique framework for big data analytics which gives one unique integrated API by developers for the purpose of data scientists and analysts to perform separate tasks. It supports a wide range of popular languages like Python, R, SQL, Java and Scala. Apache Spark main aim is to provide hands-on experience to create real-time Data stream Analysis and large-scale learning solutions for data scientists, data analysts and software developers.</p>
                    <p>Spark is an open source processing engine built around speed, ease of use, and analytics. If you have large amounts of data that requires low latency processing that a typical MapReduce program cannot provide, Spark is the way to go.</p>
                    <p>Learn the fundamentals of Spark, the technology that is revolutionizing the analytics and big data world!</p>
                    <p>Spark is an open source processing engine built around speed, ease of use, and analytics.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Spark Core <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Batch versus real-time data processing</li>
                                    <li>Introduction to Spark, Spark versus Hadoop</li>
                                    <li>The architecture of Spark</li>
                                    <li>Coding Spark jobs in Scala</li>
                                    <li>Exploring the Spark shell to Creating Spark Context</li>
                                    <li>RDD Programming</li>
                                    <li>Operations on RDD</li>
                                    <li>Transformations</li>
                                    <li>Actions</li>
                                    <li>Loading Data and Saving Data</li>
                                    <li>Key Value Pair RDD</li>
                                    <li>Broadcast variables</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Persistence <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Configuring and running the Spark cluster</li>
                                    <li>Exploring to Multi-Node Spark Cluster</li>
                                    <li>Cluster management</li>
                                    <li>Submitting Spark jobs and running in the cluster mode</li>
                                    <li>Developing Spark applications in Eclipse</li>
                                    <li>Tuning and Debugging Spark</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. Cassandra ( NoSQL Database ) <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Learning Cassandra</li>
                                    <li>Getting started with architecture</li>
                                    <li>Installing Cassandra</li>
                                    <li>Communicating with Cassandra</li>
                                    <li>Creating a database</li>
                                    <li>Create a table</li>
                                    <li>Inserting Data</li>
                                    <li>Modelling Data</li>
                                    <li>Creating an Application with Web</li>
                                    <li>Updating and Deleting Data</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. Spark Integration with NoSQL (Cassandra) and Amazon EC2 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Spark and Cassandra Connectors</li>
                                    <li>Spark With Cassandra to Set up</li>
                                    <li>Creating Spark Context to connect the Cassandra</li>
                                    <li>Creating Spark RDD on the Cassandra Database</li>
                                    <li>Performing Transformation and Actions on the Cassandra RDD</li>
                                    <li>Running Spark Application in Eclipse to access the data in the Cassandra</li>
                                    <li>Introduction to Amazon Web Services</li>
                                    <li>Building 4 Node Spark Multi-Node Cluster in Amazon Web Services</li>
                                    <li>Deploying in Production with Mesos and YARN</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. Spark Streaming <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction of Spark Streaming</li>
                                    <li>Architecture of Spark Streaming</li>
                                    <li>Processing Distributed Log Files in Real Time</li>
                                    <li>Discretized streams RDD</li>
                                    <li>Applying Transformations and Actions on Streaming Data</li>
                                    <li>Integration with Flume and Kafka</li>
                                    <li>Integration with Cassandra</li>
                                    <li>Monitoring streaming jobs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#businessObjects" aria-expanded="false" aria-controls="collapseSix">6. Spark SQL <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="businessObjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Apache Spark SQL</li>
                                    <li>The SQL context</li>
                                    <li>Importing and saving data</li>
                                    <li>Processing the Text files, JSON and Parquet Files</li>
                                    <li>DataFrames</li>
                                    <li>user-defined functions</li>
                                    <li>Using Hive</li>
                                    <li>Local Hive Metastore server</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#errorCaseMgmt" aria-expanded="false" aria-controls="collapseSeven">7. Spark MLLib <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="errorCaseMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Machine Learning</li>
                                    <li>Types of Machine Learning</li>
                                    <li>Introduction to Apache Spark MLLib Algorithms</li>
                                    <li>Machine Learning Data Types and working with MLLib</li>
                                    <li>Regression and Classification Algorithms</li>
                                    <li>Decision Trees in depth</li>
                                    <li>Classification with SVM, Naive Bayes</li>
                                    <li>Clustering with K-Means</li>
                                    <li>Building the Spark server</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y6gTsj6okHE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>I am completely satisfied with the Spark with Scala training and was able to grab my dream job thanks to pro-elearning for providing such a good training.</p>
                            <h4 class="pull-right">&#x2015; Anusha Mehta</h4>
                        </div>
                        <div class="item slide">
                            <p>A very good course to enter Spark programming. The part of Spark Core is treated in detail, although for my taste it would lack more detail in the rest, in relation to Spark Streaming, MLlib and GraphX, or do separate courses for each of these topics, otherwise it could be too extensive.</p>
                            <h4 class="pull-right">&#x2015; Harish Kumar</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>
        
        <!-- Certificate -->
        <div ng-include="'views/certificate.html'"></div>

    </div>
</div>
