<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/tableau.jpg" alt="Tableau-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Tableau Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Tableau</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>Tableau Intro</h4>
                        <ul>
                            <li>Datawarehousing & Business Intelligence primer</li>
                            <li>Data Analysis</li>
                            <li>Data visualization</li>
                            <li>How does Business Reporting Work</li>
                            <li>Dashboards primer</li>
                            <li>About Tableau</li>
                            <li>Tableau Components</li>
                            <li>Tableau Desktop, Server, Reader, Onlline and Public</li>
                            <li>Tableau reporting architecture</li>
                            <li>Measures & Dimensions</li>
                        </ul>
                        <h4>Getting data in</h4>
                        <ul>
                            <li>Flat files (Excel, Acces)</li>
                            <li>Database (SQL, Oracle)</li>
                            <li>Webservices, Cloud Salesforce CRM</li>
                            <li>Live & Extract
                                <ul>
                                    <li>Why Extracts</li>
                                    <li>Incremental Extracts</li>
                                </ul>
                            </li>
                            <li>Tableau Server Data Sources</li>
                        </ul>
                        <h4>Saving & Publishing</h4>
                        <ul>
                            <li>Tableau Workbook</li>
                            <li>Tableau Packeged workbook</li>
                            <li>Tableau Data Extract</li>
                            <li>Publishing data and Reoprts, Dashboard to Server</li>
                        </ul>
                        <h4>Visualizations</h4>
                        <ul>
                            <li>Line Charts
                                <ul>
                                    <li>Lines (continous) charts</li>
                                    <li>Lines (discrete) charts</li>
                                    <li>Dual lines</li>
                                </ul>
                            </li>
                            <li>Bar Charts
                                <ul>
                                    <li>Horizontal bar charts</li>
                                    <li>Stacked bar charts</li>
                                    <li>Side-by-Side bar charts</li>
                                </ul>
                            </li>
                            <li>Text tables</li>
                            <li>Heat maps</li>
                            <li>Highlight tables</li>
                            <li>Symbol maps</li>
                            <li>Filled Maps</li>
                            <li>Pie Charts</li>
                            <li>Treemaps</li>
                            <li>Circle views</li>
                            <li>Side-by-Side Circle views</li>
                            <li>Area Charts
                                <ul>
                                    <li>Area Charts (Continous)</li>
                                    <li>Area Charts (Discrete)</li>
                                </ul>
                            </li>
                            <li>Combination charts</li>
                            <li>Scatter Plots</li>
                            <li>Histogram</li>
                            <li>Box Plots</li>
                            <li>Gantt charts</li>
                            <li>Bullet Charts</li>
                            <li>Packed bubble charts</li>
                        </ul>
                        <h4>Customize Charts</h4>
                        <ul>
                            <li>Dual Axis</li>
                            <li>Donnut Chart</li>
                            <li>Waterfall Chart</li>
                            <li>Bump Chart</li>
                            <li>Parreto chart</li>
                        </ul>
                        <h4>Dashboards</h4>
                        <ul>
                            <li>Creation of Dashboards</li>
                            <li>Types of Dahboards</li>
                            <li>Real time based dashboards</li>
                            <li>Dash board Actions</li>
                            <li>Button on Dashboard to dashboards actions</li>
                        </ul>
                        <h4>Actions</h4>
                        <ul>
                            <li>Worksheet Actions</li>
                            <li>Dashboard Actions
                                <ul>
                                    <li>Types of actions
                                        <ul>
                                            <li>Filer Actions</li>
                                            <li>Highlght Actions</li>
                                            <li>URL Actions</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <h4>Filter Types</h4>
                        <ul>
                            <li>Normal Filter</li>
                            <li>Quick filter</li>
                            <li>Cascading filter</li>
                            <li>Global filter</li>
                            <li>Context Filter</li>
                            <li>User Filters</li>
                        </ul>
                        <h4>Joins & Data Blending</h4>
                        <ul>
                            <li>Types of Join</li>
                            <li>Types of data blening</li>
                            <li>Types of Querrys
                                <ul>
                                    <li>Custome SQL</li>
                                    <li>VIZ QL</li>
                                </ul>
                            </li>
                            <li>Combine data</li>
                            <li>Groups</li>
                            <li>Sets</li>
                            <li>Constant set and Computed set</li>
                            <li>Combined set</li>
                            <li>Top & Bottom data</li>
                            <li>Bins</li>
                        </ul>
                        <h4>Parameters</h4>
                        <ul>
                            <li>Types of Parameters
                                <ul>
                                    <li>Use of parameter</li>
                                    <li>Global Parameter</li>
                                    <li>diff b/w filters and parameter</li>
                                    <li>TopN and Bottom N records</li>
                                </ul>
                            </li>
                        </ul>
                        <h4>Statstical Part</h4>
                        <ul>
                            <li>Forecasting</li>
                            <li>Reference Bands</li>
                            <li>Reference Lines</li>
                            <li>Show Missing Values</li>
                            <li>Trend Lines</li>
                            <li>Legend Highlighting</li>
                            <li>Highlight Actions</li>
                            <li>Visually Grouping Data</li>
                        </ul>
                        <h4>Calculations</h4>
                        <ul>
                            <li>Table Calculations</li>
                            <li>Computing Totals</li>
                            <li>Functions</li>
                            <li>Data Claculations</li>
                        </ul>
                        <h4>Tableau Server</h4>
                        <ul>
                            <li>Tableau Server Instalations and Configurations</li>
                            <li>Tableau Server Architechure</li>
                            <li>Users Creations
                                <ul>
                                    <li>User Role types</li>
                                </ul>
                            </li>
                            <li>Group creation</li>
                            <li>Assign Users to Group</li>
                            <li>Project Creations</li>
                            <li>Site creations</li>
                        </ul>
                        <h4>Publishing</h4>
                        <ul>
                            <li>Publishing Worksheets</li>
                            <li>Publishing Dashboards</li>
                            <li>Publishing Data Base</li>
                        </ul>
                        <h4>Permission settings</h4>
                        <ul>
                            <li>Permission Types</li>
                            <li>Worksheet permissions</li>
                            <li>dashboard Permissions</li>
                            <li>Workbook Permissions</li>
                            <li>Data base permissions</li>
                        </ul>
                        <h4>Scheduling</h4>
                        <ul>
                            <li>Typers of Schedulings</li>
                            <li>Priority Task</li>
                            <li>Assign the schedules to Data base</li>
                            <li>assign the schedules to Worksheets</li>
                            <li>Assign the Schedules to Workbook</li>
                        </ul>
                        <ul>
                            <li>Commands Line</li>
                            <li>Tab CMD</li>
                            <li>Tab ADMIN</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>