<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/ui-development.jpg" alt="UI-Development-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">UI Development Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>Knowledge on HTML, CSS, JavaScript, Adobe Photoshop.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>UI Developer Training makes you an expert in concepts like HTML, HTML5, CSS, CSS3, CSS3 3D Transforms, JavaScript, jQuery, Bootstrap3, AngularJS, and Angular Architecture…. etc.</p>
                    <p>You will also get an exposure to industry based real-time projects in various business verticals.</p>
                    <p>In this course, you will gain an understanding of the critical importance of user interface design. You will also learn industry-standard methods for how to approach the design of a user interface and key theories and frameworks that underlie the design of most interfaces you use today. </p>
                    <p>Through a series of case studies on commercial systems - many of which you likely use on a regular basis - we will illustrate the benefits of good design. We will also demonstrate how the costs of bad design can often be severe (in user experience, money, and even human lives).</p>
                    <p> You will then gain a high-level understanding of the user-interface design process. You will be introduced to common design scenarios - e.g. improving on existing designs and starting a new design from scratch - and the general design processes that tend to be used for each scenario. </p>
                    <p>Finally, we will begin introducing the large body of existing knowledge on design by providing overviews of core user interface design theories and concepts. This key foundational information will help you avoid “reinventing the wheel” when you are designing your interfaces in this specialization.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖</span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <h2>HTML</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Getting started with HTML <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Basic Tags</li>
                                    <li>Elements</li>
                                    <li>Attributes</li>
                                    <li>Formatting</li>
                                    <li>Headings</li>
                                    <li>Paragraphs</li>
                                    <li>Meta Tags</li>
                                    <li>Styles</li>
                                    <li>Quotations</li>
                                    <li>Comments</li>
                                    <li>CSS</li>
                                    <li>Links</li>
                                    <li>Images</li>
                                    <li>Tables</li>
                                    <li>Lists</li>
                                    <li>Blocks</li>
                                    <li>Classes</li>
                                    <li>Layouts</li>
                                    <li>Responsive</li>
                                    <li>IFrames</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. HTML Forms <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Form Elements</li>
                                    <li>Input Types</li>
                                    <li>Input Attributes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. HTML5 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Support</li>
                                    <li>Elements</li>
                                    <li>Semantics</li>
                                    <li>Migration</li>
                                    <li>Style Guide</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. HTML5 Graphics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>Canvas</li>
                                    <li>SVG</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. HTML5 Media <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Video</li>
                                    <li>Audio</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#businessObjects" aria-expanded="false" aria-controls="collapseSix">6. HTML5 Local Storage <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="businessObjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul>
                                    <li>HTML5 Local Storage</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#errorCaseMgmt" aria-expanded="false" aria-controls="collapseSeven">7. HTML Examples <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="errorCaseMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
                                    <li>HTML Examples</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2>CSS</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#addFeatures" aria-expanded="false" aria-controls="collapseEight">8. Getting start with CSS <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="addFeatures" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Syntax</li>
                                    <li>Inclusion and Units</li>
                                    <li>Colors & Backgrounds</li>
                                    <li>Fonts & Text</li>
                                    <li>Images</li>
                                    <li>Links</li>
                                    <li>Tables</li>
                                    <li>Borders & Margins</li>
                                    <li>Lists</li>
                                    <li>Padding</li>
                                    <li>Cursors & Outlines</li>
                                    <li>Dimension & Scrollbars</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#reviewExercise" aria-expanded="false" aria-controls="collapseNine">9. CSS Advanced <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="reviewExercise" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
                                    <li>Visibility</li>
                                    <li>Positioning</li>
                                    <li>Layers</li>
                                    <li>Pseudo Classes and Elements</li>
                                    <li>@Rules</li>
                                    <li>Text Effects</li>
                                    <li>Media Types</li>
                                    <li>Printing</li>
                                    <li>layouts</li>
                                    <li>Validations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#iws" aria-expanded="false" aria-controls="collapseNine">10. CSS Examples <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="iws" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <ul>
                                    <li>CSS Examples</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2>JavaScript</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#rtat" aria-expanded="false" aria-controls="collapseNine">11. Getting start with JavaScript <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="rtat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
                                    <li>Overview</li>
                                    <li>Syntax</li>
                                    <li>Enabling and Placement</li>
                                    <li>Variables & Operators</li>
                                    <li>If..else, Switch, While, For , For..In and Loop Control</li>
                                    <li>Functions and Events</li>
                                    <li>Cookies</li>
                                    <li>Page Redirect</li>
                                    <li>Dialog Boxes and Void Keyword</li>
                                    <li>Page Printing</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tools" aria-expanded="false" aria-controls="collapseNine">12. JavaScript Objects <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tools" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
                                <ul>
                                    <li>Object Definitions and Properties</li>
                                    <li>Object Methods and Prototypes</li>
                                    <li>Objects</li>
                                    <li>Number</li>
                                    <li>Boolean</li>
                                    <li>Strings</li>
                                    <li>Arrays</li>
                                    <li>Date</li>
                                    <li>Math</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThirteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#apps" aria-expanded="false" aria-controls="collapseNine">13. JavaScript Functions <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="apps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Definitions</li>
                                    <li>Parameters</li>
                                    <li>Invocation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFourteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#dc" aria-expanded="false" aria-controls="collapseNine">14. JavaScript HTML DOM <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="dc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Methods and Document</li>
                                    <li>Elements, HTML, CSS and Events</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFifteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#df" aria-expanded="false" aria-controls="collapseNine">15. JavaScript Browser <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="df" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Window, Screen and Location</li>
                                    <li>History & Navigator</li>
                                    <li>Alerts & Cookies</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSixteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#cv" aria-expanded="false" aria-controls="collapseNine">16. JavaScript Examples <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="cv" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
                            <div class="panel-body">
                                <ul>
                                    <li>JavaScript Examples</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2>JQuery</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeventeen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#giot" aria-expanded="false" aria-controls="collapseNine">17. Getting start with JQuery <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="giot" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Basics</li>
                                    <li>Selectors</li>
                                    <li>Attributes</li>
                                    <li>Traversing</li>
                                    <li>CSS</li>
                                    <li>DOM</li>
                                    <li>Events</li>
                                    <li>AJAX</li>
                                    <li>Effects</li>
                                    <li>noConfilct()</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEighteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#trigger" aria-expanded="false" aria-controls="collapseNine">18. JQuery Effects <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="trigger" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Show/Hide</li>
                                    <li>Fade</li>
                                    <li>Slide</li>
                                    <li>Animate</li>
                                    <li>Stop</li>
                                    <li>Callback</li>
                                    <li>Chaining</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNineteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fm" aria-expanded="false" aria-controls="collapseNine">19. JQuery DOM Manipulation <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fm" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNineteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Get/Set</li>
                                    <li>Add/Remove</li>
                                    <li>CSS classes and CSS</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwenty">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#ctwh" aria-expanded="false" aria-controls="collapseNine">20. JQuery Traversing <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="ctwh" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwenty">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Ancestors & Descendants</li>
                                    <li>Siblings & Filtering</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyone">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tp" aria-expanded="false" aria-controls="collapseNine">21. JQuery AJAX <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyone">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Load</li>
                                    <li>Get & Post</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentytwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nip" aria-expanded="false" aria-controls="collapseNine">22. JQuery Examples <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nip" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentytwo">
                            <div class="panel-body">
                                <ul>
                                    <li>JQuery Examples</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2>AngularJS</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentythree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#pdc" aria-expanded="false" aria-controls="collapseNine">23. Getting start with AngularJS <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="pdc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentythree">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Setup</li>
                                    <li>MVC Architecture</li>
                                    <li>Expressions</li>
                                    <li>Directives</li>
                                    <li>Controllers</li>
                                    <li>Filters</li>
                                    <li>Tables</li>
                                    <li>HTML DOM</li>
                                    <li>Modules</li>
                                    <li>Events</li>
                                    <li>Forms</li>
                                    <li>Includes</li>
                                    <li>AJAX</li>
                                    <li>Views</li>
                                    <li>Scopes</li>
                                    <li>Services</li>
                                    <li>Dependency Injection</li>
                                    <li>Custom Directives</li>
                                    <li>Routes</li>
                                    <li>$watch</li>
                                    <li>$digest</li>
                                    <li>$apply</li>
                                    <li>$scope Hierarchy</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#ajsex" aria-expanded="false" aria-controls="collapseNine">23. AngularJS Examples <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="ajsex" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyFour">
                            <div class="panel-body">
                                <ul>
                                    <li>$scope Hierarchy</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2>Angular 2</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#angular2" aria-expanded="false" aria-controls="collapseNine">23. Angular 2 Overview <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="angular2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Create Angular2 project</li>
                                    <li>Angular cli</li>
                                    <li>Components</li>
                                    <li>Routing</li>
                                    <li>Service</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2>React JS</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentySix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#reactjs" aria-expanded="false" aria-controls="collapseNine">23. React JS <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="reactjs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentySix">
                            <div class="panel-body">
                                <ul>
                                    <li>React JS Overview</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2>Node JS</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentySeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nodejs" aria-expanded="false" aria-controls="collapseNine">23. Node JS <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nodejs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentySeven">
                            <div class="panel-body">
                                <ul>
                                    <li>Node JS Overview</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q5763pPchvw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>I attended UI Technologies here. Trainer is really awesome. I got a complete knowledge of UI technologies course. Even though you do not have any technical background previously, you can attend the course and become an expert. Trainer have lot of patience even for clearing silly questions also.</p>
                            <h4 class="pull-right">&#x2015; Mason</h4>
                        </div>
                        <div class="item slide">
                            <p>HTML Faculty is very active and clarified all the doubts. He taught well I will suggest my friends come here to take up the course.</p>
                            <h4 class="pull-right">&#x2015; Rakesh</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>
