<div class="container-fluid" ng-controller="uiController">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/ui-development.jpg" alt="UI-Development-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/ui-ux.png" alt="UI Development Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="info-readmore">
                        <h1>UI Development Course Content</h1>
                        <hr>
                        <h1>HTML Syllabus</h1>
                        <h3>1. Getting started with HTML</h3>
                        <ul class="list-la">
                            <li>Introduction</li>
                            <li>Basic Tags</li>
                            <li>Elements</li>
                            <li>Attributes</li>
                            <li>Formatting</li>
                            <li>Headings</li>
                            <li>Paragraphs</li>
                            <li>Meta Tags</li>
                            <li>Styles</li>
                            <li>Quotations</li>
                            <li>Comments</li>
                            <li>CSS</li>
                            <li>Links</li>
                            <li>Images</li>
                            <li>Tables</li>
                            <li>Lists</li>
                            <li>Blocks</li>
                            <li>Classes</li>
                            <li>Layouts</li>
                            <li>Responsive</li>
                            <li>IFrames</li>
                        </ul>
                        <h3>2. HTML Forms</h3>
                        <ul class="list-la">
                            <li>Introduction</li>
                            <li>Form Elements</li>
                            <li>Input Types</li>
                            <li>Input Attributes</li>
                        </ul>
                        <h3>3. HTML5</h3>
                        <ul class="list-la">
                            <li>Introduction</li>
                            <li>Support</li>
                            <li>Elements</li>
                            <li>Semantics</li>
                            <li>Migration</li>
                            <li>Style Guide</li>
                        </ul>
                        <h3>4. HTML5 Graphics</h3>
                        <ul class="list-la">
                            <li>Canvas</li>
                            <li>SVG</li>
                        </ul>
                        <h3>5. HTML5 Media</h3>
                        <ul class="list-la">
                            <li>Introduction</li>
                            <li>Video</li>
                            <li>Audio</li>
                        </ul>
                        <h3>6. HTML5 Local Storage</h3>
                        <h3>7. HTML Examples</h3>
                        <hr>
                        <h1>CSS Syllabus</h1>
                        <h3>1. Getting start with CSS</h3>
                        <ul class="list-la">
                            <li>Introduction</li>
                            <li>Syntax</li>
                            <li>Inclusion and Units</li>
                            <li>Colors & Backgrounds</li>
                            <li>Fonts & Text</li>
                            <li>Images</li>
                            <li>Links</li>
                            <li>Tables</li>
                            <li>Borders & Margins</li>
                            <li>Lists</li>
                            <li>Padding</li>
                            <li>Cursors & Outlines</li>
                            <li>Dimension & Scrollbars</li>
                        </ul>
                        <h3>2. CSS Advanced</h3>
                        <ul class="list-la">
                            <li>Visibility</li>
                            <li>Positioning</li>
                            <li>Layers</li>
                            <li>Pseudo Classes and Elements</li>
                            <li>@Rules</li>
                            <li>Text Effects</li>
                            <li>Media Types</li>
                            <li>Printing</li>
                            <li>layouts</li>
                            <li>Validations</li>
                        </ul>
                        <h3>3. CSS Examples</h3>
                        <hr>
                        <h1>JavaScript Syllabus</h1>
                        <h3>1. Getting start with JavaScript</h3>
                        <ul class="list-la">
                            <li>Overview</li>
                            <li>Syntax</li>
                            <li>Enabling and Placement</li>
                            <li>Variables & Operators</li>
                            <li>If..else, Switch, While, For , For..In and Loop Control</li>
                            <li>Functions and Events</li>
                            <li>Cookies</li>
                            <li>Page Redirect</li>
                            <li>Dialog Boxes and Void Keyword</li>
                            <li>Page Printing</li>
                        </ul>
                        <h3>2. JavaScript Objects</h3>
                        <ul class="list-la">
                            <li>Object Definitions and Properties</li>
                            <li>Object Methods and Prototypes</li>
                            <li>Objects</li>
                            <li>Number</li>
                            <li>Boolean</li>
                            <li>Strings</li>
                            <li>Arrays</li>
                            <li>Date</li>
                            <li>Math</li>
                        </ul>
                        <h3>3. JavaScript Functions</h3>
                        <ul class="list-la">
                            <li>Definitions</li>
                            <li>Parameters</li>
                            <li>Invocation</li>
                        </ul>
                        <h3>4. JavaScript HTML DOM</h3>
                        <ul class="list-la">
                            <li>Introduction</li>
                            <li>Methods and Document</li>
                            <li>Elements, HTML, CSS and Events</li>
                        </ul>
                        <h3>5. JavaScript Browser</h3>
                        <ul class="list-la">
                            <li>Window, Screen and Location</li>
                            <li>History & Navigator</li>
                            <li>Alerts & Cookies</li>
                        </ul>
                        <h3>6. JavaScript Examples</h3>
                        <hr>
                        <h1>JQuery Syllabus</h1>
                        <h3>Getting start with JQuery</h3>
                        <ul class="list-la">
                            <li>Introduction</li>
                            <li>Basics</li>
                            <li>Selectors</li>
                            <li>Attributes</li>
                            <li>Traversing</li>
                            <li>CSS</li>
                            <li>DOM</li>
                            <li>Events</li>
                            <li>AJAX</li>
                            <li>Effects</li>
                            <li>noConfilct()</li>
                        </ul>
                        <h3>2. JQuery Effects</h3>
                        <ul class="list-la">
                            <li>Show/Hide</li>
                            <li>Fade</li>
                            <li>Slide</li>
                            <li>Animate</li>
                            <li>Stop</li>
                            <li>Callback</li>
                            <li>Chaining</li>
                        </ul>
                        <h3>3. JQuery DOM Manipulation</h3>
                        <ul class="list-la">
                            <li>Get/Set</li>
                            <li>Add/Remove</li>
                            <li>CSS classes and CSS</li>
                        </ul>
                        <h3>4. JQuery Traversing</h3>
                        <ul class="list-la">
                            <li>Introduction</li>
                            <li>Ancestors & Descendants</li>
                            <li>Siblings & Filtering</li>
                        </ul>
                        <h3>5. JQuery AJAX</h3>
                        <ul class="list-la">
                            <li>Introduction</li>
                            <li>Load</li>
                            <li>Get & Post</li>
                        </ul>
                        <h3>6. JQuery Examples</h3>
                        <hr>
                        <h1>AngularJS Syllabus</h1>
                        <h3>1. Getting start with AngularJS</h3>
                        <ul class="list-la">
                            <li>Introduction</li>
                            <li>Setup</li>
                            <li>MVC Architecture</li>
                            <li>Expressions</li>
                            <li>Directives</li>
                            <li>Controllers</li>
                            <li>Filters</li>
                            <li>Tables</li>
                            <li>HTML DOM</li>
                            <li>Modules</li>
                            <li>Events</li>
                            <li>Forms</li>
                            <li>Includes</li>
                            <li>AJAX</li>
                            <li>Views</li>
                            <li>Scopes</li>
                            <li>Services</li>
                            <li>Dependency Injection</li>
                            <li>Custom Directives</li>
                            <li>Routes</li>
                            <li>$watch</li>
                            <li>$digest</li>
                            <li>$apply</li>
                            <li>$scope Hierarchy</li>
                        </ul>
                        <h3>2. AngularJS Examples</h3>
                        <hr>
                        <h1>Angular 2</h1>
                        <ol>
                            <li>Introduction</li>
                            <li>Create Angular2 project</li>
                            <li>Angular cli</li>
                            <li>Components</li>
                            <li>Routing</li>
                            <li>Service</li>
                        </ol>
                        <hr>
                        <h1>React JS</h1>
                        <hr>
                        <h1>Node JS</h1>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>