<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/uipath.jpg" alt="UiPath-Training-Pro-elearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/uipath.png" alt="UiPath Course Details - Pro-elearning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>UiPath Course Content</h1>
                        <hr>
                        <h4>1. Understanding UiPath</h4>
                        <h4>2. Understanding the concept of Workflow</h4>
                        <h4>3. Working with Data in UiPath</h4>
                        <h4>4. Excel and Datatable Automation</h4>
                        <h4>5. Understanding Recording Concepts</h4>
                        <h4>6. Understanding Selector Concepts</h4>
                        <h4>7. Introduction to UI-Elements I/O</h4>
                        <h4>8. Automating Image and Text</h4>
                        <h4>9. Automation using Citrix</h4>
                        <h4>10. Using UiPath as Mail & Pdf</h4>
                        <h4>11. Working with User Events</h4>
                        <h4>12. Organizing the complete project using UiPath</h4>
                        <h4>13. Understanding Exceptions and Debugging in UiPath</h4>
                        <h4>14. Concept of UiPath Orchestrator,</h4>
                        <h4>15. Introduction to Front+Back Office Robots</h4>
                        <h4>16. Understanding SAP Concepts</h4>
                        <h4>17. Understanding Database Concepts in UiPath</h4>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <h1 class="text-center">Space<br>For<br>ADS</h1>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
