<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/web-development.jpg" alt="Web-Development-Pro-eLearning">
        </div>
    </div>
    
<!--
    <div class="row" ng-controller="CourseCardsController">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="col-md-3" ng-repeat="items in cc_info_tech">
                <a href="{{items.cc_info_tech_imageLink}}">
                    <img class="img-responsive center-block" ng-src="./images/{{items.cc_info_tech_image}}">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-hidden col-xs-hidden">
            
        </div>
    </div>
-->
</div>

<div class="container">
    <div class="row">
        <div class="page-title">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="text-center">Web Development</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="course-strip">
                <div class="course-info">
                    <a hg-href="web-development/ui-development">
                        <h3>UI Development</h3>
                    </a>
                    <p clamp="2">UI Development is the future of the web development with vast number of frameworks.</p>
                    <div class="course-dtls">
                        <ul class="course-dtls-list">
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: 45h</li>
                            <li><i class="fa fa-users" aria-hidden="true"></i> Enrolled: 126</li>
                            <li><i class="fa fa-play" aria-hidden="true"></i> Duration: 45h</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="web-development/ui-development">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/ui-development.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>UI Development</h4>
                        <p clamp="2">UI Development is the future of the web development with vast number of frameworks.</p>
                        <a ng-href="web-development/ui-development" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="web-development/angular4">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/angular-4.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>Angular 4</h4>
                        <p clamp="2">Most popular client-side framework for website development from Google.</p>
                        <a ng-href="web-development/angular4" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a ng-href="web-development/php">
                        <img class="img-responsive center-block" src="./images/course-thumbnails/php.jpg">
                    </a>
                    <div class="course-caption">
                        <h4>PHP</h4>
                        <p clamp="2">PHP is a light weight backend language.</p>
                        <a ng-href="web-development/php" class="btn btn-primary" role="button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-hidden col-xs-hidden">
            <h4 class="text-center">New Demos</h4>
        </div>
    </div>
        
</div>
