<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/web-app-penetration-testing.jpg" alt="Web-App-Penetration-Testing-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="Web Application Penetration Testing Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>Web Application Penetration Testing Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <p>Penetration Testing is one of the testing methodology to test the security level of the Web Applications. It s a part of the Ethical Hacking.</p>
                        <h4>1. Introduction to web applications</h4>
                        <ul class="list-la">
                        	<li>Authentication
                        	<li>Authorisation
                        	<li>Cookies
                        	<li>HTTP protocol
                        	<li>Overview of Google hacking
                        </ul>
                        <h4>2. Authentication</h4>
                        <ul class="list-la">
                        	<li>Types of authentication
                        	<li>Clear text HTTP protocol
                        	<li>Advanced username enumeration/brute force issues
                        	<li>Security through obscurity
                        </ul>
                        <h4>3. Authorisation</h4>
                        <ul class="list-la">
                        	<li>Session management issues
                        	<li>Weak ACLs
                        	<li>Cookie analysis
                        </ul>
                        <h4>4. SSL misconfigurations</h4>
                        <ul class="list-la">
                        	<li>SSL and man-in-the-middle attacks
                        	<li>TLS renegotiation, %00 byte issue
                        	<li>MD5 collisions
                        </ul>
                        <h4>5. Security problems with thick client applications</h4>
                        <ul class="list-la">
                        	<li>Insecure design
                        	<li>Echo Mirage, MiTM, replaying traffic etc
                        </ul>
                        <h4>6. Web/application server issues</h4>
                        <ul class="list-la">
                        	<li>IIS/Apache/OpenSSL exploitation
                        	<li>Oracle application server exploits(bypass exclusion list etc)
                        	<li>Hacking with Metasploit
                        	<li>Insecure HTTP methods
                        	<li>WebDAV issues
                        </ul>
                        <h4>7. Cross-site scripting</h4>
                        <ul class="list-la">
                        	<li>Types of XSS
                        	<li>Identifying XSS
                        	<li>Exploiting XSS
                        	<li>Advanced XSS exploitation with beef and XSS-Shell
                        	<li>Secure cookie, HTTP-only
                        </ul>
                        <h4>8. Advanced XSS</h4>
                        <ul class="list-la">
                        	<li>Pitfalls in defending XSS
                        	<li>Fixing XSS
                        </ul>
                        <h4>9. Cross-site request forgery</h4>
                        <ul class="list-la">
                        	<li>Identifying/exploiting CSRF
                        	<li>Complicated CSRF with POST requests
                        	<li>CSRF in web services
                        	<li>Impact
                        	<li>Fixing CSRF
                        </ul>
                        <h4>10. Session fixation</h4>
                        <ul class="list-la">
                        	<li>Cookie fixation
                        	<li>Faulty log-out functionalities
                        </ul>
                        <h4>11. CRLF injection</h4>
                        <ul class="list-la">
                        	<li>Proxy poisoning
                        	<li>XSS with CRLF injection
                        </ul>
                        <h4>12. Clickjacking</h4>
                        <h4>13. SQL injection</h4>
                        <ul class="list-la">
                        	<li>Introduction to SQL injection
                        	<li>Impact: Authentication bypass
                        	<li>Impact: Extracting data (Blind SQL Injection, UNION tricks, OOB channels)
                        	<li>OS code execution (MS-SQL, MySql, Oracle)
                        	<li>SQL injection within stored procedures, parameterized statements
                        	<li>Places where you never thought SQLI could occur
                        	<li>Pitfalls in defending SQL injections
                        	<li>Fixing SQL Injections
                        </ul>
                        <h4>14. Malicious file uploads</h4>
                        <ul class="list-la">
                        	<li>File uploads
                        	<li>IIS zero-day
                        	<li>Hacking unprotected application servers
                        </ul>
                        <h4>15. Vulnerable flash applications</h4>
                        <ul class="list-la">
                        	<li>Insecure cross-domain requests
                        	<li>Flash XSS
                        </ul>
                        <h4>16. Business logic bypass</h4>
                        <ul class="list-la">
                        	<li>Authentication bypass
                        	<li>Insecure coding
                        	<li>Other logical flaws
                        </ul>
                        <h4>17. OS code execution</h4>
                        <h4>18. Remote/local file inclusion</h4>
                        <ul class="list-la">
                        	<li>File inclusion
                        	<li>OS code execution
                        </ul>
                        <h4>19. Direct object reference</h4>
                        <h4>20. Capture the flag session</h4>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>