<div class="container-fluid" ng-controller="oracleController">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/weblogic.jpg" alt="WebLogic-Training-Pro-eLearning">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/oracle.png" alt="WebLogic Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>WebLogic Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>1) Overview of Java/J2EE Technologies</h4>
                        <ul>
                        	<li>J2EE Architecture & Components</li>
                        	<li>The Need of Middleware Technologies</li>
                        	<li>About Webserver and Application Server</li>
                        	<li>Environments - Dev, Testing(SIT, UAT), Pre Prod & Prod</li>
                        </ul>
                        <h4>2) Introduction</h4>
                        <ul>
                        	<li>Introduction to Oracle WebLogic Server</li>
                        	<li>Importance of WebLogic Server</li>
                        	<li>Weblogic Server Terminology (Domains, Admin Server, Machine, Managed Servers)</li>
                        	<li>WebLogic 11 g / 12 c Features</li>
                        </ul>
                        <h4>3) Installation & Configuration</h4>
                        <ul>
                        	<li>WebLogic Server Installation & Configuration on Windows / Linux </li>
                        	<li>Modes of Installation</li>
                        	<li>Domain creation and configuration</li>
                        	<li>Configuration Wizard</li>
                        	<li>The Administrative Console</li>
                        	<li>Creation Managed Servers</li>
                        	<li>Starting & Stopping Admin Server, Managed Servers </li>
                        	<li>About NodeManager</li>
                        	<li>Starting & Stopping Admin Server, Managed Servers through NodeManager</li>
                        </ul>
                        <h4>4) Overview of Deployment Process</h4>
                        <ul>
                        	<li>Overview of Deployment</li>
                        	<li>Deployment Methods</li>
                        	<li>Managing Application Server Life Cycle states</li>
                        	<li>Deploy WebApplication & Testing</li>
                        	<li>Deploy Application to Servers & Clusters</li>
                        </ul>
                        <h4>5) Clustering</h4>
                        <ul>
                        	<li>Introduction to cluster</li>
                        	<li>Benefits of cluster</li>
                        	<li>Basic & Multi-tier Cluster diagrams</li>
                        	<li>Unicast & Multi-cast </li>
                        	<li>Creation & configuration Cluster</li>
                        	<li>Deploy Application to Cluster</li>
                        	<li>Session Replication</li>
                        	<li>Clustering using WebServer Configuration</li>
                        </ul>
                        <h4>6) JDBC & DataSource Configuration</h4>
                        <ul>
                        	<li>Introduction to JDBC & DataSource</li>
                        	<li>Types of Jdbc Drivers</li>
                        	<li>Creating JDBC & DataSource</li>
                        	<li>Purpose of Connection Pooling</li>
                        	<li>JNDI</li>
                        </ul>
                        <h4>7) JMS (Java Messaging Service)</h4>
                        <ul>
                        	<li>Introduction to JMS</li>
                        	<li>Messaging Types</li>
                        	<li>Creating JMS Servers,modules,Queue & Topic</li>
                        	<li>Creating Connection Factory</li>
                        	<li>Deploying JMS Application</li>
                        	<li>Monitoring Messages in Queue & Topic</li>
                        </ul>
                        <h4>8) Security</h4>
                        <ul>
                        	<li>Security Fundamentals</li>
                        	<li>Authentication & Authorization</li>
                        	<li>Weblogic Security</li>
                        	<li>Security Realms</li>
                        	<li>Managing Users & Groups</li>
                        	<li>SSL Security</li>
                        	<li>SSL Mechanism & Configuration</li>
                        </ul>
                        <h4>9) TroubleShooting</h4>
                        <ul>
                        	<li>About WebLogic Server Logs</li>
                        	<li>Thread Dumps</li>
                        	<li>Heap Dumps</li>
                        	<li>Log Message Format</li>
                        	<li>Techniques to Troubleshoot and fix the OOM, Memory Leak, ServerHang, Server Crash Problems </li>
                        	<li>About Heap Memory</li>
                        	<li>GC(Garbage Collrector)</li>
                        </ul>
                        <h4>10) Weblogic Performance and Tuning</h4>
                        <ul>
                        	<li>Operating System Tuning</li>
                        	<li>Java Virtual Machine(JVM) Tuning</li>
                        	<li>Monitoring Threads</li>
                        	<li>Techniques to reduce Application down time</li>
                        </ul>
                        <h4>11) WLST (Weblogic Scripting Tool)</h4>
                        <ul>
                        	<li>Introduction to WLST</li>
                        	<li>WLST Commands</li>
                        	<li>Running Scripts</li>
                        </ul>
                        <h4>12) Real Time Environment</h4>
                        <ul>
                        	<li>Weblogic Admin Responsibilities</li>
                        	<li>About Ticketing & Monitoring tools</li>
                        	<li>ITIL(Information Technology Infrastructure Library) Process</li>
                        	<li>Types of Tickets</li>
                        	<li>Severity Levels</li>
                        </ul>
                        <h4>13) Monitoring</h4>
                        <ul>
                        	<li>JVM</li>
                        	<li>Cluster</li>
                        	<li>Connection Pools</li>
                        	<li>JMS</li>
                        	<li>Thread pool</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>