<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/websphere-admin.jpg" alt="Websphere-Admin-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">WebSphere Admin Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>12345</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="training-modes">
                <h3>Available Modes of Training</h3>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/online-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>Online Training</h4>
                            <p class="text-justify">Conducted through the virtual classroom also have the same program flow with theory and practical sessions. Our Labs can be accessed online from across the world allowing our online training student to make the best use of the infrastructure from the comfort of their home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/classroom-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-site Training</h4>
                            <p class="text-justify">Trainings will be conducted on a daily basis. Practical exercises are provided for the topics conducted on daily basis to be worked upon during the lab session.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/on-demand-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-demand Training</h4>
                            <p class="text-justify">Select your flexible timings at your convenience for one-to-one training. You individually will assigned a trainer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>: An understanding of basic internet concepts Experience in using a web browser Administrative skills for a web server, such as IBM HTTP Server or Apache Basic operational skills for the Linux operating system</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>When using WebSphere Application Server Community Edition there may be several XML files that you need to create as part of deploying an application. WAS-CE has the concept of “deployment plans” which describe how to deploy a Java Enterprise application to WAS-CE. Since these files may be complex any errors in syntax can cause wasted time and effort trying to deploy an application to WAS-CE</p>
                    <p>WAS-CE is a combination of several open source projects into a Java EE 5 compatible Java Application Server. The most notable project included in WebSphere Community Edition is the Apache Geronimo Project. WebSphere Community Edition is FREE to download and use, even in production systems. IBM provides several different support options, including fee-based support options.</p>
                    <p>WebSphere Application Server, often referred to simply as WAS, is a JEE-compliant application server platform. JEE stands for Java Enterprise Edition and was previously referred to as J2EE. JEE application servers provide functionality to deploy fault-tolerant, distributed, and multi-tier Java software. They also provide the runtime environment and management interface to manage the many modular components that make up JEE applications. Before we begin to look into the specifics of WebSphere Application Server 8 administration, it is important to understand what the product is, why it is often the product of choice to provide a base for an enterprise JEE SOA (Service Oriented Architecture) along with support for the many Java-based standards, and how an organization can benefit from using WAS. We also need to cover some specific WAS terminology and concepts used throughout the tutorial.</p>
					<p>IBM WebSphere Application Server, is IBM’s answer to the JEE application server. WAS first appeared in the market as a Java Servlet engine in June 1998, but it wasn’t until version 4 (released in 2001) that the product became a fully JEE 1.2-compliant application server.</p>
					<p>Over the last 10 years, since version 1.2 was released, IBM has invested heavily in WAS and it is developed with open industry standards in mind such as Java EE, XML, and Web Services. WebSphere Application Server is now IBM’s flagship for the WebSphere brand and forms the base of many of IBM’s extended product range.</p>
				</div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. System Requirements for Installing the Software <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>PCs with at least 2GB RAM with a full installation of RAD 7.0</li>
									<li>A full installation of WebSphere 7.0 Application Server</li>
									<li>Related lab files</li>
									<li>Important: Please contact us for a detailed course setup guide if you have purchased this course.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#two" aria-expanded="false" aria-controls="collapseTwo">2. WebSphere Training Objectives <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
									<li>Master deploying and managing J2EE and Web Services applications in WAS</li>
									<li>Learn the WebSphere Application Server Architecture, as well as installation and troubleshooting</li>
									<li>Understand workload and security management</li>
									<li>Learn how to define deployment descriptors and troubleshoot deployment problems using the advanced features of the WebSphere Administrator's Console and other WebSphere tools</li>
									<li>Learn how to implement the WS-Security specification to provide Web services with authentication, message integrity and confidentiality</li>
									<li>Examine JMS deployment and configuration</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <h2>WebSphere Training Outline</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#three" aria-expanded="false" aria-controls="collapseThree">3. WebSphere Platform Overview <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
									<li>WebSphere Product Categories</li>
                                    <li>WebSphere Development, Presentation, Integration and Deployment Tools</li>
                                    <li>WebSphere Application Server Features</li>
                                    <li>WebSphere Application Server Offerings</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#four" aria-expanded="false" aria-controls="collapseFour">4. J2EE Architecture Overview <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
									<li>Enterprise Application Overview and Development Cycle</li>
                                    <li>J2EE Architecture and Containers</li>
                                    <li>Applet, Servlet and JSP Overviews</li>
                                    <li>JDBC, JNDI and JTA</li>
                                    <li>EJB, JMS and RMI Over IIOP</li>
                                    <li>JavaMail, JAF, JAAS and JACC</li>
                                    <li>XML and JAXP</li>
                                    <li>New in J2EE 1.4</li>
                                    <li>Web Services Support: JAX-RPC, SAAJ, Web Services for J2EE and JAXR</li>
                                    <li>J2EE Connector, Management and Deployment</li>
                                    <li>Development Roles and Deployment Descriptors</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#five" aria-expanded="false" aria-controls="collapseFive">5. WebSphere Application Server Architecture <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
									<li>Application Server Architecture Overview</li>
                                    <li>Under the Cover</li>
                                    <li>Basic Concepts</li>
                                    <li>Web Server Plug-ins</li>
                                    <li>Containers</li>
                                    <li>Application Server Services: Transaction, ORB, PMI, Message Listener, Naming and Security Services</li>
                                    <li>Web Services Support</li>
                                    <li>WebSphere Administration Architecture</li>
                                    <li>Master Configuration Repository</li>
                                    <li>Network Deployment Architecture Overview</li>
                                    <li>Cells, Nodes and Node Agents</li>
                                    <li>Clusters</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#six" aria-expanded="false" aria-controls="collapseSix">6. WebSphere Application Server Installation <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                               <ul>
									<li>Hardware/Software Requirements</li>
                                    <li>Installation Planning</li>
                                    <li>Cell Topologies</li>
                                    <li>Installation Process</li>
                                    <li>GUI and Silent Installation</li>
                                    <li>Application Server Components</li>
                                    <li>Verifying the Installation</li>
                                    <li>WebSphere Configuration Files</li>
							   </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#seven" aria-expanded="false" aria-controls="collapseSeven">7. Administrative Console <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
									<li>Starting the Console</li>
                                    <li>Navigating the Console</li>
                                    <li>Administrative Tasks</li>
                                    <li>Scope, Filters and Preferences</li>
                                    <li>Saving Configuration Changes</li>
                                    <li>Getting Help</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eight" aria-expanded="false" aria-controls="collapseEight">8. Managing Profiles <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
									<li>Profile Types</li>
                                    <li>Directory Structure</li>
                                    <li>Default Profile</li>
                                    <li>Creating Profiles</li>
                                    <li>Using the Profile Creation Wizard</li>
                                    <li>Using wasprofile</li>
                                    <li>Federation</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nine" aria-expanded="false" aria-controls="collapseNine">9. Configuring WebSphere Resources <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
									<li>Defining JDBC Resources</li>
                                    <li>Configuring JCA Resources</li>
                                    <li>WebSphere JavaMail Provider</li>
                                    <li>Defining Virtual Hosts</li>
                                    <li>WebSphere Variables</li>
                                    <li>Shared Libraries and Library References</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#ten" aria-expanded="false" aria-controls="collapseNine">10. Application Assembly and Packaging <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="ten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                               <ul>
									<li>J2EE Deployable Units</li>
                                    <li>Assembly Process</li>
                                    <li>J2EE Modules</li>
                                    <li>Assembly Steps</li>
                                    <li>Packaging Checklist</li>
                                    <li>Deployment Descriptor Elements (EJB, Web, Connector, Client and Application)</li>
                                    <li>IBM Extensions and Bindings</li>
							   </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eleven" aria-expanded="false" aria-controls="collapseNine">11. Application Server Toolkit  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
									<li>AST Features</li>
                                    <li>Commonly Used Perspectives and Views</li>
                                    <li>JAR Dependency Editor</li>
                                    <li>Creating Projects and Defining Project Properties</li>
                                    <li>Creating Modules: Web, EJB, Application Client and Connector</li>
                                    <li>Importing Resources</li>
                                    <li>Web Deployment Descriptor (Servlet Properties, Filters, Listeners, Environment Variables, References, Pages, MIME Mappings, Parameters and Extensions)</li>
                                    <li>EJB Deployment Descriptor (EJB Properties, Assembly Descriptor, Transactions, References and Access)</li>
                                    <li>EJB Client JARs</li>
                                    <li>Application Client Properties</li>
                                    <li>Application Deployment Descriptor (Modules and Security)</li>
                                    <li>Application Validation</li>
                                    <li>Generating Deployment Code</li>
                                    <li>Exporting Applications</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#twelve" aria-expanded="false" aria-controls="collapseNine">12. Enterprise Application Deployment <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="twelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
                                <ul>
									<li>Deployment Process</li>
                                    <li>Deployment Preparation</li>
                                    <li>Application Installation Options</li>
                                    <li>Mapping Modules to Servers</li>
                                    <li>Specifying Virtual Hosts</li>
                                    <li>Managing Deployed Applications</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThirteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#thirteen" aria-expanded="false" aria-controls="collapseNine">13. Java and Process Management <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="thirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                            <div class="panel-body">
                                <ul>
									<li>WebSphere Class Loaders</li>
                                    <li>Class Loader Hierarchy and Delegation</li>
                                    <li>Common Class Loading Problems</li>
                                    <li>Class Loader Configuration</li>
                                    <li>Process Definition</li>
                                    <li>JVM Settings</li>
                                    <li>Monitoring Policy</li>
							    </ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFourrteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fourteen" aria-expanded="false" aria-controls="collapseNine">14. Session Management  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourrteen">
                            <div class="panel-body">
                               <ul>
									<li>Session Management Configuration</li>
                                    <li>Session Persistence</li>
                                    <li>Session Scope</li>
                                    <li>WebSphere Affinity</li>
                                    <li>Session Management Options</li>
                                    <li>Internal Messaging Properties</li>
                                    <li>Replication Domains and Entries</li>
                                    <li>Shared Session Database Settings</li>
							   </ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFivteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fivteen" aria-expanded="false" aria-controls="collapseNine">15. Command Line Administration <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fivteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFivteen">
                            <div class="panel-body">
                               <ul>
									<li>Wsadmin Advantages and Disadvantages</li>
                                    <li>Configuring Wsadmin</li>
                                    <li>Wsadmin Objects</li>
                                    <li>Configuration Types and Object Names</li>
                                    <li>Containment Path</li>
                                    <li>Running Commands</li>
                                    <li>JACL</li>
                                    <li>Running Scripts</li>
                                    <li>Examples</li>
                                    <li>Managing Nodes and Servers</li>
                                    <li>Creating and Restoring Backups</li>
							   </ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSixteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#sixteen" aria-expanded="false" aria-controls="collapseNine">16. Workload Management <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="sixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
                            <div class="panel-body">
                                <ul>
									<li>Workload Management Benefits</li>
                                    <li>Vertical, Horizontal and Combination Scaling</li>
                                    <li>Clustering</li>
                                    <li>Creating and Managing a Cluster</li>
                                    <li>Implementing Workload Management</li>
                                    <li>Workload Management Selection Policy</li>
                                    <li>Load Balancing Problems</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeventeen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#seventeen" aria-expanded="false" aria-controls="collapseNine">17. Tivoli Performance Viewer <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="seventeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
                            <div class="panel-body">
                                <ul>
									<li>Analyzed Resources</li>
                                    <li>Performance Data Reporting Process</li>
                                    <li>Enabling PMI and JVMPI</li>
                                    <li>Launching the Performance Viewer</li>
                                    <li>Performance Monitoring Settings</li>
                                    <li>Selecting Counters</li>
                                    <li>Summary Reports</li>
                                    <li>Performance Viewer: Actions</li>
                                    <li>Recording and Replaying Performance Data</li>
                                    <li>Enabling and Viewing Performance Advice</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEighteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eighteen" aria-expanded="false" aria-controls="collapseNine">18. Troubleshooting Tools <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eighteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighteen">
                            <div class="panel-body">
                                <ul>
									<li>Define Symptoms</li>
                                    <li>Identify the Source of the Problem</li>
                                    <li>Trouble-Shooting Resources and Tools</li>
                                    <li>Runtime Status Messages</li>
                                    <li>Diagnostic Providers</li>
                                    <li>Enabling Trace and Specifying Trace Settings</li>
                                    <li>Viewing Log Files</li>
                                    <li>WebSphere Logging Tools</li>
                                    <li>Profiling and Logging Perspective</li>
                                    <li>Analyzing Entries</li>
                                    <li>Viewing Information from the Symptom Database</li>
                                    <li>Dumping the Name Space</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNighnteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nighnteen" aria-expanded="false" aria-controls="collapseNine">19. WebSphere Security Basics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nighnteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNighnteen">
                            <div class="panel-body">
                                <ul>
									<li>Security Risks</li>
                                    <li>Security Layers</li>
                                    <li>Authentication and Authorization</li>
                                    <li>Lazy Authentication</li>
                                    <li>LTPA</li>
                                    <li>User Registries and Supported LDAP Servers</li>
                                    <li>Single Sign-On</li>
                                    <li>Transport Level Security</li>
                                    <li>Encryption and Decryption</li>
                                    <li>Cryptography</li>
                                    <li>Certificates</li>
                                    <li>Digital Signatures</li>
                                    <li>Message Integrity</li>
                                    <li>SSL and TLS</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwenty">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#twenty" aria-expanded="false" aria-controls="collapseNine">20. Defining Security Settings <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="twenty" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwenty">
                            <div class="panel-body">
                                <ul>
									<li>Securing Web Applications</li>
                                    <li>Authenticating Users</li>
                                    <li>Defining Security Roles, Security Constraints and Web Resource Collections</li>
                                    <li>Servlet Security Settings</li>
                                    <li>Securing EJB Applications</li>
                                    <li>Annotations: Roles and Method Permissions</li>
                                    <li>Defining Method Permissions and Security Role References</li>
                                    <li>Security Identity and Run As Identity</li>
                                    <li>Gathering and Mapping Security Roles</li>
                                    <li>Security Configuration Files</li>
                                    <li>Examples</li>
                                    <li>Security Tips</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#twentyone" aria-expanded="false" aria-controls="collapseNine">21. JMS Deployment and Configuration <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="twentyone" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyOne">
                            <div class="panel-body">
                                <ul>
									<li>JMS Capabilities and Messaging Styles</li>
                                    <li>JMS Interactions and Participants</li>
                                    <li>JMS Runtime Environment</li>
                                    <li>Message-Driven Beans</li>
                                    <li>Listener Ports and JMS Activation Specifications</li>
                                    <li>WebSphere JMS Support</li>
                                    <li>Feature Comparison</li>
                                    <li>Security Considerations</li>
                                    <li>JMS Provider Configuration: Default Messaging, WebSphere MQ and Generic JMS Providers</li>
                                    <li>Configuring JMS Resources</li>
                                    <li>JMS References and Transactions</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#TwentyTwo" aria-expanded="false" aria-controls="collapseNine">22. Service Integration Bus <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="TwentyTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyTwo">
                            <div class="panel-body">
                                <ul>
									<li>Bus Features and Components</li>
                                    <li>SIB Architecture</li>
                                    <li>Creating a Bus</li>
                                    <li>Bus Properties</li>
                                    <li>Bus Security</li>
                                    <li>Message Store Types</li>
                                    <li>Adding Bus Members</li>
                                    <li>Destinations</li>
                                    <li>Configuring a Foreign Bus</li>
                                    <li>Messaging Engines</li>
                                    <li>Linking Messaging Engines</li>
                                    <li>Server Messaging Properties</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#TwentyThree" aria-expanded="false" aria-controls="collapseNine">23. Web Service Support <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="TwentyThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyThree">
                            <div class="panel-body">
                                <ul>
									<li>Service-Oriented Architecture</li>
                                    <li>Supported Standards</li>
                                    <li>Web Service Deployment</li>
                                    <li>SIBWS Setup</li>
                                    <li>Inbound and Outbound Services</li>
                                    <li>Handlers and Handler Lists</li>
                                    <li>Applying a Mediation</li>
                                    <li>UDDI References</li>
                                    <li>Gateway Services</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#TwentyFour" aria-expanded="false" aria-controls="collapseNine">24. Defining Web Services Security <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="TwentyFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyFour">
                            <div class="panel-body">
                                <ul>
									<li>Supported Specifications</li>
                                    <li>WebSphere Security Model for Web Services</li>
                                    <li>Configuration Files</li>
                                    <li>WS Security Wizard</li>
                                    <li>Enabling Authentication</li>
                                    <li>Specifying Message Integrity</li>
                                    <li>Configuring Confidentiality</li>
                                    <li>Examples</li>
								</ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#TwentyFive" aria-expanded="false" aria-controls="collapseNine">25. Conclusion <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="TwentyFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Conclusion</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BGhlHsFBhLE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>The faculty is explaining WebSphere Admin course very nice and helpful. I learned a lot of things from here and also got a job. Thanks for helping me.</p>
                            <h4 class="pull-right">&#x2015; Susanne</h4>
                        </div>
                        <div class="item slide">
                            <p>I joined the institute for WebSphere Admin I feel extremely satisfied with the training.</p>
                            <h4 class="pull-right">&#x2015; Michelle</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>
                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>