<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/websphere-admin.jpg" alt="WebSphere-Admin-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" disable-contextmenu-cut-copy-paste>
                <div class="course-desc">
                    <div class="course-desc-icon">
                        <img src="./images/course-images/devops.png" alt="WebSphere Admin Course Details - Pro E-Learning">
                    </div>
                    
                    <div class="c-syllabus">
                        <h1>WebSphere Admin Course Content</h1>
                        <p class="course-duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: --</p>
                        <hr>
                        <h4>Software Needed on Each Student PC</h4>
                        <ul>
                            <li>PCs with at least 2GB RAM with a full installation of RAD 7.0</li>
                            <li>A full installation of WebSphere 7.0 Application Server</li>
                            <li>Related lab files</li>
                            <li>Important: Please contact us for a detailed course setup guide if you have purchased this course.</li>
                        </ul>
                        <h4>WebSphere Training Objectives</h4>
                        <ul>
                            <li>Master deploying and managing J2EE and Web Services applications in WAS</li>
                            <li>Learn the WebSphere Application Server Architecture, as well as installation and troubleshooting</li>
                            <li>Understand workload and security management</li>
                            <li>Learn how to define deployment descriptors and troubleshoot deployment problems using the advanced features of the WebSphere Administrator's Console and other WebSphere tools</li>
                            <li>Learn how to implement the WS-Security specification to provide Web services with authentication, message integrity and confidentiality</li>
                            <li>Examine JMS deployment and configuration</li>
                        </ul>
                        <h4>WebSphere Training Outline</h4>
                        <ul>
                            <li>WebSphere Platform Overview
                                <ul>
                                    <li>WebSphere Product Categories</li>
                                    <li>WebSphere Development, Presentation, Integration and Deployment Tools</li>
                                    <li>WebSphere Application Server Features</li>
                                    <li>WebSphere Application Server Offerings</li>
                                </ul>
                            </li>
                            <li>J2EE Architecture Overview
                                <ul>
                                    <li>Enterprise Application Overview and Development Cycle</li>
                                    <li>J2EE Architecture and Containers</li>
                                    <li>Applet, Servlet and JSP Overviews</li>
                                    <li>JDBC, JNDI and JTA</li>
                                    <li>EJB, JMS and RMI Over IIOP</li>
                                    <li>JavaMail, JAF, JAAS and JACC</li>
                                    <li>XML and JAXP</li>
                                    <li>New in J2EE 1.4</li>
                                    <li>Web Services Support: JAX-RPC, SAAJ, Web Services for J2EE and JAXR</li>
                                    <li>J2EE Connector, Management and Deployment</li>
                                    <li>Development Roles and Deployment Descriptors</li>
                                </ul>
                            </li>
                            <li>WebSphere Application Server Architecture
                                <ul>
                                    <li>Application Server Architecture Overview</li>
                                    <li>Under the Cover</li>
                                    <li>Basic Concepts</li>
                                    <li>Web Server Plug-ins</li>
                                    <li>Containers</li>
                                    <li>Application Server Services: Transaction, ORB, PMI, Message Listener, Naming and Security Services</li>
                                    <li>Web Services Support</li>
                                    <li>WebSphere Administration Architecture</li>
                                    <li>Master Configuration Repository</li>
                                    <li>Network Deployment Architecture Overview</li>
                                    <li>Cells, Nodes and Node Agents</li>
                                    <li>Clusters</li>
                                </ul>
                            </li>
                            <li>WebSphere Application Server Installation
                                <ul>
                                    <li>Hardware/Software Requirements</li>
                                    <li>Installation Planning</li>
                                    <li>Cell Topologies</li>
                                    <li>Installation Process</li>
                                    <li>GUI and Silent Installation</li>
                                    <li>Application Server Components</li>
                                    <li>Verifying the Installation</li>
                                    <li>WebSphere Configuration Files</li>
                                </ul>
                            </li>
                            <li>Administrative Console
                                <ul>
                                    <li>Starting the Console</li>
                                    <li>Navigating the Console</li>
                                    <li>Administrative Tasks</li>
                                    <li>Scope, Filters and Preferences</li>
                                    <li>Saving Configuration Changes</li>
                                    <li>Getting Help</li>
                                </ul>
                            </li>
                            <li>Managing Profiles
                                <ul>
                                    <li>Profile Types</li>
                                    <li>Directory Structure</li>
                                    <li>Default Profile</li>
                                    <li>Creating Profiles</li>
                                    <li>Using the Profile Creation Wizard</li>
                                    <li>Using wasprofile</li>
                                    <li>Federation</li>
                                </ul>
                            </li>
                            <li>Configuring WebSphere Resources
                                <ul>
                                    <li>Defining JDBC Resources</li>
                                    <li>Configuring JCA Resources</li>
                                    <li>WebSphere JavaMail Provider</li>
                                    <li>Defining Virtual Hosts</li>
                                    <li>WebSphere Variables</li>
                                    <li>Shared Libraries and Library References</li>
                                </ul>
                            </li>
                            <li>Application Assembly and Packaging
                                <ul>
                                    <li>J2EE Deployable Units</li>
                                    <li>Assembly Process</li>
                                    <li>J2EE Modules</li>
                                    <li>Assembly Steps</li>
                                    <li>Packaging Checklist</li>
                                    <li>Deployment Descriptor Elements (EJB, Web, Connector, Client and Application)</li>
                                    <li>IBM Extensions and Bindings</li>
                                </ul>
                            </li>
                            <li>Application Server Toolkit
                                <ul>
                                    <li>AST Features</li>
                                    <li>Commonly Used Perspectives and Views</li>
                                    <li>JAR Dependency Editor</li>
                                    <li>Creating Projects and Defining Project Properties</li>
                                    <li>Creating Modules: Web, EJB, Application Client and Connector</li>
                                    <li>Importing Resources</li>
                                    <li>Web Deployment Descriptor (Servlet Properties, Filters, Listeners, Environment Variables, References, Pages, MIME Mappings, Parameters and Extensions)</li>
                                    <li>EJB Deployment Descriptor (EJB Properties, Assembly Descriptor, Transactions, References and Access)</li>
                                    <li>EJB Client JARs</li>
                                    <li>Application Client Properties</li>
                                    <li>Application Deployment Descriptor (Modules and Security)</li>
                                    <li>Application Validation</li>
                                    <li>Generating Deployment Code</li>
                                    <li>Exporting Applications</li>
                                </ul>
                            </li>
                            <li>Enterprise Application Deployment
                                <ul>
                                    <li>Deployment Process</li>
                                    <li>Deployment Preparation</li>
                                    <li>Application Installation Options</li>
                                    <li>Mapping Modules to Servers</li>
                                    <li>Specifying Virtual Hosts</li>
                                    <li>Managing Deployed Applications</li>
                                </ul>
                            </li>
                            <li>Java and Process Management
                                <ul>
                                    <li>WebSphere Class Loaders</li>
                                    <li>Class Loader Hierarchy and Delegation</li>
                                    <li>Common Class Loading Problems</li>
                                    <li>Class Loader Configuration</li>
                                    <li>Process Definition</li>
                                    <li>JVM Settings</li>
                                    <li>Monitoring Policy</li>
                                </ul>
                            </li>
                            <li>Session Management
                                <ul>
                                    <li>Session Management Configuration</li>
                                    <li>Session Persistence</li>
                                    <li>Session Scope</li>
                                    <li>WebSphere Affinity</li>
                                    <li>Session Management Options</li>
                                    <li>Internal Messaging Properties</li>
                                    <li>Replication Domains and Entries</li>
                                    <li>Shared Session Database Settings</li>
                                </ul>
                            </li>
                            <li>Command Line Administration
                                <ul>
                                    <li>Wsadmin Advantages and Disadvantages</li>
                                    <li>Configuring Wsadmin</li>
                                    <li>Wsadmin Objects</li>
                                    <li>Configuration Types and Object Names</li>
                                    <li>Containment Path</li>
                                    <li>Running Commands</li>
                                    <li>JACL</li>
                                    <li>Running Scripts</li>
                                    <li>Examples</li>
                                    <li>Managing Nodes and Servers</li>
                                    <li>Creating and Restoring Backups</li>
                                </ul>
                            </li>
                            <li>Workload Management
                                <ul>
                                    <li>Workload Management Benefits</li>
                                    <li>Vertical, Horizontal and Combination Scaling</li>
                                    <li>Clustering</li>
                                    <li>Creating and Managing a Cluster</li>
                                    <li>Implementing Workload Management</li>
                                    <li>Workload Management Selection Policy</li>
                                    <li>Load Balancing Problems</li>
                                </ul>
                            </li>
                            <li>Tivoli Performance Viewer
                                <ul>
                                    <li>Analyzed Resources</li>
                                    <li>Performance Data Reporting Process</li>
                                    <li>Enabling PMI and JVMPI</li>
                                    <li>Launching the Performance Viewer</li>
                                    <li>Performance Monitoring Settings</li>
                                    <li>Selecting Counters</li>
                                    <li>Summary Reports</li>
                                    <li>Performance Viewer: Actions</li>
                                    <li>Recording and Replaying Performance Data</li>
                                    <li>Enabling and Viewing Performance Advice</li>
                                </ul>
                            </li>
                            <li>Troubleshooting Tools
                                <ul>
                                    <li>Define Symptoms</li>
                                    <li>Identify the Source of the Problem</li>
                                    <li>Trouble-Shooting Resources and Tools</li>
                                    <li>Runtime Status Messages</li>
                                    <li>Diagnostic Providers</li>
                                    <li>Enabling Trace and Specifying Trace Settings</li>
                                    <li>Viewing Log Files</li>
                                    <li>WebSphere Logging Tools</li>
                                    <li>Profiling and Logging Perspective</li>
                                    <li>Analyzing Entries</li>
                                    <li>Viewing Information from the Symptom Database</li>
                                    <li>Dumping the Name Space</li>
                                </ul>
                            </li>
                            <li>WebSphere Security Basics
                                <ul>
                                    <li>Security Risks</li>
                                    <li>Security Layers</li>
                                    <li>Authentication and Authorization</li>
                                    <li>Lazy Authentication</li>
                                    <li>LTPA</li>
                                    <li>User Registries and Supported LDAP Servers</li>
                                    <li>Single Sign-On</li>
                                    <li>Transport Level Security</li>
                                    <li>Encryption and Decryption</li>
                                    <li>Cryptography</li>
                                    <li>Certificates</li>
                                    <li>Digital Signatures</li>
                                    <li>Message Integrity</li>
                                    <li>SSL and TLS</li>
                                </ul>
                            </li>
                            <li>Defining Security Settings
                                <ul>
                                    <li>Securing Web Applications</li>
                                    <li>Authenticating Users</li>
                                    <li>Defining Security Roles, Security Constraints and Web Resource Collections</li>
                                    <li>Servlet Security Settings</li>
                                    <li>Securing EJB Applications</li>
                                    <li>Annotations: Roles and Method Permissions</li>
                                    <li>Defining Method Permissions and Security Role References</li>
                                    <li>Security Identity and Run As Identity</li>
                                    <li>Gathering and Mapping Security Roles</li>
                                    <li>Security Configuration Files</li>
                                    <li>Examples</li>
                                    <li>Security Tips</li>
                                </ul>
                            </li>
                            <li>JMS Deployment and Configuration
                                <ul>
                                    <li>JMS Capabilities and Messaging Styles</li>
                                    <li>JMS Interactions and Participants</li>
                                    <li>JMS Runtime Environment</li>
                                    <li>Message-Driven Beans</li>
                                    <li>Listener Ports and JMS Activation Specifications</li>
                                    <li>WebSphere JMS Support</li>
                                    <li>Feature Comparison</li>
                                    <li>Security Considerations</li>
                                    <li>JMS Provider Configuration: Default Messaging, WebSphere MQ and Generic JMS Providers</li>
                                    <li>Configuring JMS Resources</li>
                                    <li>JMS References and Transactions</li>
                                </ul>
                            </li>
                            <li>Service Integration Bus
                                <ul>
                                    <li>Bus Features and Components</li>
                                    <li>SIB Architecture</li>
                                    <li>Creating a Bus</li>
                                    <li>Bus Properties</li>
                                    <li>Bus Security</li>
                                    <li>Message Store Types</li>
                                    <li>Adding Bus Members</li>
                                    <li>Destinations</li>
                                    <li>Configuring a Foreign Bus</li>
                                    <li>Messaging Engines</li>
                                    <li>Linking Messaging Engines</li>
                                    <li>Server Messaging Properties</li>
                                </ul>
                            </li>
                            <li>Web Service Support
                                <ul>
                                    <li>Service-Oriented Architecture</li>
                                    <li>Supported Standards</li>
                                    <li>Web Service Deployment</li>
                                    <li>SIBWS Setup</li>
                                    <li>Inbound and Outbound Services</li>
                                    <li>Handlers and Handler Lists</li>
                                    <li>Applying a Mediation</li>
                                    <li>UDDI References</li>
                                    <li>Gateway Services</li>
                                </ul>
                            </li>
                            <li>Defining Web Services Security
                                <ul>
                                    <li>Supported Specifications</li>
                                    <li>WebSphere Security Model for Web Services</li>
                                    <li>Configuration Files</li>
                                    <li>WS Security Wizard</li>
                                    <li>Enabling Authentication</li>
                                    <li>Specifying Message Integrity</li>
                                    <li>Configuring Confidentiality</li>
                                    <li>Examples</li>
                                </ul>
                            </li>
                            <li>Conclusion</li>
                        </ul>
                    </div>
                </div>
            </div>
                        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="readmore">
                    <div class="list-group">
                        <ul>
                            <li>Spring Framework Foundations</li>
                            <li>Using the Hibernate ORM</li>
                            <li>Hibernate Internals and Configuration</li>
                            <li>Introduction to Web Services</li>
                        </ul>
                    </div>
                </div>
    	    </div>
        </div>
    </div>
</div>