<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/websphere-message-broker.jpg" alt="Websphere-Message_Broker-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">IBM WebSphere Message Broker (IBM Integration Bus) Version 9.0 Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>60 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>12345</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Modes of Training -->
        <div ng-include="'views/modes-of-training-grid.html'"></div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <ul>
                            <li>Knowledge in computers and understanding about software languages.</li>
                            <li>Fresh Graduates, Job Seekers, Who wants to migrate there skills to Middleware Domain</li>
                        </ul>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
					<p>Get IBM Integration Bus (formerly Web sphere Message broker) Training with experts in real-time how to integrate applications, legacy systems and services in an business infrastructure .IIB/WMB current Market demand middleware tool for Enterprise application Integration. Which performs mainly transformation, integration and routing between the applications and services by using ESQL coding (Which is simple coding language without any programming knowledge also we can easily learn and understand). Web sphere MQ is pre requisite for IIB/MB like how to create queues, Queue Managers and Remote Queue Definition.</p>
                    <h4>What is this course about?</h4>
                    <p>This course gives you a clear understanding about how to use IBM Integration Bus / WMB (Message broker) in real time for integration purpose. Also  we can know how to develop message flows and Message sets by using DFDL and MRM parsers for integrating various systems and services.</p>
                    <h4>What are the course objectives?</h4>
                    <p>At end of this PHP training by Gang Board you will be able to,
                        <ul>
                            <li>Designed, Developed  and Integrated Message flows</li>
                            <li>How to develop Message flows</li>
                            <li>Creation Message sets and Message definition files for Non XML data</li>
                            <li>How to integrate different type applications by using various Nodes (MQ, File, Compute ..)</li>
                        </ul>
                    </p>
                    <h4>Who should do this course?</h4>
                    <ul>
                        <li>Fresh Graduates</li>
                        <li>Job Seekers</li>
                        <li>Who wants to migrate there skills to Middleware Domain</li>
                    </ul>
                    <h4>Job Opportunity for WMB/IIB</h4>
                    <p>WMB/IIB is a huge market leading demand tool for integration and many banks, Telecom, Insurance firms like SBI, Yes bank, RBL bank are using for their applications integrations in their business.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Certification -->
                <h3>Certification</h3>
                <p>Will guide you how to crack IBM certification and will provides dumps to crack.</p>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. Introduction to Integration Bus Concepts <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Need for business integration and transformation</li>
									<li>SOA Architecture Overview</li>
									<li>Functions of the primary components of IIB</li>
									<li>Scope and Future of IIB</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#two" aria-expanded="false" aria-controls="collapseTwo">2. Design and Setup Considerations <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
									<li>Installation of IIB & its dependencies</li>
									<li>Post Installation Checks</li>
									<li>Setting up IIB Runtime Environment</li>
									<li>IIB Architecture</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#three" aria-expanded="false" aria-controls="collapseThree">3. Integration Bus Development - Initial Steps <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
									<li>The Integration Toolkit</li>
									<li>components of Toolkit</li>
									<li>Steps to create/test message flow using the Toolkit</li>
									<li>Introduction to Flow Debugger</li>
									<li>Logical Message Tree: Message, Local Environment, Environment, Exception List</li>
									<li>Introduction to Domains / Parsers</li>
									<li>Introduction to ESQL transformation</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#four" aria-expanded="false" aria-controls="collapseFour">4. Working with Integration Bus Nodes Part 1 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
									<li>Using supplied nodes and use of most common ones</li>
									<li>Configuring Nodes & Connecting Terminals</li>
									<li>Sub flows and their uses</li>
									<li>Working with Databases</li>
									<li>Manipulating a message using ESQL</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#five" aria-expanded="false" aria-controls="collapseFive">5. Working with Integration Bus Nodes Part 2  <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
									<li>Request/Reply using Aggregation nodes</li>
									<li>Obtaining information from different sources using Integration Bus Nodes</li>
									<li>Use of MQ nodes like MQGET node to support MQ Protocol</li>
									<li>Mapping Node: Using Graphical Data Maps</li>
									<li>Error Handling: Error Handling Mechanism; Error Handling Flow Design (File / Database logging) Transaction Management</li>
									<li>Debugging: Logs (Event Log, Local Error Log); Trace (User Trace, Service Trace)</li>
									<li>Using the Collector node to process messages from different sources</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#six" aria-expanded="false" aria-controls="collapseSix">6. Message Modeling and Mapping <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                               <ul>
									 <li>Deep dive into Domains & Parsers</li>
									 <li>Message Parsing & Parser Options</li>
									 <li>XML, XSL, XSLT, XPATH</li>
									 <li>Import/use of C, XML and COBOL structures in the Toolkit</li>
									 <li>Creating and Testing with a message model using DFDL</li>
									 <li>Working with MRM models (Wire Formats, Industry Standard Message Modeling)</li>
							   </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#seven" aria-expanded="false" aria-controls="collapseSeven">7. Developing with Performance in Mind <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
									<li>Reference variables to process Message Trees</li>
									<li>Parsing in XML or other messages in efficient way</li>
									<li>Caching, Using the Environment Tree, Shared Variables</li>
									<li>Using Opaque Parsing</li>
									<li>Perform basic performance analysis on Message Flows</li>
									<li>Variables: Shared, User Defined Properties, Local</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eight" aria-expanded="false" aria-controls="collapseEight">8. Routing data through Message Flows <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
									<li>Content Based Routing using Route, Route To Label, Label and Database Route nodes</li>
									<li>Routing techniques using ESQL: Compute, Filter nodes</li>
									<li>Control Flow of Messages: Flow Order, Sequence, Resequence Nodes</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nine" aria-expanded="false" aria-controls="collapseNine">9. Additional input and output options <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
									<li>Job Scheduling: Timer nodes</li>
									<li>Email nodes</li>
									<li>Working with files in a message flow: File Input, File Output, File Read nodes</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#ten" aria-expanded="false" aria-controls="collapseNine">10. Using SOAP and HTTP nodes <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="ten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                               <ul>
									<li>Web Service support in Integration Bus: HTTP nodes, SOAP nodes</li>
									<li>Implementing a SOAP Web service Provider & Consumer flow</li>
									<li>WSDL creation</li>
									<li>Implementing a Restful Web service Provider & Consumer flow</li>
							   </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eleven" aria-expanded="false" aria-controls="collapseNine">11. Real time Project Explanation <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
                                    <li>Real time Project Explanation</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FAQ -->
                <h3>FAQ</h3>
                <div class="course-overview">
                    <div class="panel-group" id="accfaq" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accfaq" data-target="#faq1" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-bolt" aria-hidden="true"></i> How can I practise? <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                                </h4>
                            </div>
                            <div id="faq1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>Licensed software will provide and help you how to install in your local Machine.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accfaq" data-target="#faq2" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-bolt" aria-hidden="true"></i> What happens if I miss one (or) more class? <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                                </h4>
                            </div>
                            <div id="faq2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>No worries. It might happen. We will assist you by providing recorded session of what you missed in your LMS. And if required you can even attend that topic if any other live batches.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accfaq" data-target="#faq3" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-bolt" aria-hidden="true"></i> Who is my instructor? <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                                </h4>
                            </div>
                            <div id="faq3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>Top-notch professionals in that field who understands how to convey things in technical as well as subject matter experts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accfaq" data-target="#faq4" aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-bolt" aria-hidden="true"></i> What are the modes of training offered for this course? <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                                </h4>
                            </div>
                            <div id="faq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>We offer this course in “Live Instructor-Led Online Training” mode. Through this way you won’t mess anything in your real-life schedule. You will be shared with live meeting access while your session starts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accfaq" data-target="#faq5" aria-expanded="false" aria-controls="collapseFive"><i class="fa fa-bolt" aria-hidden="true"></i> What are the system requirements to install PHP? <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                                </h4>
                            </div>
                            <div id="faq5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <p>Basically >2GB RAM with minimum i3 processosor will be fine for installing WMB/IIB WMQ software.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accfaq" data-target="#faq6" aria-expanded="false" aria-controls="collapseSix"><i class="fa fa-bolt" aria-hidden="true"></i> Can I attend a demo session? <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                                </h4>
                            </div>
                            <div id="faq6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="panel-body">
                                    <p>You can get a sample class recording to ensure you are in right place. We ensure you will be getting complete worth of your money by assigning a best instructor in that technology.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LQvnCGBuQSg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>

                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>Best institute for Websphere Message Broker training. Learned many things and gained good knowledge in Websphere Message Broker. Faculty and Environment is very good.</p>
                            <h4 class="pull-right">&#x2015; Shaurya</h4>
                        </div>
                        <div class="item slide">
                            <p>It is a good place to learn Websphere Message Broker course. Teaching is really very good. They will take back up class if we miss any. Thank you pro-elearning for providing the backup class feature.</p>
                            <h4 class="pull-right">&#x2015; Raahithya</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>
        
        <!-- Certificate -->
        <div ng-include="'views/certificate.html'"></div>

    </div>
</div>
