<!-- Navigation Menu -->
<header>
    <div ng-include="'views/header.html'"></div>
</header>
<!-- //Navigation Menu -->

<div class="main-container">
	<!-- Side Nav -->
	<div ng-include="'views/side-nav.html'"></div>
	<!-- //Side Nav -->
	
	<!-- Partial Views -->
	<div class="main-content-wrapper">
	    <div class="main-content">
	        <div ng-controller="applyForJobCtrl">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">Apply for a Job</div>
                            </div>
                            <div class="content-grid">
                                <div class="clearfix">
                                    <form novalidate name="jobApplyForm" method="POST" enctype="multipart/form-data" id="jobApplyForm" autocomplete="on">
                                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                            <label for="job-id">Job ID <span class="important">*</span></label>
                                            <input type="text" id="job-id" class="form-control" name="jobId" ng-model="job_id" ng-maxlength="12" ng-pattern="/^[a-zA-Z0-9]{1,12}$/" placeholder="Job ID" ng-required="true">
                                            <span class="validation_styles" ng-show="jobApplyForm.jobId.$error.required && jobApplyForm.jobId.$touched">* Job ID is required<br></span>
                                            <span class="validation_styles" ng-show="jobApplyForm.jobId.$error.pattern && jobApplyForm.jobId.$touched">* Job ID should contain only alphabets and numbers<br></span>
                                            <span class="validation_styles" ng-show="jobApplyForm.jobId.$error.maxlength && jobApplyForm.jobId.$touched">* Job ID should be 12 characters only<br></span>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                            <label for="min-exp">Total Experience <span class="important">*</span></label>
                                            <input type="number" id="min-exp" class="form-control" name="minExp" ng-model="tot_experience" ng-pattern="/^[0-9]{1,2}.[0-9]{1,2}$/" step="0.10" min="0" max="100" placeholder="ex: 0.6, 12.05" ng-required="true">
                                            <span class="validation_styles" ng-show="jobApplyForm.minExp.$error.required && jobApplyForm.minExp.$touched">* Minimum Experience is required<br></span>
                                            <span class="validation_styles" ng-show="jobApplyForm.minExp.$error.pattern && jobApplyForm.minExp.$invalid">* Minimum Experience should contain only numbers and dot<br></span>
                                        </div>
                                        <div class="clearfix hidden-xs hidden-md hidden-lg"></div>
                                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                            <label for="domain-exp">Domain Experience <span class="important">*</span></label>
                                            <input type="number" id="domain-exp" class="form-control" name="domainExp" ng-model="domain_experience" ng-pattern="/^[0-9]{1,2}.[0-9]{1,2}$/" step="0.10" min="0" max="100" placeholder="ex: 0.6, 12.05" ng-required="true">
                                            <span class="validation_styles" ng-show="jobApplyForm.domainExp.$error.required && jobApplyForm.domainExp.$touched">* Domain Experience is required<br></span>
                                            <span class="validation_styles" ng-show="jobApplyForm.domainExp.$error.pattern && jobApplyForm.domainExp.$invalid">* Domain Experience should contain only numbers and dot<br></span>
                                        </div>
                                        <div class="clearfix hidden-sm"></div>
                                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                            <label for="job-desc" class="control-label">Updated CV <span class="important">*</span></label>
                                            <input type="file" id="cv" name="cv" ng-model="files" file-input="files" onchange="angular.element(this).scope().uploadedFile(this)" accept=".doc,.docx,.pdf" ng-required="true">
                                            <span class="validation_styles" ng-show="jobApplyForm.cv.$error.required && jobApplyForm.cv.$touched">* Job description file is required<br></span>
                                            <p class="help-block">Only <strong>.doc | .docx | .pdf</strong> formats are supported.</p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <button type="submit" class="btn btn-primary transition" ng-disabled="jobApplyForm.$invalid" ng-click="fn_applyForJob()">Apply</button>
                                            <button type="reset" class="btn btn-default transition" ng-click="fn_reset()">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	            <div class="alert alert-success alert-dismissible" role="alert" ng-if="successMessage">
	                <i class="fa fa-check" aria-hidden="true"></i> <span ng-bind="successMessage"></span>
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            </div>
	            <div class="alert alert-danger alert-dismissible" role="alert" ng-if="errorMessage">
	                <i class="fa fa-exclamation" aria-hidden="true"></i> <span ng-bind="errorMessage"></span>
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                
                <!-- Fetch all uploaded Job Postings and display in table -->
                <div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">Your Previously Applied Jobs</div>
                            </div>
                            <div class="panel-body">
				                <div class="table-wrapper">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr class="filterRow">
                                                    <th></th>
                                                    <th>
                                                        <input class="searchFilterBox" type="text" size="15" ng-model="searchAppliedJobs.job_id" placeholder="Search Using Job ID">
                                                    </th>
                                                    <th>
                                                        <input class="searchFilterBox" type="text" size="15" ng-model="searchAppliedJobs.position" placeholder="Search Using Position">
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <th>#</th>
                                                    <th nowrap ng-click="asc='job_id'; desc=!desc">
                                                        <span class="th-title-wrap">Job ID</span>
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                    </th>
                                                    <th nowrap ng-click="asc='position'; desc=!desc">
                                                        <span class="th-title-wrap">Position</span>
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                    </th>
                                                    <th nowrap>Job Description</th>
                                                    <th nowrap>Applied On</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-row" dir-paginate="post in appliedJobs | orderBy:asc:desc | filter:searchAppliedJobs | itemsPerPage:10">
                                                    <td>{{ $index + 1 }}.</td>
                                                    <td nowrap class="btn-container">
                                                        {{ post.job_id }}
                                                        <!-- <span>PEL</span>{{ post.sno }} -->
                                                    </td>
                                                    <td nowrap>{{ post.position }}</td>
                                                    <td nowrap class="text-center">
                                                        <a class="btn-download transition" href="../job-postings/{{ post.job_description }}" title="{{ post.job_description }}" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true" style="color: red;"></i></a>
                                                    </td>
                                                    <td nowrap>{{ post.date_time | date:'dd MM yyyy' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
				                </div>
                            
				                <!-- Pagination -->
                                <div class="text-center">
                                   <dir-pagination-controls
                                        max-size="5"
                                        direction-links="true"
                                        boundary-links="true" >
                                   </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	        </div>
	    </div>
	</div>
	<!-- //Partial Views -->
	
	<!-- Footer -->
	<footer>
	    <div ng-include="'views/footer.html'"></div>
	</footer>
	<!-- //Footer -->
</div>
