<div class="admin-login-bg" ng-controller="adminLoginCtrl">
    <div class="admin-login-form">
        <img class="center-block mb-20" src="./../images/logos/logo-v-admin-login.png">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" ng-model="username" ng-required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="password" ng-required>
            </div>
            <button class="center-block btn-custom btn-custom-md transition btn-login pull-left" type="submit" ng-click="adminLogin()">Login</button>
            <button class="center-block btn-custom-inverse btn-custom-md transition btn-login pull-right" type="reset">Cancel</button>
            <div class="clearfix"></div>
            <div class="error" ng-bind="errorMessage"></div>
        </form>
    </div>
</div>
