<!-- Navigation Menu -->
<header>
	<div ng-include="'views/header.html'"></div>
</header>
<!-- //Navigation Menu -->

<div class="main-container">
	<!-- Side Nav -->
	<div ng-include="'views/side-nav.html'"></div>
	<!-- //Side Nav -->

	<!-- Partial Views -->
	<div class="main-content-wrapper">
		<div class="main-content">
			<div ng-controller="contactsList">
				<h3>Contact Us List</h3>
                <div class="table-wrapper">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
                                <tr class="filterRow">
                                    <th></th>
                                    <th>
                                        <input class="searchFilterBox" type="text" ng-model="searchContact.full_name" size="12" placeholder="Search by Name">
                                    </th>
                                    <th>
                                        <input class="searchFilterBox" type="text" ng-model="searchContact.email" placeholder="Search by Email">
                                    </th>
                                    <th>
                                        <input class="searchFilterBox" type="tel" ng-model="searchContact.phone" size="12" placeholder="Search by Phone">
                                    </th>
                                    <th>
										<select ng-model="searchContact.category">
                                		    <option value="">Purpose</option>
	                                        <option value="Need a Course">Need a Course</option>
	                                        <option value="Want to become a Trainer">Want to be a Trainer</option>
	                                        <option value="For Business">For Business</option>
                                		</select>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
								<tr>
									<th>#</th>
									<th nowrap ng-click="asc='full_name'; desc=!desc">
                                        <span class="th-title-wrap">Name</span>
                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
									</th>
									<th nowrap ng-click="asc='email'; desc=!desc">
										<span class="th-title-wrap">Email</span>
                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
									</th>
									<th nowrap ng-click="asc='phone'; desc=!desc">
										<span class="th-title-wrap">Phone</span>
                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
									</th>
									<th nowrap ng-click="asc='category'; desc=!desc">
										<span class="th-title-wrap">Category</span>
                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
									</th>
									<th>Message</th>
									<th nowrap>Date &#x0026; Time</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="contact in contacts | orderBy:asc:desc | filter:searchContact | itemsPerPage:20">
									<td>{{ $index + 1 }}.</td>
									<td nowrap>{{ contact.full_name }}</td>
									<td nowrap>{{ contact.email }}</td>
									<td nowrap>{{ contact.phone }}</td>
									<td nowrap>{{ contact.category }}</td>
									<td>{{ contact.message }}</td>
									<td nowrap>{{ contact.date_time }}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- Pagination -->
                    <div class="text-center">
                       <dir-pagination-controls
                            max-size="5"
                            direction-links="true"
                            boundary-links="true" >
                       </dir-pagination-controls>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Partial Views -->

	<!-- Footer -->
	<footer>
		<div ng-include="'views/footer.html'"></div>
	</footer>
	<!-- //Footer -->
</div>
