<!-- Navigation Menu -->
<header>
	<div ng-include="'views/header.html'"></div>
</header>
<!-- //Navigation Menu -->

<div class="main-container">
	<!-- Side Nav -->
	<div ng-include="'views/side-nav.html'"></div>
	<!-- //Side Nav -->
	
	<!-- Partial Views -->
	<div class="main-content-wrapper">
	    <div class="main-content">
	        <div ng-controller="freeDemosList">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">Post a New Demo</div>
                            </div>
                            <div class="content-grid">
                                <div class="clearfix">
                                    <form novalidate name="freeDemosForm" method="POST" enctype="multipart/form-data" id="freeDemosForm" autocomplete="on">
	                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
	                                        <label for="course-name">Course Name <span class="important">*</span></label>
	                                        <input type="text" id="course-name" class="form-control" name="courseName" ng-model="courseName" ng-minlength="2" ng-maxlength="250" ng-pattern="/^[a-zA-Z0-9.#/() ]{2,250}$/" placeholder="Course Name" ng-required="true">
	                                        <span class="validation_styles" ng-show="freeDemosForm.courseName.$error.required && freeDemosForm.courseName.$touched">* Course name is required<br></span>
	                                        <span class="validation_styles" ng-show="freeDemosForm.courseName.$error.pattern && freeDemosForm.courseName.$invalid">* Course name should contain only alphabets, numbers, dots, hash and spaces.<br></span>
	                                        <span class="validation_styles" ng-show="freeDemosForm.courseName.$error.minlength && freeDemosForm.courseName.$touched">* Course name should be minimum of 2 characters.<br></span>
	                                        <span class="validation_styles" ng-show="freeDemosForm.courseName.$error.maxlength && freeDemosForm.courseName.$touched">* Course name should be maximum of 250 characters</span>
                                        </div>
	                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
	                                        <label for="enrolled">Enrolled <span class="important">*</span></label>
	                                        <input type="number" id="enrolled" class="form-control" name="enrolled" string-to-number ng-model="enrolled" min="1" step="1" placeholder="Enrolled" ng-required="true">
	                                        <span class="validation_styles" ng-show="freeDemosForm.enrolled.$error.required && freeDemosForm.enrolled.$touched">* Enrolled is required<br></span>
	                                        <span class="validation_styles" ng-show="freeDemosForm.enrolled.$error.min && freeDemosForm.enrolled.$error.max && freeDemosForm.enrolled.$touched">* Enrolled should be between 1 and 90.<br></span>
	                                        <span class="validation_styles" ng-show="freeDemosForm.enrolled.$error.step && freeDemosForm.enrolled.$touched">* Decimal, + and negative values are not allowed.<br></span>
	                                    </div>
                                        <div class="clearfix hidden-xs hidden-md hidden-lg"></div>
	                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                            <label for="batchType">Batch Type <span class="important">*</span></label>
                                            <select id="batchType" class="form-control" name="batchType" ng-model="batchType" ng-required="true">
                                                <option value="">-- Select Batch Type --</option>
                                                <option value="Regular">Regular</option>
                                                <option value="Weekend">Weekend</option>
                                                <option value="Fastrack">Fastrack</option>
                                            </select>
	                                        <span class="validation_styles" ng-show="freeDemosForm.batchType.$error.required && freeDemosForm.batchType.$touched">* Select a batch type<br></span>
	                                    </div>
                                        <div class="clearfix hidden-sm"></div>
	                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
	                                        <label for="trainingType">Training Type <span class="important">*</span></label>
                                            <select id="trainingType" class="form-control" name="trainingType" ng-model="trainingType" ng-required="true">
                                                <option value="">-- Select Training Type --</option>
                                                <option value="Online">Online</option>
                                                <option value="On-site">On-site</option>
                                                <option value="On-demand">On-demand</option>
                                            </select>
	                                        <span class="validation_styles" ng-show="freeDemosForm.trainingType.$error.required && freeDemosForm.trainingType.$touched">* Select a training type<br></span>
	                                    </div>
                                        <div class="clearfix hidden-xs hidden-md hidden-lg"></div>
	                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
	                                        <label for="nextbatch">Next Batch <span class="important">*</span></label>
	                                        <input type="datetime-local" id="nextbatch" class="form-control" name="nextbatch" ng-model="nextBatch" ng-required="true">
	                                        <span class="validation_styles" ng-show="freeDemosForm.nextbatch.$error.required && freeDemosForm.nextbatch.$touched">* Select next batch date<br></span>
	                                        <span class="validation_styles" ng-show="freeDemosForm.nextbatch.$error.datetimelocal && freeDemosForm.nextbatch.$touched">* Not a valid date or time<br></span>
	                                    </div>
	                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
	                                        <label for="completionrate">Completion Rate <span class="important">*</span></label>
	                                        <input type="number" id="completionrate" class="form-control" name="completionrate" string-to-number ng-model="completionRate" min="0" max="100" placeholder="Completion Rate" ng-required="true">
	                                        <span class="validation_styles" ng-show="freeDemosForm.completionrate.$error.required && freeDemosForm.completionrate.$touched">* Completion Rate is required<br></span>
	                                        <span class="validation_styles" ng-show="freeDemosForm.completionrate.$error.min && freeDemosForm.enrolled.$touched">* Completion Rate should be between 1 and 90.<br></span>
	                                        <span class="validation_styles" ng-show="freeDemosForm.completionrate.$error.max && freeDemosForm.enrolled.$touched">* Completion Rate cannot exceed 100.<br></span>
	                                    </div>
                                        <div class="clearfix hidden-xs hidden-md hidden-lg"></div>
                                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                            <label for="job-desc" class="control-label">Course Image Icon <span class="important">*</span></label>
                                            <input type="file" id="job-desc" name="jobDesc" ng-model="files" file-input="files" onchange="angular.element(this).scope().uploadedFile(this)" accept=".svg" ng-required="true">
                                            <span class="validation_styles" ng-show="freeDemosForm.jobDesc.$error.required && freeDemosForm.jobDesc.$touched">* Job description file is required<br></span>
                                            <p class="help-block">For best user experience upload <strong>.svg</strong> files only.</p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <button type="submit" class="btn btn-primary transition" ng-disabled="freeDemosForm.$invalid" ng-click="fn_freeDemo()">{{ btnName }}</button>
                                            <button type="reset" class="btn btn-default transition" ng-click="fn_reset()">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	            <div class="alert alert-success alert-dismissible" role="alert" ng-if="successMessage">
	                <i class="fa fa-check" aria-hidden="true"></i> <span ng-bind="successMessage"></span>
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            </div>
	            <div class="alert alert-danger alert-dismissible" role="alert" ng-if="errorMessage">
	                <i class="fa fa-exclamation" aria-hidden="true"></i> <span ng-bind="errorMessage"></span>
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                
                <!-- Fetch all uploaded Job Postings and display in table -->
                <div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">Free Demos List</div>
                            </div>
                            <div class="panel-body">
				                <div class="table-wrapper">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr class="filterRow">
                                                    <th></th>
                                                    <th>
                                                        <input class="searchFilterBox" type="text" size="15" ng-model="searchfreeDemos.course_name" placeholder="Search Using Course Name">
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>
                                                        <select ng-model="searchfreeDemos.batch_type">
                                                            <option value="">All Batch Types</option>
                                                            <option>Regular</option>
                                                            <option>Weekend</option>
                                                            <option>Fastrack</option>
                                                        </select>
                                                    </th>
                                                    <th>
                                                        <select ng-model="searchfreeDemos.training_type">
                                                            <option value="">All Training Types</option>
                                                            <option>Online</option>
                                                            <option>On-site</option>
                                                            <option>On-demand</option>
                                                        </select>
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <th>#</th>
                                                    <th nowrap ng-click="asc='course_name'; desc=!desc">
                                                        <span class="th-title-wrap">Course Name</span>
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                    </th>
                                                    <th nowrap>Image File</th>
                                                    <th nowrap>Enrolled</th>
                                                    <th nowrap>Batch Type</th>
                                                    <th nowrap>Training Type</th>
                                                    <th nowrap>Next Batch</th>
                                                    <th nowrap>Demo Posted Date</th>
                                                </tr>
                                            </thead>
                                            <tbody class="free-demo-tbl">
                                                <tr class="table-row" dir-paginate="demo in freeDemos | orderBy:asc:desc | filter:searchfreeDemos | itemsPerPage:10">
                                                    <td>{{ $index + 1 }}.</td>
                                                    <td nowrap class="btn-container">
                                                        <span title="{{ demo.course_name }}">{{ demo.course_name }}</span>
                                                        <span class="updateDelete">
                                                            <button type="button" title="Delete" ng-click="fn_deleteFreeDemo(demo.id, demo.file);">
                                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </button>
                                                            <button type="button" title="Edit" ng-click="fn_editFreeDemo(demo.id, demo.course_name, demo.enrolled, demo.batch_type, demo.training_type, demo.next_batch, demo.completion_rate, demo.file, demo.btnName);">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </button>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <a class="btn-download transition" href="../images/icons/{{ demo.file }}" title="{{ demo.file }}" target="_blank">
                                                            <img class="img-responsive center-block" src="../images/icons/{{ demo.file }}" alt="{{ demo.course_name }}">
                                                        </a>
                                                    </td>
                                                    <td nowrap class="text-right">{{ demo.enrolled }}</td>
                                                    <td nowrap>{{ demo.batch_type }}</td>
                                                    <td nowrap>{{ demo.training_type }}</td>
                                                    <td nowrap>{{ demo.next_batch | date }}</td>
                                                    <td nowrap>{{ demo.date_time }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
				                </div>
                            
				                <!-- Pagination -->
                                <div class="text-center">
                                   <dir-pagination-controls
                                        max-size="5"
                                        direction-links="true"
                                        boundary-links="true" >
                                   </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	        </div>
	    </div>
	</div>
	<!-- //Partial Views -->
	
	<!-- Footer -->
	<footer>
	    <div ng-include="'views/footer.html'"></div>
	</footer>
	<!-- //Footer -->
</div>
