<div ng-controller="sideNavCtrl">
	<div class="side-nav">
		<div class="dummy"></div>
		<ul>
			<li class="nav-cat-txt">General</li>
			<li class="side-nav-items"><a href="admin-dashboard">Dashboard</a></li>
			<li class="side-nav-items"><a href="registered-students">Registered Students</a></li>
			<li class="side-nav-items"><a href="registered-trainers">Registered Trainers</a></li>
			<li class="side-nav-items"><a href="contact-us-list">Contact Us List</a></li>
			<li class="side-nav-items"><a href="course-suggestion-list">Course Suggestion List</a></li>
			<li role="separator" class="divider"></li>
			<li class="nav-cat-txt">Forms</li>
			<li class="side-nav-items"><a href="course-upload">Upload a Course</a></li>
			<li class="side-nav-items"><a href="#">Register New Trainer</a></li>
			<li class="side-nav-items"><a href="#">Upload New Slider</a></li>
			<li class="side-nav-items"><a href="#">Upload New Testmonial</a></li>
		</ul>
	</div>
</div>