<!-- Navigation Menu -->
<header>
	<div ng-include="'views/header.html'"></div>
</header>
<!-- //Navigation Menu -->

<div class="main-container">
	<!-- Side Nav -->
	<div ng-include="'views/side-nav.html'"></div>
	<!-- //Side Nav -->

	<!-- Partial Views -->
	<div class="main-content-wrapper">
		<div class="main-content">
			<div ng-controller="contactsList">
				<h3>Subscribers List</h3>
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-condensed">
						<thead>
							<tr>
								<th>#</th>
								<th>Email</th>
								<th>Date & Time</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="subscriber in subscribers track by $index">
								<td>{{ $index + 1 }}.</td>
								<td>{{ subscriber.email }}</td>
								<td>{{ subscriber.date_time }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- //Partial Views -->

	<!-- Footer -->
	<footer>
		<div ng-include="'views/footer.html'"></div>
	</footer>
	<!-- //Footer -->
</div>
