<div class="container-fluid">
    <div class="row">
        <div class="img-banner">
            <img class="img-responsive" src="./images/parallax-images/about-us-banner.png" alt="About-Us-Pro-eLearning">
        </div>
    </div>
</div>

<div class="container">
    <div ng-include="'views/breadcrumbs.html'"></div>
    <div class="row about pt-50 pb-50">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="mb-30">About Pro-elearning</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <p>Pro-elearning focuses on filling the niche in the labour market through personnel training and development from the past 6 years. We are one of the most trusted and the largest provider of hands-on online training, on-site training, on-demand trainings and multi-course training events. The qualified trainers with market expertise and the enclosed IT Security Training Roadmap aid trainees in successful career planning.</p>
            <p>Providing Software Trainings and responsible for creating many excellent software engineers throughout India and Pacific from the past 6 years and still creating many more dynamic engineers in all the latest technologies which upgrades every second is our achievement.</p>
            <div class="brochure-abt text-center mt-30 mb-30">
                <a class="transition" href="#" role="button" data-toggle="modal" data-target="#subscribeModal">
                    Download Brochure
                    <i class="fa fa-download ml-20" aria-hidden="true"></i>
                </a>
            </div>
            <p>Measuring the trainee's skills to know where they stand, and gain a deep understanding of how to build, deploy, secure and scale everything from web applications to mobile applications. We maintain all the quality principles and make use of latest technologies to teach in clear and descriptive manner.</p>
            <p>Collaborating with many Multi National Companies and providing corporate trainings to their employees and equip them with the best training, mentoring and coaching they need to move their businesses forward. We specially design and develop training programs suitable to your their requirements.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img class="img-responsive center-block" src="./images/content-images/sebastian-mantel-105235-unsplash.jpg">
        </div>
    </div>
</div>