<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/android.jpg" alt="Android-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Android Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <!-- Modes of Training -->
            <div class="training-modes">
                <h3>Available Modes of Training</h3>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/online-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>Online Training</h4>
                            <p class="text-justify">Conducted through the virtual classroom also have the same program flow with theory and practical sessions. Our Labs can be accessed online from across the world allowing our online training student to make the best use of the infrastructure from the comfort of their home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/classroom-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-site Training</h4>
                            <p class="text-justify">Trainings will be conducted on a daily basis. Practical exercises are provided for the topics conducted on daily basis to be worked upon during the lab session.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/on-demand-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-demand Training</h4>
                            <p class="text-justify">Select your flexible timings at your convenience for one-to-one training. You individually will assigned a trainer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>Good command in java programming, OOPs, Kotlin (recommended), Knowledge of Eclipse IDE, Apache web server.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>Learn how to make Android apps with free online courses that will teach you the fundamentals.</p>
                    <p>In Introduction to Mobile Application Development using Android, a six week, self-paced course from the Hong Kong University of Science and Technology, students will get introduced to the Android platform, Android SDK tools and Android Studio, the development environment used to create Android apps.</p>
                    <p>This course is designed for students who are new to programming, and want to learn how to develop Android apps. You’ll learn how to create an Android project with Android Studio and run a debuggable version of the app. You'll also learn some Android architecture and the key principles underlying its design. You will gain an understanding of the processes that are involved in an Android developed application and you will become familiar with Android development tools and user interface. By the end of the course, you’ll build two simple apps that you can share with your friends.</p>
                    <p>Our Android course is taught by a group of Google developer experts who create innovative mobile apps.</p>
                    <p>This course is part of the GalileoX Android Developer MicroMasters Program and is specifically designed to teach the critical skills needed to be successful in this exciting field and to prepare you to take the Google Associate Android Developer Certification exam. To qualify for the MicroMasters Credential you will need to earn a Verified Certificate in each of the four courses as well as a Final Project.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Introduction <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>What is Android?</li>
                                    <li>Features</li>
                                    <li>Versions of Android</li>
                                    <li>Application Framework</li>
                                    <li>Sample programs</li>
                                    <li>Database Concepts</li>
                                    <li>Why Android?</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Fundamentals <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>History</li>
                                    <li>Different Versions</li>
                                    <li>DVM</li>
                                    <li>Packaging</li>
                                    <li>APK</li>
                                    <li>Folder Structure</li>
                                    <li>Unpacking</li>
                                    <li>Basic features of Android</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. Architecture <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Architecture of Android</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. Application Framework <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>Managers in Android</li>
                                    <li>Activity Manager</li>
                                    <li>Window Manager</li>
                                    <li>Resource Manager</li>
                                    <li>Package Manager</li>
                                    <li>Telephony Manager</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. Building Blocks <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Activity</li>
                                    <li>Services</li>
                                    <li>Content Providers</li>
                                    <li>Broadcast Receivers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#businessObjects" aria-expanded="false" aria-controls="collapseSix">6. Widgets & Layouts <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="businessObjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul>
                                    <li>Layouts, Layouts Vs Widgets</li>
                                    <li>Existing Framework Widgets</li>
                                    <li>Animations</li>
                                    <li>Menus, Dialogs, Notification</li>
                                    <li>Toast</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#errorCaseMgmt" aria-expanded="false" aria-controls="collapseSeven">7. Advanced Misc <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="errorCaseMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
                                    <li>Bluetooth</li>
                                    <li>Networks </li>
                                    <li>Wi-Fi</li>
                                    <li>Telephony & SMS</li>
                                    <li>Audio & Video Players</li>
                                    <li>Camera exposure</li>
                                    <li>Debugging & Deployment</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#addFeatures" aria-expanded="false" aria-controls="collapseEight">8. DataStorage <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="addFeatures" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
                                    <li>Files</li>
                                    <li>Shared Preferences</li>
                                    <li>Content Providers</li>
                                    <li>SQLite3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#reviewExercise" aria-expanded="false" aria-controls="collapseNine">9. Tools <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="reviewExercise" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
                                    <li>DDMS</li>
                                    <li>ADB</li>
                                    <li>Hierarchy Viewer</li>
                                    <li>Logcat</li>
                                    <li>Monkey</li>
                                    <li>Sqlite3</li>
                                    <li>Draw 9- Patch</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#iws" aria-expanded="false" aria-controls="collapseNine">10. Add-ons <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="iws" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <ul>
                                    <li>Google API’s</li>
                                    <li>Overlays</li>
                                    <li>Concurrent Exceptions</li>
                                    <li>MVC Architecture</li>
                                    <li>Threads</li>
                                    <li>Handlers</li>
                                    <li>Process Vs Task</li>
                                    <li>Supporting Multiple Screen Resulutions</li>
                                    <li>Rooting Android Phone</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#rtat" aria-expanded="false" aria-controls="collapseNine">11. Parsing <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="rtat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
                                    <li>SAX</li>
                                    <li>DOM</li>
                                    <li>XML Parser</li>
                                    <li>XML Pull Parser</li>
                                    <li>JSON Parser</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tools" aria-expanded="false" aria-controls="collapseNine">12. Student Attention <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tools" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
                                <ul>
                                    <li>Regular Assignments</li>
                                    <li>Online Work</li>
                                    <li>Application Exposure</li>
                                    <li>Live Project Explanation</li>
                                    <li>Sample project assignments</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThirteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#apps" aria-expanded="false" aria-controls="collapseNine">13. WebServices <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="apps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                            <div class="panel-body">
                                <ul>
                                    <li>REST API</li>
                                    <li>SOAP API</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFourteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#dc" aria-expanded="false" aria-controls="collapseNine">14. Interview Questions <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="dc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Along with these topics, 150+ Interview Questions are also provided in topics wise</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFifteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#df" aria-expanded="false" aria-controls="collapseNine">15. Abstract Classes And Interfaces <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="df" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Abstract Method and Abstract Class</li>
                                    <li>Interfaces in Python</li>
                                    <li>Abstract Classes vs. Interfaces</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSixteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#cv" aria-expanded="false" aria-controls="collapseNine">16. Exceptions <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="cv" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Errors in a Python program</li>
                                    <li>Exceptions</li>
                                    <li>Exception handling</li>
                                    <li>Types of exceptions</li>
                                    <li>The except block</li>
                                    <li>assert statement</li>
                                    <li>User-defined exceptions</li>
                                    <li>Logging the exceptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeventeen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#giot" aria-expanded="false" aria-controls="collapseNine">17. Files In Python <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="giot" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
                            <div class="panel-body">
                                <ul>
                                    <li>Types of files in Python</li>
                                    <li>Working with text files with strings</li>
                                    <li>Knowing whether a file exists or not</li>
                                    <li>Working with binary files</li>
                                    <li>Pickle in Python</li>
                                    <li>seek() and tell()</li>
                                    <li>Random accessing of binary files</li>
                                    <li>Random accessing of binary files using mmap</li>
                                    <li>Zipping and Unzipping files</li>
                                    <li>Running other programs from Python program</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEighteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#trigger" aria-expanded="false" aria-controls="collapseNine">18. Regular Expressions In Python <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="trigger" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Sequence characters in regular expressions</li>
                                    <li>Quantifiers in regular expressions</li>
                                    <li>Special characters in regular expressions</li>
                                    <li>Using regular expressions on files</li>
                                    <li>Retrieving information from a HTML file</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNineteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fm" aria-expanded="false" aria-controls="collapseNine">19. Date And Time <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fm" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNineteen">
                            <div class="panel-body">
                                <ul>
                                    <li>The epoch</li>
                                    <li>Date and time now</li>
                                    <li>Combining date and time</li>
                                    <li>Formatting dates and times</li>
                                    <li>Finding durations using timedelta</li>
                                    <li>Comparing two dates</li>
                                    <li>Sorting dates</li>
                                    <li>Stopping execution temporarily</li>
                                    <li>Knowing the time taken by a program</li>
                                    <li>Working with calendar module</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwenty">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#ctwh" aria-expanded="false" aria-controls="collapseNine">20. Threads <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="ctwh" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwenty">
                            <div class="panel-body">
                                <ul>
                                    <li>Differences between process and thread</li>
                                    <li>Concurrent programming and GIL Uses of threads</li>
                                    <li>Creating threads in Python</li>
                                    <li>Thread class methods</li>
                                    <li>Single tasking using a thread</li>
                                    <li>Multi tasking using multiple threads</li>
                                    <li>Thread synchronization</li>
                                    <li>Avoiding deadlocks in a program</li>
                                    <li>Communication between threads</li>
                                    <li>Thread communication using nofity() and wait() methods</li>
                                    <li>Thread communication using a queue Daemon threads</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyone">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tp" aria-expanded="false" aria-controls="collapseNine">21. Graphical User Interface GUI In Python <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyone">
                            <div class="panel-body">
                                <ul>
                                    <li>The root window</li>
                                    <li>Fonts and colors</li>
                                    <li>Working with containers</li>
                                    <li>Canvas</li>
                                    <li>Frame</li>
                                    <li>Widgets
                                        <ul>
                                            <li>Button widget</li>
                                            <li>Label widget</li>
                                            <li>Message widget</li>
                                            <li>Text widget</li>
                                            <li>Scrollbar widget</li>
                                            <li>Checkbutton widget</li>
                                            <li>Radiobutton widget</li>
                                            <li>Entry widget</li>
                                            <li>Spinbox widget</li>
                                            <li>Listbox widget</li>
                                            <li>Menu widget</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentytwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nip" aria-expanded="false" aria-controls="collapseNine">22. Networking In Python <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nip" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentytwo">
                            <div class="panel-body">
                                <ul>
                                    <li>TCP/IP Protocol</li>
                                    <li>User Datagram Protocol (UDP)</li>
                                    <li>Sockets</li>
                                    <li>Knowing IP Address</li>
                                    <li>Reading the source code of a web page</li>
                                    <li>Downloading a web page from Internet</li>
                                    <li>Downloading an image from Internet</li>
                                    <li>TCP/IP Server and Client</li>
                                    <li>UDP Server and Client</li>
                                    <li>File server</li>
                                    <li>File client</li>
                                    <li>Sending a simple mail</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentythree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#pdc" aria-expanded="false" aria-controls="collapseNine">23. Python's Database Connectivity <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="pdc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentythree">
                            <div class="panel-body">
                                <ul>
                                    <li>Advantages of a DBMS over files</li>
                                    <li>Working with MySQL database in Python</li>
                                    <li>Operations on rows of a table</li>
                                    <li>Creating database tables through Python</li>
                                    <li>Working with Oracle database in Python</li>
                                    <li>Stored procedures</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y5Io2bdZP1A?start=3" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>This is a compact course for understand the development of android apps and the fundamentals. Everything is fine but wanted more in terms of connectivity projects like something on wifi, bluetooth. But a big thanks for the vast knowledge I got starting from zero know-how.</p>
                            <h4 class="pull-right">&#x2015; Sami Ahmed</h4>
                        </div>
                        <div class="item slide">
                            <p>The course is really fun to learn from, not that long, easy, and it shows some "real world" use of things. I managed to learn enough and launch my first android app just from this course, so I find it really helpful.</p>
                            <h4 class="pull-right">&#x2015; Abhilash</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>
