<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/azure.jpg" alt="Azure-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">Azure Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="training-modes">
                <h3>Available Modes of Training</h3>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/online-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>Online Training</h4>
                            <p class="text-justify">Conducted through the virtual classroom also have the same program flow with theory and practical sessions. Our Labs can be accessed online from across the world allowing our online training student to make the best use of the infrastructure from the comfort of their home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/classroom-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-site Training</h4>
                            <p class="text-justify">Trainings will be conducted on a daily basis. Practical exercises are provided for the topics conducted on daily basis to be worked upon during the lab session.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/on-demand-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-demand Training</h4>
                            <p class="text-justify">Select your flexible timings at your convenience for one-to-one training. You individually will assigned a trainer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>Basic computer skills with working internet connection.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>Microsoft Windows Azure (Cloud Computing) Training delivers the course Developing Microsoft Azure Solutions. This course imparts the skills to work on Microsoft Azure platform to provide solutions to business issues addressing the online medium.</p>
                    <p>It builds the capabilities in the aspirants to move an existing ASP.NET MVC application to Azure along with it functionality.</p>
                    <p>Learn the fundamentals of working in a Microsoft Azure environment to help improve your business.</p>
                    <p>Begin learning what it takes to become a cloud administrator using Microsoft Azure, Microsoft’s open and flexible cloud computing platform.</p>
                    <p>This computer science course will help you get started with Microsoft Azure technologies such as infrastructure, virtual machines, virtual networking, identity, and storage. You will learn how Microsoft Azure can help you build and manage your business’s applications and cloud services and help improve overall business productivity.</p>
                    <h4>What you'll learn</h4>
                    <ul>
                    <li>How to use key capabilities and features of Microsoft Azure to improve your business processes</li>
                    <li>How to deploy resources through web-based portals and manage Microsoft Azure subscriptions</li>
                    <li>How Microsoft Azure Resource Manager is used to manage resources</li>
                    <li>How to identify the components that make up a Microsoft Azure cloud solution</li>
                    <li>How to automate Microsoft Azure resources with Azure PowerShell</li>
                    </ul>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖</span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Introduction to Azure <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Cloud technology overview</li>
                                    <li>What is PaaS/ SaaS/ IaaS
                                        <ul>
                                            <li>Overview of Azure</li>
                                        </ul>
                                    </li>
                                    <li>Managing Azure with the Azure portal
                                        <ul>
                                            <li>Demo: Azure Portal</li>
                                            <li>Overview of Azure Resource Manager</li>
                                        </ul>
                                    </li>
                                    <li>Azure management services</li>
                                    <li>Azure Architecture
                                        <ul>
                                            <li>Development Tools</li>
                                        </ul>
                                    </li>
                                    <li>Visual Studio tools</li>
                                    <li>Demo: Visual Studio tools</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Virtual Networks in Microsoft Azure <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Creating a Virtual Network</li>
                                    <li>Understand Point-to-Site Networks</li>
                                    <li>Demo: Create Azure virtual networks</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. Virtual Machines in Microsoft Azure <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Create and Configure Virtual Machines</li>
                                    <li>Workloads on Azure Virtual Machines</li>
                                    <li>Implement Images and Disks</li>
                                    <li>VM Networking</li>
                                    <li>Configure Disks</li>
                                    <li>Monitor Vms</li>
                                    <li>Demo: Create and Connect to Virtual Machines</li>
                                    <li>Demo: Create an Azure Virtual Network</li>
                                    <li>Demo: Configure Endpoints and Monitoring</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. Implementing Storage in Microsoft Azure <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>Understand Cloud Storage
                                        <ul>
                                            <li>Blobs, Azure Files</li>
                                            <li>Storage Queues, Tables</li>
                                            <li>Managing Access</li>
                                        </ul>
                                    </li>
                                    <li>Create and Manage Storage
                                        <ul>
                                            <li>Configure Diagnostics and Monitoring</li>
                                            <li>Demo: Create and manage storage in Azure.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. Web Apps for Azure Infrastructure <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Deploy & Configure Websites</li>
                                    <li>Scaling</li>
                                    <li>Web App Deployment Models and Methods
                                        <ul>
                                            <li>Web Deploy Packages</li>
                                            <li>Deployment Slots</li>
                                        </ul>
                                    </li>
                                    <li>Demo: Deploying Azure Web Apps from the Portal</li>
                                    <li>Demo: Deploying Azure Web Apps from Visual Studio 2015</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#businessObjects" aria-expanded="false" aria-controls="collapseSix">6. Cloud Services in Azure <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="businessObjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul>
                                    <li>Overview of Cloud Services</li>
                                    <li>Cloud Service Web Roles</li>
                                    <li>Customizing Cloud Service Configurations</li>
                                    <li>Updating and Managing Cloud Service Deployments</li>
                                    <li>Cloud Service Worker Role</li>
                                    <li>Cloud Service Worker Role Processing</li>
                                    <li>Analyzing Application Cloud Service Role Instances</li>
                                    <li>Demo: WebRoles and Worker Roles</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#errorCaseMgmt" aria-expanded="false" aria-controls="collapseSeven">7. SQL Azure <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="errorCaseMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>SQL Azure concepts</li>
                                    <li>Demonstration: Working with SQL Azure</li>
                                    <li>Data synchronization
                                        <ul>
                                            <li>Migration methods</li>
                                            <li>Limitations</li>
                                        </ul>
                                    </li>
                                    <li>Demo: Migration through SSMS and Visual Studio</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#addFeatures" aria-expanded="false" aria-controls="collapseEight">8. Application Hosting Services <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="addFeatures" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
                                    <li>Service Plans</li>
                                    <li>Hosting Databases</li>
                                    <li>Hosting services on-premises vs Windows Azure</li>
                                    <li>Demo: Managing Databases and Azure Subscriptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#reviewExercise" aria-expanded="false" aria-controls="collapseNine">9. Windows Azure Service Bus <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="reviewExercise" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction Windows Azure Service Bus</li>
                                    <li>MSMQ vs Azure Service Bus</li>
                                    <li>Windows Azure Service Bus Relays</li>
                                    <li>Windows Azure Service Bus Queues</li>
                                    <li>Windows Azure Service Bus Topics</li>
                                    <li>Demo: Windows Azure Service Bus Relays |Topics |Queues</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#iws" aria-expanded="false" aria-controls="collapseNine">10. Deploying Services <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="iws" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <ul>
                                    <li>Creating and deploying Web Application packages</li>
                                    <li>Command-line tools for web deployment packages</li>
                                    <li>Deploying to Windows Azure Environments</li>
                                    <li>Continuous delivery with TFS and GIT</li>
                                    <li>Best practices for production deployment</li>
                                    <li>Local Redundancy</li>
                                    <li>Geo-Redundancy</li>
                                    <li>Read-only Geo-Redundancy
                                        <ul>
                                            <li>Demo: Deploying services</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#rtat" aria-expanded="false" aria-controls="collapseNine">11. Implementing Azure Active Directory <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="rtat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
                                    <li>Creating and managing Azure AD tenants</li>
                                    <li>Administering Active AD</li>
                                    <li>Extending on-premises Active Directory domain to Azure</li>
                                    <li>Implementing directory synchronization by using Azure AD Connect</li>
                                    <li>Configuring directory synchronization</li>
                                    <li>Federation Concepts
                                        <ul>
                                            <li>Identity management and access control</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tools" aria-expanded="false" aria-controls="collapseNine">12. Identity Management and Access Control <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tools" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
                                <ul>
                                    <li>Windows Azure Access Control Service</li>
                                    <li>Azure Security Access Control</li>
                                    <li>Shared Access Signatures with Azure Service Bus and Queue Storage Services</li>
                                    <li>Shared Access Signatures Best Practices</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThirteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#apps" aria-expanded="false" aria-controls="collapseNine">13. No SQL in Azure <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="apps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Azure Document DB</li>
                                    <li>Other No-SQL Alternatives</li>
                                    <li>Demo: SQL queries, expressions, Built in Functions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFourteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#dc" aria-expanded="false" aria-controls="collapseNine">14. Advanced Topics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="dc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Internet of Things - IoT</li>
                                    <li>Event Hubs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m9na8Zr-fwQ?start=5" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>The course does not have enough exam questions. Comparing it with A Cloud Guru's AWS Architect Associate course, this course lacks in organization, readiness for the exam, and exam questions to name a few.</p>
                            <h4 class="pull-right">&#x2015; Srikanth</h4>
                        </div>
                        <div class="item slide">
                            <p>This is a fantastic course and needed before a deep dive. I would strongly urge the trainer with his tremendous depth to get deeper into the following
                                <ul>
                                    <li>Powershell cmdlets</li>
                                    <li>Azure AD</li>
                                    <li>Media Services</li>
                                    <li>Failure and Replication</li>
                                </ul>
                            </p>
                            <h4 class="pull-right">&#x2015; Robert Williamson</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>
