<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/datastage.jpg" alt="Datastage-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">DataStage Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>12345</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

       <div class="row">
            <div class="training-modes">
                <h3>Available Modes of Training</h3>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/online-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>Online Training</h4>
                            <p class="text-justify">Conducted through the virtual classroom also have the same program flow with theory and practical sessions. Our Labs can be accessed online from across the world allowing our online training student to make the best use of the infrastructure from the comfort of their home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/classroom-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-site Training</h4>
                            <p class="text-justify">Trainings will be conducted on a daily basis. Practical exercises are provided for the topics conducted on daily basis to be worked upon during the lab session.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/on-demand-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-demand Training</h4>
                            <p class="text-justify">Select your flexible timings at your convenience for one-to-one training. You individually will assigned a trainer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>To learn this course, first you must have a good knowledge in basics of software</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>Data Stage is an integration tool, used in this space to perform the ETL for a data warehouse. It is essentially the data API into the warehouse.User Interface - usually a business intelligence reporting tool, such as Cognos or Microstrategy</p>
                    <p>InfoSphere  DataStage is part of a larger suite of products called InfoSphere Information Server, which is a comprehensive, unified platform for enterprise information architectures. ... A tier is a logical group of components within InfoSphere Information Server and the computers on which those components are installed.</p>
                    <p>The DataStage Designer is the primary interface to the metadata repository and provides a graphical user interface that enables you to view, edit, and assembleDataStage objects from the repository needed to create an ETL job.</p>
                    <p>Transformer stage. InfoSphere  DataStage Balanced Optimization optimizes the functionality contained in a Transformer stage. ... Therefore any Transformer stagethat contains a stage variable whose derivation either directly or indirectly refers to itself cannot be optimized.</p>
                    <p>IBM InfoSphere DataStage is an ETL tool and part of the IBM Information Platforms Solutions suite and IBM InfoSphere. It uses a graphical notation to construct data integration solutions and is available in various versions such as the Server Edition, the Enterprise Edition, and the MVS Edition.</p>
                 </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. Dimensional Modeling <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>What is dimension modeling?</li>
									<li>Difference between ER modeling and dimension modeling</li>
									<li>What is a Dimension?</li>
									<li>What is a Fact?</li>
									<li>Start Schema</li>
									<li>Snow Flake Schema</li>
									<li>Difference between Star and snow flake schema</li>
									<li>Fact Table</li>
									<li>Different types of facts</li>
									<li>Dimensional Tables</li>
									<li>Fact less Fact Table</li>
									<li>Confirmed Dimensions</li>
									<li>Unconfirmed Dimensions</li>
									<li>Junk Dimensions</li>
									<li>Monster Dimensions</li>
									<li>Degenerative Dimensions</li>
									<li>What are slowly changing Dimensions?</li>
									<li>Different types of SCD's</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#two" aria-expanded="false" aria-controls="collapseTwo">2. IBM Websphere DataStage <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
									<li>Introduction about DataStage</li>
									<li>Difference between DataStage 7.5 and 8.0.1, 8.1</li>
									<li>What's new in DataStage 8.0.1?</li>
									<li>Difference between Server Jobs and Parallel Jobs</li>
									<li>Difference between Pipeline Parallelism and Partition Parallelism</li>
									<li>Partition techniques (Round Robin, Random, Hash, Entire, Same, Modules, Range, DB2, Auto ETC)</li>
									<li>Configuration File</li>
									<li>DataStage components (Server components/Client components)</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#three" aria-expanded="false" aria-controls="collapseThree">3. Designer <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
									<li>Introduction about Designer</li>
									<li>Repository</li>
									<li>Palette</li>
									<li>Type of Links</li>
									<li>File Stages</li>
									<li>Sequential file</li>
									<li>Dataset file</li>
									<li>File set</li>
									<li>Lookup file set</li>
									<li>Difference between Sequential file/Dataset/File set</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#four" aria-expanded="false" aria-controls="collapseFour">4. Database Stages <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
									<li>Dynamic RDBMS</li>
									<li>Oracle Enterprise</li>
									<li>ODBC Enterprise</li>
									<li>Stored Procedure</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#five" aria-expanded="false" aria-controls="collapseFive">5. Processing Stages <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
									<li>Change Capture</li>
									<li>Compare Stage</li>
									<li>Difference Stage</li>
									<li>Aggregate Stage</li>
									<li>Transformer Stage</li>
									<li>Surrogate Generator Stage</li>
									<li>Join Stage</li>
									<li>Merge Stage</li>
									<li>Lookup Stage</li>
									<li>Difference between Join/Lookup/Merge</li>
									<li>Difference between Join/Lookup</li>
									<li>Remove Duplicates</li>
									<li>Switch</li>
									<li>Pivot</li>
									<li>Modify</li>
									<li>Funnel</li>
									<li>Generic stage</li>
									<li>Different types of sorting and sort stage.</li>
									<li>Filter</li>
									<li>SCD stage</li>
									<li>Adding job parameters to a job</li>
									<li>Parameter set</li>
									<li>Difference between partitioning and re partitioning</li>
									<li>Run time column propagation</li>
									<li>Schema files</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#six" aria-expanded="false" aria-controls="collapseSix">6. Debugging Stage <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                               <ul>
									<li>Head</li>
									<li>Tail</li>
									<li>Pea</li>
									<li>Row Generator</li>
									<li>Column Generator</li>
									<li>Sample</li>
							   </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#seven" aria-expanded="false" aria-controls="collapseSeven">7. Containers <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
									<li>Difference between Local Container and Shared Container</li>
									<li>Local Container</li>
									<li>Shared Container</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eight" aria-expanded="false" aria-controls="collapseEight">8. Job Sequencers <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
									<li>Arrange job activities in sequencer</li>
									<li>Triggers in Sequencer</li>
									<li>Notification activity</li>
									<li>Terminator Activity</li>
									<li>Wait for file activity</li>
									<li>Start loop activity</li>
									<li>Execute command activity</li>
									<li>Nested Condition activity</li>
									<li>Routine activity</li>
									<li>Exception handing activity</li>
									<li>User variable activity</li>
									<li>End loop activity</li>
									<li>Adding Checkpoints</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nine" aria-expanded="false" aria-controls="collapseNine">9. DataStage Director <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
									<li>Introduction to DataStage Director</li>
									<li>Job Status View</li>
									<li>View logs</li>
									<li>Scheduling</li>
									<li>Batches Creation</li>
									<li>Cleaning resources using Administrator</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#ten" aria-expanded="false" aria-controls="collapseNine">10. Web sphere Manager in Designer <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="ten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                               <ul>
									<li>Introduction about DataStage Manager</li>
									<li>Importing the Job</li>
									<li>Exporting the Job</li>
									<li>Importing Table Definition</li>
									<li>Different types of table definitions and their differences.</li>
									<li>Importing Flat File Definition</li>
									<li>Routines</li>
									<li>Dataset management and ORCHADMIN</li>
									<li>Quick search and Advanced search</li>
							   </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eleven" aria-expanded="false" aria-controls="collapseNine">11. DataStage Administrator <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
									<li>Creating project, Editing project and Deleting project</li>
									<li>Permissions to user</li>
									<li>Different kinds of variables in DataStage</li>
									<li>Cleaning resources using Administrator</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9oTaO2Powyg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>Great for a total beginner, that is, supposing you have already got all the tools and installed the applications. I think it is too huge an assumption to make that everyone already has these tools and have them installed. If you have all the installation files and you have gone through the installation already, this is a great course to lay your foundation.</p>
                            <h4 class="pull-right">&#x2015; Sofia</h4>
                        </div>
                        <div class="item slide">
                            <p>This course is aptly named. The instructor goes through the various stages, and gives simple and easy to follow instructions. His pace is a bit slow, he talks low, and the sound quality is not great, but if you are looking for a crash course on datastage, I believe this will suffice.</p>
                            <h4 class="pull-right">&#x2015; Chandler</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>
                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>