<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/dotnet.jpg" alt="DotNet-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">.NET Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>1274</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <!-- Modes of Training -->
            <div class="training-modes">
                <h3>Available Modes of Training</h3>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/online-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>Online Training</h4>
                            <p class="text-justify">Conducted through the virtual classroom also have the same program flow with theory and practical sessions. Our Labs can be accessed online from across the world allowing our online training student to make the best use of the infrastructure from the comfort of their home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/classroom-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-site Training</h4>
                            <p class="text-justify">Trainings will be conducted on a daily basis. Practical exercises are provided for the topics conducted on daily basis to be worked upon during the lab session.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/on-demand-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-demand Training</h4>
                            <p class="text-justify">Select your flexible timings at your convenience for one-to-one training. You individually will assigned a trainer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>Basic knowledge of C/C++, Java programming.</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>The goal of this course is to introduce the students to the basics of distributed application development. We will introduce the students to Web Service development and .NET remoting.</p>
                    <p>Technologies covered include the Common Language Runtime (CLR), .NET framework classes, C#, ASP.NET, and ADO.NET.</p>
                    <p>We will also cover service oriented architecture, design, performance, security, content managements systems and deployment issues encountered in building multi-tier distributed applications.</p>
                </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#introduction" aria-expanded="true" aria-controls="collapseOne">1. Introduction to .NET <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Working with .NET Technology</li>
                                    <li>Understanding the CLR</li>
                                    <li>Understanding the Framework</li>
                                    <li>Working with Visual Studio 2008</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processStudio" aria-expanded="false" aria-controls="collapseTwo">2. Language Syntax of C# <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Object Oriented Programming System (OOPS)</li>
                                    <li>Inheritance</li>
                                    <li>Events and Delegates</li>
                                    <li>String Handling</li>
                                    <li>Exception Handling</li>
                                    <li>Working with Collections</li>
                                    <li>Work with Generics</li>
                                    <li>Memory Management Issues</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#objectStudio" aria-expanded="false" aria-controls="collapseThree">3. ADO .Net with SQL Server 2005/2008 <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="objectStudio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Management Studio</li>
                                    <li>Working with LINQ</li>
                                    <li>SQL Statements</li>
                                    <li>JOINS</li>
                                    <li>Constraints</li>
                                    <li>Creating and using Views</li>
                                    <li>Stored Procedures</li>
                                    <li>Transaction Management</li>
                                    <li>Creating and Using Triggers</li>
                                    <li>Database Programming with ADO.NET</li>
                                    <li>Inter operatiability</li>
                                    <li>Assemblies</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#processFlow" aria-expanded="false" aria-controls="collapseFour">4. Web Programming with ASP.NET <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="processFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
                                    <li>Web Programming Concepts</li>
                                    <li>Hyper Text Markup Language</li>
                                    <li>Cascading Style Sheets</li>
                                    <li>Dynamic HTML and JavaScript</li>
                                    <li>Designing Models of the Web Forms</li>
                                    <li>Working with Server Controls</li>
                                    <li>Validation Controls in ASP.NET</li>
                                    <li>Intrinsic Objects under ASP.NET</li>
                                    <li>State Management</li>
                                    <li>Data Binding and Reporting</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#inputsOutputs" aria-expanded="false" aria-controls="collapseFive">5. Merging contents of a page in Web Forms <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="inputsOutputs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
                                    <li>Caching</li>
                                    <li>Mailing with ASP.NET</li>
                                    <li>Uploading files</li>
                                    <li>Creating Auto changeable Ads</li>
                                    <li>Skins and Themes</li>
                                    <li>Web Services</li>
                                    <li>WPF with C#</li>
                                    <li>WCF with C#</li>
                                    <li>Working with Reflection</li>
                                    <li>Creating Client/Server Applications with Remoting
                                        <ul>
                                            <li>AJAX with ASP.NET</li>
                                            <li>Security in ASP.NET Applications</li>
                                            <li>Globalization and Localization</li>
                                            <li>Create and using the Crystal Reports</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#businessObjects" aria-expanded="false" aria-controls="collapseSix">6. VB.NET <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="businessObjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul>
                                    <li>Overview of VB.NET</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#errorCaseMgmt" aria-expanded="false" aria-controls="collapseSeven">7. Microsoft .NET Overview <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="errorCaseMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
                                    <li>Why .Net</li>
                                    <li>Introduction to .Net framework</li>
                                    <li>Basic functionality of CLR</li>
                                    <li>MSIL</li>
                                    <li>CTS & CLS .Net languages</li>
                                    <li>System Requirements</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#addFeatures" aria-expanded="false" aria-controls="collapseEight">8. Introduction to VB.NET <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="addFeatures" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
                                    <li>Features of VB.NET</li>
                                    <li>Writing programmes in VB.NET</li>
                                    <li>Compiling and Executing from</li>
                                    <li>Command prompt</li>
                                    <li>Intro to Assemblies and Namespace</li>
                                    <li>Base class libraries</li>
                                    <li>Data types</li>
                                    <li>Option statements</li>
                                    <li>Boxing and Unboxing</li>
                                    <li>Array</li>
                                    <li>Sub programmes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#reviewExercise" aria-expanded="false" aria-controls="collapseNine">9. Introduction to Visual Studio .NET <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="reviewExercise" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
                                    <li>VS 6.0 VS VS.NET</li>
                                    <li>File structure created for VS.NET APP</li>
                                    <li>Types of projects</li>
                                    <li>Creating Demo Console App</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#iws" aria-expanded="false" aria-controls="collapseNine">10. Object Oriented Programming <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="iws" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <ul>
                                    <li>Principles of OOP</li>
                                    <li>Structure VS Class</li>
                                    <li>Access Specifiers</li>
                                    <li>Properties</li>
                                    <li>Method Overloading</li>
                                    <li>Constructors</li>
                                    <li>Shared Modifier</li>
                                    <li>Inheritance</li>
                                    <li>Overloading and Overriding</li>
                                    <li>My base Keyboard</li>
                                    <li>Shadowing</li>
                                    <li>Abstract class</li>
                                    <li>Sealed class</li>
                                    <li>Interface</li>
                                    <li>Polymorphism</li>
                                    <li>Early Binding and Late Binding</li>
                                    <li>Destructor & Garbage Collector</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#rtat" aria-expanded="false" aria-controls="collapseNine">11. GUI application development <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="rtat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to system WINDOWS, Form, DLL</li>
                                    <li>Basic controls rich and Event driven programming</li>
                                    <li>Advanced controls Rich text box, Dialog</li>
                                    <li>Boxes, Toolbar&#x2026;</li>
                                    <li>Working with context menu</li>
                                    <li>Main menu and MDI form</li>
                                    <li>Visual Inheritance</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2>Advanced Python Syllabus</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tools" aria-expanded="false" aria-controls="collapseNine">12. Assemblies <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tools" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to COM Architecture</li>
                                    <li>Disadvantages of COM</li>
                                    <li>Introduction to Assembly</li>
                                    <li>Private Assembly vs. Shared Assembly</li>
                                    <li>Creating private Assembly</li>
                                    <li>Probing and Preparing Configuration file</li>
                                    <li>Strong name utility</li>
                                    <li>Creating shared Assembly</li>
                                    <li>CLR Architecture</li>
                                    <li>Native Generator utility Assembly Versioning</li>
                                    <li>Compatibility of Assembly</li>
                                    <li>Configuring file for sharing Assembly</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThirteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#apps" aria-expanded="false" aria-controls="collapseNine">13. Data access with ADO.NET <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="apps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Data Access Libraries DAO</li>
                                    <li>RDO and ADO</li>
                                    <li>Draw Back of ADO</li>
                                    <li>ADO.NET managed Data providers</li>
                                    <li>Introduction to system.Data.Oledb</li>
                                    <li>Data Reader</li>
                                    <li>Introduction to system.Data.SQLclient</li>
                                    <li>Preparing Statement</li>
                                    <li>Transaction handling</li>
                                    <li>Introduction to system.Data.Oracleclient</li>
                                    <li>Dataset and Data adapter</li>
                                    <li>Data Binding</li>
                                    <li>Data grid Programming</li>
                                    <li>Data View</li>
                                    <li>Data Relation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFourteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#dc" aria-expanded="false" aria-controls="collapseNine">14. Delegates <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="dc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to Delegate concept</li>
                                    <li>Event Handling Arch with Delegate</li>
                                    <li>Handles, Add Handler and Remove Handler</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFifteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#df" aria-expanded="false" aria-controls="collapseNine">15. Multi Threading <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="df" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Thread Class</li>
                                    <li>Sleep, Suspend and Resuming Thread</li>
                                    <li>Asynchronous Connection</li>
                                    <li>Synchronization of Threads</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSixteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#cv" aria-expanded="false" aria-controls="collapseNine">16. Distributed APP Development <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="cv" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to monolithic, 2 Tier and 3 Tier Arch</li>
                                    <li>Introduction to DCOM</li>
                                    <li>Disadvantages Of DCOM</li>
                                    <li>Introduction to remoting</li>
                                    <li>TCP and HTTP Channels</li>
                                    <li>Serialization and Deserialisation with Binary Formatter and SOAP Formatter</li>
                                    <li>Activation Modes Server Activated and client Activated</li>
                                    <li>Server Activated (Single call and single ton)</li>
                                    <li>Remoting Architecture</li>
                                    <li>System. Runtime. Remoting. DLL</li>
                                    <li>Apps for server Activated and client Activated</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeventeen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#giot" aria-expanded="false" aria-controls="collapseNine">17. Windows Control Library <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="giot" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
                            <div class="panel-body">
                                <ul>
                                    <li>Creating custom control extending existing control</li>
                                    <li>Creating custom control grouping existing controls</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEighteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#trigger" aria-expanded="false" aria-controls="collapseNine">18. Interoperatibility with COM <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="trigger" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Creating custom control extending</li>
                                    <li>Creating Achiex DLL using VB 6.0</li>
                                    <li>Managed code and Unmanaged code</li>
                                    <li>Using Achiex DLL in VB.NET APP</li>
                                    <li>TLBIMP Utility</li>
                                    <li>RCW</li>
                                    <li>Using .NET Assembly in VB 6.0 App</li>
                                    <li>CCW</li>
                                    <li>TLBExp and Regasm Utilities</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNineteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fm" aria-expanded="false" aria-controls="collapseNine">19. Crystal Reports <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fm" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNineteen">
                            <div class="panel-body">
                                <ul>
                                    <li>Crystal reports</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwenty">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#ctwh" aria-expanded="false" aria-controls="collapseNine">20. File Streams <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="ctwh" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwenty">
                            <div class="panel-body">
                                <ul>
                                    <li>File Streams</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwentyone">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#tp" aria-expanded="false" aria-controls="collapseNine">21. Windows Service <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="tp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyone">
                            <div class="panel-body">
                                <ul>
                                    <li>Introduction to service App</li>
                                    <li>System. Service process</li>
                                    <li>Service Base Class</li>
                                    <li>Service Installer and Service</li>
                                    <li>Process installer</li>
                                    <li>Register Data Base of Services</li>
                                    <li>Install util utility</li>
                                    <li>SCM & SCP</li>
                                    <li>Localization and Globalization</li>
                                    <li>Resource file creation</li>
                                    <li>Satellite Assembly Creation</li>
                                    <li>System. Reflection Assembly and Resource Manager</li>
                                    <li>.NET Technology</li>
                                    <li>Connecting Engineers and Developers with Practical Skills and the Latest Technologies</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Overview Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gaODoyKbk68" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>I have taken .Net Course in Pro-elearning, it is wonderful training. I don't know any thing before training but after my training I am equal to 3+ exp. Real-Time Project and jQuery Classes, it is very useful in real time. It is my great opportunity to learn courses in Pro-elearning. But one thing I have to say to all that daily practice is very useful. Thanks to Pro-elearning.</p>
                            <h4 class="pull-right">&#x2015; Satish</h4>
                        </div>
                        <div class="item slide">
                            <p>Pro-elearning is very good learning site for all software courses. Pro-elearning is the Platform for students where any student can improve their programming and technical skills.</p>
                            <h4 class="pull-right">&#x2015; George</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>

                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>
