<div class="container-fluid">
    <div class="row">
        <img class="img-responsive" src="./images/parallax-images/network-and-security.jpg" alt="Network-and-Security-Pro-eLearning">
    </div>
</div>

<div class="container">
    <!-- Breadcrumbs -->
    <div class="row hidden-xs">
        <div ng-include="'views/breadcrumbs.html'"></div>
    </div>

    <div class="row mb-50">
        <div class="page-title">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="text-center mt-0 mb-0">Network & Security</h1>
            </div>
        </div>
    </div>

    <!-- Courses List Display -->
    <div class="row" ng-controller="CourseCardsController">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="course-strip mb-20" ng-repeat="course in ccNetworkSecurity">
                <a ng-href="{{ course.ccNetworkSecurityURL }}">
                    <div class="course-strip-inner transition">
                        <div class="course-img pull-left">
                            <img class="img-responsive" src="./images/course-thumbnails/{{ course.ccNetworkSecurityImage }}" alt="{{ course.ccNetworkSecurityTitle }}">
                        </div>
                        <div class="course-info">
                            <h3 class="mt-10">{{ course.ccNetworkSecurityTitle }}</h3>
                            <p clamp="1">{{ course.ccNetworkSecurityDesc }}</p>
                            <div class="course-dtls">
                                <ul class="c-d-l course-dtls-list-left mb-0 pull-left">
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: {{ course.ccNetworkSecurityDuration }}h</li>
                                    <!-- <li><i class="fa fa-users" aria-hidden="true"></i> Enrolled: 126</li> -->
                                </ul>
                                <ul class="c-d-l course-dtls-list-right mb-0 pull-right">
                                    <li>{{ course.ccNetworkSecurityPrice | currency : currencySymbol : 0 }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
