<div class="container-fluid">
    <div class="row">
        <div class="row-gap-big">
            <img class="img-responsive" src="./images/parallax-images/sap-mm.jpg" alt="SAP-MM-Training-Pro-eLearning">
        </div>
    </div>
    
    <div class="container">
        <div class="row hidden-xs">
            <div ng-include="'views/breadcrumbs.html'"></div>
        </div>
        <div class="row">
            <div class="course-overview-title">
                <h1 class="mt-50">SAP MM Training</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="courseDetailsStrip">
                <div class="courseDetailsGrid">
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            <p>45 hrs</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Schedules</h4>
                            <p><a href="course-schedules">Click for schedules</a></p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ratings (791)</h4>
                            <div ng-controller="ratingController">
                                <div class="ratings" awesome-rating="rating" awesome-rating-options="options"></div>
                                (<span ng-bind="rating"></span>)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="media-left">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enrolled</h4>
                            <p>12345</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
        </div>

       <div class="row">
            <div class="training-modes">
                <h3>Available Modes of Training</h3>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/online-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>Online Training</h4>
                            <p class="text-justify">Conducted through the virtual classroom also have the same program flow with theory and practical sessions. Our Labs can be accessed online from across the world allowing our online training student to make the best use of the infrastructure from the comfort of their home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/classroom-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-site Training</h4>
                            <p class="text-justify">Trainings will be conducted on a daily basis. Practical exercises are provided for the topics conducted on daily basis to be worked upon during the lab session.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="training-modes-grid">
                        <div class="training-modes-icon">
                            <img src="./images/icons/on-demand-training.svg">
                        </div>
                        <div class="training-modes-text">
                            <h4>On-demand Training</h4>
                            <p class="text-justify">Select your flexible timings at your convenience for one-to-one training. You individually will assigned a trainer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Left Side Pane -->
            <div class="course-left-pane col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <!-- Modes of Training -->
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    <div class="prerequisites-grid">
                        <p>To learn this course, first you must have a good knowledge in basics of software</p>
                    </div>
                </div>

                <!-- About the Course -->
                <h3>About The Course</h3>
                <div id="derp" class="slideable course-desc">
                    <p>SAP MM ( Material Management ) is one of the important modules in SAP ERP software and MMapplication module supports the procurement and inventory functions occurring in day-to-day business operations</p>
                    <p>SAP MM role in business process is as follows: A business process in SAP is termed as “Module”. SAP Materials Management (MM) is a part of Logistics area and helps to manage the procurement activity of an organization from procurement. It supports all aspects of material management (planning, control etc).</p>
                    <p>SAP MM (Material Management) is a functional module in SAP that deals with procurement handling and material management. The MM module contains master data, system configuration and transactions to complete the procure to pay process.</p>
                    <p>The sap is the world leading enterprise application.SAP help the customers run their business with high efficiency sap online access.mainly sap mm means material management consultants are responsible for handle process consulting and SAPtachnical configuration.</p>
                    <p>Sap mm will not exist as it is with sap moving from ecc to SAP S4 HANA. Still, materials management and all other functions will be the same, at least in the background. ... Most of the industry are using SAP as their ERP Software. HenceSAP-MM is highly in demand.</p>
                 </div>
                <div class="slide-toggler text-center">
                    <div slide-toggle="#derp" class="slide-toggler-icon-wrap transition">
                        <span class="slide-toggler-icon transition">✖<span>
                    </div>
                </div>

                <!-- Course Overview -->
                <h3>Course Overview</h3>
                <div class="panel-group" disable-contextmenu-cut-copy-paste id="accbp" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accbp" data-target="#one" aria-expanded="true" aria-controls="collapseOne">1. Introduction to ERP <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
									<li>ERP Packages</li>
									<li>Introduction to SAP</li>
									<li>Functions and Objectives of MM</li>
									<li>SAP Real Time Project Team Structure and Business Process</li>
									<li>SAP R/3 Architecture</li>
									<li>SAP Navigation</li>
									<li>Organizational structure of an Enterprise in the SAP R/3 System</li>
									<li>Company, Company code, Controlling Area, Plant, Storage Location, Purchase Organization, Purchasing group</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#two" aria-expanded="false" aria-controls="collapseTwo">2. Master Data <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
									<li>Material Master</li>
									<li>Vendor Master</li>
									<li>Purchase Info Record </li>
									<li>Source Determination</li>
									<li>Source List</li>
									<li>Quota Arrangement</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#three" aria-expanded="false" aria-controls="collapseThree">3. Purchasing <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
									<li>Purchase Requisition</li>
									<li>Purchase Order</li>
									<li>Request For Quotation (RFQ)</li>
									<li>Outline Agreement</li>
									<li>Contracts</li>
									<li>Schedule Agreement</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#four" aria-expanded="false" aria-controls="collapseFour">4. Document Types for Purchasing Documents <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul>
									<li>Define Document Type</li>
									<li>Define Number Ranges for Document Types</li>
									<li>Define Screen Layout At Document Level</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#five" aria-expanded="false" aria-controls="collapseFive">5. Release Procedure for Purchasing Documents <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul>
									<li>Purchase Requisition, Purchase Order, Request For Quotation (RFQ), Outline Agreement- Contracts, Schedule Agreement</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#six" aria-expanded="false" aria-controls="collapseSix">6. Pricing Procedure <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                               <ul>
									<li>Maintain Condition Table</li>
									<li>Define Access Sequence</li>
									<li>Maintain Condition Table</li>
									<li>Define Condition Types</li>
									<li>Define Calculation Schema</li>
									<li>Define Schema Group
										<ul>
											<li>Schema Group Vendor</li>
											<li>Schema Group for Purchasing Organization</li>
											<li>Assignment of Schema Group to Purchasing Organization</li>
										</ul>
									</li>
									<li>Define Schema Determination
										<ul>
											<li>Determine Calculation Schema for Standard Purchase Orders</li>
										</ul>
									</li>
							   </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#seven" aria-expanded="false" aria-controls="collapseSeven">7. External Service Management <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul>
									<li>Service Master Creation</li>
									<li>Model Service Specifications - MSS</li>
									<li>Service PO</li>
									<li>Service Entry Sheet</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eight" aria-expanded="false" aria-controls="collapseEight">8. Optimized Purchasing <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul>
									<li>Automatic PO w ref to PR</li>
									<li>Automatic PO at GR</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#nine" aria-expanded="false" aria-controls="collapseNine">9. Inventory Management <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="nine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul>
									<li>Movement types</li>
									<li>Goods Receipt</li>
									<li>Goods Issue</li>
									<li>Transfer Postings
										<ul>
											<li>Transfer Posting from Stock to Stock</li>
											<li>Transfer Posting from Plant to Plant</li>
											<li>Transfer Posting from Sloc to Sloc</li>
										</ul>
									</li>
									<li>Return Delivery to vendor</li>
									<li>Initial Entry of Stock Balances</li>
									<li>Reservations</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#ten" aria-expanded="false" aria-controls="collapseNine">10. Physical Inventory <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="ten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                               <ul>
									<li>Types of Physical Inventory</li>
									<li>Creating Physical Inventory Document</li>
									<li>Entering Physical Inventory Count</li>
									<li>List Of Inventory Differences</li>
									<li>Post the Difference</li>
							   </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#eleven" aria-expanded="false" aria-controls="collapseNine">11. Special Stocks and Special Procurement Types <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="eleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <ul>
									<li>Consignment</li>
									<li>Stock transport order</li>
									<li>Subcontracting</li>
									<li>Pipeline</li>
									<li>Returnable transport packaging - RTP</li>
									<li>Third Party Processing</li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#twelve" aria-expanded="false" aria-controls="collapseNine">12. Valuation and Account Determination <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="twelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                            <div class="panel-body">
                                <ul>
									<li>Introduction to Material Valuation</li>
									<li>Split Valuation</li>
									<li>Configure Split Valuation</li>
									<li>Defining Global Categories</li>
									<li>Defining Global Type</li>
									<li>Defining Local Definition& Assignment</li>
							    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThirteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#thirteen" aria-expanded="false" aria-controls="collapseNine">13. Invoice Verification <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="thirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                            <div class="panel-body">
                                <ul>
									<li>Basic Invoice Verification Procedure</li>
									<li>Invoice for Purchase Order</li>
									<li>Unplanned Delivery Costs</li>
									<li>Planned Delivery Costs</li>
									<li>Credit Memo</li>
									<li>Blocking the Invoice</li>
									<li>Releasing Blocked Invoices</li>
									<li>Subsequent Debit/Credit</li>
									<li>Automatic Settlements (ERS, Cosignment,Pipeline)</li>
									<li>GR/IR Account Maintenance</li>
									<li>Stochastic Block</li>
									<li>Parking Invoice Document</li>
							    </ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFourrteen">
                            <h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fourteen" aria-expanded="false" aria-controls="collapseNine">14. Integration Concepts <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourrteen">
                            <div class="panel-body">
                               <ul>
									<li>Integration of MM with FI/CO</li>
									<li>Automatic Account Determination
									<li>Integration of MM with SD</li>
									<li>Stock Transport Order (STO)</li>
									<li>Intra Company Stock Transfer</li>
									<li>Inter Company or Cross Company Stock Transfer</li>
									<li>Integration of MM with PP</li>
									<li>MRP Concepts</li>
									<li>Planned Independent Requirements</li>
									<li>Consumption Based Planning</li>
									<li>Reorder Point Planning</li>
									<li>Automatic and Manual ROP</li>
									<li>Forecast Based Planning</li>
							   </ul>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFivteen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accbp" data-target="#fivteen" aria-expanded="false" aria-controls="collapseNine">15. Additional Topics <span class="transition"><i class="fa fa-angle-up transition" aria-hidden="true"></i></span></a>
                            </h4>
                        </div>
                        <div id="fivteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFivteen">
                            <div class="panel-body">
                               <ul>
									<li>LSMW (Migration of the Data from Non SAP to SAP System)</li>
									<li>Controlling Settings (Cost Center and Cost Element Etc...)</li>
							   </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side Pane -->
            <div class="course-right-pane col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qQYSAlPOg4s?start=5" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <!-- Course Testimonials -->
                <div class="testimonials-grid">
                    <h4 class="testimonials-heading text-center">Students Say</h4>
                    <data-owl-carousel-testimonials class="owl-carousel" style="margin-left: auto; margin-right: auto;">
                        <div class="item slide">
                            <p>Great teacher, good explanations and various examples, easy to understand, pace is correct and content is Enlightening, I recommend!</p>
                            <h4 class="pull-right">&#x2015; Govardhan Reddy</h4>
                        </div>
                        <div class="item slide">
                            <p>As always Siva provides us with brilliant explanations. It is a very good course to get a first contact with SAP MM. You will learn a lot of stuff during this course.</p>
                            <h4 class="pull-right">&#x2015; Mohan</h4>
                        </div>
                    </data-owl-carousel-testimonials>
                    <div class="clearfix"></div>
                </div>
                <!-- Phone Number -->
                <div ng-include="'views/phone-grid.html'"></div>
                <!-- Contact form -->
                <div ng-include="'views/course-contact-form.html'"></div>
            </div>
        </div>

    </div>
</div>